// Reset the box-sizing
//
// Heads up! This reset may cause conflicts with some third-party widgets.
// For recommendations on resolving such conflicts, see
// http://getbootstrap.com/getting-started/#third-box-sizing
html
  box-sizing border-box

*
*:before
*:after
  margin 0
  box-sizing inherit

.cf
.clearfix
  cf()

.cf-justify
  cf-justify()

.hide
.hidden
  display none

.pull-left
  float left

.pull-right
  float right

.text-left
  text-align left

.text-center
  text-align center

.text-right
  text-align right

.block
  display block

.last-child
  margin-bottom 0 !important

.fz0
  font-size 0 !important

.mt0
  margin-top 0 !important

.hide-before:before
  content ''
  display none !important

.hide-after:after
  content ''
  display none !important

.hide-before-after:before
.hide-before-after:after
  content ''
  display none !important


// =========================
// BOOTSTRAP COLLAPSE
// =========================

.collapse
  display none

  &.in
    display block
  tr&.in
    display table-row
  tbody&.in
    display table-row-group

.collapsing
  position relative
  height 0
  overflow hidden
  transition height .35s ease

// =========================
// MIXINS
// =========================
.list-clear
.clear-list
.clearlist
  list-clear()

.hide-text
.text-hide
  hide-text()

.img-responsive
  img-responsive()

.text-overflow
  text-overflow()

.list-clear
  list-clear()

.trz
  trz()

.tdn
  tdn()

.color-hvr
  color-hvr(c_base)


.nvs-img-hover
  nvs-img-hover()



textarea
  resize vertical
// =========================


// 40px height stripe, appending to bottom of a content
$hidden-stripe
  background url('data:image/png;charset=utf-8;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAoCAQAAACVv1j8AAAAMklEQVR4AXXGYQqAUAgE4XVDROs23f9sPRjwZ/AxjL/XSqvQGNzr2Rk0ColrGUHF6Ecc4toCT4Xm4wkAAAAASUVORK5CYII=') 0 0 repeat-x