makeGreed(offset=0px, cols = 12, namespace = 'col')
  one_col = 100% / cols

  // Row
  .row
    cf()
    if offset > 0
      margin-left (- offset)
      margin-right (- offset)

  .col
    float left
    if offset > 0
      padding 0 offset
    else
      padding 0

  // Columns
  for $i in 1 .. cols
    .{s(namespace)}{$i}
      width $i*one_col
      @extends .col


  // Offsets
  unless cols < 2
    for $i in 1 .. cols - 1
      .{s(namespace)}-offset-{$i}
        margin-left $i*one_col

// Контейнер
.container
  margin 0 auto
  padding 0 container_offset
  // width container_total
  min-width container_total
  max-width container_total_max
  width 100%
  cf()

  &--relative
    position relative




// Создаем сетку
makeGreed(column_offset, columns,)