/*============================
=            TABS            =
============================*/

// .js-tabs
// .js-tabsNavItem - li
// .js-tabsNavLink - click
// .js-tabsItem - tab
// active - showing

.js-tabs

  .js-tabsItem
    display none !important

    &.active
      display block !important


/*================================
=            DROPDOWN            =
================================*/

// .js-dropdown
// .js-dropdown-control
// .js-dropdown-body

.js-dropdown
  .js-dropdown-body
    display none
  &.active
    .js-dropdown-body
      display block



