body
  min-width container_total

// Sticky footer
// =========================
// http://css-tricks.com/snippets/css/sticky-footer/
footer_height = 380px

html
body
  width 100%
  min-height 100%
  margin 0
  padding 0

.page-outer
  width 100%
  height 100%
  overflow hidden

.page-wrap
  width 100%
  height 100%
  display table

// .page-content
.page-main
  width 100%
  height 100%
  display table
  table-layout fixed
  overflow hidden
  padding 0

  &__container
    margin-left auto
    margin-right auto
    min-width container_total
    max-width container_total_max
    width 100%

    &:before
      background url('../img/bg_upper-content_left.png') 0 0 no-repeat
      left -17px
    &:after
      background url('../img/bg_upper-content_right.png') 0 0 no-repeat
      right -17px

    &:before
    &:after
      content ''
      width 17px
      // max-height 933px
      background-size 17px 100%
      position absolute
      top 0
      bottom 0

    // блок, располагающийся под .intro, наезжающий на него
    // [AA] 2015/05/07
  &__intro + &__container
    margin-top -370px
    position relative
    background-color #fff





.page-content
  display table
  width 100%
  table-layout: fixed;
  padding 0 container_offset


.main
.page-content__main
  display table-cell
  vertical-align top
  width 100%

.main-news
.page-content__third-left
  display table-cell
  vertical-align top
  width 320px
  padding-right 20px

.aside
.page-content__third-right
  display table-cell
  vertical-align top
  width 320px
  padding-left 20px

.page-footer
  width 100%
  display table-row
  height 1px