// =========================
// Body reset
// =========================
html
  font-size 10px
  -webkit-tap-highlight-color rgba(0,0,0,0)
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

body
  font-family ff_base
  font-size fz_base
  line-height lh_base
  color c_base
  background-color bg_base





// =========================
// Reset fonts for relevant elements
// =========================
input
button
select
textarea
  font-family inherit
  font-size inherit
  line-height inherit





// =========================
// Figures
//
// We reset this here because previously Normalize had no `figure` margins. This
// ensures we don't break anyone's use of the element.
// =========================
figure
  margin 0





// =========================
// Images
// =========================
img
  vertical-align top

  &.fullwidth-img
    display block
    width 100%
    margin 0 auto 16px
    height auto

.img-responsive
  img-responsive()
  margin 0 auto



// =========================
// Horizontal rules
// =========================
hr
  margin-top lh_base
  margin-bottom lh_base
  border 0





// =========================
// Headers
// =========================
h1
.h1
h2
.h2
h3
.h3
h4
.h4
h5
.h5
h6
.h6
  display block
  font-family ff_base
  // font-weight 400
  font-weight 700
  margin 0
  color color_title

h1
.h1
  font-size 32px
  line-height 1
  margin 0 0 16px

h2
.h2
  font-size 24px
  margin 0 0 12px
  line-height 1

h3
.h3
 font-size 18px
 margin 0 0 12px




// =========================
// base text
// =========================
p
  margin 0 0 12px

.content-text
  font-size 13px
  line-height 19px

.lead
  font-size fz_huge
  font-weight 600

.muted
  color c_muted

.semibold
  font-weight 600

.span-twolines
  line-height 12px

strong
  font-weight 700
  font-family ff_base

small,
.small
  font-size fz_small

.text-small
  font-size fz_small
  line-height lh_middle

.text-huge
  font-size fz_huge





// =========================
// Lists
// =========================
ol
  padding 0 0 0 20px
  li
    margin 0 0 5px

ol.big-ol
  margin 10px 0 20px
  padding 0
  counter-reset bigList

  li
    display block
    margin 0
    padding 6px 0 6px 60px
    min-height 34px
    position relative
    list-style-type none
    font-weight 600
    &:before
      counter-increment bigList
      content counter(bigList)
      display block
      position absolute
      left 12px
      top 0
      width 34px
      height 34px
      border 2px solid c_green
      border-radius 17px
      text-align center
      font-size 18px
      line-height 30px

    a
      font-weight 400

  li + li
    margin-top 6px

ul.green-ul
  list-style-type none
  padding 0
  margin 12px 0

  li
    position relative
    padding 0 0 0 25px

    &:before
      content "•"
      position absolute
      left 9px
      color c_green
      font-size 20px

  &--mt0
    margin-top 0

  li + li
    margin-top 20px

ul.ul-next
  @extends .list-clear

  li
    position relative
    padding 0 0 0 20px

    &:before
      position absolute
      left 2px
      top 9px

// =========================
// Tables
// =========================
table
  font-size fz_base
  width 100%

.td-normal
  text-decoration underline

  &:hover
  &:focus
    text-decoration none

  &:active
    text-decoration none

.td-alt
  text-decoration none

  &:hover
    text-decoration underline





// =========================
// Links
// =========================
a
  color color_link
  text-decoration underline

  &:hover
    color color_link_hover
    text-decoration none

  &:active
    color color_link_active
    text-decoration none



.link-small
  color-hvr (c_muted)
  font-size 10px



.link-dark-green
  color c_base

  &:hover
    color c_green

  &:active
    color darken(c_green, 10%)



.link-blue
  color-hvr(c_blue)



.link-fullwidth
  display block
  padding 10px 0
  min-height 50px
  text-align center
  background-color bg_gray
  line-height 30px

  &:hover
  &:active
    background-color darken(bg_gray, 10%)




.link-standalone
  display block
  margin 0 0 8px




.link-return
  display block
  display inline-block
  margin 0 0 20px
  line-height 28px

  &.icon-arrow-return-black
    &:before
      float left
      margin-right 10px

    &:after
      content ''
      display table
      clear both

  &--lifted-up
    position relative
    bottom 10px
    margin 0 0 10px



.link-see-more
  display block
  min-height 21px
  font-size fz_small
  color c_muted
  margin 0 0 20px

  &.icon-arrow-rounded-down
    position relative
    padding-left 25px

    &:before
      position absolute
      left 0
      top 2px





// =========================
// Inputs
// =========================
.input
  display block
  width 100%
  min-height 40px
  padding 9px 12px 8px
  margin 0 0 10px
  border 1px solid c_gray_input-border
  border-radius bdrs_base
  // box-shadow inset 0 4px 2px -2px rgba(51,51,51,.2)
  box-shadow inset 0 2px 2px rgba(51,51,51,.2)
  background-color #fff
  font-size fz_base
  line-height lh_base

input
textarea
  &:focus
    outline none