.old-ie

  .main-logo
    background-image url('../img/main-logo.png')


  .video-wrap
    background #f5f5f5 url('../img/video-texture.jpg') 0 0 repeat



  .leave-comment
    &__input
    &__textarea
      &.error
      &.error:focus
        outline 3px solid red



