@@include('../_components/page-head.html')
</head>
<body>
  <div class="page-wrap">
    @@include('../_components/page-header.html')

    <div class="page-main">
      <div class="container">
        <div class="page-content">
          <main class="main">
            <div class="box">
              <style>
                .tempTable {
                  margin: 0 0 20px;
                }

                .tempTable td {
                  border: 1px solid #eee;
                  padding: 8px 12px;
                  width: 50%;
                }
              </style>
              <h1>Страницы</h1>
              <table class="tempTable">
              <tr>
                <td>Главная страница новостройки</td>
                <td><a href="novostroiki.html" target="_blank">novostroiki.html</a></td>
              </tr>
              <tr>
                <td>Новостройка - квартиры и цены</td>
                <td><a href="novostroiki-kvartiry-ceny.html" target="_blank">novostroiki-kvartiry-ceny.html</a></td>
              </tr>
              <tr>
                <td>Инфраструктура</td>
                <td><a href="novostroiki-infrastruktura.html" target="_blank">novostroiki-infrastruktura.html</a></td>
              </tr>
              <tr>
                <td>Отзывы о новостройке</td>
                <td><a href="novostroiki-otzyvy.html" target="_blank">novostroiki-otzyvy.html</a></td>
              </tr>
              <tr>
                <td>Страница новостей</td>
                <td><a href="news.html" target="_blank">news.html</a></td>
              </tr>
              <tr>
                <td>Одна новость</td>
                <td><a href="news-item.html" target="_blank">news-item.html</a></td>
              </tr>
              <tr>
                <td>Выдача поиска</td>
                <td><a href="search-result.html" target="_blank">search-result.html</a></td>
              </tr>
              <tr>
                <td>Все новостройки</td>
                <td><a href="allstroy.html" target="_blank">allstroy.html</a></td>
              </tr>
              <tr>
                <td>Статья</td>
                <td><a href="article.html" target="_blank">article.html</a></td>
              </tr>
              <tr>
                <td>О компании - инфо</td>
                <td><a href="company.html" target="_blank">company.html</a></td>
              </tr>
              <tr>
                <td>О компании - объекты</td>
                <td><a href="company-v2.html" target="_blank">company-v2.html</a></td>
              </tr>
              <tr>
                <td>О компании - отзывы</td>
                <td><a href="company-v3.html" target="_blank">company-v3.html</a></td>
              </tr>
              <tr>
                <td>Главная</td>
                <td><a href="main.html" target="_blank">main.html</a></td>
              </tr>
              <tr>
                <td>Все компании</td>
                <td><a href="all-companies.html" target="_blank">all-companies.html</a></td>
              </tr>
              <tr>
                <td>Список районов</td>
                <td><a href="all-rajony.html" target="_blank">all-rajony.html</a></td>
              </tr>
            </table>
            <h1>Элементы интерфейса</h1>
            <table class="tempTable">
              <tr>
                <td>Сайдбар со всякими плюшками</td>
                <td><a href="sidebar.html" target="_blank">sidebar.html</a></td>
              </tr>
              <tr>
                <td>Поиск</td>
                <td><a href="ui-search.html" target="_blank">ui-search.html</a></td>
              </tr>
              <tr>
                <td>Выбор города</td>
                <td><a href="ui-city-select.html" target="_blank">ui-city-select.html</a></td>
              </tr>
              <tr>
                <td>Форма подписки на новости</td>
                <td><a href="ui-form-subscribe.html" target="_blank">ui-form-subscribe.html</a></td>
              </tr>
              <tr>
                <td>Слайдер</td>
                <td><a href="ui-slider.html" target="_blank">ui-slider.html</a></td>
              </tr>
              <tr>
                <td>Модальное окно</td>
                <td><a href="ui-modal.html" target="_blank">ui-modal.html</a></td>
              </tr>
              <tr>
                <td>Иконки метро</td>
                <td><a href="metro.html" target="_blank">metro.html</a></td>
              </tr>
              <tr>
                <td>Баннеры</td>
                <td><a href="banners.html" target="_blank">banners.html</a></td>
              </tr>
             <!--  <tr>
                <td>ШаблонСтраницы</td>
                <td><a href="renameMe" target="_blank">renameMe</a></td>
              </tr>
              <tr>
                <td>ШаблонСтраницы</td>
                <td><a href="renameMe" target="_blank">renameMe</a></td>
              </tr>
              <tr>
                <td>ШаблонСтраницы</td>
                <td><a href="renameMe" target="_blank">renameMe</a></td>
              </tr> -->
            </table>
            <h1>Рекламный блок</h1>
              <p style="margin:0; padding: 4px 8px; color: #735184; font-size: 14px line-height: 1; font-weight:700; background: #eaeaea;">отдам рекламное место в добрые руки возьмите ну что вам сложно чтоли берите не стесняйтесь у меня еще есть</p>
            </div>
          </main>
          <aside class="aside">
            <div class="aside__box aside__box--bordered">
              <h2>Сайдбар со всякими плюшками</h2>
            </div>
            <div class="aside__box aside__box--bordered">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, amet cumque totam! Explicabo, in, deserunt. Reprehenderit non dolor pariatur distinctio, consequuntur, ratione eius. Praesentium est temporibus atque omnis dolores, corporis!</p>
            </div>
            <div class="aside__box">
              <div class="aside__banner"></div>
            </div>
            <div class="aside__box">
              <div class="aside__banner"></div>
            </div>
          </aside>
        </div>
      </div>
    </div>
    <footer class="page-footer footer">
      <div class="footer-nav">
        <div class="container">
          <div class="row">
            <div class="col3">
              <p class="footer-nav__hdr">Новостройки</p>
              <ul class="footer-nav__list">
                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">Все новостройки</a>
                </li>
                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">Новостройки по районам</a>
                </li>
                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">Квартиры в новостройках у метро</a>
                </li>
                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">Новостройки Лен. Области</a>
                </li>
                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">Новостройки на севере</a>
                </li>
                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">Новостройки на востоке</a>
                </li>
                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">Новостройки на юге</a>
                </li>
              </ul>
            </div>
            <div class="col3">
              <p class="footer-nav__hdr">Квартиры в новостройках:</p>
              <ul class="footer-nav__list">
                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">Студии</a>
                </li>
                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">Однокомнатные квартиры</a>
                </li>
                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">Евродвушки</a>
                </li>
                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">Двухкомнатные квартиры</a>
                </li>
                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">Трехкомнатные квартиры</a>
                </li>
              </ul>
            </div>
            <div class="col3">
              <p class="footer-nav__hdr">Компании</p>
              <ul class="footer-nav__list">
                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">Застройщики</a>
                </li>
                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">Агентства недвижимости</a>
                </li>
                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">Инфраструктурные объект</a>
                </li>
              </ul>
            </div>
            <div class="col3">
              <p class="footer-nav__hdr">Информационный раздел</p>
              <ul class="footer-nav__list">
                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">Новости недвижимости</a>
                </li>
                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">Полезные статьи</a>
                </li>
                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">Вопросы и ответы</a>
                </li>
              </ul>
              <p class="footer-nav__hdr">Ипотека</p>
              <ul class="footer-nav__list">
                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">Калькулятор ипотеки</a>
                </li>
                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">Ипотечные банки</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-middle">
        <ul class="footer-middle__list">
          <li class="footer-middle__item">
            <a href="#" class="footer-middle__link">О проекте</a>
          </li>
          <li class="footer-middle__item">
            <a href="#" class="footer-middle__link">Рекламы</a>
          </li>
          <li class="footer-middle__item">
            <a href="#" class="footer-middle__link">Добавить/изменить информацию</a>
          </li>
          <li class="footer-middle__item">
            <a href="#" class="footer-middle__link">Блог</a>
          </li>
        </ul>
      </div>
      <div class="footer-bottom">
        <p class="footer-bottom__contacts">
          <a href="tel:+78123857558" class="footer-bottom__contacts-link">+7 (812) 385-75-58</a>
          <a href="mailto:info@vnovostroike.ru" class="footer-bottom__contacts-link">info@vnovostroike.ru</a>
        </p>
        <p class="footer-bottom__address">
          ООО "ВНовостройке.ру" | 199105, Россия, 10 линия В.О., д.59 (БЦ "Маркус"), офис 327
        </p>
        <span class="footer-bottom__age">0+</span>
        <a href="#" class="footer-bottom__public-offer">публичная оферта</a>
      </div></footer>
  </div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script>
    if (!window.jQuery) {
        document.write('<script src="js/lib/jquery-1.11.1.min.js"><\/script>');
    }
  </script>
  <script src="js/build/vendor/plugins.min.js"></script>
  <script src="js/build/scripts.min.js"></script>
  <!--
  =========================
      ТОЛЬКО ДЛЯ ВЕРСТКИ
  =========================
  -->
  <!-- PixLayout -->
  <script src="js/!jquery.pixlayout.0.9.7.js"></script>
  <!-- <script>
    $(function(){
      $.pixlayout({
        src: "!assets/Lending_ZS.jpg",
        opacity: 0.4,
        top: 48,
        center: true,
        clip:true,
        show: true,
      })
    });
  </script> -->
  <!-- / PixLayout -->
</body>
</html>