@@include('../_components/page-head.html')
  </head>
  <body>
    <div class="page-wrap">

      <div class="page-main">


        <div class="page-main__intro intro">

        </div>


        <div class="page-main__container">

          @@include('../_components/page-header.html')

          <div class="cont-through mt0">
            <div class="container">
              <img class="img-responsive" src="https://api.fnkr.net/testimg/1200x94/00CED1/FFF/?text=banner+placeholder">
            </div>
          </div>


          @@include('../_components/small-search.html')

          @@include('../_components/search.html')


          <div class="page-content">
            <main class="main">
              <div class="allstroy-intro">
                <h1>Все новостройки Петербурга</h1>
                <p class="text-small"> В общей сложности в Санкт-Петербурге возводится 115 объектов от 84 застройщиков.
                  <br>В 2014 году было сдано 74 очереди в 63 жилых комплексах. Еще 15 очередей в 13 ЖК должны быть сданы до конца года.
                  <br> В этом году будет сдано более 24 тысяч квартир общей жилой площадью более 155 тысяч м2.</p>
              </div>
              <div class="cont-through">
                <p style="margin:0; padding: 4px 8px; color: #735184; font-size: 14px line-height: 1; font-weight:700; background: #eaeaea;">!Баннер сверху! отдам рекламное место в добрые руки возьмите ну что вам сложно чтоли берите не стесняйтесь у меня еще есть</p>
                <p style="margin:0; padding: 4px 8px; color: #735184; font-size: 14px line-height: 1; font-weight:700; background: #eaeaea;">отдам рекламное место в добрые руки возьмите ну что вам сложно чтоли берите не стесняйтесь у меня еще есть</p>
              </div>
              <section class="allstroy-prices js-tabs">
                <header class="allstroy-prices__header">
                  <h2 class="allstroy-prices__title">Цены на первичную недвижимость</h2>
                  <div class="nvs-nav nvs-nav--small nvs-nav--with-title">
                    <span class="nvs-nav__title">Цены:</span>
                    <ul class="nvs-nav__list nvs-nav__list--bordered">
                      <li class="nvs-nav__item js-tabsNavItem active">
                        <a href="#prices-tab1" class="nvs-nav__link js-tabsNavLink">Средние</a>
                      </li>
                      <li class="nvs-nav__item js-tabsNavItem">
                        <a href="#prices-tab2" class="nvs-nav__link js-tabsNavLink">По районам</a>
                      </li>
                      <li class="nvs-nav__item js-tabsNavItem">
                        <a href="#prices-tab3" class="nvs-nav__link js-tabsNavLink">В области</a>
                      </li>
                      <li class="nvs-nav__item js-tabsNavItem">
                        <a href="#prices-tab4" class="nvs-nav__link js-tabsNavLink">По станциям метро</a>
                      </li>
                    </ul>
                  </div>
                </header>
                <div class="allstroy-prices__tab js-tabsItem active" id="prices-tab1">
                  @@include('../_components/table-params.html')
                </div>
                <div class="allstroy-prices__tab js-tabsItem" id="prices-tab2">
                  <p>CONTENT 2</p>
                </div>
                <div class="allstroy-prices__tab js-tabsItem" id="prices-tab3">
                  <p>CONTENT 3</p>
                </div>
                <div class="allstroy-prices__tab js-tabsItem" id="prices-tab4">
                  <div class="tabs js-tabs">
                    <ul class="tabs__nav tabs__nav--larger">
                      <li class="tabs__nav-item tabs__nav-item--noborder js-tabsNavItem">
                        <a href="#metro-tab1" class="tabs__nav-link tabs__nav-link--metro js-tabsNavLink">
                          <span class="metro metro-spb-1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="14.2" height="12" viewBox="0 0 14.2 11.5" enable-background="new 0 0 14.2 11.5">
                              <path fill="#333" d="M13 2.7C11.5.4 9.5 0 9.5 0L7.1 8.1 4.7 0s-2 .4-3.5 2.7C-.3 5.1-.1 7.9.8 9.7c.9 1.8 1.2 1.8 1.2 1.8h3s-2.4-1.4-3.2-3.3c-.7-1.9-.5-3.6 0-4.6.5-1.1 1.4-1.8 1.9-1.7.5 0 .6.5.6.8.1.3 2.7 8.2 2.8 8.5.1-.3 2.6-8.2 2.7-8.6.1-.4.1-.8.6-.8s1.4.7 1.9 1.7c.5 1.1.7 2.7 0 4.6-.7 1.9-3.2 3.3-3.2 3.3h3s.4 0 1.3-1.7c1-1.7 1.2-4.6-.4-7z" />
                            </svg>
                            <i class="icon-metro">1</i>
                          </span>
                        </a>
                      </li>
                      <li class="tabs__nav-item tabs__nav-item--noborder js-tabsNavItem">
                        <a href="#metro-tab2" class="tabs__nav-link tabs__nav-link--metro js-tabsNavLink">
                          <span class="metro metro-spb-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="14.2" height="12" viewBox="0 0 14.2 11.5" enable-background="new 0 0 14.2 11.5">
                              <path fill="#333" d="M13 2.7C11.5.4 9.5 0 9.5 0L7.1 8.1 4.7 0s-2 .4-3.5 2.7C-.3 5.1-.1 7.9.8 9.7c.9 1.8 1.2 1.8 1.2 1.8h3s-2.4-1.4-3.2-3.3c-.7-1.9-.5-3.6 0-4.6.5-1.1 1.4-1.8 1.9-1.7.5 0 .6.5.6.8.1.3 2.7 8.2 2.8 8.5.1-.3 2.6-8.2 2.7-8.6.1-.4.1-.8.6-.8s1.4.7 1.9 1.7c.5 1.1.7 2.7 0 4.6-.7 1.9-3.2 3.3-3.2 3.3h3s.4 0 1.3-1.7c1-1.7 1.2-4.6-.4-7z" />
                            </svg>
                            <i class="icon-metro">2</i>
                          </span>
                        </a>
                      </li>
                      <li class="tabs__nav-item tabs__nav-item--noborder js-tabsNavItem">
                        <a href="#metro-tab3" class="tabs__nav-link tabs__nav-link--metro js-tabsNavLink">
                          <span class="metro metro-spb-3">
                            <svg xmlns="http://www.w3.org/2000/svg" width="14.2" height="12" viewBox="0 0 14.2 11.5" enable-background="new 0 0 14.2 11.5">
                              <path fill="#333" d="M13 2.7C11.5.4 9.5 0 9.5 0L7.1 8.1 4.7 0s-2 .4-3.5 2.7C-.3 5.1-.1 7.9.8 9.7c.9 1.8 1.2 1.8 1.2 1.8h3s-2.4-1.4-3.2-3.3c-.7-1.9-.5-3.6 0-4.6.5-1.1 1.4-1.8 1.9-1.7.5 0 .6.5.6.8.1.3 2.7 8.2 2.8 8.5.1-.3 2.6-8.2 2.7-8.6.1-.4.1-.8.6-.8s1.4.7 1.9 1.7c.5 1.1.7 2.7 0 4.6-.7 1.9-3.2 3.3-3.2 3.3h3s.4 0 1.3-1.7c1-1.7 1.2-4.6-.4-7z" />
                            </svg>
                            <i class="icon-metro">3</i>
                          </span>
                        </a>
                      </li>
                      <li class="tabs__nav-item tabs__nav-item--noborder js-tabsNavItem active">
                        <a href="#metro-tab4" class="tabs__nav-link tabs__nav-link--metro js-tabsNavLink">
                          <span class="metro metro-spb-4">
                            <svg xmlns="http://www.w3.org/2000/svg" width="14.2" height="12" viewBox="0 0 14.2 11.5" enable-background="new 0 0 14.2 11.5">
                              <path fill="#333" d="M13 2.7C11.5.4 9.5 0 9.5 0L7.1 8.1 4.7 0s-2 .4-3.5 2.7C-.3 5.1-.1 7.9.8 9.7c.9 1.8 1.2 1.8 1.2 1.8h3s-2.4-1.4-3.2-3.3c-.7-1.9-.5-3.6 0-4.6.5-1.1 1.4-1.8 1.9-1.7.5 0 .6.5.6.8.1.3 2.7 8.2 2.8 8.5.1-.3 2.6-8.2 2.7-8.6.1-.4.1-.8.6-.8s1.4.7 1.9 1.7c.5 1.1.7 2.7 0 4.6-.7 1.9-3.2 3.3-3.2 3.3h3s.4 0 1.3-1.7c1-1.7 1.2-4.6-.4-7z" />
                            </svg>
                            <i class="icon-metro">4</i>
                          </span>
                        </a>
                      </li>
                      <li class="tabs__nav-item tabs__nav-item--noborder js-tabsNavItem">
                        <a href="#metro-tab5" class="tabs__nav-link tabs__nav-link--metro js-tabsNavLink">
                          <span class="metro metro-spb-5">
                            <svg xmlns="http://www.w3.org/2000/svg" width="14.2" height="12" viewBox="0 0 14.2 11.5" enable-background="new 0 0 14.2 11.5">
                              <path fill="#333" d="M13 2.7C11.5.4 9.5 0 9.5 0L7.1 8.1 4.7 0s-2 .4-3.5 2.7C-.3 5.1-.1 7.9.8 9.7c.9 1.8 1.2 1.8 1.2 1.8h3s-2.4-1.4-3.2-3.3c-.7-1.9-.5-3.6 0-4.6.5-1.1 1.4-1.8 1.9-1.7.5 0 .6.5.6.8.1.3 2.7 8.2 2.8 8.5.1-.3 2.6-8.2 2.7-8.6.1-.4.1-.8.6-.8s1.4.7 1.9 1.7c.5 1.1.7 2.7 0 4.6-.7 1.9-3.2 3.3-3.2 3.3h3s.4 0 1.3-1.7c1-1.7 1.2-4.6-.4-7z" />
                            </svg>
                            <i class="icon-metro">5</i>
                          </span>
                        </a>
                      </li>
                    </ul>
                    <div class="tabs__item js-tabsItem" id="metro-tab1">
                      КОНТЕНТ ТАБА 1
                    </div>
                    <div class="tabs__item js-tabsItem" id="metro-tab2">
                      КОНТЕНТ ТАБА 2
                    </div>
                    <div class="tabs__item js-tabsItem" id="metro-tab3">
                      КОНТЕНТ ТАБА 3
                    </div>
                    <div class="tabs__item js-tabsItem active" id="metro-tab4">
                      <table class="table-striped table-striped--underline-first-cell">
                        <tr class="table-striped__head">
                          <th>Станции метро</th>
                          <th>Студия</th>
                          <th>1 к. кв.</th>
                          <th>2 к. кв.</th>
                          <th>3 к. кв.</th>
                          <th>4 к. кв.</th>
                        </tr>
                        <tr>
                          <td>Улица Дыбенко</td>
                          <td>1.4 - 2.6</td>
                          <td>1.4 - 2.6</td>
                          <td>1.4 - 2.6</td>
                          <td>1.4 - 2.6</td>
                          <td>1.4 - 2.6</td>
                        </tr>
                        <tr class="table-striped__row-gray">
                          <td>Большевиков</td>
                          <td>1.4 - 2.6</td>
                          <td>1.4 - 2.6</td>
                          <td>1.4 - 2.6</td>
                          <td>1.4 - 2.6</td>
                          <td>1.4 - 2.6</td>
                        </tr>
                        <tr>
                          <td>Ладожская</td>
                          <td>1.4 - 2.6</td>
                          <td>1.4 - 2.6</td>
                          <td>1.4 - 2.6</td>
                          <td>1.4 - 2.6</td>
                          <td>1.4 - 2.6</td>
                        </tr>
                        <tr class="table-striped__row-gray">
                          <td>Новочеркасская</td>
                          <td>1.4 - 2.6</td>
                          <td>1.4 - 2.6</td>
                          <td>1.4 - 2.6</td>
                          <td>1.4 - 2.6</td>
                          <td>1.4 - 2.6</td>
                        </tr>
                        <tr>
                          <td>Пл. Александра Невского</td>
                          <td>1.4 - 2.6</td>
                          <td>1.4 - 2.6</td>
                          <td>1.4 - 2.6</td>
                          <td>1.4 - 2.6</td>
                          <td>1.4 - 2.6</td>
                        </tr>
                        <tr class="table-striped__row-gray">
                          <td>Маяковская</td>
                          <td>1.4 - 2.6</td>
                          <td>1.4 - 2.6</td>
                          <td>1.4 - 2.6</td>
                          <td>1.4 - 2.6</td>
                          <td>1.4 - 2.6</td>
                        </tr>
                        <tr>
                          <td>Выборгская</td>
                          <td>1.4 - 2.6</td>
                          <td>1.4 - 2.6</td>
                          <td>1.4 - 2.6</td>
                          <td>1.4 - 2.6</td>
                          <td>1.4 - 2.6</td>
                        </tr>
                        <tr class="table-striped__row-gray">
                          <td>Гостинный двор</td>
                          <td>1.4 - 2.6</td>
                          <td>1.4 - 2.6</td>
                          <td>1.4 - 2.6</td>
                          <td>1.4 - 2.6</td>
                          <td>1.4 - 2.6</td>
                        </tr>
                        <tr>
                          <td>Василеостровская</td>
                          <td>1.4 - 2.6</td>
                          <td>1.4 - 2.6</td>
                          <td>1.4 - 2.6</td>
                          <td>1.4 - 2.6</td>
                          <td>1.4 - 2.6</td>
                        </tr>
                      </table>
                    </div>
                    <div class="tabs__item js-tabsItem" id="metro-tab5">
                      КОНТЕНТ ТАБА 5
                    </div>
                  </div>
                </div>
              </section>
              <div class="cont-through">
                <p style="margin:0; padding: 4px 8px; color: #735184; font-size: 14px line-height: 1; font-weight:700; background: #eaeaea;">!Баннер контента! отдам рекламное место в добрые руки возьмите ну что вам сложно чтоли берите не стесняйтесь у меня еще есть</p>
                <p style="margin:0; padding: 4px 8px; color: #735184; font-size: 14px line-height: 1; font-weight:700; background: #eaeaea;">отдам рекламное место в добрые руки возьмите ну что вам сложно чтоли берите не стесняйтесь у меня еще есть</p>
              </div>
              <section class="box">
                <div class="box__header">
                  <h2 class="box__title">Подборки новостроек</h2>
                </div>
                <div class="tabs-vertical js-tabs">
                  <ul class="tabs-vertical__nav-list">
                    <li class="tabs-vertical__nav-item js-tabsNavItem active">
                      <a href="#tab-selection-1" class="tabs-vertical__nav-link js-tabsNavLink">Подборки новостроек</a>
                    </li>
                    <li class="tabs-vertical__nav-item js-tabsNavItem">
                      <a href="#tab-selection-2" class="tabs-vertical__nav-link js-tabsNavLink">Класс дома</a>
                    </li>
                    <li class="tabs-vertical__nav-item js-tabsNavItem">
                      <a href="#tab-selection-3" class="tabs-vertical__nav-link js-tabsNavLink">Квартиры</a>
                    </li>
                    <li class="tabs-vertical__nav-item js-tabsNavItem">
                      <a href="#tab-selection-4" class="tabs-vertical__nav-link js-tabsNavLink">Дополнительное</a>
                    </li>
                  </ul>
                  <div class="tabs-vertical__tabs">
                    <div class="tabs-vertical__tab tabs-vertical__tab--rows-bordered js-tabsItem active" id="tab-selection-1">
                      <div class="row">
                        <div class="col6">
                          <a href="#" class="link-dark-green">Строящиеся новостройки</a>
                        </div>
                        <div class="col6">
                          <a href="#" class="link-dark-green">Сдача в 2015</a>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col6">
                          <a href="#" class="link-dark-green">Сданные дома</a>
                        </div>
                        <div class="col6">
                          <a href="#" class="link-dark-green">Сдача в 2016</a>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col6">
                          <a href="#" class="link-dark-green">Проектируемые</a>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col6">
                          <a href="#" class="link-dark-green">Сдача в 2014</a>
                        </div>
                      </div>
                    </div>
                    <div class="tabs-vertical__tab js-tabsItem" id="tab-selection-2">TAB2</div>
                    <div class="tabs-vertical__tab js-tabsItem" id="tab-selection-3">TAB3</div>
                    <div class="tabs-vertical__tab js-tabsItem" id="tab-selection-4">TAB4</div>
                  </div>
                </div>
              </section>
              <div class="cont-through">
                <p style="margin:0; padding: 4px 8px; color: #735184; font-size: 14px line-height: 1; font-weight:700; background: #eaeaea;">!Баннер контента! отдам рекламное место в добрые руки возьмите ну что вам сложно чтоли берите не стесняйтесь у меня еще есть</p>
                <p style="margin:0; padding: 4px 8px; color: #735184; font-size: 14px line-height: 1; font-weight:700; background: #eaeaea;">отдам рекламное место в добрые руки возьмите ну что вам сложно чтоли берите не стесняйтесь у меня еще есть</p>
              </div>
              <section class="allstroy-prices js-tabs">
                <header class="allstroy-prices__header">
                  <h2 class="allstroy-prices__title">Подборки жилых комплексов</h2>
                  <div class="nvs-nav nvs-nav--small">
                    <ul class="nvs-nav__list nvs-nav__list--bordered">
                      <li class="nvs-nav__item js-tabsNavItem">
                        <a href="#tab-selecrion-complex1" class="nvs-nav__link js-tabsNavLink">Сдаются в этом году</a>
                      </li>
                      <li class="nvs-nav__item js-tabsNavItem">
                        <a href="#tab-selecrion-complex2" class="nvs-nav__link js-tabsNavLink">Проектируемые</a>
                      </li>
                      <li class="nvs-nav__item js-tabsNavItem active">
                        <a href="#tab-selecrion-complex3" class="nvs-nav__link js-tabsNavLink">Новые</a>
                      </li>
                    </ul>
                  </div>
                </header>
                <div class="allstroy-prices__tab js-tabsItem" id="tab-selecrion-complex1">
                  <p>CONTENT 1</p>
                </div>
                <div class="allstroy-prices__tab js-tabsItem" id="tab-selecrion-complex2">
                  <p>CONTENT 2</p>
                </div>
                <div class="allstroy-prices__tab js-tabsItem active" id="tab-selecrion-complex3">
                  <div class="row">
                    <div class="col3">
                      <div class="nvs-complex">
                        <a href="#" class="nvs-complex__img-wrap">
                          <img src="img/temp/nvs-complex-1.jpg" alt="" class="nvs-complex__img">
                        </a>
                        <a href="#" class="nvs-complex__title">ЖК Большие сосны</a>
                        <a href="#" class="nvs-complex__subtitle">SetlCity</a>
                      </div>
                    </div>
                    <div class="col3">
                      <div class="nvs-complex">
                        <a href="#" class="nvs-complex__img-wrap">
                          <img src="img/temp/nvs-complex-2.jpg" alt="" class="nvs-complex__img">
                        </a>
                        <a href="#" class="nvs-complex__title">ЖК Cамоцветы</a>
                        <a href="#" class="nvs-complex__subtitle">ЛенСпецСму</a>
                      </div>
                    </div>
                    <div class="col3">
                      <div class="nvs-complex">
                        <a href="#" class="nvs-complex__img-wrap">
                          <img src="img/temp/nvs-complex-3.jpg" alt="" class="nvs-complex__img">
                        </a>
                        <a href="#" class="nvs-complex__title">ЖК Березовая роща</a>
                        <a href="#" class="nvs-complex__subtitle">Polis-group</a>
                      </div>
                    </div>
                    <div class="col3">
                      <div class="nvs-complex">
                        <a href="#" class="nvs-complex__img-wrap">
                          <img src="img/temp/nvs-complex-4.jpg" alt="" class="nvs-complex__img">
                        </a>
                        <a href="#" class="nvs-complex__title">ЖК Солнечный</a>
                        <a href="#" class="nvs-complex__subtitle">Арсенал</a>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col3">
                      <div class="nvs-complex">
                        <a href="#" class="nvs-complex__img-wrap">
                          <img src="img/temp/nvs-complex-3.jpg" alt="" class="nvs-complex__img">
                        </a>
                        <a href="#" class="nvs-complex__title">ЖК Березовая роща</a>
                        <a href="#" class="nvs-complex__subtitle">Polis-group</a>
                      </div>
                    </div>
                    <div class="col3">
                      <div class="nvs-complex">
                        <a href="#" class="nvs-complex__img-wrap">
                          <img src="img/temp/nvs-complex-4.jpg" alt="" class="nvs-complex__img">
                        </a>
                        <a href="#" class="nvs-complex__title">ЖК Солнечный</a>
                        <a href="#" class="nvs-complex__subtitle">Арсенал</a>
                      </div>
                    </div>
                    <div class="col3">
                      <div class="nvs-complex">
                        <a href="#" class="nvs-complex__img-wrap">
                          <img src="img/temp/nvs-complex-1.jpg" alt="" class="nvs-complex__img">
                        </a>
                        <a href="#" class="nvs-complex__title">ЖК Большие сосны</a>
                        <a href="#" class="nvs-complex__subtitle">SetlCity</a>
                      </div>
                    </div>
                    <div class="col3">
                      <div class="nvs-complex">
                        <a href="#" class="nvs-complex__img-wrap">
                          <img src="img/temp/nvs-complex-2.jpg" alt="" class="nvs-complex__img">
                        </a>
                        <a href="#" class="nvs-complex__title">ЖК Cамоцветы</a>
                        <a href="#" class="nvs-complex__subtitle">ЛенСпецСму</a>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col3">
                      <div class="nvs-complex">
                        <a href="#" class="nvs-complex__img-wrap">
                          <img src="img/temp/nvs-complex-1.jpg" alt="" class="nvs-complex__img">
                        </a>
                        <a href="#" class="nvs-complex__title">ЖК Большие сосны</a>
                        <a href="#" class="nvs-complex__subtitle">SetlCity</a>
                      </div>
                    </div>
                    <div class="col3">
                      <div class="nvs-complex">
                        <a href="#" class="nvs-complex__img-wrap">
                          <img src="img/temp/nvs-complex-2.jpg" alt="" class="nvs-complex__img">
                        </a>
                        <a href="#" class="nvs-complex__title">ЖК Cамоцветы</a>
                        <a href="#" class="nvs-complex__subtitle">ЛенСпецСму</a>
                      </div>
                    </div>
                    <div class="col3">
                      <div class="nvs-complex">
                        <a href="#" class="nvs-complex__img-wrap">
                          <img src="img/temp/nvs-complex-3.jpg" alt="" class="nvs-complex__img">
                        </a>
                        <a href="#" class="nvs-complex__title">ЖК Березовая роща</a>
                        <a href="#" class="nvs-complex__subtitle">Polis-group</a>
                      </div>
                    </div>
                    <div class="col3">
                      <div class="nvs-complex">
                        <a href="#" class="nvs-complex__img-wrap">
                          <img src="img/temp/nvs-complex-4.jpg" alt="" class="nvs-complex__img">
                        </a>
                        <a href="#" class="nvs-complex__title">ЖК Солнечный</a>
                        <a href="#" class="nvs-complex__subtitle">Арсенал</a>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col3">
                      <div class="nvs-complex">
                        <a href="#" class="nvs-complex__img-wrap">
                          <img src="img/temp/nvs-complex-3.jpg" alt="" class="nvs-complex__img">
                        </a>
                        <a href="#" class="nvs-complex__title">ЖК Березовая роща</a>
                        <a href="#" class="nvs-complex__subtitle">Polis-group</a>
                      </div>
                    </div>
                    <div class="col3">
                      <div class="nvs-complex">
                        <a href="#" class="nvs-complex__img-wrap">
                          <img src="img/temp/nvs-complex-4.jpg" alt="" class="nvs-complex__img">
                        </a>
                        <a href="#" class="nvs-complex__title">ЖК Солнечный</a>
                        <a href="#" class="nvs-complex__subtitle">Арсенал</a>
                      </div>
                    </div>
                    <div class="col3">
                      <div class="nvs-complex">
                        <a href="#" class="nvs-complex__img-wrap">
                          <img src="img/temp/nvs-complex-1.jpg" alt="" class="nvs-complex__img">
                        </a>
                        <a href="#" class="nvs-complex__title">ЖК Большие сосны</a>
                        <a href="#" class="nvs-complex__subtitle">SetlCity</a>
                      </div>
                    </div>
                    <div class="col3">
                      <div class="nvs-complex">
                        <a href="#" class="nvs-complex__img-wrap">
                          <img src="img/temp/nvs-complex-2.jpg" alt="" class="nvs-complex__img">
                        </a>
                        <a href="#" class="nvs-complex__title">ЖК Cамоцветы</a>
                        <a href="#" class="nvs-complex__subtitle">ЛенСпецСму</a>
                      </div>
                    </div>
                  </div>
                  <div class="hidden" id="more-results">
                    <div class="row">
                      <div class="col3">
                        <div class="nvs-complex">
                          <a href="#" class="nvs-complex__img-wrap">
                            <img src="img/temp/nvs-complex-1.jpg" alt="" class="nvs-complex__img">
                          </a>
                          <a href="#" class="nvs-complex__title">ЖК Большие сосны</a>
                          <a href="#" class="nvs-complex__subtitle">SetlCity</a>
                        </div>
                      </div>
                      <div class="col3">
                        <div class="nvs-complex">
                          <a href="#" class="nvs-complex__img-wrap">
                            <img src="img/temp/nvs-complex-2.jpg" alt="" class="nvs-complex__img">
                          </a>
                          <a href="#" class="nvs-complex__title">ЖК Cамоцветы</a>
                          <a href="#" class="nvs-complex__subtitle">ЛенСпецСму</a>
                        </div>
                      </div>
                      <div class="col3">
                        <div class="nvs-complex">
                          <a href="#" class="nvs-complex__img-wrap">
                            <img src="img/temp/nvs-complex-3.jpg" alt="" class="nvs-complex__img">
                          </a>
                          <a href="#" class="nvs-complex__title">ЖК Березовая роща</a>
                          <a href="#" class="nvs-complex__subtitle">Polis-group</a>
                        </div>
                      </div>
                      <div class="col3">
                        <div class="nvs-complex">
                          <a href="#" class="nvs-complex__img-wrap">
                            <img src="img/temp/nvs-complex-4.jpg" alt="" class="nvs-complex__img">
                          </a>
                          <a href="#" class="nvs-complex__title">ЖК Солнечный</a>
                          <a href="#" class="nvs-complex__subtitle">Арсенал</a>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col3">
                        <div class="nvs-complex">
                          <a href="#" class="nvs-complex__img-wrap">
                            <img src="img/temp/nvs-complex-3.jpg" alt="" class="nvs-complex__img">
                          </a>
                          <a href="#" class="nvs-complex__title">ЖК Березовая роща</a>
                          <a href="#" class="nvs-complex__subtitle">Polis-group</a>
                        </div>
                      </div>
                      <div class="col3">
                        <div class="nvs-complex">
                          <a href="#" class="nvs-complex__img-wrap">
                            <img src="img/temp/nvs-complex-4.jpg" alt="" class="nvs-complex__img">
                          </a>
                          <a href="#" class="nvs-complex__title">ЖК Солнечный</a>
                          <a href="#" class="nvs-complex__subtitle">Арсенал</a>
                        </div>
                      </div>
                      <div class="col3">
                        <div class="nvs-complex">
                          <a href="#" class="nvs-complex__img-wrap">
                            <img src="img/temp/nvs-complex-1.jpg" alt="" class="nvs-complex__img">
                          </a>
                          <a href="#" class="nvs-complex__title">ЖК Большие сосны</a>
                          <a href="#" class="nvs-complex__subtitle">SetlCity</a>
                        </div>
                      </div>
                      <div class="col3">
                        <div class="nvs-complex">
                          <a href="#" class="nvs-complex__img-wrap">
                            <img src="img/temp/nvs-complex-2.jpg" alt="" class="nvs-complex__img">
                          </a>
                          <a href="#" class="nvs-complex__title">ЖК Cамоцветы</a>
                          <a href="#" class="nvs-complex__subtitle">ЛенСпецСму</a>
                        </div>
                      </div>
                    </div>
                    <div class="hidden" id="more-results2">
                      <div class="row">
                        <div class="col3">
                          <div class="nvs-complex">
                            <a href="#" class="nvs-complex__img-wrap">
                              <img src="img/temp/nvs-complex-1.jpg" alt="" class="nvs-complex__img">
                            </a>
                            <a href="#" class="nvs-complex__title">ЖК Большие сосны</a>
                            <a href="#" class="nvs-complex__subtitle">SetlCity</a>
                          </div>
                        </div>
                        <div class="col3">
                          <div class="nvs-complex">
                            <a href="#" class="nvs-complex__img-wrap">
                              <img src="img/temp/nvs-complex-2.jpg" alt="" class="nvs-complex__img">
                            </a>
                            <a href="#" class="nvs-complex__title">ЖК Cамоцветы</a>
                            <a href="#" class="nvs-complex__subtitle">ЛенСпецСму</a>
                          </div>
                        </div>
                        <div class="col3">
                          <div class="nvs-complex">
                            <a href="#" class="nvs-complex__img-wrap">
                              <img src="img/temp/nvs-complex-3.jpg" alt="" class="nvs-complex__img">
                            </a>
                            <a href="#" class="nvs-complex__title">ЖК Березовая роща</a>
                            <a href="#" class="nvs-complex__subtitle">Polis-group</a>
                          </div>
                        </div>
                        <div class="col3">
                          <div class="nvs-complex">
                            <a href="#" class="nvs-complex__img-wrap">
                              <img src="img/temp/nvs-complex-4.jpg" alt="" class="nvs-complex__img">
                            </a>
                            <a href="#" class="nvs-complex__title">ЖК Солнечный</a>
                            <a href="#" class="nvs-complex__subtitle">Арсенал</a>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col3">
                          <div class="nvs-complex">
                            <a href="#" class="nvs-complex__img-wrap">
                              <img src="img/temp/nvs-complex-3.jpg" alt="" class="nvs-complex__img">
                            </a>
                            <a href="#" class="nvs-complex__title">ЖК Березовая роща</a>
                            <a href="#" class="nvs-complex__subtitle">Polis-group</a>
                          </div>
                        </div>
                        <div class="col3">
                          <div class="nvs-complex">
                            <a href="#" class="nvs-complex__img-wrap">
                              <img src="img/temp/nvs-complex-4.jpg" alt="" class="nvs-complex__img">
                            </a>
                            <a href="#" class="nvs-complex__title">ЖК Солнечный</a>
                            <a href="#" class="nvs-complex__subtitle">Арсенал</a>
                          </div>
                        </div>
                        <div class="col3">
                          <div class="nvs-complex">
                            <a href="#" class="nvs-complex__img-wrap">
                              <img src="img/temp/nvs-complex-1.jpg" alt="" class="nvs-complex__img">
                            </a>
                            <a href="#" class="nvs-complex__title">ЖК Большие сосны</a>
                            <a href="#" class="nvs-complex__subtitle">SetlCity</a>
                          </div>
                        </div>
                        <div class="col3">
                          <div class="nvs-complex">
                            <a href="#" class="nvs-complex__img-wrap">
                              <img src="img/temp/nvs-complex-2.jpg" alt="" class="nvs-complex__img">
                            </a>
                            <a href="#" class="nvs-complex__title">ЖК Cамоцветы</a>
                            <a href="#" class="nvs-complex__subtitle">ЛенСпецСму</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <a href="#more-results2" class="btn-show-more btn-show-more--mt0 js-show-more">Показать еще 8</a>
                  </div>
                  <a href="#more-results" class="btn-show-more btn-show-more--mt0 js-show-more">Показать еще 8</a>
                </div>
              </section>
              <div class="cont-through">
                <p style="margin:0; padding: 4px 8px; color: #735184; font-size: 14px line-height: 1; font-weight:700; background: #eaeaea;">!Баннер контента! отдам рекламное место в добрые руки возьмите ну что вам сложно чтоли берите не стесняйтесь у меня еще есть</p>
                <p style="margin:0; padding: 4px 8px; color: #735184; font-size: 14px line-height: 1; font-weight:700; background: #eaeaea;">отдам рекламное место в добрые руки возьмите ну что вам сложно чтоли берите не стесняйтесь у меня еще есть</p>
              </div>
            </main>
            <aside class="aside">
              <div class="aside__box aside__box--bordered">
                <h2>Сайдбар со всякими плюшками</h2>
              </div>
              <div class="aside__box aside__box--bordered">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, amet cumque totam! Explicabo, in, deserunt. Reprehenderit non dolor pariatur distinctio, consequuntur, ratione eius. Praesentium est temporibus atque omnis dolores, corporis!</p>
              </div>
              <div class="aside__box">
                <div class="aside__banner"></div>
              </div>
              <div class="aside__box">
                <div class="aside__banner"></div>
              </div>
            </aside>
          </div>
        </div>
      </div>
      @@include('../_components/page-footer.html')
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>
      if (!window.jQuery) {
        document.write('<script src="js/lib/jquery-1.11.1.min.js"><\/script>');
      }
    </script>
    <script src="js/build/vendor/plugins.min.js"></script>
    <script src="js/build/scripts.min.js"></script>
    <!--
  =========================
      ТОЛЬКО ДЛЯ ВЕРСТКИ
  =========================
  -->
    <!-- PixLayout -->
    <script src="js/!jquery.pixlayout.0.9.7.js"></script>
    <script>
      $(function() {
        $.pixlayout({
          src: "1!assets/005-Allstroy-v2.jpg",
          opacity: 0.4,
          top: -54,
          center: true,
          clip: true,
          show: true,
        })
      });
    </script>
    <!-- / PixLayout -->
  </body>
</html>