@@include('../_components/page-head.html')
  </head>
  <body>
    <div class="page-wrap">

      @@include('../_components/city-select.html')

      <div class="page-main">

        <div class="page-main__intro intro">

        </div>

        <div class="page-main__container">

          @@include('../_components/page-header.html')

          <div class="cont-through mt0">
            <div class="container">
              <img class="img-responsive" src="https://api.fnkr.net/testimg/1200x94/00CED1/FFF/?text=banner+placeholder">
            </div>
          </div>


          @@include('../_components/small-search.html')

          @@include('../_components/search.html')


          <div class="cont-through  cont-through--mt0">
            <p style="margin:0; padding: 4px 8px; color: #735184; font-size: 14px line-height: 1; font-weight:700; background: #eaeaea;">!Баннер контента! отдам рекламное место в добрые руки возьмите ну что вам сложно чтоли берите не стесняйтесь у меня еще есть</p>
            <p style="margin:0; padding: 4px 8px; color: #735184; font-size: 14px line-height: 1; font-weight:700; background: #eaeaea;">отдам рекламное место в добрые руки возьмите ну что вам сложно чтоли берите не стесняйтесь у меня еще есть</p>
          </div>
          <div class="tabs js-tabs">
            <ul class="tabs__nav tabs__nav--big-centered ">
              <li class="tabs__nav-item js-tabsNavItem active">
                <a href="#main-tab1" class="tabs__nav-link js-tabsNavLink">Новости</a>
              </li>
              <li class="tabs__nav-item js-tabsNavItem">
                <a href="#main-tab2" class="tabs__nav-link js-tabsNavLink">Статьи</a>
              </li>
              <li class="tabs__nav-item js-tabsNavItem">
                <a href="#main-tab3" class="tabs__nav-link js-tabsNavLink">Люди</a>
              </li>
              <li class="tabs__nav-item js-tabsNavItem">
                <a href="#main-tab4" class="tabs__nav-link js-tabsNavLink">Теги</a>
              </li>
            </ul>
            <div class="tabs__item js-tabsItem active" id="main-tab1">
              <div class="page-content">
                <div class="page-content__third-left">
                  <a href="news-item.html" class="news-thumb">
                    <div class="news-thumb__img-wrap">
                      <img src="img/temp/news-thumb_1.jpg" alt="Новая схема защиты дольщиков" class="news-thumb__img">
                    </div>
                    <span class="news-thumb__title">Колебания курса и кредиты</span>
                    <span class="news-thumb__comment icon-chat">12</span>
                  </a>
                </div>
                <div class="page-content__main">
                  <ul class="newsline__list newsline__list--main">
                    <li class="newsline__item">
                      <a href="#" class="newsline__link">Колебания курса и кредиты</a>
                      <time class="newsline__time" datetime="2014-11-30T15:50">Сегодня в 15:50</time>
                    </li>
                    <li class="newsline__item">
                      <a href="#" class="newsline__link">До конца 2015 года расселят 12 аварийных домов</a>
                      <time class="newsline__time" datetime="2014-10-21T13:54">21 окт. в 13:54</time>
                    </li>
                    <li class="newsline__item">
                      <a href="#" class="newsline__link">Денежную помощь на жилье ветераны ВОВ передадут по наследству</a>
                      <time class="newsline__time" datetime="2014-10-21T12:20">21 окт в 12:20</time>
                    </li>
                    <li class="newsline__item">
                      <a href="#" class="newsline__link">В 2014 году 34,5 тысяч молодых семей улучшат жилусловия</a>
                      <time class="newsline__time" datetime="2014-10-20T13:54">20 окт. в 13:54</time>
                    </li>
                    <li class="newsline__item">
                      <a href="#" class="newsline__link">К 2020 году откроют 13 новых станций метро</a>
                      <time class="newsline__time" datetime="2014-10-20T12:20">20 окт. в 12:20</time>
                    </li>
                    <li class="newsline__item">
                      <a href="#" class="newsline__link">В 2014 году 34,5 тысяч молодых семей улучшат жилусловия</a>
                      <time class="newsline__time" datetime="2014-10-20T13:54">20 окт. в 13:54</time>
                    </li>
                    <li class="newsline__item">
                      <a href="#" class="newsline__link">К 2020 году откроют 13 новых станций метро</a>
                      <time class="newsline__time" datetime="2014-10-20T12:20">20 окт. в 12:20</time>
                    </li>
                  </ul>
                  <a href="#" class="link-see-more icon-arrow-rounded-down">Посмотреть больше</a>
                </div>
                <div class="page-content__third-right cf">
                  <p>Тут вставка баннера</p>
                  <img src="http://placehold.it/300x100">
                  <p>Прижать к правому краю через
                    <strong>.pull-right</strong>
                  </p>
                  <div class="cf">
                    <div class="pull-right">
                      <img src="http://placehold.it/200x100">
                    </div>
                  </div>
                  <p>Добавить отступов через
                    <strong>.cont-through</strong>
                  </p>
                  <div class="cont-through">
                    <div class="pull-right">
                      <img src="http://placehold.it/200x100">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Layout example -->
            <div class="tabs__item js-tabsItem" id="main-tab2">
              <div class="page-content">
                <div class="page-content__main">
                  <div class="row">
                    <div class="col6">
                      <ul class="green-ul green-ul--mt0">
                        <li>
                          <a href="#" class="td-alt">Lorem ipsum dolor sit.</a>
                        </li>
                        <li>
                          <a href="#" class="td-alt">Quae facere, nisi unde.</a>
                        </li>
                        <li>
                          <a href="#" class="td-alt">Tenetur ipsam, aliquid assumenda.</a>
                        </li>
                        <li>
                          <a href="#" class="td-alt">Molestias optio officiis blanditiis.</a>
                        </li>
                        <li>
                          <a href="#" class="td-alt">Voluptatibus possimus vitae ea.</a>
                        </li>
                      </ul>
                    </div>
                    <div class="col6">
                      <ul class="green-ul green-ul--mt0">
                        <li>
                          <a href="#" class="td-alt">Lorem ipsum dolor sit.</a>
                        </li>
                        <li>
                          <a href="#" class="td-alt">Quae facere, nisi unde.</a>
                        </li>
                        <li>
                          <a href="#" class="td-alt">Tenetur ipsam, aliquid assumenda.</a>
                        </li>
                        <li>
                          <a href="#" class="td-alt">Molestias optio officiis blanditiis.</a>
                        </li>
                        <li>
                          <a href="#" class="td-alt">Voluptatibus possimus vitae ea.</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="page-content__third-right">
                  <ul class="green-ul green-ul--mt0">
                    <li>
                      <a href="#" class="td-alt">Lorem ipsum dolor sit.</a>
                    </li>
                    <li>
                      <a href="#" class="td-alt">Eaque, dolore quam quod.</a>
                    </li>
                    <li>
                      <a href="#" class="td-alt">Necessitatibus vel dicta aperiam.</a>
                    </li>
                    <li>
                      <a href="#" class="td-alt">Delectus quaerat magnam nostrum.</a>
                    </li>
                    <li>
                      <a href="#" class="td-alt">Incidunt facilis, asperiores eligendi.</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- Layout example -->
            <div class="tabs__item js-tabsItem" id="main-tab3">
              <div class="row">
                <div class="col4">
                  <ul class="green-ul green-ul--mt0">
                    <li>
                      <a href="#" class="td-alt">Lorem ipsum dolor sit.</a>
                    </li>
                    <li>
                      <a href="#" class="td-alt">Eius odio, minus rerum!</a>
                    </li>
                    <li>
                      <a href="#" class="td-alt">Doloribus incidunt illo dicta.</a>
                    </li>
                    <li>
                      <a href="#" class="td-alt">Repudiandae mollitia enim, sapiente.</a>
                    </li>
                    <li>
                      <a href="#" class="td-alt">Quasi ab delectus ad.</a>
                    </li>
                  </ul>
                </div>
                <div class="col4">
                  <ul class="green-ul green-ul--mt0">
                    <li>
                      <a href="#" class="td-alt">Lorem ipsum dolor sit.</a>
                    </li>
                    <li>
                      <a href="#" class="td-alt">Pariatur totam obcaecati quam!</a>
                    </li>
                    <li>
                      <a href="#" class="td-alt">Quidem ratione autem praesentium!</a>
                    </li>
                    <li>
                      <a href="#" class="td-alt">Suscipit amet quo, impedit!</a>
                    </li>
                    <li>
                      <a href="#" class="td-alt">Harum repellat temporibus quam.</a>
                    </li>
                  </ul>
                </div>
                <div class="col4">
                  <ul class="green-ul green-ul--mt0">
                    <li>
                      <a href="#" class="td-alt">Lorem ipsum dolor sit.</a>
                    </li>
                    <li>
                      <a href="#" class="td-alt">Impedit dolorem voluptatem quidem!</a>
                    </li>
                    <li>
                      <a href="#" class="td-alt">Quas accusamus, corporis ipsa!</a>
                    </li>
                    <li>
                      <a href="#" class="td-alt">Sunt, impedit ut laborum.</a>
                    </li>
                    <li>
                      <a href="#" class="td-alt">Alias mollitia, quam repudiandae!</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- Layout example -->
            <div class="tabs__item js-tabsItem" id="main-tab4">
              <div class="row">
                <div class="col3">
                  <ul class="green-ul green-ul--mt0">
                    <li>
                      <a href="#" class="td-alt">Lorem ipsum dolor sit.</a>
                    </li>
                    <li>
                      <a href="#" class="td-alt">Quo quis velit soluta.</a>
                    </li>
                    <li>
                      <a href="#" class="td-alt">In at nisi fugit.</a>
                    </li>
                    <li>
                      <a href="#" class="td-alt">Est impedit accusamus laborum!</a>
                    </li>
                    <li>
                      <a href="#" class="td-alt">Tenetur eaque nihil, excepturi.</a>
                    </li>
                  </ul>
                </div>
                <div class="col3">
                  <ul class="green-ul green-ul--mt0">
                    <li>
                      <a href="#" class="td-alt">Lorem ipsum dolor sit.</a>
                    </li>
                    <li>
                      <a href="#" class="td-alt">Illo accusamus, corporis sequi?</a>
                    </li>
                    <li>
                      <a href="#" class="td-alt">Tempora quod illo blanditiis.</a>
                    </li>
                    <li>
                      <a href="#" class="td-alt">Sint, fuga reiciendis hic.</a>
                    </li>
                    <li>
                      <a href="#" class="td-alt">Perferendis, inventore aliquid nulla.</a>
                    </li>
                  </ul>
                </div>
                <div class="col3">
                  <ul class="green-ul green-ul--mt0">
                    <li>
                      <a href="#" class="td-alt">Lorem ipsum dolor sit.</a>
                    </li>
                    <li>
                      <a href="#" class="td-alt">Pariatur temporibus nam, iste.</a>
                    </li>
                    <li>
                      <a href="#" class="td-alt">Ut qui quibusdam iusto.</a>
                    </li>
                    <li>
                      <a href="#" class="td-alt">Repellendus, modi culpa nulla.</a>
                    </li>
                    <li>
                      <a href="#" class="td-alt">Enim sequi, numquam dolorem!</a>
                    </li>
                  </ul>
                </div>
                <div class="col3">
                  <ul class="green-ul green-ul--mt0">
                    <li>
                      <a href="#" class="td-alt">Lorem ipsum dolor sit.</a>
                    </li>
                    <li>
                      <a href="#" class="td-alt">Nobis eligendi, dicta at.</a>
                    </li>
                    <li>
                      <a href="#" class="td-alt">Voluptatibus nihil esse dignissimos.</a>
                    </li>
                    <li>
                      <a href="#" class="td-alt">Harum ducimus voluptate sunt!</a>
                    </li>
                    <li>
                      <a href="#" class="td-alt">Ea consequatur commodi, magni.</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="cont-through  cont-through--mt0">
            <p style="margin:0; padding: 4px 8px; color: #735184; font-size: 14px line-height: 1; font-weight:700; background: #eaeaea;">!Баннер контента! отдам рекламное место в добрые руки возьмите ну что вам сложно чтоли берите не стесняйтесь у меня еще есть</p>
            <p style="margin:0; padding: 4px 8px; color: #735184; font-size: 14px line-height: 1; font-weight:700; background: #eaeaea;">отдам рекламное место в добрые руки возьмите ну что вам сложно чтоли берите не стесняйтесь у меня еще есть</p>
          </div>


        </div>

        <div class="promo">
          <div class="container">
            <div class="promo__inner">
              <div class="promo__item">
                <h2 class="promo__title">Самая полная
                  <br> база новостроек</h2>
                <div class="promo__vector-img promo__vector-img--keys"></div>
                <p class="promo__desc">Найдите квартиру своей мечты в одном из 534 строящихся объектов Санкт-Петербурга</p>
                <a href="#intro" class="promo__btn">Начать поиск</a>
              </div>
              <div class="promo__item">
                <h2 class="promo__title">Цены, планировки,
                  <br> отзывы и новости</h2>
                <div class="promo__vector-img promo__vector-img--plus"></div>
                <p class="promo__desc">Выберите планировку, узнайте цену квартиры, проверьте застройщика.</p>
                <a href="#" class="promo__btn">Смотреть цены</a>
              </div>
              <div class="promo__item">
                <h2 class="promo__title">Расчет ипотеки
                  <br> для людей</h2>
                <div class="promo__vector-img promo__vector-img--calc"></div>
                <p class="promo__desc">В начале пути? Сориентируйтесь в ипотечных предложениях в сервиса "Калькулятор ипотеки". lorem</p>
                <span class="promo__btn disabled">Скоро открытие</span>
              </div>
            </div>
          </div>
        </div>


        <div class="container">
          <div class="cont-through  cont-through--mt0">
            <p style="margin:0; padding: 4px 8px; color: #735184; font-size: 14px line-height: 1; font-weight:700; background: #eaeaea;">!Баннер контента! отдам рекламное место в добрые руки возьмите ну что вам сложно чтоли берите не стесняйтесь у меня еще есть</p>
            <p style="margin:0; padding: 4px 8px; color: #735184; font-size: 14px line-height: 1; font-weight:700; background: #eaeaea;">отдам рекламное место в добрые руки возьмите ну что вам сложно чтоли берите не стесняйтесь у меня еще есть</p>
          </div>
          <section class="box box--bordered">
            <div class="box__header box__header--mainpage">
              <h2 class="box__title">Статистика</h2>
            </div>
            <div class="stats">
              <div class="row">
                <div class="col4">
                  <div class="stats__item">
                    <span class="stats__label">Регионов</span>
                    <span class="stats__num">36</span>
                  </div>
                </div>
                <div class="col4">
                  <div class="stats__item">
                    <span class="stats__label">Застройщиков</span>
                    <span class="stats__num">376</span>
                  </div>
                </div>
                <div class="col4">
                  <div class="stats__item">
                    <span class="stats__label">Новостройки</span>
                    <span class="stats__num">3532</span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col4">
                  <div class="stats__item">
                    <span class="stats__label">Квартир</span>
                    <span class="stats__num">16827</span>
                  </div>
                </div>
                <div class="col4">
                  <div class="stats__item">
                    <span class="stats__label">Новостей</span>
                    <span class="stats__num">3540</span>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section class="box box--bordered">
            <div class="box__header box__header--mainpage">
              <h2 class="box__title">Навигатор по новостройкам и застройщикам</h2>
            </div>
            <div class="main-navigate">
              <div class="tabs js-tabs">
                <ul class="tabs__nav tabs__nav--blue tabs__nav--largest">
                  <li class="tabs__nav-item js-tabsNavItem">
                    <a href="#main-navigate-tab1" class="tabs__nav-link js-tabsNavLink">Жилые Комплексы</a>
                  </li>
                  <li class="tabs__nav-item js-tabsNavItem">
                    <a href="#main-navigate-tab2" class="tabs__nav-link js-tabsNavLink">По метро</a>
                  </li>
                  <li class="tabs__nav-item js-tabsNavItem">
                    <a href="#main-navigate-tab3" class="tabs__nav-link js-tabsNavLink">По районам</a>
                  </li>
                  <li class="tabs__nav-item js-tabsNavItem">
                    <a href="#main-navigate-tab4" class="tabs__nav-link js-tabsNavLink">По локациям</a>
                  </li>
                  <li class="tabs__nav-item js-tabsNavItem">
                    <a href="#main-navigate-tab5" class="tabs__nav-link js-tabsNavLink">По застройщикам</a>
                  </li>
                  <li class="tabs__nav-item js-tabsNavItem active hidden">
                    <a href="#main-navigate-tab1" class="tabs__nav-link js-tabsNavLink">&nbsp;</a>
                  </li>
                </ul>
                <div class="tabs__item js-tabsItem" id="main-navigate-tab1">
                  <div class="row">
                    <div class="col3">
                      <ul class="main-navigate__list">
                        <li>
                          <a href="#">ENUE APART</a>
                        </li>
                        <li>
                          <a href="#">Bagatelle</a>
                        </li>
                        <li>
                          <a href="#">Green City</a>
                        </li>
                        <li>
                          <a href="#">GREENЛАНДИЯ</a>
                        </li>
                        <li>
                          <a href="#">Mistola Hills</a>
                        </li>
                        <li>
                          <a href="#">TIME</a>
                        </li>
                        <li>
                          <a href="#">Ultra City</a>
                        </li>
                        <li>
                          <a href="#">Union</a>
                        </li>
                        <li>
                          <a href="#">VIVA</a>
                        </li>
                        <li>
                          <a href="#">Австрийский квартал</a>
                        </li>
                        <li>
                          <a href="#">АЙНО</a>
                        </li>
                        <li>
                          <a href="#">Александрия</a>
                        </li>
                        <li>
                          <a href="#">Алые паруса</a>
                        </li>
                        <li>
                          <a href="#">Амазонка</a>
                        </li>
                        <li>
                          <a href="#">Аннинский парк</a>
                        </li>
                        <li>
                          <a href="#">Атланта-2</a>
                        </li>
                        <li>
                          <a href="#">Березовая роща</a>
                        </li>
                        <li>
                          <a href="#">Вернисаж</a>
                        </li>
                        <li>
                          <a href="#">Весна</a>
                        </li>
                        <li>
                          <a href="#">Весна-2</a>
                        </li>
                        <li>
                          <a href="#">Город Мастеров</a>
                        </li>
                        <li>
                          <a href="#">Грота, д. 1-3</a>
                        </li>
                        <li>
                          <a href="#">Дважды два</a>
                        </li>
                        <li>
                          <a href="#">Девяткино</a>
                        </li>
                        <li>
                          <a href="#">Дом БДТ</a>
                        </li>
                        <li>
                          <a href="#">Дом на излучине Невы</a>
                        </li>
                        <li>
                          <a href="#">Дом на Кирочной</a>
                        </li>
                        <li>
                          <a href="#">Дом на Озерной</a>
                        </li>
                        <li>
                          <a href="#">Дом на Фрунзенской</a>
                        </li>
                        <li>
                          <a href="#">Дом с курантами</a>
                        </li>
                      </ul>
                    </div>
                    <div class="col3">
                      <ul class="main-navigate__list">
                        <li>
                          <a href="#">Дюна</a>
                        </li>
                        <li>
                          <a href="#">Европа Сити</a>
                        </li>
                        <li>
                          <a href="#">Земляничная поляна</a>
                        </li>
                        <li>
                          <a href="#">ЗИМАЛЕТО</a>
                        </li>
                        <li>
                          <a href="#">Золотое время</a>
                        </li>
                        <li>
                          <a href="#">Золотой Век</a>
                        </li>
                        <li>
                          <a href="#">Золотые купола</a>
                        </li>
                        <li>
                          <a href="#">Иван да Марья</a>
                        </li>
                        <li>
                          <a href="#">Идеальный мир</a>
                        </li>
                        <li>
                          <a href="#">Калина-парк</a>
                        </li>
                        <li>
                          <a href="#">Кальтино</a>
                        </li>
                        <li>
                          <a href="#">Каменноостровский 64</a>
                        </li>
                        <li>
                          <a href="#">Кантемировский</a>
                        </li>
                        <li>
                          <a href="#">Квартет</a>
                        </li>
                        <li>
                          <a href="#">Князь Александр Невский</a>
                        </li>
                        <li>
                          <a href="#">Космос</a>
                        </li>
                        <li>
                          <a href="#">Краски лета</a>
                        </li>
                        <li>
                          <a href="#">Красные зори</a>
                        </li>
                        <li>
                          <a href="#">Крутой берег</a>
                        </li>
                        <li>
                          <a href="#">Ленинградское Трио</a>
                        </li>
                        <li>
                          <a href="#">Линкор</a>
                        </li>
                        <li>
                          <a href="#">Люмьер (Lumiere)</a>
                        </li>
                        <li>
                          <a href="#">Мелодия</a>
                        </li>
                        <li>
                          <a href="#">Мироздание</a>
                        </li>
                        <li>
                          <a href="#">Мой город</a>
                        </li>
                        <li>
                          <a href="#">Море (More)</a>
                        </li>
                        <li>
                          <a href="#">Муринский посад</a>
                        </li>
                        <li>
                          <a href="#">Невская звезда</a>
                        </li>
                        <li>
                          <a href="#">Новая Охта</a>
                        </li>
                      </ul>
                    </div>
                    <div class="col3">
                      <ul class="main-navigate__list">
                        <li>
                          <a href="#">Новелла</a>
                        </li>
                        <li>
                          <a href="#">Новое Мурино</a>
                        </li>
                        <li>
                          <a href="#">Новое Сертолово</a>
                        </li>
                        <li>
                          <a href="#">Новое Янино</a>
                        </li>
                        <li>
                          <a href="#">Новоселье</a>
                        </li>
                        <li>
                          <a href="#">Новые Горизонты</a>
                        </li>
                        <li>
                          <a href="#">Олимпийская деревня</a>
                        </li>
                        <li>
                          <a href="#">Охтинская дуга</a>
                        </li>
                        <li>
                          <a href="#">Парковый</a>
                        </li>
                        <li>
                          <a href="#">Платинум</a>
                        </li>
                        <li>
                          <a href="#">Подкова</a>
                        </li>
                        <li>
                          <a href="#">Пулковский</a>
                        </li>
                        <li>
                          <a href="#">Резиденс(The Residence)</a>
                        </li>
                        <li>
                          <a href="#">Риверсайд (Riverside)</a>
                        </li>
                        <li>
                          <a href="#">РИО (RIO)</a>
                        </li>
                        <li>
                          <a href="#">Северные высоты</a>
                        </li>
                        <li>
                          <a href="#">Семь столиц</a>
                        </li>
                        <li>
                          <a href="#">Собрание</a>
                        </li>
                        <li>
                          <a href="#">Созвездие</a>
                        </li>
                        <li>
                          <a href="#">Солнечный</a>
                        </li>
                        <li>
                          <a href="#">Солнечный город</a>
                        </li>
                        <li>
                          <a href="#">София</a>
                        </li>
                        <li>
                          <a href="#">Стокгольм (STOCKHOLM)</a>
                        </li>
                        <li>
                          <a href="#">Тапиола</a>
                        </li>
                        <li>
                          <a href="#">Тридевяткино царство</a>
                        </li>
                        <li>
                          <a href="#">Триумф Парк</a>
                        </li>
                        <li>
                          <a href="#">Утренняя звезда</a>
                        </li>
                        <li>
                          <a href="#">Флагман</a>
                        </li>
                        <li>
                          <a href="#">Четыре горизонта</a>
                        </li>
                      </ul>
                    </div>
                    <div class="col3">
                      <ul class="main-navigate__list">
                        <li>
                          <a href="#">ENUE APART</a>
                        </li>
                        <li>
                          <a href="#">Bagatelle</a>
                        </li>
                        <li>
                          <a href="#">Green City</a>
                        </li>
                        <li>
                          <a href="#">GREENЛАНДИЯ</a>
                        </li>
                        <li>
                          <a href="#">Mistola Hills</a>
                        </li>
                        <li>
                          <a href="#">TIME</a>
                        </li>
                        <li>
                          <a href="#">Ultra City</a>
                        </li>
                        <li>
                          <a href="#">Union</a>
                        </li>
                        <li>
                          <a href="#">VIVA</a>
                        </li>
                        <li>
                          <a href="#">Австрийский квартал</a>
                        </li>
                        <li>
                          <a href="#">АЙНО</a>
                        </li>
                        <li>
                          <a href="#">Александрия</a>
                        </li>
                        <li>
                          <a href="#">Алые паруса</a>
                        </li>
                        <li>
                          <a href="#">Амазонка</a>
                        </li>
                        <li>
                          <a href="#">Аннинский парк</a>
                        </li>
                        <li>
                          <a href="#">Атланта-2</a>
                        </li>
                        <li>
                          <a href="#">Березовая роща</a>
                        </li>
                        <li>
                          <a href="#">Вернисаж</a>
                        </li>
                        <li>
                          <a href="#">Весна</a>
                        </li>
                        <li>
                          <a href="#">Весна-2</a>
                        </li>
                        <li>
                          <a href="#">Город Мастеров</a>
                        </li>
                        <li>
                          <a href="#">Грота, д. 1-3</a>
                        </li>
                        <li>
                          <a href="#">Дважды два</a>
                        </li>
                        <li>
                          <a href="#">Девяткино</a>
                        </li>
                        <li>
                          <a href="#">Дом БДТ</a>
                        </li>
                        <li>
                          <a href="#">Дом на излучине Невы</a>
                        </li>
                        <li>
                          <a href="#">Дом на Кирочной</a>
                        </li>
                        <li>
                          <a href="#">Дом на Озерной</a>
                        </li>
                        <li>
                          <a href="#">Дом на Фрунзенской</a>
                        </li>
                        <li>
                          <a href="#">Дом с курантами</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="tabs__item js-tabsItem" id="main-navigate-tab2">
                  CONTENT 2
                </div>
                <div class="tabs__item js-tabsItem" id="main-navigate-tab3">
                  CONTENT 3
                </div>
                <div class="tabs__item js-tabsItem" id="main-navigate-tab4">
                  CONTENT 4
                </div>
                <div class="tabs__item js-tabsItem" id="main-navigate-tab5">
                  CONTENT 5
                </div>
              </div>
            </div>
          </section>
          <div class="cont-through  cont-through--mt0">
            <p style="margin:0; padding: 4px 8px; color: #735184; font-size: 14px line-height: 1; font-weight:700; background: #eaeaea;">!Баннер контента! отдам рекламное место в добрые руки возьмите ну что вам сложно чтоли берите не стесняйтесь у меня еще есть</p>
            <p style="margin:0; padding: 4px 8px; color: #735184; font-size: 14px line-height: 1; font-weight:700; background: #eaeaea;">отдам рекламное место в добрые руки возьмите ну что вам сложно чтоли берите не стесняйтесь у меня еще есть</p>
          </div>
          <section class="box">
            <div class="box__header box__header--mainpage">
              <h2 class="box__title">VNovostroike.ru - портал про Новостройки Санкт-Петербурга и квартиры от застройщиков</h2>
            </div>
            <div class="main-about">
              <p>В единой базе портала строящейся недвижимости ВНовостройке.ру собраны все новостройки Санкт-Петербурга и Ленинградской области. Для тех, кто ищет новый дом, есть подробная информация по каждому объекту: описание жилого комплекса, срок сдачи, этажность, количество квартир, высота потолков, месторасположение, новости, возможные скидки и акции при приобретении, отзывы дольщиков и прочие необходимые материалы для качественного выбора нового жилья.</p>
              <h3>Мы приготовили следующие возможности поиска квартиры от застройщика:</h3>
              <ul class="main-about__list green-ul">
                <li>Уникальный фильтр новостроек по сторонам света и по ценовой категории.</li>
                <li>Поиск объектов, расположенных рядом с метро и по районам СПБ.</li>
                <li>Все новости строящейся жилой недвижимости Питера.</li>
                <li>Скидки, Акции и выгодные предложения от строительных компаний.</li>
                <li>Каталог коттеджных поселков, Стройки Века и многое другое.</li>
              </ul>
              <div class="row">
                <div class="col4">
                  <h3 class="main-about__title">Поиск новостроек</h3>
                  <p>Мы постоянно работаем над совершенствованием нашего якорного сервиса - поиска новостроек по Санкт-Петербургу. Сегодня Вам доступен поиск по сторонам света, по конкретным районам, станциям метро и ценовым группам (доступное жилье, средний класс и элитная недвижимость).
                    <br> В карточке каждого объекта собирается, постоянно дополняется и актуализируется подробная информация о проекте, сроках сдачи, характеристиках дома, процессе строительства.</p>
                </div>
                <div class="col4">
                  <h3 class="main-about__title">Отзывы о новостройках и застройщиках</h3>
                  <p>В июле 2013 года мы перезапускаем сервис отзывов о строящихся домах Петербурга. Новая система значительно упрощает возможность оставить свой комментарий о доме или застройщике за счет отсутствия необходимости авторизации в социальных сетях. Вместе с тем, сотни ранее написанных отзывов перенесутся в обновленную систему. Ваше мнение - не пропадет!</p>
                </div>
                <div class="col4">
                  <h3 class="main-about__title">Новости недвижимости</h3>
                  <p>Уже полтора года отдел журналистики освещает все события на рынке новостроек Санкт-Петербурга. Все значимые события происходящие со строительными компаниями, возводимыми объектами, федеральными законами и глобальными стройками города находятся в поле нашего зрения и ежедневно освещаются на страницах издания. Более 2000 новостей было опубликовано нашими журналистами за этот период и темпы поступления новых известий растут. </p>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
      @@include('../_components/page-footer.html')
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>
      if (!window.jQuery) {
        document.write('<script src="js/lib/jquery-1.11.1.min.js"><\/script>');
      }
    </script>
    <script src="js/build/vendor/plugins.min.js"></script>
    <script src="js/lib/slick.min.js"></script>
    <!-- <script src="js/build/scripts.min.js"></script> -->
    <script src="js/build/scripts.js"></script>
    <!--
  =========================
      ТОЛЬКО ДЛЯ ВЕРСТКИ
  =========================
  -->
    <!-- PixLayout -->
    <script src="js/!jquery.pixlayout.0.9.7.js"></script>
  <!-- <script>
    $(function(){
      $.pixlayout({
        src: "1!assets/001-Main-v5-3.png",
        opacity: 0.6,
        top: -70,
        // left: 319,
        left: -42,
        // center: true,
        clip:true,
        show: true,
      })
    });
  </script> -->
    <!-- / PixLayout -->
  </body>
</html>