@@include('../_components/page-head.html')
  </head>
  <body>
    <div class="page-wrap">

      @@include('../_components/city-select.html')

      <div class="page-main">

        <div class="page-main__intro intro">

        </div>

        <div class="page-main__container">

          @@include('../_components/page-header.html')

          <div class="cont-through mt0">
            <div class="container">
              <img class="img-responsive" src="https://api.fnkr.net/testimg/1200x94/00CED1/FFF/?text=banner+placeholder">
            </div>
          </div>


          @@include('../_components/small-search.html')

          @@include('../_components/search.html')

          <div class="tabs js-tabs">
            <div class="tabs__item js-tabsItem active" id="main-tab1">
              <div class="page-content">

                <div class="page-content__main">
                  <div class="page-content__main">

                    <div class="page-content__map">
                      <div class="map map--lower-height">Карта</div>
                    </div>

                    <div class="tabs js-tabs">
                      <div class="tabs__wrapper tabs__wrapper--big-font">
                        <span class="tabs__pre-nav tabs__pre-nav--black">Новостройки:</span>
                        <ul class="tabs__nav tabs__nav--floated">
                          <li class="tabs__nav-item tabs__nav-item--noborder js-tabsNavItem active">
                            <a href="#main-navigate-tab1" class="tabs__nav-link js-tabsNavLink">Популярные</a>
                          </li>
                          <li class="tabs__nav-item tabs__nav-item--noborder js-tabsNavItem">
                            <a href="#main-navigate-tab2" class="tabs__nav-link js-tabsNavLink">Обсуждаемые</a>
                          </li>
                          <li class="tabs__nav-item tabs__nav-item--noborder js-tabsNavItem">
                            <a href="#main-navigate-tab3" class="tabs__nav-link js-tabsNavLink">Новые</a>
                          </li>
                        </ul>
                      </div>
                      <div class="tabs__item js-tabsItem" id="main-navigate-tab1">
                        <div class="nvs-list">

                          @@include('../_components/nvs-pop--action.html')
                          @@include('../_components/nvs-pop.html')

                        </div>
                        <div class="nvs-list nvs-list--mb20">

                          @@include('../_components/nvs-pop--table.html')
                          @@include('../_components/nvs-pop--table.html')
                          @@include('../_components/nvs-pop--table.html')

                          <div class="hidden" id="more-results">

                            @@include('../_components/nvs-pop--table.html')
                            @@include('../_components/nvs-pop--table.html')
                            @@include('../_components/nvs-pop--table.html')

                          </div>
                          <a href="#more-results" class="btn-show-more btn-show-more--mt0 js-show-more">Все жилые комплексы</a>
                        </div>
                      </div>
                      <div class="tabs__item js-tabsItem" id="main-navigate-tab2">
                        <div class="nvs-list">

                          @@include('../_components/nvs-pop--action.html')

                        </div>
                      </div>
                      <div class="tabs__item js-tabsItem" id="main-navigate-tab3">
                        <div class="nvs-list">

                          @@include('../_components/nvs-pop.html')

                        </div>
                      </div>
                    </div>
                    <div class="news-realty">
                      <div class="news-realty__intro">
                        <h2 class="news-realty__title">Новости недвижимости</h2>
                        <a href="#" class="news-realty__all">Все новости</a>
                      </div>

                      @@include('../_components/news-realty__item.html')
                      @@include('../_components/news-realty__item.html')
                      @@include('../_components/news-realty__item.html')

                    </div>
                    <div class="news-card">
                      @@include('../_components/news-card__item.html')
                      @@include('../_components/news-card__item.html')
                      @@include('../_components/news-card__item.html')
                    </div>
                    <div class="newsline">
                      <ul class="newsline__list">
                          @@include('../_components/newsline__item.html')
                          @@include('../_components/newsline__item.html')
                          @@include('../_components/newsline__item.html')
                      </ul>
                    </div>
                    <div class="news-card">
                      @@include('../_components/news-card__item.html')
                      @@include('../_components/news-card__item.html')
                      @@include('../_components/news-card__item.html')

                      <div class="hidden" id="more-results2">

                        @@include('../_components/news-card__item.html')
                        @@include('../_components/news-card__item.html')
                        @@include('../_components/news-card__item.html')

                      </div>
                      <a href="#more-results2" class="btn-show-more btn-show-more--mt0 js-show-more">Показать еще</a>
                    </div>
                  </div>
                </div>

                @@include('../_components/aside--banners.html')

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>
      if (!window.jQuery) {
        document.write('<script src="js/lib/jquery-1.11.1.min.js"><\/script>');
      }
    </script>
    <script src="js/build/vendor/plugins.min.js"></script>
    <script src="js/lib/slick.min.js"></script>
    <!-- <script src="js/build/scripts.min.js"></script> -->
    <script src="js/build/scripts.js"></script>
    <!--
  =========================
      ТОЛЬКО ДЛЯ ВЕРСТКИ
  =========================
  -->
    <!-- PixLayout -->
    <script src="js/!jquery.pixlayout.0.9.7.js"></script>
  <!-- <script>
    $(function(){
      $.pixlayout({
        src: "1!assets/001-Main-v5-3.png",
        opacity: 0.6,
        top: -70,
        // left: 319,
        left: -42,
        // center: true,
        clip:true,
        show: true,
      })
    });
  </script> -->
    <!-- / PixLayout -->
  </body>
</html>