cf()
  &:before,
  &:after
    content " " // 1
    display table // 2
    line-height 0

  &:after
    clear both

cf-justify()
  text-align justify
  &:after
    content ' '
    display inline-block
    width 100%
    height 0px
    text-align justify

tdn()
  text-decoration none

  &:hover,
  &:active,
  &:focus
    text-decoration none


td-reverse()
  text-decoration none

  &:hover,
  &:active,
  &:focus
    text-decoration underline


trz(smth = all, dur = .1s)
  transition smth dur


list-clear()
  margin 0
  padding 0
  list-style-type none




color-hvr(color = #000, percent = 10%)
  color color

  &:hover
    color lighten(color, percent)

  &:active
    color darken(color, percent)




bg-hvr(color = #000, percent = 10%)
  background-color color

  &:hover
    background-color lighten(color, percent)

  &:active
    background-color darken(color, percent)

bg-hvr-2(color = #000, percent = 10%)
  background-color color

  &:hover
    background-color lighten(color, percent * 2)

  &:active
    background-color darken(color, percent)




opacity-hvr()
  opacity 1

  &:hover
    opacity .8

  &:active
    opacity .6




icon(offset = 50px, left = 0, top = 0)
  position relative
  padding-left offset

  &:before
    position absolute
    left left
    top top





placeholder(color =  #000)
  &::-moz-placeholder
    color color   // Firefox
    opacity 1 // See https://github.com/twbs/bootstrap/pull/11526
  &:-ms-input-placeholder
    color color // Internet Explorer 10+
  &::-webkit-input-placeholder
    color color // Safari and Chrome





zeroCentering()
  display block
  max-width 100%
  max-height 100%
  position absolute
  left 0
  top 0
  right 0
  bottom 0
  margin auto




// Bootstrap
// WebKit-style focus
tab-focus()
  // Default
  outline thin dotted
  // WebKit
  outline 5px auto -webkit-focus-ring-color
  outline-offset -2px



nvs-img-hover()
  position relative

  &:after
    trz(opacity)
    content ''
    position absolute
    top 0
    right 0
    bottom 0
    left 0
    background-color #fff
    opacity 0

  &:hover
    &:after
      opacity .4


gradient-horizontal(start-color = #555, end-color = #333, start-percent = 0%, end-percent = 100%)
  background-image linear-gradient(to right, start-color start-percent, end-color end-percent) // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
  background-repeat repeat-x
  filter: s("progid:DXImageTransform.Microsoft.gradient(startColorstr='%s', endColorstr='%s', GradientType=1)",rgb(start-color),rgb(end-color)) // IE9 and down

  // Vertical gradient, from top to bottom
  //
  // Creates two color stops, start and end, by specifying a color and position for each color stop.
  // Color stops are not available in IE9 and below.
gradient-vertical(start-color = #555, end-color = #333, start-percent = 0%, end-percent = 100%)
  background-image linear-gradient(to bottom, start-color start-percent, end-color end-percent) // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
  background-repeat repeat-x
  filter: s("progid:DXImageTransform.Microsoft.gradient(startColorstr='%s', endColorstr='%s', GradientType=0)",rgb(start-color),rgb(end-color)) // IE9 and down

directional(start-color = #555, end-color = #333, deg = 45deg)
  background-repeat repeat-x
  background-image -webkit-linear-gradient(deg, start-color, end-color) // Safari 5.1-6, Chrome 10+
  background-image -o-linear-gradient(deg, start-color, end-color) // Opera 12
  background-image linear-gradient(deg, start-color, end-color) // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+

horizontal-three-colors(start-color = #00b3ee, mid-color = #7a43b6, color-stop = 50%, end-color = #c3325f)
  background-image -webkit-linear-gradient(left, start-color, mid-color color-stop, end-color);
  background-image -o-linear-gradient(left, start-color, mid-color color-stop, end-color);
  background-image linear-gradient(to right, start-color, mid-color color-stop, end-color);
  background-repeat no-repeat
  filter: s("progid:DXImageTransform.Microsoft.gradient(startColorstr='%s', endColorstr='%s', GradientType=1)",rgb(start-color),rgb(end-color)) // IE9 and down, gets no color-stop at all for proper fallback
vertical-three-colors(start-color = #00b3ee, mid-color = #7a43b6, color-stop = 50%, end-color = #c3325f)
  background-image -webkit-linear-gradient(start-color, mid-color color-stop, end-color)
  background-image -o-linear-gradient(start-color, mid-color color-stop, end-color)
  background-image linear-gradient(start-color, mid-color color-stop, end-color)
  background-repeat no-repeat
  filter: s("progid:DXImageTransform.Microsoft.gradient(startColorstr='%s', endColorstr='%s', GradientType=0)",rgb(start-color),rgb(end-color)) // IE9 and down, gets no color-stop at all for proper fallback
radial(inner-color = #555, outer-color = #333)
  background-image radial-gradient(circle, inner-color, outer-color)
  background-repeat no-repeat

striped(color = rgba(255,255,255,.15), angle = 45deg)
  background-image linear-gradient(angle, color 25%, transparent 25%, transparent 50%, color 50%, color 75%, transparent 75%, transparent)



