
.icon-arrow-left:before {
  content: '';
  display: block;
  background-image: url('../svgicon/png-grunticon/arrow-left.png');
  background-repeat: no-repeat;
  width: 20px;
  height: 4757px;
}


.icon-arrow-return-black:before {
  content: '';
  display: block;
  background-image: url('../svgicon/png-grunticon/arrow-return-black.png');
  background-repeat: no-repeat;
  width: 16px;
  height: 3173px;
}


.icon-arrow-right:before {
  content: '';
  display: block;
  background-image: url('../svgicon/png-grunticon/arrow-right.png');
  background-repeat: no-repeat;
  width: 20px;
  height: 4725px;
}


.icon-baby:before {
  content: '';
  display: block;
  background-image: url('../svgicon/png-grunticon/baby.png');
  background-repeat: no-repeat;
  width: 27px;
  height: 14549px;
}


.icon-bag:before {
  content: '';
  display: block;
  background-image: url('../svgicon/png-grunticon/bag.png');
  background-repeat: no-repeat;
  width: 23px;
  height: 8437px;
}


.icon-calc:before {
  content: '';
  display: block;
  background-image: url('../svgicon/png-grunticon/calc.png');
  background-repeat: no-repeat;
  width: 17px;
  height: 8085px;
}


.icon-cart:before {
  content: '';
  display: block;
  background-image: url('../svgicon/png-grunticon/cart.png');
  background-repeat: no-repeat;
  width: 25px;
  height: 9957px;
}


.icon-chat:before {
  content: '';
  display: block;
  background-image: url('../svgicon/png-grunticon/chat.png');
  background-repeat: no-repeat;
  width: 23px;
  height: 6901px;
}

.icon-children-sm.disabled:before,.icon-children-sm.disabled:hover:before,
.icon-children-sm-dis:before {
  content: '';
  display: block;
  background-image: url('../svgicon/png-grunticon/children-sm-dis.png');
  background-repeat: no-repeat;
  width: 16px;
  height: 16293px;
}

.icon-children-sm:hover:before,
.icon-children-sm-hvr:before {
  content: '';
  display: block;
  background-image: url('../svgicon/png-grunticon/children-sm-hvr.png');
  background-repeat: no-repeat;
  width: 16px;
  height: 16293px;
}


.icon-children-sm:before {
  content: '';
  display: block;
  background-image: url('../svgicon/png-grunticon/children-sm.png');
  background-repeat: no-repeat;
  width: 16px;
  height: 16341px;
}


.icon-children:before {
  content: '';
  display: block;
  background-image: url('../svgicon/png-grunticon/children.png');
  background-repeat: no-repeat;
  width: 21px;
  height: 16949px;
}

.icon-close:active:before,.icon-close:hover:active:before,
.icon-close-act:before {
  content: '';
  display: block;
  background-image: url('../svgicon/png-grunticon/close-act.png');
  background-repeat: no-repeat;
  width: 20px;
  height: 5109px;
}

.icon-close:hover:before,
.icon-close-hvr:before {
  content: '';
  display: block;
  background-image: url('../svgicon/png-grunticon/close-hvr.png');
  background-repeat: no-repeat;
  width: 20px;
  height: 5109px;
}


.icon-close:before {
  content: '';
  display: block;
  background-image: url('../svgicon/png-grunticon/close.png');
  background-repeat: no-repeat;
  width: 20px;
  height: 5109px;
}

.icon-collapse.collapsed:before,
.icon-collapse-collapsed:before {
  content: '';
  display: block;
  background-image: url('../svgicon/png-grunticon/collapse-collapsed.png');
  background-repeat: no-repeat;
  width: 16px;
  height: 5877px;
}


.icon-collapse:before {
  content: '';
  display: block;
  background-image: url('../svgicon/png-grunticon/collapse.png');
  background-repeat: no-repeat;
  width: 20px;
  height: 5605px;
}


.icon-cross:before {
  content: '';
  display: block;
  background-image: url('../svgicon/png-grunticon/cross.png');
  background-repeat: no-repeat;
  width: 18px;
  height: 6421px;
}

.comment__dislike:before,
.icon-dislike-sm-gray:before {
  content: '';
  display: block;
  background-image: url('../svgicon/png-grunticon/dislike-sm-gray.png');
  background-repeat: no-repeat;
  width: 19px;
  height: 16021px;
}

.comment__dislike:after,
.icon-dislike-sm-red:before {
  content: '';
  display: block;
  background-image: url('../svgicon/png-grunticon/dislike-sm-red.png');
  background-repeat: no-repeat;
  width: 19px;
  height: 16069px;
}

.comment__dislike:hover:before,
.icon-dislike-sm-white:before {
  content: '';
  display: block;
  background-image: url('../svgicon/png-grunticon/dislike-sm-white.png');
  background-repeat: no-repeat;
  width: 19px;
  height: 16021px;
}

.icon-dropdown-control:hover:before,.selectBox:hover .selectBox-arrow:before,.selectBox:active .selectBox-arrow:before,.selectBox.active .selectBox-arrow:before,
.icon-dropdown-control-act:before {
  content: '';
  display: block;
  background-image: url('../svgicon/png-grunticon/dropdown-control-act.png');
  background-repeat: no-repeat;
  width: 16px;
  height: 4245px;
}

.selectBox-arrow:before,
.icon-dropdown-control:before {
  content: '';
  display: block;
  background-image: url('../svgicon/png-grunticon/dropdown-control.png');
  background-repeat: no-repeat;
  width: 16px;
  height: 4245px;
}

.icon-fav-star:active:before,.icon-fav-star:hover:active:before,.icon-fav-star.active:before,.icon-fav-star.active:hover:before,
.icon-fav-star-act:before {
  content: '';
  display: block;
  background-image: url('../svgicon/png-grunticon/fav-star-act.png');
  background-repeat: no-repeat;
  width: 25px;
  height: 5589px;
}

.icon-fav-star:hover:before,
.icon-fav-star-hvr:before {
  content: '';
  display: block;
  background-image: url('../svgicon/png-grunticon/fav-star-hvr.png');
  background-repeat: no-repeat;
  width: 25px;
  height: 8309px;
}

.icon-fav-star:before,.icon-fav-star.active:active:before,.icon-fav-star.active:hover:active:before,
.icon-fav-star:before {
  content: '';
  display: block;
  background-image: url('../svgicon/png-grunticon/fav-star.png');
  background-repeat: no-repeat;
  width: 25px;
  height: 8261px;
}


.icon-file-detail:before {
  content: '';
  display: block;
  background-image: url('../svgicon/png-grunticon/file-detail.png');
  background-repeat: no-repeat;
  width: 17px;
  height: 8709px;
}


.icon-file-doc:before {
  content: '';
  display: block;
  background-image: url('../svgicon/png-grunticon/file-doc.png');
  background-repeat: no-repeat;
  width: 18px;
  height: 11541px;
}


.icon-file-error:before {
  content: '';
  display: block;
  background-image: url('../svgicon/png-grunticon/file-error.png');
  background-repeat: no-repeat;
  width: 18px;
  height: 9893px;
}


.icon-file-jpg:before {
  content: '';
  display: block;
  background-image: url('../svgicon/png-grunticon/file-jpg.png');
  background-repeat: no-repeat;
  width: 18px;
  height: 10165px;
}


.icon-file-pdf:before {
  content: '';
  display: block;
  background-image: url('../svgicon/png-grunticon/file-pdf.png');
  background-repeat: no-repeat;
  width: 18px;
  height: 9013px;
}


.icon-file-xls:before {
  content: '';
  display: block;
  background-image: url('../svgicon/png-grunticon/file-xls.png');
  background-repeat: no-repeat;
  width: 18px;
  height: 17205px;
}


.icon-headphones:before {
  content: '';
  display: block;
  background-image: url('../svgicon/png-grunticon/headphones.png');
  background-repeat: no-repeat;
  width: 16px;
  height: 8133px;
}

.icon-house-sm.disabled:before,.icon-house-sm.disabled:hover:before,
.icon-house-sm-dis:before {
  content: '';
  display: block;
  background-image: url('../svgicon/png-grunticon/house-sm-dis.png');
  background-repeat: no-repeat;
  width: 16px;
  height: 7541px;
}

.icon-house-sm:hover:before,
.icon-house-sm-hvr:before {
  content: '';
  display: block;
  background-image: url('../svgicon/png-grunticon/house-sm-hvr.png');
  background-repeat: no-repeat;
  width: 16px;
  height: 7541px;
}


.icon-house-sm:before {
  content: '';
  display: block;
  background-image: url('../svgicon/png-grunticon/house-sm.png');
  background-repeat: no-repeat;
  width: 16px;
  height: 7589px;
}


.icon-karma-aside:before {
  content: '';
  display: block;
  background-image: url('../svgicon/png-grunticon/karma-aside.png');
  background-repeat: no-repeat;
  width: 17px;
  height: 8133px;
}


.icon-karma:before {
  content: '';
  display: block;
  background-image: url('../svgicon/png-grunticon/karma.png');
  background-repeat: no-repeat;
  width: 17px;
  height: 8133px;
}


.icon-laurel:before {
  content: '';
  display: block;
  background-image: url('../svgicon/png-grunticon/laurel.png');
  background-repeat: no-repeat;
  width: 60px;
  height: 18405px;
}


.icon-like-big:before {
  content: '';
  display: block;
  background-image: url('../svgicon/png-grunticon/like-big.png');
  background-repeat: no-repeat;
  width: 38px;
  height: 9813px;
}

.rating-like:before,
.icon-like-gray:before {
  content: '';
  display: block;
  background-image: url('../svgicon/png-grunticon/like-gray.png');
  background-repeat: no-repeat;
  width: 24px;
  height: 15301px;
}

.rating-like:after,
.icon-like-green:before {
  content: '';
  display: block;
  background-image: url('../svgicon/png-grunticon/like-green.png');
  background-repeat: no-repeat;
  width: 24px;
  height: 15349px;
}

.comment__like:before,
.icon-like-sm-gray:before {
  content: '';
  display: block;
  background-image: url('../svgicon/png-grunticon/like-sm-gray.png');
  background-repeat: no-repeat;
  width: 20px;
  height: 14805px;
}

.comment__like:after,
.icon-like-sm-green:before {
  content: '';
  display: block;
  background-image: url('../svgicon/png-grunticon/like-sm-green.png');
  background-repeat: no-repeat;
  width: 20px;
  height: 14853px;
}

.comment__like:hover:before,
.icon-like-sm-white:before {
  content: '';
  display: block;
  background-image: url('../svgicon/png-grunticon/like-sm-white.png');
  background-repeat: no-repeat;
  width: 20px;
  height: 14805px;
}


.icon-list:before {
  content: '';
  display: block;
  background-image: url('../svgicon/png-grunticon/list.png');
  background-repeat: no-repeat;
  width: 18px;
  height: 8597px;
}


.icon-location-avto:before {
  content: '';
  display: block;
  background-image: url('../svgicon/png-grunticon/location-avto.png');
  background-repeat: no-repeat;
  width: 43px;
  height: 5173px;
}


.icon-location-map:before {
  content: '';
  display: block;
  background-image: url('../svgicon/png-grunticon/location-map.png');
  background-repeat: no-repeat;
  width: 41px;
  height: 4373px;
}


.icon-location-transport:before {
  content: '';
  display: block;
  background-image: url('../svgicon/png-grunticon/location-transport.png');
  background-repeat: no-repeat;
  width: 31px;
  height: 14133px;
}


.icon-location-wrap:before {
  content: '';
  display: block;
  background-image: url('../svgicon/png-grunticon/location-wrap.png');
  background-repeat: no-repeat;
  width: 16px;
  height: 3205px;
}


.icon-magnifier-gray:before {
  content: '';
  display: block;
  background-image: url('../svgicon/png-grunticon/magnifier-gray.png');
  background-repeat: no-repeat;
  width: 18px;
  height: 6453px;
}


.icon-magnifier:before {
  content: '';
  display: block;
  background-image: url('../svgicon/png-grunticon/magnifier.png');
  background-repeat: no-repeat;
  width: 18px;
  height: 6165px;
}


.icon-map-pointer:before {
  content: '';
  display: block;
  background-image: url('../svgicon/png-grunticon/map-pointer.png');
  background-repeat: no-repeat;
  width: 18px;
  height: 7589px;
}


.icon-metro:before {
  content: '';
  display: block;
  background-image: url('../svgicon/png-grunticon/metro.png');
  background-repeat: no-repeat;
  width: 16px;
  height: 6773px;
}

ul.ul-next li:before,
.icon-next:before {
  content: '';
  display: block;
  background-image: url('../svgicon/png-grunticon/next.png');
  background-repeat: no-repeat;
  width: 16px;
  height: 2901px;
}


.icon-park:before {
  content: '';
  display: block;
  background-image: url('../svgicon/png-grunticon/park.png');
  background-repeat: no-repeat;
  width: 25px;
  height: 14965px;
}


.icon-piggy-bank:before {
  content: '';
  display: block;
  background-image: url('../svgicon/png-grunticon/piggy-bank.png');
  background-repeat: no-repeat;
  width: 24px;
  height: 21061px;
}

.icon-school-sm.disabled:before,.icon-school-sm.disabled:hover:before,
.icon-school-sm-dis:before {
  content: '';
  display: block;
  background-image: url('../svgicon/png-grunticon/school-sm-dis.png');
  background-repeat: no-repeat;
  width: 17px;
  height: 7301px;
}

.icon-school-sm:hover:before,
.icon-school-sm-hvr:before {
  content: '';
  display: block;
  background-image: url('../svgicon/png-grunticon/school-sm-hvr.png');
  background-repeat: no-repeat;
  width: 17px;
  height: 7301px;
}


.icon-school-sm:before {
  content: '';
  display: block;
  background-image: url('../svgicon/png-grunticon/school-sm.png');
  background-repeat: no-repeat;
  width: 17px;
  height: 7349px;
}


.icon-school:before {
  content: '';
  display: block;
  background-image: url('../svgicon/png-grunticon/school.png');
  background-repeat: no-repeat;
  width: 25px;
  height: 7365px;
}

.icon-search-list-sm.disabled:before,.icon-search-list-sm.disabled:hover:before,
.icon-search-list-sm-dis:before {
  content: '';
  display: block;
  background-image: url('../svgicon/png-grunticon/search-list-sm-dis.png');
  background-repeat: no-repeat;
  width: 16px;
  height: 10597px;
}

.icon-search-list-sm:hover:before,
.icon-search-list-sm-hvr:before {
  content: '';
  display: block;
  background-image: url('../svgicon/png-grunticon/search-list-sm-hvr.png');
  background-repeat: no-repeat;
  width: 16px;
  height: 10597px;
}


.icon-search-list-sm:before {
  content: '';
  display: block;
  background-image: url('../svgicon/png-grunticon/search-list-sm.png');
  background-repeat: no-repeat;
  width: 16px;
  height: 10645px;
}

.icon-slick-left:hover:active:before,.slick-prev:hover:active:before,
.icon-slick-left-act:before {
  content: '';
  display: block;
  background-image: url('../svgicon/png-grunticon/slick-left-act.png');
  background-repeat: no-repeat;
  width: 24px;
  height: 8949px;
}

.icon-slick-left:hover:before,.slick-prev:hover:before,
.icon-slick-left-hvr:before {
  content: '';
  display: block;
  background-image: url('../svgicon/png-grunticon/slick-left-hvr.png');
  background-repeat: no-repeat;
  width: 24px;
  height: 8949px;
}

.slick-prev:before,
.icon-slick-left:before {
  content: '';
  display: block;
  background-image: url('../svgicon/png-grunticon/slick-left.png');
  background-repeat: no-repeat;
  width: 24px;
  height: 8949px;
}

.icon-slick-right:hover:active:before,.slick-next:hover:active:before,
.icon-slick-right-act:before {
  content: '';
  display: block;
  background-image: url('../svgicon/png-grunticon/slick-right-act.png');
  background-repeat: no-repeat;
  width: 24px;
  height: 8677px;
}

.icon-slick-right:hover:before,.slick-next:hover:before,
.icon-slick-right-hvr:before {
  content: '';
  display: block;
  background-image: url('../svgicon/png-grunticon/slick-right-hvr.png');
  background-repeat: no-repeat;
  width: 24px;
  height: 8677px;
}

.slick-next:before,
.icon-slick-right:before {
  content: '';
  display: block;
  background-image: url('../svgicon/png-grunticon/slick-right.png');
  background-repeat: no-repeat;
  width: 24px;
  height: 8677px;
}


.icon-speaker:before {
  content: '';
  display: block;
  background-image: url('../svgicon/png-grunticon/speaker.png');
  background-repeat: no-repeat;
  width: 23px;
  height: 9429px;
}

.icon-star.active:before,
.icon-star-act:before {
  content: '';
  display: block;
  background-image: url('../svgicon/png-grunticon/star-act.png');
  background-repeat: no-repeat;
  width: 25px;
  height: 8309px;
}


.icon-star-flag:before {
  content: '';
  display: block;
  background-image: url('../svgicon/png-grunticon/star-flag.png');
  background-repeat: no-repeat;
  width: 28px;
  height: 6453px;
}

.icon-star:hover:before,.icon-star:active:before,
.icon-star-hvr:before {
  content: '';
  display: block;
  background-image: url('../svgicon/png-grunticon/star-hvr.png');
  background-repeat: no-repeat;
  width: 25px;
  height: 8261px;
}


.icon-star:before {
  content: '';
  display: block;
  background-image: url('../svgicon/png-grunticon/star.png');
  background-repeat: no-repeat;
  width: 25px;
  height: 8261px;
}

.icon-arrow-rounded-down:before,
.icon-text-preview-down:before {
  content: '';
  display: block;
  background-image: url('../svgicon/png-grunticon/text-preview-down.png');
  background-repeat: no-repeat;
  width: 17px;
  height: 7765px;
}

.icon-arrow-rounded-up:before,
.icon-text-preview-up:before {
  content: '';
  display: block;
  background-image: url('../svgicon/png-grunticon/text-preview-up.png');
  background-repeat: no-repeat;
  width: 17px;
  height: 7605px;
}


.icon-thumb:before {
  content: '';
  display: block;
  background-image: url('../svgicon/png-grunticon/thumb.png');
  background-repeat: no-repeat;
  width: 16px;
  height: 6613px;
}


.icon-timeline1:before {
  content: '';
  display: block;
  background-image: url('../svgicon/png-grunticon/timeline1.png');
  background-repeat: no-repeat;
  width: 36px;
  height: 4357px;
}


.icon-timeline2:before {
  content: '';
  display: block;
  background-image: url('../svgicon/png-grunticon/timeline2.png');
  background-repeat: no-repeat;
  width: 36px;
  height: 4197px;
}


.icon-timeline3:before {
  content: '';
  display: block;
  background-image: url('../svgicon/png-grunticon/timeline3.png');
  background-repeat: no-repeat;
  width: 36px;
  height: 8357px;
}


.icon-timeline4:before {
  content: '';
  display: block;
  background-image: url('../svgicon/png-grunticon/timeline4.png');
  background-repeat: no-repeat;
  width: 36px;
  height: 7237px;
}


.icon-timeline5:before {
  content: '';
  display: block;
  background-image: url('../svgicon/png-grunticon/timeline5.png');
  background-repeat: no-repeat;
  width: 36px;
  height: 10981px;
}


.icon-timeline6:before {
  content: '';
  display: block;
  background-image: url('../svgicon/png-grunticon/timeline6.png');
  background-repeat: no-repeat;
  width: 36px;
  height: 7925px;
}

.icon-wand-sm.disabled:before,.icon-wand-sm.disabled:hover:before,
.icon-wand-sm-dis:before {
  content: '';
  display: block;
  background-image: url('../svgicon/png-grunticon/wand-sm-dis.png');
  background-repeat: no-repeat;
  width: 16px;
  height: 8437px;
}

.icon-wand-sm:hover:before,
.icon-wand-sm-hvr:before {
  content: '';
  display: block;
  background-image: url('../svgicon/png-grunticon/wand-sm-hvr.png');
  background-repeat: no-repeat;
  width: 16px;
  height: 8437px;
}


.icon-wand-sm:before {
  content: '';
  display: block;
  background-image: url('../svgicon/png-grunticon/wand-sm.png');
  background-repeat: no-repeat;
  width: 16px;
  height: 8485px;
}


.icon-wave:before {
  content: '';
  display: block;
  background-image: url('../svgicon/png-grunticon/wave.png');
  background-repeat: no-repeat;
  width: 16px;
  height: 3541px;
}

