
.icon-arrow-left:before {
  content: '';
  display: block;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M.5%209.7c-.1.2-.1.4%200%20.6v.1s0%20.1.1.1l5.7%207.8c.3.4.8.4%201.1.2.4-.3.4-.7.2-1.1L2.9%2011h15.8c.5%200%20.8-.5.8-1s-.4-1-.8-1H2.9l4.8-6.4c.3-.4.2-.8-.2-1.1-.1-.1-.3-.2-.5-.2-.3%200-.5.1-.7.4L.6%209.5c0%20.1%200%20.1-.1.2.1%200%20.1%200%200%200z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}


.icon-arrow-return-black:before {
  content: '';
  display: block;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2228%22%20viewBox%3D%220%200%2016%2028%22%3E%3Cpath%20clip-rule%3D%22evenodd%22%20stroke%3D%22%23313131%22%20stroke-linecap%3D%22square%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M17%200L1%2014l16%2014%22%20fill%3D%22none%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 16px;
  height: 28px;
}


.icon-arrow-right:before {
  content: '';
  display: block;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M19.4%2010.3c.1-.2.1-.4%200-.6v-.1s0-.1-.1-.1l-5.7-7.8c-.3-.4-.8-.4-1.1-.2-.4.3-.4.7-.2%201.1L17.1%209H1.3c-.5%200-.8.5-.8%201s.4%201%20.8%201h15.8l-4.8%206.5c-.3.4-.2.8.2%201.1.1.1.3.1.5.1.3%200%20.5-.1.7-.3l5.7-7.9v-.2c0%20.1%200%200%200%200z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}


.icon-baby:before {
  content: '';
  display: block;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2227.1%22%20height%3D%2226.3%22%20viewBox%3D%220%200%2027.1%2026.3%22%3E%3Cg%20fill%3D%22%235EA557%22%3E%3Cpath%20d%3D%22M13.7%2013.2c-.1.1-.1.1-.2.1.9-.4.9-.8.6-1.1%200%20.4-.1.7-.4%201zM12.3%2020.8c-1.5%200-2.7%201.2-2.7%202.8s1.2%202.8%202.7%202.8c1.5%200%202.8-1.2%202.8-2.8s-1.3-2.8-2.8-2.8zm0%203.5c-.4%200-.7-.3-.7-.8s.3-.7.7-.7c.4%200%20.8.3.8.7s-.4.8-.8.8zM20.6%2020.8c-1.5%200-2.8%201.2-2.8%202.8s1.2%202.8%202.8%202.8c1.5%200%202.8-1.2%202.8-2.8s-1.3-2.8-2.8-2.8zm0%203.5c-.4%200-.8-.3-.8-.8s.3-.7.8-.7c.4%200%20.8.3.8.7s-.4.8-.8.8zM26.8%209.7c-.2-.2-.4-.3-.7-.3h-8.3L21.7%203c.1-.2.1-.5-.1-.7-.1-.1-1.6-1.1-4-1.5%200-.2-.1-.4-.3-.6-.3-.1-.5-.2-.8-.2-3.6.1-6.7%202-8.4%204.7L5.3%201.5c-.2-.4-.7-.5-1.1-.3L.6%202.6c-.5.2-.7.8-.5%201.3.2.5.8.8%201.3.6l2.9-1.2%202.8%203.4c-.4%201.1-.7%202.3-.7%203.6%200%205.7%204.6%2010.3%2010.3%2010.3C22.3%2020.6%2027%2016%2027%2010.4c.1-.2%200-.5-.2-.7zM17.5%208V1.9c1.5.3%202.5.7%203%201l-3%205.1zm-.7%2010.7c-4.6%200-8.3-3.7-8.3-8.3%200-.6.1-1.2.2-1.8l3.7%204.5c-1.1-1.4%201-1.4%201.7-.8%200-.2-.1-.3-.2-.5L9.4%206.4c1.2-2.3%203.4-3.9%206.1-4.3v8.4c0%20.6.4%201%201%201H25c-.5%204-4%207.2-8.2%207.2z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 27.1px;
  height: 26.3px;
}


.icon-bag:before {
  content: '';
  display: block;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2223.2%22%20height%3D%2223.2%22%20viewBox%3D%220%200%2023.2%2023.2%22%3E%3Cpath%20fill%3D%22%236EAB55%22%20d%3D%22M23.1%2020l-1.8-10c-.3-1.6-1.6-2.8-3.1-2.8h-2V4.8c0-2.6-2.1-4.8-4.8-4.8S6.8%202.1%206.8%204.8v2.4H4.9c-1.4%200-2.8%201.2-3.1%202.8L0%2020c-.1.8%200%201.6.5%202.2.5.7%201.4%201%202.3%201h17.3c.9%200%201.8-.4%202.3-1%20.7-.7.9-1.4.7-2.2zM8.8%204.8C8.8%203.2%2010%202%2011.5%202c1.5%200%202.8%201.2%202.8%202.8v2.4H8.8V4.8zm12.3%2016.1c-.2.2-.5.3-.8.3H2.9c-.3%200-.6-.1-.8-.3-.1-.2-.1-.3-.1-.6l1.8-10c.1-.7.7-1.2%201.1-1.2h1.8v2.1c0%20.6.4%201%201%201s1-.4%201-1v-2h5.5v2.1c0%20.6.4%201%201%201s1-.4%201-1V9.2h2c.4%200%201%20.5%201.1%201.2l1.8%2010c.1.2.1.3%200%20.5z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 23.2px;
  height: 23.2px;
}


.icon-calc:before {
  content: '';
  display: block;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2217%22%20height%3D%2223.4%22%20viewBox%3D%220%200%2017%2023.4%22%3E%3Cpath%20fill%3D%22%235EA557%22%20d%3D%22M14.6%2023.4H2.4C1.1%2023.4%200%2022.3%200%2021V2.4C0%201.1%201.1%200%202.4%200h12.2C15.9%200%2017%201.1%2017%202.4V21c0%201.3-1.1%202.4-2.4%202.4zM2.4%202c-.2%200-.4.2-.4.4V21c0%20.2.2.4.4.4h12.2c.2%200%20.4-.2.4-.4V2.4c0-.2-.2-.4-.4-.4H2.4zM12.9%207H4.2V5h8.7v2zM6.5%2011.4H4.2v-2h2.3v2zM9.7%2011.4H7.4v-2h2.3v2zM12.9%2011.4h-2.3v-2h2.3v2zM6.5%2014.3H4.2v-2h2.3v2zM9.7%2014.3H7.4v-2h2.3v2zM12.9%2014.3h-2.3v-2h2.3v2zM6.5%2017.2H4.2v-2h2.3v2zM9.7%2017.2H7.4v-2h2.3v2zM12.9%2017.2h-2.3v-2h2.3v2z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 17px;
  height: 23.4px;
}


.icon-cart:before {
  content: '';
  display: block;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2225.4%22%20height%3D%2221%22%20viewBox%3D%220%200%2025.4%2021%22%3E%3Cg%20fill%3D%22%236EAB55%22%3E%3Cpath%20d%3D%22M25.2%204.2c-.2-.2-.5-.4-.8-.4H6.6L5.8.9C5.7.5%205.3.2%204.9.2L1%200C.5%200%200%20.4%200%201s.4%201%201%201l3.1.1.7%202.9v.1l2.6%209.3c0%20.1.1.2.1.3l.1.1.1.1s.1.1.2.1H8c.1%200%20.2.1.3.1h13.4c.4%200%20.8-.3%201-.7L25.3%205c.1-.3%200-.6-.1-.8zM21%2013.1H9.1l-2-7.3H23l-2%207.3zM10.8%2015.5c-1.5%200-2.8%201.2-2.8%202.7%200%201.5%201.2%202.8%202.8%202.8%201.5%200%202.8-1.2%202.8-2.8-.1-1.5-1.3-2.7-2.8-2.7zm0%203.5c-.4%200-.8-.3-.8-.8%200-.4.3-.8.8-.8.4%200%20.8.3.8.8-.1.5-.4.8-.8.8zM19.1%2015.5c-1.5%200-2.8%201.2-2.8%202.7%200%201.5%201.2%202.8%202.8%202.8%201.5%200%202.7-1.2%202.7-2.8%200-1.5-1.2-2.7-2.7-2.7zm0%203.5c-.4%200-.8-.3-.8-.8%200-.4.3-.8.8-.8.4%200%20.8.3.8.8-.1.5-.4.8-.8.8z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 25.4px;
  height: 21px;
}


.icon-chat:before {
  content: '';
  display: block;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2223.2%22%20height%3D%2221.1%22%20viewBox%3D%220%200%2023.2%2021.1%22%3E%3Cpath%20fill%3D%22%235EA557%22%20d%3D%22M18.6%2021.1h.9c.4%200%20.8-.4.9-.8.1-.4-.1-.9-.5-1.1-.9-.4-1.6-1-2.2-1.7%203.5-1.7%205.6-4.7%205.6-8C23.2%204.2%2018%200%2011.6%200%205.2%200%200%204.2%200%209.4s5.2%209.4%2011.6%209.4h.5c1.6%201.4%203.9%202.3%206.5%202.3zM11.6%202c5.3%200%209.6%203.3%209.6%207.4%200%202.8-2.1%205.4-5.4%206.6-.3.1-.5.3-.6.6-.1.3-.1.6%200%20.8l.1.1c.1.1.1.3.2.4l.6.9c-1.1-.4-2.1-1-2.9-1.8-.2-.2-.5-.3-.8-.3h-.8C6.3%2016.8%202%2013.4%202%209.4%202%205.3%206.3%202%2011.6%202z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 23.2px;
  height: 21.1px;
}

.icon-children-sm.disabled:before,.icon-children-sm.disabled:hover:before,
.icon-children-sm-dis:before {
  content: '';
  display: block;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2213%22%20height%3D%2215%22%20viewBox%3D%220%200%2013%2015%22%3E%3Cg%20fill%3D%22%23999%22%3E%3Cpath%20d%3D%22M6.5%205.1C7.9%205.1%209%203.9%209%202.5%209%201.1%207.9%200%206.5%200S4%201.1%204%202.5s1.1%202.6%202.5%202.6zm0-3.8c.7%200%201.3.6%201.3%201.3%200%20.7-.6%201.3-1.3%201.3-.7%200-1.3-.6-1.3-1.3.1-.8.6-1.3%201.3-1.3zM13%203.9c.1-.5%200-.9-.2-1.3-.3-.4-.6-.7-1.1-.8-.5-.1-.9%200-1.3.2-.5.3-.8.7-.9%201.1-.3%201.5-1.5%202.4-3%202.4s-2.7-1-3-2.4c-.1-.4-.4-.8-.8-1.1-.4-.2-.9-.3-1.3-.2C.4%202-.2%203%200%203.9c.5%202%201.8%203.7%203.7%204.5v.1c-1.2.9-2.1%202.5-2.4%204.3-.2%201%20.5%201.9%201.5%202%201%20.2%201.9-.5%202-1.5.1-.4.2-.7.3-1H8c.1.3.2.6.3%201%200%201%20.8%201.7%201.7%201.7h.3c1-.2%201.6-1.1%201.5-2-.3-1.8-1.2-3.3-2.4-4.3v-.2c1.8-.9%203.1-2.6%203.6-4.6zM3%2013.7c-.3%200-.5-.3-.4-.6.2-1%20.6-1.9%201.1-2.7v.3c0%20.4.1.7.3%201-.2.4-.4.9-.5%201.5%200%20.3-.2.5-.5.5zm2.5-2.4c-.3%200-.5-.3-.5-.6V9.5h3.1v1.2c0%20.3-.2.5-.5.5H5.5zm5%201.8c0%20.3-.1.5-.4.6-.3%200-.5-.1-.6-.4-.1-.5-.3-1-.5-1.5.2-.3.3-.7.3-1v-.3c.6.6%201%201.6%201.2%202.6zm-2-5.6c-.3.1-.4.3-.4.6v.2H5v-.2c0-.3-.2-.5-.4-.6-1.7-.7-2.9-2.1-3.3-3.9-.1-.2.1-.5.4-.6.1%200%20.2%200%20.3.1.1.1.2.2.2.3.5%202%202.2%203.4%204.2%203.4s3.8-1.4%204.2-3.4c0-.1.1-.2.2-.3.3-.1.4-.1.6-.1.1%200%20.2.1.3.2.1.1.1.2.1.4-.5%201.8-1.7%203.2-3.3%203.9z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 13px;
  height: 15px;
}

.icon-children-sm:hover:before,
.icon-children-sm-hvr:before {
  content: '';
  display: block;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2213%22%20height%3D%2215%22%20viewBox%3D%220%200%2013%2015%22%3E%3Cg%20fill%3D%22%23fff%22%3E%3Cpath%20d%3D%22M6.5%205.1C7.9%205.1%209%203.9%209%202.5%209%201.1%207.9%200%206.5%200S4%201.1%204%202.5s1.1%202.6%202.5%202.6zm0-3.8c.7%200%201.3.6%201.3%201.3%200%20.7-.6%201.3-1.3%201.3-.7%200-1.3-.6-1.3-1.3.1-.8.6-1.3%201.3-1.3zM13%203.9c.1-.5%200-.9-.2-1.3-.3-.4-.6-.7-1.1-.8-.5-.1-.9%200-1.3.2-.5.3-.8.7-.9%201.1-.3%201.5-1.5%202.4-3%202.4s-2.7-1-3-2.4c-.1-.4-.4-.8-.8-1.1-.4-.2-.9-.3-1.3-.2C.4%202-.2%203%200%203.9c.5%202%201.8%203.7%203.7%204.5v.1c-1.2.9-2.1%202.5-2.4%204.3-.2%201%20.5%201.9%201.5%202%201%20.2%201.9-.5%202-1.5.1-.4.2-.7.3-1H8c.1.3.2.6.3%201%200%201%20.8%201.7%201.7%201.7h.3c1-.2%201.6-1.1%201.5-2-.3-1.8-1.2-3.3-2.4-4.3v-.2c1.8-.9%203.1-2.6%203.6-4.6zM3%2013.7c-.3%200-.5-.3-.4-.6.2-1%20.6-1.9%201.1-2.7v.3c0%20.4.1.7.3%201-.2.4-.4.9-.5%201.5%200%20.3-.2.5-.5.5zm2.5-2.4c-.3%200-.5-.3-.5-.6V9.5h3.1v1.2c0%20.3-.2.5-.5.5H5.5zm5%201.8c0%20.3-.1.5-.4.6-.3%200-.5-.1-.6-.4-.1-.5-.3-1-.5-1.5.2-.3.3-.7.3-1v-.3c.6.6%201%201.6%201.2%202.6zm-2-5.6c-.3.1-.4.3-.4.6v.2H5v-.2c0-.3-.2-.5-.4-.6-1.7-.7-2.9-2.1-3.3-3.9-.1-.2.1-.5.4-.6.1%200%20.2%200%20.3.1.1.1.2.2.2.3.5%202%202.2%203.4%204.2%203.4s3.8-1.4%204.2-3.4c0-.1.1-.2.2-.3.3-.1.4-.1.6-.1.1%200%20.2.1.3.2.1.1.1.2.1.4-.5%201.8-1.7%203.2-3.3%203.9z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 13px;
  height: 15px;
}


.icon-children-sm:before {
  content: '';
  display: block;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2213%22%20height%3D%2215%22%20viewBox%3D%220%200%2013%2015%22%3E%3Cg%20fill%3D%22%235EA557%22%3E%3Cpath%20d%3D%22M6.5%205.1C7.9%205.1%209%203.9%209%202.5%209%201.1%207.9%200%206.5%200S4%201.1%204%202.5s1.1%202.6%202.5%202.6zm0-3.8c.7%200%201.3.6%201.3%201.3%200%20.7-.6%201.3-1.3%201.3-.7%200-1.3-.6-1.3-1.3.1-.8.6-1.3%201.3-1.3zM13%203.9c.1-.5%200-.9-.2-1.3-.3-.4-.6-.7-1.1-.8-.5-.1-.9%200-1.3.2-.5.3-.8.7-.9%201.1-.3%201.5-1.5%202.4-3%202.4s-2.7-1-3-2.4c-.1-.4-.4-.8-.8-1.1-.4-.2-.9-.3-1.3-.2C.4%202-.2%203%200%203.9c.5%202%201.8%203.7%203.7%204.5v.1c-1.2.9-2.1%202.5-2.4%204.3-.2%201%20.5%201.9%201.5%202%201%20.2%201.9-.5%202-1.5.1-.4.2-.7.3-1H8c.1.3.2.6.3%201%200%201%20.8%201.7%201.7%201.7h.3c1-.2%201.6-1.1%201.5-2-.3-1.8-1.2-3.3-2.4-4.3v-.2c1.8-.9%203.1-2.6%203.6-4.6zM3%2013.7c-.3%200-.5-.3-.4-.6.2-1%20.6-1.9%201.1-2.7v.3c0%20.4.1.7.3%201-.2.4-.4.9-.5%201.5%200%20.3-.2.5-.5.5zm2.5-2.4c-.3%200-.5-.3-.5-.6V9.5h3.1v1.2c0%20.3-.2.5-.5.5H5.5zm5%201.8c0%20.3-.1.5-.4.6-.3%200-.5-.1-.6-.4-.1-.5-.3-1-.5-1.5.2-.3.3-.7.3-1v-.3c.6.6%201%201.6%201.2%202.6zm-2-5.6c-.3.1-.4.3-.4.6v.2H5v-.2c0-.3-.2-.5-.4-.6-1.7-.7-2.9-2.1-3.3-3.9-.1-.2.1-.5.4-.6.1%200%20.2%200%20.3.1.1.1.2.2.2.3.5%202%202.2%203.4%204.2%203.4s3.8-1.4%204.2-3.4c0-.1.1-.2.2-.3.3-.1.4-.1.6-.1.1%200%20.2.1.3.2.1.1.1.2.1.4-.5%201.8-1.7%203.2-3.3%203.9z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 13px;
  height: 15px;
}


.icon-children:before {
  content: '';
  display: block;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220.5%22%20height%3D%2223.5%22%20viewBox%3D%220%200%2020.5%2023.5%22%3E%3Cg%20fill%3D%22%236EAB55%22%3E%3Cpath%20d%3D%22M10.3%208c2.2%200%204-1.8%204-4s-1.8-4-4-4-4%201.8-4%204%201.8%204%204%204zm0-6c1.1%200%202%20.9%202%202s-.9%202-2%202-2-.9-2-2%20.9-2%202-2zM20.4%206.2c.2-.7%200-1.5-.4-2.1-.4-.6-1-1.1-1.7-1.2-.7-.2-1.5%200-2.1.4-.6.4-1.1%201-1.2%201.8-.5%202.2-2.4%203.8-4.7%203.8C8%208.7%206%207.2%205.5%204.9c-.1-.7-.6-1.3-1.2-1.7-.6-.4-1.4-.5-2.1-.4C.7%203.2-.3%204.7.1%206.2c.7%203.2%202.8%205.8%205.8%207.2v.2c-1.9%201.5-3.3%203.9-3.8%206.7-.3%201.5.8%203%202.3%203.2%201.5.2%203-.8%203.2-2.3.1-.6.3-1.1.5-1.5.2%200%20.4.1.6.1H12c.2%200%20.4%200%20.6-.1.2.5.4%201%20.5%201.5.2%201.4%201.4%202.3%202.8%202.3h.5c1.5-.3%202.6-1.7%202.3-3.2-.5-2.8-1.8-5.3-3.8-6.7v-.2c2.7-1.4%204.8-4%205.5-7.2zM4.7%2021.5c-.4%200-.7-.5-.7-.9.3-1.6.9-3.1%201.8-4.2v.6c0%20.6.2%201.2.5%201.6-.3.6-.5%201.4-.7%202.3-.1.4-.5.7-.9.6zm3.9-3.8c-.4%200-.8-.4-.8-.8V15h4.9v1.9c0%20.4-.4.8-.8.8H8.6zm7.9%202.9c.1.4-.2.8-.7.9-.4.1-.9-.2-.9-.7-.1-.8-.4-1.6-.7-2.3.3-.5.5-1%20.5-1.6v-.6c.9%201.2%201.5%202.7%201.8%204.3zm-3.2-8.9c-.4.1-.6.5-.6.9v.4H7.8v-.3c0-.4-.3-.8-.6-.9-2.6-1-4.5-3.3-5.2-6-.1-.4.2-.9.6-1%20.2%200%20.4%200%20.6.1.2.1.3.3.4.5.7%203.1%203.5%205.3%206.7%205.3s6-2.2%206.7-5.3c0-.2.2-.4.4-.5.2-.1.4-.1.6-.1.2%200%20.4.2.5.4.1.2.2.4.1.6-.7%202.7-2.7%204.9-5.3%205.9z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 20.5px;
  height: 23.5px;
}

.icon-close:active:before,.icon-close:hover:active:before,
.icon-close-act:before {
  content: '';
  display: block;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%3E%3Cpath%20fill%3D%22%23509A00%22%20d%3D%22M11.7%209.9L19.6%202c.4-.4.4-1.2%200-1.6-.4-.4-1.2-.4-1.6%200l-7.9%207.9-8-8C1.7-.1%201-.1.5.3.1.7.1%201.5.5%201.9l7.9%207.9-7.9%207.9c-.4.4-.4%201.2%200%201.6.2.2.5.3.8.3.3%200%20.6-.1.8-.3l7.9-7.9%207.9%207.9c.2.2.5.3.8.3.3%200%20.6-.1.8-.3.4-.4.4-1.2%200-1.6l-7.8-7.8z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

.icon-close:hover:before,
.icon-close-hvr:before {
  content: '';
  display: block;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%3E%3Cpath%20fill%3D%22%236BCD00%22%20d%3D%22M11.7%209.9L19.6%202c.4-.4.4-1.2%200-1.6-.4-.4-1.2-.4-1.6%200l-7.9%207.9-8-8C1.7-.1%201-.1.5.3.1.7.1%201.5.5%201.9l7.9%207.9-7.9%207.9c-.4.4-.4%201.2%200%201.6.2.2.5.3.8.3.3%200%20.6-.1.8-.3l7.9-7.9%207.9%207.9c.2.2.5.3.8.3.3%200%20.6-.1.8-.3.4-.4.4-1.2%200-1.6l-7.8-7.8z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}


.icon-close:before {
  content: '';
  display: block;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%3E%3Cpath%20fill%3D%22%2359AB00%22%20d%3D%22M11.7%209.9L19.6%202c.4-.4.4-1.2%200-1.6-.4-.4-1.2-.4-1.6%200l-7.9%207.9-8-8C1.7-.1%201-.1.5.3.1.7.1%201.5.5%201.9l7.9%207.9-7.9%207.9c-.4.4-.4%201.2%200%201.6.2.2.5.3.8.3.3%200%20.6-.1.8-.3l7.9-7.9%207.9%207.9c.2.2.5.3.8.3.3%200%20.6-.1.8-.3.4-.4.4-1.2%200-1.6l-7.8-7.8z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

.icon-collapse.collapsed:before,
.icon-collapse-collapsed:before {
  content: '';
  display: block;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2220%22%20viewBox%3D%220%200%2011.7%2019.9%22%20enable-background%3D%22new%200%200%2011.7%2019.9%22%3E%3Cpath%20fill%3D%22%235EA557%22%20d%3D%22M1.5%2019.9c-.9%200-1.5-.6-1.5-1.4v-17C0%20.6.6%200%201.5%200c.7%200%201.7.4%202.2.9L11%208.2c.5.5.7%201.1.7%201.7%200%20.7-.3%201.3-.7%201.7L3.7%2019c-.5.5-1.5.9-2.2.9zm-.1-1.5c.1.1.1.1%200%200%20.4%200%201-.2%201.2-.5l7.3-7.3c.2-.2.3-.4.3-.7%200-.3-.1-.5-.3-.7L2.7%202c-.3-.3-.9-.6-1.2-.6l-.1%2017z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 12px;
  height: 20px;
}


.icon-collapse:before {
  content: '';
  display: block;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2212%22%20viewBox%3D%220%200%2019.9%2011.7%22%20enable-background%3D%22new%200%200%2019.9%2011.7%22%3E%3Cpath%20fill%3D%22%235EA557%22%20d%3D%22M0%201.5C0%20.6.6%200%201.4%200h17c.9%200%201.4.6%201.4%201.5%200%20.7-.4%201.7-.9%202.2L11.7%2011c-.5.5-1.1.7-1.7.7-.7%200-1.3-.3-1.7-.7L.9%203.7C.4%203.2%200%202.2%200%201.5zm1.4-.1c0%20.1%200%20.1%200%200%200%20.4.2%201%20.5%201.2L9.2%2010c.2.2.4.3.7.3.3%200%20.5-.1.7-.3l7.3-7.3c.3-.3.5-.8.5-1.2l-17-.1z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 20px;
  height: 12px;
}


.icon-cross:before {
  content: '';
  display: block;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2225.6%22%20viewBox%3D%220%200%2018%2025.6%22%3E%3Cpath%20fill%3D%22%236EAB55%22%20d%3D%22M11.6%2025.6H6.4c-.4%200-.8-.3-.8-.8V12.4H.8c-.5%200-.8-.4-.8-.8V6.4c0-.4.3-.8.8-.8h4.8V.8c0-.5.3-.8.8-.8h5.2c.4%200%20.8.3.8.8v4.8h4.8c.4%200%20.8.3.8.8v5.2c0%20.4-.3.8-.8.8h-4.8v12.4c0%20.4-.4.8-.8.8zM7.1%2024h3.7V11.6c0-.4.3-.8.8-.8h4.8V7.1h-4.8c-.4%200-.8-.3-.8-.8V1.5H7.1v4.8c0%20.4-.3.8-.8.8H1.5v3.7h4.8c.4%200%20.8.3.8.8V24z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 18px;
  height: 25.6px;
}

.comment__dislike:before,
.icon-dislike-sm-gray:before {
  content: '';
  display: block;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2219.4%22%20height%3D%2217.5%22%20viewBox%3D%220%200%2019.4%2017.5%22%3E%3Cpath%20fill%3D%22%23ccc%22%20d%3D%22M19.3%206.4c-.2-.6-.5-1.1-1-1.4%200-.2-.1-.4-.1-.6-.2-.6-.7-1.1-1.3-1.4-.3-.8-.9-1.4-1.7-1.6%200-.1-.1-.1-.1-.2-.2-.3-.7-.7-1.6-.7-.3%200-.7.1-1.1.2l-.6.3c-.5.2-1.2.5-2%20.8l-1.3.5c-.4.1-.7.2-1.1.3-.1.1-.3.1-.4.2V.9c0-.5-.4-.9-.9-.9H.8C.4%200%200%20.4%200%20.9v10.6c0%20.5.4.8.8.8h5.3c.2%200%20.4-.1.6-.2.1-.1.2-.3.2-.5%201.2.7%202.7%201.6%203.4%202.3.7%201.1.9%202.5%201%202.6%200%20.3.3%201.1%201.6%201.1.4%200%20.8-.1.9-.1.4-.1.8-.4%201-.9.5-.9.4-2.3-.2-3.9l-.3-.6c-.1-.1-.1-.2-.2-.3-.1-.2-.1-.3-.2-.5.3-.3%201.3-.7%203-1.2l.4-.1c.7-.2%201.3-.7%201.7-1.3.4-.9.5-1.6.3-2.3zM1.7%2010.6V1.7h3.6v1.8c0%20.1-.1.2-.1.3v6.4c0%20.1%200%20.2.1.3v.1H1.7zm15.9-2.9c-.1.3-.4.4-.6.5l-.4.1c-3.5%201.1-4%201.9-4.1%202.2-.2.3-.2.6-.1.9l.3.9c.1.1.1.3.2.4.1.2.2.3.2.5.6%201.5.4%202.4.3%202.6H13c-.1-.6-.5-1.9-1.2-3l-.1-.1c-1-1-3.1-2.3-4.6-3V4.5c.3-.1.6-.1.9-.2.3-.2.7-.3%201.2-.5l1.2-.5c.8-.3%201.6-.6%202.1-.8.1-.1.3-.1.4-.2.4-.1.8-.1.8-.1.1.1.1.1.1.2.2.4.5.6.8.6.3%200%20.6.2.7.5v.2c0%20.4.3.6.6.7.3.1.5.2.6.5%200%20.1.1.2%200%20.4%200%20.4.1.7.5.9.3.1.5.4.6.7.2.2.1.5%200%20.8z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 19.4px;
  height: 17.5px;
}

.comment__dislike:after,
.icon-dislike-sm-red:before {
  content: '';
  display: block;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2219.4%22%20height%3D%2217.5%22%20viewBox%3D%220%200%2019.4%2017.5%22%3E%3Cpath%20fill%3D%22%23E14E4F%22%20d%3D%22M19.3%206.4c-.2-.6-.5-1.1-1-1.4%200-.2-.1-.4-.1-.6-.2-.6-.7-1.1-1.3-1.4-.3-.8-.9-1.4-1.7-1.6%200-.1-.1-.1-.1-.2-.2-.3-.7-.7-1.6-.7-.3%200-.7.1-1.1.2l-.6.3c-.5.2-1.2.5-2%20.8l-1.3.5c-.4.1-.7.2-1.1.3-.1.1-.3.1-.4.2V.9c0-.5-.4-.9-.9-.9H.8C.4%200%200%20.4%200%20.9v10.6c0%20.5.4.8.8.8h5.3c.2%200%20.4-.1.6-.2.1-.1.2-.3.2-.5%201.2.7%202.7%201.6%203.4%202.3.7%201.1.9%202.5%201%202.6%200%20.3.3%201.1%201.6%201.1.4%200%20.8-.1.9-.1.4-.1.8-.4%201-.9.5-.9.4-2.3-.2-3.9l-.3-.6c-.1-.1-.1-.2-.2-.3-.1-.2-.1-.3-.2-.5.3-.3%201.3-.7%203-1.2l.4-.1c.7-.2%201.3-.7%201.7-1.3.4-.9.5-1.6.3-2.3zM1.7%2010.6V1.7h3.6v1.8c0%20.1-.1.2-.1.3v6.4c0%20.1%200%20.2.1.3v.1H1.7zm15.9-2.9c-.1.3-.4.4-.6.5l-.4.1c-3.5%201.1-4%201.9-4.1%202.2-.2.3-.2.6-.1.9l.3.9c.1.1.1.3.2.4.1.2.2.3.2.5.6%201.5.4%202.4.3%202.6H13c-.1-.6-.5-1.9-1.2-3l-.1-.1c-1-1-3.1-2.3-4.6-3V4.5c.3-.1.6-.1.9-.2.3-.2.7-.3%201.2-.5l1.2-.5c.8-.3%201.6-.6%202.1-.8.1-.1.3-.1.4-.2.4-.1.8-.1.8-.1.1.1.1.1.1.2.2.4.5.6.8.6.3%200%20.6.2.7.5v.2c0%20.4.3.6.6.7.3.1.5.2.6.5%200%20.1.1.2%200%20.4%200%20.4.1.7.5.9.3.1.5.4.6.7.2.2.1.5%200%20.8z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 19.4px;
  height: 17.5px;
}

.comment__dislike:hover:before,
.icon-dislike-sm-white:before {
  content: '';
  display: block;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2219.4%22%20height%3D%2217.5%22%20viewBox%3D%220%200%2019.4%2017.5%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M19.3%206.4c-.2-.6-.5-1.1-1-1.4%200-.2-.1-.4-.1-.6-.2-.6-.7-1.1-1.3-1.4-.3-.8-.9-1.4-1.7-1.6%200-.1-.1-.1-.1-.2-.2-.3-.7-.7-1.6-.7-.3%200-.7.1-1.1.2l-.6.3c-.5.2-1.2.5-2%20.8l-1.3.5c-.4.1-.7.2-1.1.3-.1.1-.3.1-.4.2V.9c0-.5-.4-.9-.9-.9H.8C.4%200%200%20.4%200%20.9v10.6c0%20.5.4.8.8.8h5.3c.2%200%20.4-.1.6-.2.1-.1.2-.3.2-.5%201.2.7%202.7%201.6%203.4%202.3.7%201.1.9%202.5%201%202.6%200%20.3.3%201.1%201.6%201.1.4%200%20.8-.1.9-.1.4-.1.8-.4%201-.9.5-.9.4-2.3-.2-3.9l-.3-.6c-.1-.1-.1-.2-.2-.3-.1-.2-.1-.3-.2-.5.3-.3%201.3-.7%203-1.2l.4-.1c.7-.2%201.3-.7%201.7-1.3.4-.9.5-1.6.3-2.3zM1.7%2010.6V1.7h3.6v1.8c0%20.1-.1.2-.1.3v6.4c0%20.1%200%20.2.1.3v.1H1.7zm15.9-2.9c-.1.3-.4.4-.6.5l-.4.1c-3.5%201.1-4%201.9-4.1%202.2-.2.3-.2.6-.1.9l.3.9c.1.1.1.3.2.4.1.2.2.3.2.5.6%201.5.4%202.4.3%202.6H13c-.1-.6-.5-1.9-1.2-3l-.1-.1c-1-1-3.1-2.3-4.6-3V4.5c.3-.1.6-.1.9-.2.3-.2.7-.3%201.2-.5l1.2-.5c.8-.3%201.6-.6%202.1-.8.1-.1.3-.1.4-.2.4-.1.8-.1.8-.1.1.1.1.1.1.2.2.4.5.6.8.6.3%200%20.6.2.7.5v.2c0%20.4.3.6.6.7.3.1.5.2.6.5%200%20.1.1.2%200%20.4%200%20.4.1.7.5.9.3.1.5.4.6.7.2.2.1.5%200%20.8z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 19.4px;
  height: 17.5px;
}

.icon-dropdown-control:hover:before,.selectBox:hover .selectBox-arrow:before,.selectBox:active .selectBox-arrow:before,.selectBox.active .selectBox-arrow:before,
.icon-dropdown-control-act:before {
  content: '';
  display: block;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2211.7%22%20height%3D%227%22%20viewBox%3D%220%200%2011.7%206.8%22%20enable-background%3D%22new%200%200%2011.7%206.8%22%3E%3Cpath%20fill%3D%22%235EA557%22%20d%3D%22M5.8%206.8c-.3%200-.5-.1-.7-.3L.3%201.7C-.1%201.3-.1.7.3.3c.4-.4%201-.4%201.4%200l4.1%204.1L10%20.3c.4-.4%201-.4%201.4%200%20.4.4.4%201%200%201.4L6.5%206.5c-.1.2-.4.3-.7.3z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 11.7px;
  height: 7px;
}

.selectBox-arrow:before,
.icon-dropdown-control:before {
  content: '';
  display: block;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2211.7%22%20height%3D%227%22%20viewBox%3D%220%200%2011.7%206.8%22%20enable-background%3D%22new%200%200%2011.7%206.8%22%3E%3Cpath%20fill%3D%22%23989999%22%20d%3D%22M5.8%206.8c-.3%200-.5-.1-.7-.3L.3%201.7C-.1%201.3-.1.7.3.3c.4-.4%201-.4%201.4%200l4.1%204.1L10%20.3c.4-.4%201-.4%201.4%200%20.4.4.4%201%200%201.4L6.5%206.5c-.1.2-.4.3-.7.3z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 11.7px;
  height: 7px;
}

.icon-fav-star:active:before,.icon-fav-star:hover:active:before,.icon-fav-star.active:before,.icon-fav-star.active:hover:before,
.icon-fav-star-act:before {
  content: '';
  display: block;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2225.3%22%20height%3D%2224.1%22%20viewBox%3D%220%200%2025.3%2024.1%22%3E%3Cpath%20fill%3D%22%235EA557%22%20d%3D%22M19.8%2024.1c-.2%200-.4-.1-.6-.2l-6.6-4.8L6%2023.9c-.4.3-.8.3-1.2%200-.3-.3-.5-.7-.4-1.1L7%2015.1.4%2010.3C.1%2010-.1%209.6%200%209.1c.1-.4.5-.7%201-.7h8.2L11.7.6c.1-.4.5-.7%201-.7.4%200%20.8.3%201%20.7l2.5%207.8h8.2c.4%200%20.8.3%201%20.7.1.4%200%20.9-.4%201.1L18.4%2015l2.5%207.8c.1.4%200%20.9-.4%201.1-.3.2-.5.2-.7.2z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 25.3px;
  height: 24.1px;
}

.icon-fav-star:hover:before,
.icon-fav-star-hvr:before {
  content: '';
  display: block;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2225.3%22%20height%3D%2224.1%22%20viewBox%3D%220%200%2025.3%2024.1%22%3E%3Cpath%20fill%3D%22%235EA557%22%20d%3D%22M19.8%2024.1c-.2%200-.4-.1-.6-.2l-6.6-4.8L6%2023.9c-.4.3-.8.3-1.2%200-.3-.3-.5-.7-.4-1.1L7%2015.1.4%2010.3C.1%2010-.1%209.6%200%209.1c.1-.4.5-.7%201-.7h8.2L11.7.6c.1-.4.5-.7%201-.7.4%200%20.8.3%201%20.7l2.5%207.8h8.2c.4%200%20.8.3%201%20.7.1.4%200%20.9-.4%201.1L18.4%2015l2.5%207.8c.1.4%200%20.9-.4%201.1-.3.2-.5.2-.7.2zm-7.2-7.2c.2%200%20.4.1.6.2l4.7%203.4-1.8-5.5c-.1-.4%200-.9.4-1.1l4.7-3.4h-5.8c-.4%200-.8-.3-1-.7l-1.8-5.5-1.8%205.5c-.1.4-.5.7-1%20.7H4.1l4.7%203.4c.4.3.5.7.4%201.1l-1.8%205.5%204.7-3.4c.1-.1.3-.2.5-.2z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 25.3px;
  height: 24.1px;
}

.icon-fav-star:before,.icon-fav-star.active:active:before,.icon-fav-star.active:hover:active:before,
.icon-fav-star:before {
  content: '';
  display: block;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2225.3%22%20height%3D%2224.1%22%20viewBox%3D%220%200%2025.3%2024.1%22%3E%3Cpath%20fill%3D%22%23ccc%22%20d%3D%22M19.8%2024.1c-.2%200-.4-.1-.6-.2l-6.6-4.8L6%2023.9c-.4.3-.8.3-1.2%200-.3-.3-.5-.7-.4-1.1L7%2015.1.4%2010.3C.1%2010-.1%209.6%200%209.1c.1-.4.5-.7%201-.7h8.2L11.7.6c.1-.4.5-.7%201-.7.4%200%20.8.3%201%20.7l2.5%207.8h8.2c.4%200%20.8.3%201%20.7.1.4%200%20.9-.4%201.1L18.4%2015l2.5%207.8c.1.4%200%20.9-.4%201.1-.3.2-.5.2-.7.2zm-7.2-7.2c.2%200%20.4.1.6.2l4.7%203.4-1.8-5.5c-.1-.4%200-.9.4-1.1l4.7-3.4h-5.8c-.4%200-.8-.3-1-.7l-1.8-5.5-1.8%205.5c-.1.4-.5.7-1%20.7H4.1l4.7%203.4c.4.3.5.7.4%201.1l-1.8%205.5%204.7-3.4c.1-.1.3-.2.5-.2z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 25.3px;
  height: 24.1px;
}


.icon-file-detail:before {
  content: '';
  display: block;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216.5%22%20height%3D%2215.8%22%20viewBox%3D%220%200%2016.5%2015.8%22%3E%3Cpath%20fill%3D%22%235EA557%22%20d%3D%22M16.3%2012.9l-2.2-2.2c.7-.8%201.1-1.9%201.1-3%200-1.7-.9-3.3-2.3-4.1V.7c0-.4-.3-.7-.7-.7H.7C.3%200%200%20.3%200%20.7v10.2c0%20.2.1.4.2.5l4.2%204.2c.1.1.3.2.5.2h7.2c.4%200%20.7-.3.7-.7v-3.3c.1%200%20.2-.1.2-.2l2.2%202.2c.1.1.3.2.5.2s.4-.1.5-.2c.4-.2.4-.6.1-.9zm-2.6-5.3c0%201.9-1.6%203.5-3.5%203.5S6.7%209.5%206.7%207.6s1.6-3.5%203.5-3.5c2%20.1%203.5%201.6%203.5%203.5zM2%2011.2h2.5v2.5L2%2011.2zm9.4%203.2H5.3v-3.5c0-.2-.2-.3-.4-.3H1.4V1.4h10v1.5c-.4-.1-.8-.2-1.2-.2-2.6.1-4.8%202.3-4.8%204.9%200%202.7%202.2%204.9%204.9%204.9.4%200%20.8-.1%201.2-.2v2.1z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 16.5px;
  height: 15.8px;
}


.icon-file-doc:before {
  content: '';
  display: block;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218.3%22%20height%3D%2222.5%22%20viewBox%3D%220%200%2018.3%2022.5%22%3E%3Cg%20fill%3D%22%23fff%22%3E%3Cpath%20d%3D%22M17.3%200H1C.4%200%200%20.4%200%201s.4%201%201%201h15.3v13h-5c-.3%200-.5.2-.5.5v5H2v-5c0-.6-.4-1-1-1s-1%20.4-1%201v6c0%20.6.4%201%201%201h10.3c.3%200%20.5-.1.7-.3l6-6c.2-.2.3-.4.3-.7V1c0-.6-.4-1-1-1zm-5.5%2019.6V16h3.6l-3.6%203.6zM4.8%2010.5V5.9c0-1.5-.7-2.2-2.1-2.2H.4v9.1h2.3c1.4-.1%202.1-.9%202.1-2.3zm-3%20.9V4.9h.8c.5%200%20.7.2.7.9v4.7c0%20.7-.3.9-.7.9h-.8zM9.9%2010.5V5.8c0-1.5-.8-2.3-2.2-2.3s-2.1.8-2.1%202.3v4.7c0%201.5.8%202.3%202.2%202.3s2.1-.8%202.1-2.3zm-2.9.1V5.7c0-.7.3-.9.7-.9.5%200%20.7.2.7.9v4.9c0%20.6-.3.9-.7.9-.4%200-.7-.2-.7-.9zM15%206.7v-.9c0-1.5-.7-2.3-2.1-2.3-1.4%200-2.1.8-2.1%202.3v4.7c0%201.5.7%202.3%202.1%202.3%201.4%200%202.1-.8%202.1-2.3V9.3h-1.4v1.3c0%20.6-.3.9-.7.9-.5%200-.7-.2-.7-.9V5.7c0-.7.3-.9.7-.9.5%200%20.7.2.7.9v1H15z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 18.3px;
  height: 22.5px;
}


.icon-file-error:before {
  content: '';
  display: block;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218.3%22%20height%3D%2222.5%22%20viewBox%3D%220%200%2018.3%2022.5%22%3E%3Cg%20fill%3D%22%23fff%22%3E%3Cpath%20d%3D%22M17.3%200H1C.4%200%200%20.4%200%201s.4%201%201%201h15.3v13h-5c-.3%200-.5.2-.5.5v5H2v-5c0-.6-.4-1-1-1s-1%20.4-1%201v6c0%20.6.4%201%201%201h10.3c.3%200%20.5-.1.7-.3l6-6c.2-.2.3-.4.3-.7V1c0-.6-.4-1-1-1zm-5.5%2019.6V16h3.6l-3.6%203.6zM8%2011.4h1.4v1.4H8zM9.4%209.7c0-.2%200-.3.1-.4%200-.1.1-.2.2-.4l.6-1.1c.1-.2.2-.3.2-.4.1-.1.1-.3.2-.4%200-.1.1-.3.1-.5v-.6c0-.8-.2-1.3-.5-1.7-.4-.4-1-.6-1.8-.6-.7%200-1.2.2-1.6.6-.4.4-.6%201-.6%201.8l1.4.2c0-.4.1-.7.2-.9.2-.3.4-.4.6-.4.2%200%20.3%200%20.4.1.1.1.2.2.2.3.1.1.1.2.1.3v.8c0%20.1-.1.3-.1.4%200%20.3-.1.4-.3.7-.1.2-.3.5-.5.8-.1.2-.1.3-.2.5s-.1.3-.1.5v1h1.4v-.6z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 18.3px;
  height: 22.5px;
}


.icon-file-jpg:before {
  content: '';
  display: block;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218.3%22%20height%3D%2222.5%22%20viewBox%3D%220%200%2018.3%2022.5%22%3E%3Cg%20fill%3D%22%23fff%22%3E%3Cpath%20d%3D%22M17.3%200H1C.4%200%200%20.4%200%201s.4%201%201%201h15.3v13h-5c-.3%200-.5.2-.5.5v5H2v-5c0-.6-.4-1-1-1s-1%20.4-1%201v6c0%20.6.4%201%201%201h10.3c.3%200%20.5-.1.7-.3l6-6c.2-.2.3-.4.3-.7V1c0-.6-.4-1-1-1zm-5.5%2019.6V16h3.6l-3.6%203.6zM2.8%2010.5V3.6H1.3v6.9c0%20.7-.4.9-.8.9H0v1.3h.7c1.1%200%202.1-.4%202.1-2.2zM5.8%209.3C7.3%209.3%208%208.5%208%207V5.9c0-1.5-.7-2.2-2.1-2.2H3.7v9.1h1.4V9.3h.7zm-.6-4.4h.7c.5%200%20.7.2.7.9v1.4c-.1.6-.3.8-.8.8h-.6V4.9zM12.8%206.7v-.9c0-1.5-.7-2.3-2.1-2.3s-2.2.8-2.2%202.3v4.7c0%201.5.7%202.3%202.1%202.3s2.1-.8%202.1-2.3V7.6h-2v1.3h.7v1.7c0%20.6-.3.9-.7.9-.5%200-.7-.2-.7-.9V5.7c0-.7.3-.9.7-.9.5%200%20.7.2.7.9v1h1.4z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 18.3px;
  height: 22.5px;
}


.icon-file-pdf:before {
  content: '';
  display: block;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218.3%22%20height%3D%2222.5%22%20viewBox%3D%220%200%2018.3%2022.5%22%3E%3Cg%20fill%3D%22%23fff%22%3E%3Cpath%20d%3D%22M17.3%200H1C.4%200%200%20.4%200%201s.4%201%201%201h15.3v13h-5c-.3%200-.5.2-.5.5v5H2v-5c0-.6-.4-1-1-1s-1%20.4-1%201v6c0%20.6.4%201%201%201h10.3c.3%200%20.5-.1.7-.3l6-6c.2-.2.3-.4.3-.7V1c0-.6-.4-1-1-1zm-5.5%2019.6V16h3.6l-3.6%203.6zM1.8%209.3h.7c1.4%200%202.1-.8%202.1-2.2V5.9c0-1.5-.7-2.2-2.1-2.2H.4v9.1h1.4V9.3zm0-4.4h.7c.5%200%20.7.2.7.9v1.4c0%20.6-.2.8-.7.8h-.7V4.9zM9.7%2010.5V5.9c0-1.5-.7-2.2-2.1-2.2H5.3v9.1h2.3c1.4-.1%202.1-.9%202.1-2.3zm-1.4%200c0%20.7-.3.9-.7.9h-.9V4.9h.8c.5%200%20.7.2.7.9v4.7zM14.4%204.9V3.6h-3.8v9.1H12V9h1.9V7.7H12V4.9z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 18.3px;
  height: 22.5px;
}


.icon-file-xls:before {
  content: '';
  display: block;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218.4%22%20height%3D%2222.5%22%20viewBox%3D%220%200%2018.4%2022.5%22%3E%3Cg%20fill%3D%22%23fff%22%3E%3Cpath%20d%3D%22M17.4%200H1C.5%200%200%20.4%200%201s.4%201%201%201h15.3v13h-5c-.3%200-.5.2-.5.5v5H2v-5c0-.6-.4-1-1-1s-1%20.4-1%201v6c0%20.6.4%201%201%201h10.3c.3%200%20.5-.1.7-.3l6-6c.2-.2.3-.4.3-.7V1c.1-.6-.4-1-.9-1zm-5.5%2019.6V16h3.6l-3.6%203.6zM1.6%2012.8l1-3.1%201%203.1h1.6c-.3-.8-.6-1.6-1-2.4-.2-.8-.5-1.6-.8-2.4l1.8-4.4H3.5l-.8%202.8h-.1c-.1-.5-.3-.9-.4-1.4-.2-.4-.3-.9-.5-1.3H.1c.3.7.6%201.4.9%202.2L1.9%208%200%2012.8h1.6zM6%203.7v9.1h4v-1.3H7.5V3.7zM13.5%2011.1c-.1.1-.1.2-.3.3-.1.1-.3.1-.5.1-.3%200-.6-.1-.7-.3%200-.2%200-.5-.1-.8l-1.4.3c0%20.3%200%20.6.1.9.1.3.2.5.4.7.2.2.4.4.7.5.3.1.6.2%201%20.2s.8-.1%201.1-.2c.3-.1.5-.3.7-.5.2-.2.3-.5.4-.8.1-.3.1-.7.1-1.1%200-.3%200-.6-.1-.9%200-.3-.1-.5-.2-.7-.1-.2-.3-.4-.5-.6-.2-.2-.6-.3-1-.5-.3-.1-.5-.2-.7-.3-.2-.1-.3-.2-.4-.3-.1-.1-.1-.2-.2-.3V6c0-.1.1-.3.1-.4.1-.1.1-.2.2-.3.1-.1.2-.1.4-.1.3%200%20.6.1.7.3.1.2.2.5.2.8l1.4-.3c0-.2%200-.5-.1-.7-.1-.3-.2-.5-.4-.7-.2-.2-.4-.4-.7-.5-.3-.1-.6-.2-1.1-.2-.4%200-.7.1-1%20.2-.3.1-.5.3-.7.5-.2.2-.3.5-.4.8-.1.3-.1.6-.1%201%200%20.3%200%20.6.1.8%200%20.2.1.5.3.7.1.2.3.4.6.6.3.2.6.4%201.1.6.3-.2.5-.2.6-.1l.3.3c.1.1.1.2.2.4v1.1c0%20.1%200%20.2-.1.3z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 18.4px;
  height: 22.5px;
}


.icon-headphones:before {
  content: '';
  display: block;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2215.8%22%20height%3D%2212.4%22%20viewBox%3D%220%200%2015.8%2012.4%22%3E%3Cpath%20fill%3D%22%235EA557%22%20d%3D%22M15.8%207.1c0-1.4-1.1-2.5-2.5-2.7C12.7%201.9%2010.5%200%207.9%200%205.3%200%203.1%201.9%202.5%204.3%201.1%204.5%200%205.7%200%207.1c0%201.5%201.3%202.8%202.9%202.8h.2c.4%200%20.7-.3.7-.7V5.5c0-2.3%201.9-4.2%204.2-4.2%202.3%200%204.2%201.9%204.2%204.2V9.4s0%20.5-.4.8c-.3.3-.7.5-1.3.5-.2-.3-.5-.4-.8-.4-.6%200-1.1.5-1.1%201.1%200%20.6.5%201.1%201.1%201.1.3%200%20.6-.1.8-.4%201-.1%201.7-.4%202.3-.9.5-.5.7-1%20.7-1.4%201.2-.2%202.3-1.4%202.3-2.7zm-14.5%200c0-.6.4-1.1%201.1-1.4v2.7c-.6-.2-1.1-.7-1.1-1.3zm12.1%201.3V5.7c.6.2%201.1.7%201.1%201.4%200%20.6-.5%201.1-1.1%201.3z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 15.8px;
  height: 12.4px;
}

.icon-house-sm.disabled:before,.icon-house-sm.disabled:hover:before,
.icon-house-sm-dis:before {
  content: '';
  display: block;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2215.2%22%20height%3D%2213.1%22%20viewBox%3D%220%200%2015.2%2013.1%22%3E%3Cg%20fill%3D%22%23999%22%3E%3Cpath%20d%3D%22M1%205.7h1.1v4.6h-.4c-.3%200-.6.3-.6.6s.3.6.6.6h11.7c.3%200%20.6-.3.6-.6s-.3-.6-.6-.6h-.3V5.7h1.1c.3%200%20.5-.2.6-.4.1-.2%200-.5-.2-.6L7.9.1c-.2-.1-.4-.1-.6%200L.7%204.6c-.2.2-.3.4-.3.7.1.2.3.4.6.4zm2.2%200h1.3v4.6H3.2V5.7zm6.3%200v4.6H8.2V5.7h1.3zM7%2010.3H5.7V5.7H7v4.6zm5%200h-1.3V5.7H12v4.6zm-4.4-9l4.7%203.2H2.8l4.8-3.2zM14.6%2011.9H.6c-.3%200-.6.3-.6.6s.3.6.6.6h14c.3%200%20.6-.3.6-.6s-.3-.6-.6-.6z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 15.2px;
  height: 13.1px;
}

.icon-house-sm:hover:before,
.icon-house-sm-hvr:before {
  content: '';
  display: block;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2215.2%22%20height%3D%2213.1%22%20viewBox%3D%220%200%2015.2%2013.1%22%3E%3Cg%20fill%3D%22%23fff%22%3E%3Cpath%20d%3D%22M1%205.7h1.1v4.6h-.4c-.3%200-.6.3-.6.6s.3.6.6.6h11.7c.3%200%20.6-.3.6-.6s-.3-.6-.6-.6h-.3V5.7h1.1c.3%200%20.5-.2.6-.4.1-.2%200-.5-.2-.6L7.9.1c-.2-.1-.4-.1-.6%200L.7%204.6c-.2.2-.3.4-.3.7.1.2.3.4.6.4zm2.2%200h1.3v4.6H3.2V5.7zm6.3%200v4.6H8.2V5.7h1.3zM7%2010.3H5.7V5.7H7v4.6zm5%200h-1.3V5.7H12v4.6zm-4.4-9l4.7%203.2H2.8l4.8-3.2zM14.6%2011.9H.6c-.3%200-.6.3-.6.6s.3.6.6.6h14c.3%200%20.6-.3.6-.6s-.3-.6-.6-.6z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 15.2px;
  height: 13.1px;
}


.icon-house-sm:before {
  content: '';
  display: block;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2215.2%22%20height%3D%2213.1%22%20viewBox%3D%220%200%2015.2%2013.1%22%3E%3Cg%20fill%3D%22%235EA557%22%3E%3Cpath%20d%3D%22M1%205.7h1.1v4.6h-.4c-.3%200-.6.3-.6.6s.3.6.6.6h11.7c.3%200%20.6-.3.6-.6s-.3-.6-.6-.6h-.3V5.7h1.1c.3%200%20.5-.2.6-.4.1-.2%200-.5-.2-.6L7.9.1c-.2-.1-.4-.1-.6%200L.7%204.6c-.2.2-.3.4-.3.7.1.2.3.4.6.4zm2.2%200h1.3v4.6H3.2V5.7zm6.3%200v4.6H8.2V5.7h1.3zM7%2010.3H5.7V5.7H7v4.6zm5%200h-1.3V5.7H12v4.6zm-4.4-9l4.7%203.2H2.8l4.8-3.2zM14.6%2011.9H.6c-.3%200-.6.3-.6.6s.3.6.6.6h14c.3%200%20.6-.3.6-.6s-.3-.6-.6-.6z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 15.2px;
  height: 13.1px;
}


.icon-karma-aside:before {
  content: '';
  display: block;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216.9%22%20height%3D%2215%22%20viewBox%3D%220%200%2016.9%2015%22%3E%3Cg%20fill%3D%22%235EA557%22%3E%3Cpath%20d%3D%22M16.2%200H.7C.3%200%200%20.3%200%20.7v1.6c0%201.8%201.4%203.3%203.2%203.5.2%202.5%202.1%204.5%204.5%204.9V12H6.3c-.4%200-.7.3-.7.7%200%20.4.3.7.7.7h4.1c.4%200%20.7-.3.7-.7%200-.4-.3-.7-.7-.7H9v-1.3c2.5-.3%204.5-2.3%204.7-4.9%201.8-.2%203.2-1.7%203.2-3.5V.7c0-.4-.3-.7-.7-.7zM1.3%202.3v-1h1.8v3.1c-1-.1-1.8-1-1.8-2.1zm11.1%203.1c0%202.2-1.8%204-4%204s-4-1.8-4-4V1.3h7.9v4.1zm3.2-3.1c0%201.1-.8%202-1.8%202.2V1.3h1.8v1zM13.5%2013.7H3.2c-.4%200-.7.3-.7.7%200%20.4.3.7.7.7h10.4c.4%200%20.7-.3.7-.7-.1-.4-.4-.7-.8-.7z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 16.9px;
  height: 15px;
}


.icon-karma:before {
  content: '';
  display: block;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216.9%22%20height%3D%2215%22%20viewBox%3D%220%200%2016.9%2015%22%3E%3Cg%20fill%3D%22%235EA557%22%3E%3Cpath%20d%3D%22M16.2%200H.7C.3%200%200%20.3%200%20.7v1.6c0%201.8%201.4%203.3%203.2%203.5.2%202.5%202.1%204.5%204.5%204.9V12H6.3c-.4%200-.7.3-.7.7%200%20.4.3.7.7.7h4.1c.4%200%20.7-.3.7-.7%200-.4-.3-.7-.7-.7H9v-1.3c2.5-.3%204.5-2.3%204.7-4.9%201.8-.2%203.2-1.7%203.2-3.5V.7c0-.4-.3-.7-.7-.7zM1.3%202.3v-1h1.8v3.1c-1-.1-1.8-1-1.8-2.1zm11.1%203.1c0%202.2-1.8%204-4%204s-4-1.8-4-4V1.3h7.9v4.1zm3.2-3.1c0%201.1-.8%202-1.8%202.2V1.3h1.8v1zM13.5%2013.7H3.2c-.4%200-.7.3-.7.7%200%20.4.3.7.7.7h10.4c.4%200%20.7-.3.7-.7-.1-.4-.4-.7-.8-.7z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 16.9px;
  height: 15px;
}


.icon-laurel:before {
  content: '';
  display: block;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2260%22%20height%3D%2249%22%20viewBox%3D%220%200%2060%2049%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20fill%3D%22%235EA557%22%20d%3D%22M52.5%207.6l.2-.2c.3-.3-2-4.4-2.4-4.8-.8-.9-3.5-2.3-4.9-2.6.5.7%201.2%201.1%201.7%201.8.6.7%201%201.4%201.6%202.2.9%201.2%202.7%202.6%203.8%203.6zM6.9%207.8l.2.2c.1%200%20.1-.2.2-.2.2-.2.1-.1.3-.2.2-.2.2-.3.4-.4.5-.4.6-.4%201-.9.6-.6%201.3-1.1%201.7-1.8.5-.8%202.5-3.5%203.2-4l-.2-.1c-.1-.1-2.2%201-2.4%201.1-1%20.5-1.3.8-2%201.5-1.9%201.9-1.4%203.4-2.4%204.8zM5.3%2011c0-.7%200%20.7%200%200zM4.2%208.3l.2%205.6c.1-.1%201.4-1.7%201.8-2.1.6-.6%201.6-1.1%202.3-1.8%201.3-1.3%202.6-2.7%202.8-5.1-1.2%201.4-1%201.9-2.9%203-1.6%201-2.2%202.3-3%202.9%200-.1.9-3.8%201-4.1.4-1.4.7-2.7%201.7-3.4L8%203.2c-.6-.5-3.8%203.2-3.8%205.1zM54.2%2010.4l.6.7-.2.1-.4-.8zm0-.1c-.9-.7-1.5-1.8-3-2.8-1.7-1.2-1.7-1.4-2.9-2.8.2%202.2%201.7%204%203.1%205.1%202.3%201.7%202.4%202.1%204.2%204.1-.5-2%20.4-5.5-.5-7.3-.7-1.6-2.2-3.4-4-3.8%201%201.6%201.1.9%202%203.3.3.7%201.1%203.6%201.1%204.2zM1.5%2012.5v2.4c0%20.4%201.9%206.3%202%206.4%200-3.1%205-6.6%205.1-10.7-1%201.2-1.7%201.8-2.8%202.9-1.4%201.4-1.6%202.9-2.1%203.7l-.5-7.7c0-.8.3-1.8.7-2.2l-.2-.2s-1.3%202-1.4%202.3c-.4%201-.8%201.8-.8%203.1zM55.9%2025.9l.2-1.5v-1.7c0-.8-2.8-6.2-3.2-6.8%200%205.5%202.2%207.4%202.2%2012.5.4-.3%202.8-3.4%203.3-4%20.8-1.1%201.5-3.9%201.5-5.8v-1c0-.8-.3-2.3-.7-2.7%200%202.5-.8%203.9-1.5%205.6-.5%201-1.5%205.1-1.8%205.4zM0%2018.8v.3c0%201.8.8%204.6%201.6%205.6.7.9%202.6%203.7%203.3%204.2%200-5%202-7.4%202-12.5-.4.7-1.2%202.6-1.9%203.6-.4.6-1.5%203.2-1.4%204.3l.4%202.2c-.4-.4-1.2-4.4-1.7-5.5-1-2.2-1.5-2.8-1.5-6-.5.6-.8%202.6-.8%203.8zM56.3%2016.9h.2v.8h-.2v-.8zm-.4-9.8c0%20.1.1.1.1.1%200%20.1.1.2.1.2.1.2.1.2.2.5s.1.6.1%201.2c0%20.9%200%201.8-.1%202.6-.2%201.2-.1%203.8-.1%205.2-1.1-1.7-.3-1.8-2.2-3.7-.6-.5-2.7-2.7-3-2.9.2%202.1%201.7%204.1%202.7%205.5.5.7%201.2%201.6%201.7%202.4.4.7%201%202.5%201.3%202.8%200-2.6%201.7-4.1%201.7-7.1V12c0-1.9-1.4-3.9-2.2-5.1l-.3.2zM6.8%2032.9c.3-.3-.3.3%200%200zm-1-3.6c-.1%201.3.7%202.7.9%203.6-.3-.2-2.7-3.4-3.5-4.3-.8-.8-1.2-1.2-1.9-2-.8-.9-.9-2.1-1.4-2.7%200%203.9%201.1%205.8%203.1%207.8.9.9%205.3%204.2%206.4%204.4-.8-1.7-1.4-3.7-1.4-6.3%200-1.6-.7-5.8-1.2-6.6l-1%206.1zM53%2033.1l.5-.9-.5.9zm-2.3%202.7c4.5-3%209.3-5%209.3-12.5-.2.2-.9%202.1-1.3%202.6-.6.9-1%201.4-1.8%202.1-.7.7-3.4%204.1-3.6%204.2.1-.6.8-2.3.7-3.1l-.7-6.4c-.7.8-1.4%204.8-1.4%206.4.1%203.3-.7%204.4-1.2%206.7zM37.3%2042.2c1.4.3%205.3%201.4%206.6%201.4h2c1.9%200%203.2-.7%204.5-1.5%201.8-1%201.9-1.8%203-3.1l-.2-.1c-.1-.1-.1.2-.1.2-.1.1-.2.2-.2.3-.2.2-.2.2-.5.4-.4.3-.8.5-1.2.7-1%20.5-1.7.5-3%20.7-1.2.2-5.8.8-6.7.8%201.3-1.1%202.1-.4%203.5-2.6.3-.5%202.1-3.8%202.1-4.1-1.7%201.1-3%202.6-4.4%204-.7.7-1.4%201.4-2.3%201.9-.9.3-2.5.6-3.1%201zM12.7%2039.3m0%200c-.4-.1-4.1-2.8-5.7-3.4-3.2-1.3-3-2-5-4.2.2%202.4%203%205.4%204.6%206.5%201.3.8%202.2%201.4%203.8%201.8.7.2%204.3.8%204.7.9-.7-1-1.3-1.2-2-2.6-.4-.9-.9-2.3-1.3-3.3-.6-1.7-2.2-4.9-3.4-5.8.4.8.8%201.5%201%202.8.2%201.1.2%202%20.5%203.1.8%202.7%201.7%202.5%202.8%204.2zM47.3%2039c.3-.3-.3.3%200%200zm-2.4%201.5c1.5-1%202.4-3.9%203.1-5.9.4-1.2.8-2.1%201.4-3.2.3-.5.6-.8.9-1.3.1-.1.9-1.3.9-1.3l.2.1c-1%201.4-.8%203.8-1.3%205.7-.5%202.3-1.7%202.8-2.6%204.3.5-.1%201.9-1.4%202.6-1.8%201-.6%201.8-1%202.9-1.5%201.1-.5%201.8-1%202.7-1.7%201-.8%201.6-1.9%202.1-2.3-.2%202.4-2.9%205.2-4.5%206.3-1.3.9-2%201.2-3.7%201.7-.4.1-1.7.4-2.2.5-.5.1-.6.1-1.2.2-.3%200-.3%200-.6.1-.1%200-.2.1-.2.1-.1%200-.2.2-.2.1l-.3-.1zM19.1%2042.2c-1%200-1.9-.4-3.2-.5-.9-.1-2.6-.3-3.6-.3-2.1-.1-4.8-.9-5.6-2.2l-.1.2c-.1.1.2.1.2.2l.2.2c.1.1.2.3.4.5.2.3.2.3.6.7.4.4%201.3%201.2%201.8%201.5%201.1.6%203.2%201.5%204.8%201.5%203.3%200%205.7-1.5%208.3-1.5-.6-.4-2.3-.8-3.1-1.2-1.1-.5-1.5-1.1-2.3-1.9-.7-.7-3.9-3.7-4.6-3.9.8%201.3%201.4%202.9%202.3%204.2%201.3%201.9%203.6%202%203.9%202.5zM48.3%2043.9c-.7.6-2.3%201.2-3.6%201.2h-.8c-3.1%200-6.2-2.9-9.7-2.9h-2c-.9%200-1.7.6-2.2.5l-3.4-.6c-2.7-.3-7.7%203.1-10.2%203.1h-.5c-2.3%200-2.7-.7-4.2-1%20.8%201.1%203.9%202.9%205.8%202.9h.8c4.7%200%205.5-4.1%2010.3-4.1-.7.9-5.9%203.2-6.4%205.1l1.2.9c1.1-1.6%204.7-5%206.8-5.4%202.2%201.1%205.3%203.5%206.6%205.4l1.2-1.1c-1.3-1.9-5.9-4-6.5-4.8%203.3%200%203%20.7%205.1%202%201.1.7%203.5%201.9%205.2%201.9h.7c1.3%200%202.5-.6%203.4-1%20.3-.1%202.6-1.8%202.5-1.9l-.1-.2zM28.7%2040.5c-.8.4-2%20.8-2.9.8%200-.4.4-.7.7-.9-.5-.2-.7-.5-.8-.9%201.1.2%202.1.5%203%201zm-3.5.6c.3%200%20.6-.3.6-.7%200-.3-.3-.6-.7-.6-.3%200-.6.3-.6.7.1.4.3.6.7.6zM28.9%2039.9c-.9%200-2.1-.3-2.9-.8.2-.3.7-.4%201.1-.4-.3-.4-.3-.8-.2-1.1.7.7%201.4%201.4%202%202.3zm-3.4-1.3c.3.1.7%200%20.8-.3.1-.3%200-.7-.3-.8-.3-.1-.7%200-.8.3-.1.3%200%20.7.3.8zM29.4%2039.4c-.8-.5-1.7-1.3-2.2-2.1.3-.2.8%200%201.1.2-.1-.5.1-.8.4-1.1.4%201%20.6%202%20.7%203zm-2.3-2.8c.2.3.6.3.8.2.3-.2.3-.6.2-.8-.2-.3-.6-.3-.8-.2-.4.2-.4.6-.2.8zM30%2039.2c-.4-.8-.8-2-.8-2.9.4%200%20.7.4.9.7.2-.5.5-.7.9-.8-.2%201.1-.5%202.1-1%203zm-.6-3.5c0%20.3.3.6.7.6.3%200%20.6-.3.6-.7%200-.3-.3-.6-.7-.6-.4.1-.6.4-.6.7zM30.6%2039.4c0-.9.3-2.1.8-2.9.3.2.4.7.4%201.1.4-.3.8-.3%201.1-.2-.6.7-1.4%201.5-2.3%202zm1.3-3.4c-.1.3%200%20.7.3.8.3.1.7%200%20.8-.3.1-.3%200-.7-.3-.8-.3-.1-.7%200-.8.3zM31.1%2039.9c.5-.8%201.3-1.7%202.1-2.2.2.3%200%20.8-.2%201.1.5-.1.8.1%201.1.4-1%20.4-2%20.6-3%20.7zm2.8-2.3c-.3.2-.3.6-.2.8.2.3.6.3.8.2.3-.2.3-.6.2-.8-.2-.3-.6-.4-.8-.2zM31.3%2040.5c.8-.5%202-.8%202.9-.8%200%20.4-.4.7-.7.9.5.2.7.5.8.9-1.1-.2-2.1-.5-3-1zm3.5-.6c-.3%200-.6.3-.6.7%200%20.3.3.6.7.6.3%200%20.6-.3.6-.7-.1-.4-.4-.6-.7-.6zM31.6%2040.7v-.2c0-.9-.7-1.6-1.6-1.6-.9%200-1.6.7-1.6%201.6v.1c.1%200%20.2-.1.3-.1.1%200%20.2-.1.2-.1.1-.5.5-.9%201.1-.9.6%200%201%20.4%201.1%201%20.1%200%20.3.1.5.2z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 60px;
  height: 49px;
}


.icon-like-big:before {
  content: '';
  display: block;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2237.5%22%20height%3D%2238.4%22%20viewBox%3D%220%200%2037.5%2038.4%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M37.5%2017c0-2.9-2.4-5.2-5.3-5.2h-.7c-3.3%200-5.3-.3-6.1-.6%200-.3%200-.6.1-.9%200-.3.1-.5.1-.8.1-.4.1-.8.2-1.2.3-3.1-.4-5.7-1.7-7.1C23.4.4%2022.6%200%2021.8%200c-.2%200-2.3%200-3.4%201.2-.5.5-.7%201.2-.6%201.9%200%20.1.3%202.9-.3%205.2-.9%201.6-3%204-4.9%205.9-.1-.3-.4-.5-.7-.7-.4-.2-.8-.2-1.2-.1l-9.5%202.8c-.8.2-1.3%201.1-1.1%202l5.6%2019c.2.7.8%201.1%201.5%201.1.1%200%20.3%200%20.4-.1l9.5-2.8c.4-.1.7-.4.9-.8.2-.4.2-.8.1-1.2l-1-3.5c.8%200%201.8%200%203.1.1l2.5.2c1.7.1%203.1.3%204.1.4.4%200%20.8.1%201.3.1%202.3%200%203.9-.8%204.5-2.4%200-.1.1-.2.1-.3%201.3-.8%202.2-2.2%202.3-3.7v-.1c.9-.8%201.4-1.9%201.5-3.1%200-.4%200-.7-.1-1.1.7-.8%201.1-1.9%201.1-3zM8.3%2034.8L3.6%2018.9v-.1l6.5-1.9v.2c0%20.2%200%20.4.1.5l3.4%2011.6c.1.2.1.3.2.5l1%203.2-6.5%201.9zm25.3-16.3c-.5.5-.7%201.2-.4%201.8.1.2.1.5.1.7%200%20.5-.3.9-.7%201.2-.6.3-.9%201-.8%201.6v.3c0%20.6-.4%201.1-1%201.3-.6.2-1%20.7-1%201.3%200%20.2-.1.3-.1.5%200%20.1-.5.3-1.6.3-.3%200-.6%200-.9-.1-1-.1-2.5-.3-4.2-.4h-2.4c-.9-.1-1.8-.1-2.5-.1-.6%200-1.2%200-1.8.1l-2.7-9.3c2.3-2.1%205.5-5.7%206.7-7.9%200-.1.1-.2.1-.3.7-2.4.6-5%20.6-6.1.2-.1.5-.1.7-.1.4.3%201.2%201.8.9%204.8%200%20.3-.1.7-.1%201%200%20.3-.1.5-.1.9-.1.6-.1%201.2-.1%201.7%200%20.6.2%201.2.7%201.7.4.4%201.6%201.7%208.6%201.7h.7c1.1%200%202.1.9%202.1%202.1-.1.4-.3.9-.8%201.3z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 37.5px;
  height: 38.4px;
}

.rating-like:before,
.icon-like-gray:before {
  content: '';
  display: block;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2223.6%22%20height%3D%2224.2%22%20viewBox%3D%220%200%2023.6%2024.2%22%3E%3Cpath%20fill%3D%22%23ccc%22%20d%3D%22M23.6%2010.7c0-1.8-1.5-3.3-3.3-3.3h-.4c-2.1%200-3.4-.2-3.8-.4v-.6c0-.2%200-.3.1-.5%200-.3.1-.5.1-.8.2-1.9-.2-3.6-1.1-4.5-.4-.4-.9-.6-1.4-.6-.1%200-1.5%200-2.2.8-.3.3-.4.8-.4%201.2%200%20.1.2%201.8-.2%203.3-.6%201-1.9%202.6-3.1%203.7-.1-.2-.2-.4-.4-.5-.2-.1-.5-.1-.8%200l-6%201.8c-.5.2-.8.7-.7%201.2l3.5%2012c.1.4.5.7%201%20.7h.3l6-1.8c.3-.1.5-.2.6-.5.1-.2.2-.5.1-.8l-.6-2.1c.5%200%201.1%200%202%20.1l1.6.1c1%20.1%202%20.2%202.6.2.2%200%20.5.1.8.1%201.5%200%202.5-.5%202.9-1.5%200-.1%200-.1.1-.2.8-.5%201.4-1.4%201.4-2.3.6-.5.9-1.2.9-2v-.7c.2-.7.4-1.4.4-2.1zM5.2%2022l-3-10v-.1l4.1-1.2v.4l2.2%207.3c0%20.1.1.2.1.3l.6%202.1-4%201.2zm16-10.3c-.3.3-.4.7-.2%201.1v.4c0%20.3-.2.6-.5.7-.4.2-.6.6-.5%201v.2c0%20.4-.3.7-.7.8-.4.1-.6.4-.7.8%200%20.1%200%20.2-.1.3%200%200-.3.2-1%20.2h-.6c-.6-.1-1.6-.2-2.6-.3L13%2017c-.6-.1-1.1-.1-1.6-.1-.4%200-.8%200-1.1.1l-1.7-5.9c1.5-1.3%203.5-3.6%204.3-5%200-.1.1-.1.1-.2.5-1.5.4-3.2.4-3.9h.3c.2.2.7%201.1.6%203%200%20.2%200%20.4-.1.7%200%20.2-.1.3-.1.6%200%20.4%200%20.8-.1%201.1%200%20.4.1.8.4%201.1.3.3%201%201.1%205.4%201.1h.4c.7%200%201.3.6%201.3%201.3.1.2%200%20.5-.3.8z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 23.6px;
  height: 24.2px;
}

.rating-like:after,
.icon-like-green:before {
  content: '';
  display: block;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2223.6%22%20height%3D%2224.2%22%20viewBox%3D%220%200%2023.6%2024.2%22%3E%3Cpath%20fill%3D%22%2359ab00%22%20d%3D%22M23.6%2010.7c0-1.8-1.5-3.3-3.3-3.3h-.4c-2.1%200-3.4-.2-3.8-.4v-.6c0-.2%200-.3.1-.5%200-.3.1-.5.1-.8.2-1.9-.2-3.6-1.1-4.5-.4-.4-.9-.6-1.4-.6-.1%200-1.5%200-2.2.8-.3.3-.4.8-.4%201.2%200%20.1.2%201.8-.2%203.3-.6%201-1.9%202.6-3.1%203.7-.1-.2-.2-.4-.4-.5-.2-.1-.5-.1-.8%200l-6%201.8c-.5.2-.8.7-.7%201.2l3.5%2012c.1.4.5.7%201%20.7h.3l6-1.8c.3-.1.5-.2.6-.5.1-.2.2-.5.1-.8l-.6-2.1c.5%200%201.1%200%202%20.1l1.6.1c1%20.1%202%20.2%202.6.2.2%200%20.5.1.8.1%201.5%200%202.5-.5%202.9-1.5%200-.1%200-.1.1-.2.8-.5%201.4-1.4%201.4-2.3.6-.5.9-1.2.9-2v-.7c.2-.7.4-1.4.4-2.1zM5.2%2022l-3-10v-.1l4.1-1.2v.4l2.2%207.3c0%20.1.1.2.1.3l.6%202.1-4%201.2zm16-10.3c-.3.3-.4.7-.2%201.1v.4c0%20.3-.2.6-.5.7-.4.2-.6.6-.5%201v.2c0%20.4-.3.7-.7.8-.4.1-.6.4-.7.8%200%20.1%200%20.2-.1.3%200%200-.3.2-1%20.2h-.6c-.6-.1-1.6-.2-2.6-.3L13%2017c-.6-.1-1.1-.1-1.6-.1-.4%200-.8%200-1.1.1l-1.7-5.9c1.5-1.3%203.5-3.6%204.3-5%200-.1.1-.1.1-.2.5-1.5.4-3.2.4-3.9h.3c.2.2.7%201.1.6%203%200%20.2%200%20.4-.1.7%200%20.2-.1.3-.1.6%200%20.4%200%20.8-.1%201.1%200%20.4.1.8.4%201.1.3.3%201%201.1%205.4%201.1h.4c.7%200%201.3.6%201.3%201.3.1.2%200%20.5-.3.8z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 23.6px;
  height: 24.2px;
}

.comment__like:before,
.icon-like-sm-gray:before {
  content: '';
  display: block;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2219.9%22%20height%3D%2220.4%22%20viewBox%3D%220%200%2019.9%2020.4%22%3E%3Cpath%20fill%3D%22%23ccc%22%20d%3D%22M19.9%209c0-1.5-1.3-2.8-2.8-2.8h-.3c-1.8%200-2.8-.2-3.2-.3v-.5c0-.1%200-.3.1-.4%200-.2.1-.5.1-.7.1-1.6-.2-3-.9-3.8-.4-.3-.9-.5-1.3-.5-.1%200-1.2%200-1.8.7-.2.3-.4.6-.3%201%200%20.1.2%201.5-.2%202.8-.5.8-1.6%202.1-2.6%203.1-.1-.2-.2-.3-.4-.4-.2-.1-.4-.1-.6-.1L.6%208.6c-.4.2-.7.6-.6%201.1l3%2010.1c.1.4.4.6.8.6H4l5.1-1.5c.2-.1.4-.2.5-.4.1-.2.1-.4.1-.6L9.2%2016h1.6l1.3.1c.9.1%201.7.1%202.2.2h.7c1.2%200%202.1-.5%202.4-1.3%200-.1%200-.1.1-.2.7-.4%201.2-1.2%201.2-2%20.5-.4.8-1%20.8-1.7v-.6c.3-.3.4-.9.4-1.5zM4.4%2018.5L1.9%2010l3.5-1v.4l1.8%206.2c0%20.1.1.2.1.2l.5%201.7-3.4%201zm13.5-8.7c-.3.2-.4.6-.2%201%20.1.1.1.2.1.4%200%20.3-.2.5-.4.6-.3.2-.5.5-.4.9v.2c0%20.3-.2.6-.5.7-.3.1-.5.4-.6.7%200%20.1%200%20.2-.1.3%200%200-.3.2-.8.2h-.5c-.5-.1-1.3-.1-2.2-.2l-1.3-.2c-.5%200-.9-.1-1.3-.1h-1l-1.5-5c1.2-1.1%202.9-3%203.6-4.2%200%200%200-.1.1-.2.4-1.3.3-2.7.3-3.3.1%200%20.3-.1.4-.1.2.2.6%201%20.5%202.5%200%20.2%200%20.4-.1.5%200%20.1%200%20.3-.1.5v.9c0%20.3.1.6.4.9.2.2.9.9%204.6.9h.4c.6%200%201.1.5%201.1%201.1-.1.5-.3.8-.5%201z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 19.9px;
  height: 20.4px;
}

.comment__like:after,
.icon-like-sm-green:before {
  content: '';
  display: block;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2219.9%22%20height%3D%2220.4%22%20viewBox%3D%220%200%2019.9%2020.4%22%3E%3Cpath%20fill%3D%22%235EA557%22%20d%3D%22M19.9%209c0-1.5-1.3-2.8-2.8-2.8h-.3c-1.8%200-2.8-.2-3.2-.3v-.5c0-.1%200-.3.1-.4%200-.2.1-.5.1-.7.1-1.6-.2-3-.9-3.8-.4-.3-.9-.5-1.3-.5-.1%200-1.2%200-1.8.7-.2.3-.4.6-.3%201%200%20.1.2%201.5-.2%202.8-.5.8-1.6%202.1-2.6%203.1-.1-.2-.2-.3-.4-.4-.2-.1-.4-.1-.6-.1L.6%208.6c-.4.2-.7.6-.6%201.1l3%2010.1c.1.4.4.6.8.6H4l5.1-1.5c.2-.1.4-.2.5-.4.1-.2.1-.4.1-.6L9.2%2016h1.6l1.3.1c.9.1%201.7.1%202.2.2h.7c1.2%200%202.1-.5%202.4-1.3%200-.1%200-.1.1-.2.7-.4%201.2-1.2%201.2-2%20.5-.4.8-1%20.8-1.7v-.6c.3-.3.4-.9.4-1.5zM4.4%2018.5L1.9%2010l3.5-1v.4l1.8%206.2c0%20.1.1.2.1.2l.5%201.7-3.4%201zm13.5-8.7c-.3.2-.4.6-.2%201%20.1.1.1.2.1.4%200%20.3-.2.5-.4.6-.3.2-.5.5-.4.9v.2c0%20.3-.2.6-.5.7-.3.1-.5.4-.6.7%200%20.1%200%20.2-.1.3%200%200-.3.2-.8.2h-.5c-.5-.1-1.3-.1-2.2-.2l-1.3-.2c-.5%200-.9-.1-1.3-.1h-1l-1.5-5c1.2-1.1%202.9-3%203.6-4.2%200%200%200-.1.1-.2.4-1.3.3-2.7.3-3.3.1%200%20.3-.1.4-.1.2.2.6%201%20.5%202.5%200%20.2%200%20.4-.1.5%200%20.1%200%20.3-.1.5v.9c0%20.3.1.6.4.9.2.2.9.9%204.6.9h.4c.6%200%201.1.5%201.1%201.1-.1.5-.3.8-.5%201z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 19.9px;
  height: 20.4px;
}

.comment__like:hover:before,
.icon-like-sm-white:before {
  content: '';
  display: block;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2219.9%22%20height%3D%2220.4%22%20viewBox%3D%220%200%2019.9%2020.4%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M19.9%209c0-1.5-1.3-2.8-2.8-2.8h-.3c-1.8%200-2.8-.2-3.2-.3v-.5c0-.1%200-.3.1-.4%200-.2.1-.5.1-.7.1-1.6-.2-3-.9-3.8-.4-.3-.9-.5-1.3-.5-.1%200-1.2%200-1.8.7-.2.3-.4.6-.3%201%200%20.1.2%201.5-.2%202.8-.5.8-1.6%202.1-2.6%203.1-.1-.2-.2-.3-.4-.4-.2-.1-.4-.1-.6-.1L.6%208.6c-.4.2-.7.6-.6%201.1l3%2010.1c.1.4.4.6.8.6H4l5.1-1.5c.2-.1.4-.2.5-.4.1-.2.1-.4.1-.6L9.2%2016h1.6l1.3.1c.9.1%201.7.1%202.2.2h.7c1.2%200%202.1-.5%202.4-1.3%200-.1%200-.1.1-.2.7-.4%201.2-1.2%201.2-2%20.5-.4.8-1%20.8-1.7v-.6c.3-.3.4-.9.4-1.5zM4.4%2018.5L1.9%2010l3.5-1v.4l1.8%206.2c0%20.1.1.2.1.2l.5%201.7-3.4%201zm13.5-8.7c-.3.2-.4.6-.2%201%20.1.1.1.2.1.4%200%20.3-.2.5-.4.6-.3.2-.5.5-.4.9v.2c0%20.3-.2.6-.5.7-.3.1-.5.4-.6.7%200%20.1%200%20.2-.1.3%200%200-.3.2-.8.2h-.5c-.5-.1-1.3-.1-2.2-.2l-1.3-.2c-.5%200-.9-.1-1.3-.1h-1l-1.5-5c1.2-1.1%202.9-3%203.6-4.2%200%200%200-.1.1-.2.4-1.3.3-2.7.3-3.3.1%200%20.3-.1.4-.1.2.2.6%201%20.5%202.5%200%20.2%200%20.4-.1.5%200%20.1%200%20.3-.1.5v.9c0%20.3.1.6.4.9.2.2.9.9%204.6.9h.4c.6%200%201.1.5%201.1%201.1-.1.5-.3.8-.5%201z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 19.9px;
  height: 20.4px;
}


.icon-list:before {
  content: '';
  display: block;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218.3%22%20height%3D%2222.5%22%20viewBox%3D%220%200%2018.3%2022.5%22%3E%3Cg%20fill%3D%22%23fff%22%3E%3Cpath%20d%3D%22M17.3%200H1C.4%200%200%20.4%200%201v20.5c0%20.6.4%201%201%201h10.3c.3%200%20.5-.1.7-.3l6-6c.2-.2.3-.4.3-.7V1c0-.6-.4-1-1-1zM2%202h14.3v13h-5c-.3%200-.5.2-.5.5v5H2V2zm9.8%2017.6V16h3.6l-3.6%203.6zM4.4%205.3h5.9c.3%200%20.5-.2.5-.5s-.2-.5-.5-.5H4.4c-.3%200-.5.2-.5.5s.2.5.5.5zM4.4%207.7h9.8c.3%200%20.5-.2.5-.5s-.2-.5-.5-.5H4.4c-.3%200-.5.2-.5.5s.2.5.5.5zM4.4%2010.1h9.8c.3%200%20.5-.2.5-.5s-.2-.5-.5-.5H4.4c-.3%200-.5.2-.5.5s.2.5.5.5zM8.5%2011.5H4.4c-.3%200-.5.2-.5.5s.2.5.5.5h4.1c.2%200%20.5-.2.5-.5s-.3-.5-.5-.5z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 18.3px;
  height: 22.5px;
}


.icon-location-avto:before {
  content: '';
  display: block;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2243%22%20height%3D%2232.6%22%20viewBox%3D%220%200%2043%2032.6%22%3E%3Cpath%20fill%3D%22%235EA557%22%20d%3D%22M42.2%208.9h-3.7c-.2%200-.5.1-.6.3l-2.1-5.1c-1-2.3-3.6-4.1-6.2-4.1H13.4c-2.5%200-5.2%201.7-6.2%204.1L5.1%209.2c-.2-.2-.4-.3-.7-.3H.7s-.7%200-.7.7.7%202.2.7%202.2.3.7%201%20.7h1c-.6.8-1%201.8-.9%202.9l.7%208.9c.1%201%20.5%201.9%201.1%202.7v4c0%20.8.7%201.5%201.5%201.5h3.7c.8%200%201.5-.7%201.5-1.5v-2.2h22.2V31c0%20.8.7%201.5%201.5%201.5h3.7c.8%200%201.5-.7%201.5-1.5v-4c.6-.7%201.1-1.7%201.1-2.7l.7-8.9c.1-1.1-.3-2.2-.9-2.9h1c.7%200%201-.7%201-.7s.9-1.4.9-2.2c0-.7-.8-.7-.8-.7zm-34.4%2012c-1.5%200-2.7-1.2-2.7-2.7%200-1.5%201.2-2.7%202.7-2.7s2.7%201.2%202.7%202.7c0%201.4-1.2%202.7-2.7%202.7zm21-2.6l-.5%201.1c-.5%201.1-1.9%202-3.1%202h-7.4c-1.2%200-2.6-.9-3.1-2l-.5-1.1c-.5-1.1.1-2%201.3-2h11.9c1.2%200%201.8.9%201.4%202zM9.1%2011.1l2.3-5.3c.3-.7%201.3-1.4%202.1-1.4h16.2c.7%200%201.8.7%202.1%201.4l2.2%205.3H9.1zm26.1%209.8c-1.5%200-2.7-1.2-2.7-2.7%200-1.5%201.2-2.7%202.7-2.7s2.7%201.2%202.7%202.7c0%201.4-1.2%202.7-2.7%202.7z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 43px;
  height: 32.6px;
}


.icon-location-map:before {
  content: '';
  display: block;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2241.1%22%20height%3D%2241.3%22%20viewBox%3D%220%200%2041.1%2041.3%22%3E%3Cpath%20fill%3D%22%235EA557%22%20d%3D%22M41.1%2038.4l-3.9-19.7c-.3-1.6-1.9-2.9-3.5-2.9h-2.9c.7-1.4%201.1-3%201.1-4.7C31.8%205%2026.8%200%2020.7%200s-11%205-11%2011.1c0%201.7.4%203.3%201.1%204.7%202.7%206.2%207.2%2012.3%209.1%2014.7.2.3.5.6.9.6.3%200%20.6-.3.9-.5.5-.7%201.3-1.7%202.1-2.8%201.4.7%207.8%203.8%2011.4%203.8h.1l1.1%205.4H19.2L10%2027c1.4-.7%202.5-1.3%203.3-1.8l-1.2-1.8c-1.2.8-3.1%201.7-5.1%202.5l1.1-5.7h2.1c-.7-1.3-1.4-2.7-2-4%200-.1-.1-.2-.1-.3h-.6c-1.6%200-3.2%201.3-3.5%202.9L.1%2038.4c-.3%201.6.7%202.9%202.3%202.9h36.4c1.5%200%202.6-1.3%202.3-2.9zM20.7%2016.9c-3.2%200-5.8-2.6-5.8-5.8%200-3.2%202.6-5.8%205.8-5.8s5.8%202.6%205.8%205.8c0%203.2-2.6%205.8-5.8%205.8zm4.3%209c1.2-1.7%202.4-3.6%203.6-5.7H33l1.8%209.2c-2.2-.2-6.7-2-9.8-3.5zm-20.2%2011l1.7-8.5c.5-.2.9-.3%201.3-.5l8.4%209H4.8z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 41.1px;
  height: 41.3px;
}


.icon-location-transport:before {
  content: '';
  display: block;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2231%22%20height%3D%2244.2%22%20viewBox%3D%220%200%2031%2044.2%22%3E%3Cpath%20fill%3D%22%235EA557%22%20d%3D%22M24%2044.2c-.9%200-2-.6-2.5-1.2l-1-1.4c-.5-.7-.2-1.2.6-1.2h2.3c.9%200%202%20.6%202.5%201.2l1%201.4c.5.7.2%201.2-.6%201.2H24zM7.7%2040.3c-.9%200-2%20.6-2.5%201.2l-1%201.4c-.5.7-.2%201.2.6%201.2h2.3c.9%200%202-.6%202.5-1.2l1-1.4c.5-.7.2-1.2-.6-1.2H7.7zM26.4%202.7c-1.7-.4-3.5-.7-5.2-.9C20.5.7%2019.3%200%2017.8%200h-4.6c-1.5%200-2.7.7-3.4%201.8-1.8.2-3.5.5-5.2.9C2%203.3%200%206.1%200%208.6v23.2c0%202.5%202%205.3%204.6%205.9%207.2%201.6%2014.6%201.6%2021.8%200%202.5-.6%204.6-3.4%204.6-5.9V8.6c0-2.5-2.1-5.3-4.6-5.9zm-12.9-.4h4.1c.9%200%201.2.5%201.2%201.2%200%20.6-.3%201.2-1.2%201.2h-4.1c-.9%200-1.3-.5-1.3-1.2s.4-1.2%201.3-1.2zM7.4%2031.9c-1.6%200-2.8-1.3-2.8-2.8%200-1.6%201.3-2.8%202.8-2.8%201.6%200%202.8%201.3%202.8%202.8%200%201.5-1.3%202.8-2.8%202.8zm2.3-9.4c-.4%200-1-.3-1.3-.7C6%2018%204.5%2013.7%204.9%2010.2c0-.4.5-.8%201-.9%207-1.5%2012.2-1.5%2019.2%200%20.5.1%201%20.5%201%20.9.4%203.5-1.2%207.7-3.6%2011.5-.3.4-.8.7-1.3.7-3.8.1-7.6.1-11.5.1zm13.9%209.4c-1.6%200-2.8-1.3-2.8-2.8%200-1.6%201.3-2.8%202.8-2.8%201.6%200%202.8%201.3%202.8%202.8.1%201.5-1.2%202.8-2.8%202.8z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 31px;
  height: 44.2px;
}


.icon-location-wrap:before {
  content: '';
  display: block;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2213%22%20height%3D%2260%22%20viewBox%3D%220%200%2013%2060%22%3E%3Cpath%20clip-rule%3D%22evenodd%22%20stroke%3D%22%23E9E9E9%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M0%20.5c1.1%200%202%20.9%202%202L11.8%2031%202%2057.5c0%201.1-.9%202-2%202%22%20fill%3D%22none%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 13px;
  height: 60px;
}


.icon-magnifier-gray:before {
  content: '';
  display: block;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218.4%22%20height%3D%2218.7%22%20viewBox%3D%220%200%2018.4%2018.7%22%3E%3Cpath%20d%3D%22M3.5%208h-.8c0-2.9%202.4-5.3%205.3-5.3v.8c-2.5%200-4.5%202-4.5%204.5z%22%20fill%3D%22none%22%2F%3E%3Cpath%20fill%3D%22%23989999%22%20d%3D%22M18.2%2017.3l-4.1-4.1c1.2-1.4%202-3.2%202-5.2%200-4.4-3.6-8-8-8C3.6%200%200%203.6%200%208s3.6%208%208%208c1.8%200%203.5-.6%204.9-1.7l4.1%204.1c.2.2.4.2.6.2s.4-.1.6-.2c.3-.2.3-.7%200-1.1zM1.6%208c0-3.5%202.9-6.4%206.4-6.4s6.4%202.9%206.4%206.4c0%203.5-2.9%206.4-6.4%206.4-3.5%200-6.4-2.8-6.4-6.4z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 18.4px;
  height: 18.7px;
}


.icon-magnifier:before {
  content: '';
  display: block;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218.4%22%20height%3D%2218.7%22%20viewBox%3D%220%200%2018.4%2018.7%22%3E%3Cg%20fill%3D%22%23fff%22%3E%3Cpath%20d%3D%22M2.7%208h.8c0-2.5%202-4.5%204.5-4.5v-.8C5.1%202.7%202.7%205.1%202.7%208zM18.2%2017.3l-4.1-4.1c1.2-1.4%202-3.2%202-5.2%200-4.4-3.6-8-8-8C3.6%200%200%203.6%200%208s3.6%208%208%208c1.8%200%203.5-.6%204.9-1.7l4.1%204.1c.2.2.4.2.6.2.2%200%20.4-.1.6-.2.3-.2.3-.7%200-1.1zM1.6%208c0-3.5%202.9-6.4%206.4-6.4%203.5%200%206.4%202.9%206.4%206.4%200%203.5-2.9%206.4-6.4%206.4-3.5%200-6.4-2.8-6.4-6.4z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 18.4px;
  height: 18.7px;
}


.icon-map-pointer:before {
  content: '';
  display: block;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218.1%22%20height%3D%2221.4%22%20viewBox%3D%220%200%2018.1%2021.4%22%3E%3Cpath%20fill%3D%22%235EA557%22%20d%3D%22M9%2021.4c-.2%200-.4-.1-.6-.2C7.6%2020.4%200%2013.8%200%209c0-5%204.1-9%209-9%205%200%209%204.1%209%209%200%204.8-7.6%2011.4-8.5%2012.1-.1.2-.3.3-.5.3zM9%201.8C5%201.8%201.8%205%201.8%209c0%203.1%204.8%208.1%207.3%2010.3%202.5-2.2%207.3-7.2%207.3-10.3-.1-4-3.3-7.2-7.4-7.2zM9%2014.5C6%2014.5%203.5%2012%203.5%209%203.6%206%206%203.6%209%203.6s5.5%202.5%205.5%205.5-2.4%205.4-5.5%205.4zM9%204.4C6.5%204.4%204.4%206.5%204.4%209s2.1%204.6%204.6%204.6c2.5%200%204.6-2.1%204.6-4.6s-2-4.6-4.6-4.6zM9%206.1c-1.6%200-3%201.3-3%203%200%201.6%201.3%203%203%203%201.6%200%203-1.3%203-3s-1.3-3-3-3z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 18.1px;
  height: 21.4px;
}


.icon-metro:before {
  content: '';
  display: block;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2214.2%22%20height%3D%2212%22%20viewBox%3D%220%200%2014.2%2011.5%22%20enable-background%3D%22new%200%200%2014.2%2011.5%22%3E%3Cpath%20fill%3D%22%23333%22%20d%3D%22M13%202.7C11.5.4%209.5%200%209.5%200L7.1%208.1%204.7%200s-2%20.4-3.5%202.7C-.3%205.1-.1%207.9.8%209.7c.9%201.8%201.2%201.8%201.2%201.8h3s-2.4-1.4-3.2-3.3c-.7-1.9-.5-3.6%200-4.6.5-1.1%201.4-1.8%201.9-1.7.5%200%20.6.5.6.8.1.3%202.7%208.2%202.8%208.5.1-.3%202.6-8.2%202.7-8.6.1-.4.1-.8.6-.8s1.4.7%201.9%201.7c.5%201.1.7%202.7%200%204.6-.7%201.9-3.2%203.3-3.2%203.3h3s.4%200%201.3-1.7c1-1.7%201.2-4.6-.4-7z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 14.2px;
  height: 12px;
}

ul.ul-next li:before,
.icon-next:before {
  content: '';
  display: block;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%225.6%22%20height%3D%226.1%22%20viewBox%3D%220%200%205.6%206.1%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20fill%3D%22%235EA557%22%20d%3D%22M0%206.1L3.1%203%200%200h2.6l3.1%203.1-3.1%203H0z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 5.6px;
  height: 6.1px;
}


.icon-park:before {
  content: '';
  display: block;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224.5%22%20height%3D%2225%22%20viewBox%3D%220%200%2024.5%2025%22%3E%3Cpath%20fill%3D%22%236EAB55%22%20d%3D%22M24.5%209.8c0-1.3-.4-2.5-1.2-3.5.1-.3.1-.6.1-.8%200-2.4-2-4.4-4.4-4.4-.3%200-.6%200-1%20.1C17.2.4%2016.1%200%2015%200c-1.3%200-2.6.6-3.4%201.6-.9-.6-2-.9-3.1-.9C6.1.7%204%202.2%203.2%204.4%201.3%204.9%200%206.6%200%208.6c0%201.9%201.2%203.6%203%204.2-.2.6-.3%201.2-.3%201.9%200%203.1%202.5%205.6%205.6%205.6h.5V24c0%20.6.4%201%201%201h5c.6%200%201-.4%201-1v-5c.8.6%201.8%201%202.8%201%202.4%200%204.4-2%204.4-4.4%200-.6-.1-1.1-.3-1.7%201.1-1%201.8-2.5%201.8-4.1zM10.8%2023v-3.2c.6-.3%201.1-.7%201.6-1.1.4.3.9.4%201.4.5V23h-3zm10-10.1c-.2.1-.4.4-.4.6-.1.3%200%20.5.2.8.3.4.4.9.4%201.4%200%201.3-1.1%202.4-2.4%202.4-.7%200-1.3-.3-1.8-.8-.3-.3-.8-.4-1.2-.3-.9.4-2%20.2-2.7-.5-.2-.2-.5-.3-.8-.3-.3%200-.6.2-.7.4-.7%201-1.8%201.7-3%201.7-2%200-3.6-1.6-3.6-3.6%200-.7.2-1.5.7-2.1.2-.3.2-.7.1-1-.4-.4-.7-.6-1.1-.6h-.1C3.1%2011%202%209.9%202%208.6c0-1.2.9-2.2%202.1-2.4.4%200%20.8-.3.9-.7.4-1.6%201.8-2.8%203.5-2.8%201%200%201.9.4%202.6%201.1.3.2.6.4.9.3.3-.1.6-.3.7-.6C13.2%202.6%2014%202%2015%202c.7%200%201.4.3%201.9%201%20.3.4.7.5%201.2.3.3-.1.6-.2.9-.2%201.3%200%202.4%201.1%202.4%202.4%200%20.2%200%20.5-.1.8-.1.4%200%20.7.2%201%20.7.7%201%201.6%201%202.5%200%201.3-.6%202.4-1.7%203.1z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 24.5px;
  height: 25px;
}


.icon-piggy-bank:before {
  content: '';
  display: block;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224.2%22%20height%3D%2225.9%22%20viewBox%3D%220%200%2024.2%2025.9%22%3E%3Cg%20fill%3D%22%235EA557%22%3E%3Ccircle%20cx%3D%226.8%22%20cy%3D%2213.5%22%20r%3D%22.9%22%2F%3E%3Cpath%20d%3D%22M14.6%208.1c1.4%200%202.6-1.2%202.6-2.6%200-1.4-1.2-2.6-2.6-2.6-1.4%200-2.6%201.2-2.6%202.6-.1%201.4%201.1%202.6%202.6%202.6zm0-4.3c.9%200%201.6.7%201.6%201.6%200%20.9-.7%201.6-1.6%201.6-.9%200-1.6-.7-1.6-1.6-.1-.8.7-1.6%201.6-1.6zM23.4%2011.3c-.3-.3-.7-.4-1.1-.2-.3.2-.5.5-.5.9-.7-1.2-1.7-2.3-3-3.1.7-.9%201.2-2.1%201.2-3.4%200-3-2.4-5.5-5.5-5.5C11.5%200%209%202.4%209%205.5c0%20.6.1%201.2.3%201.8-.4.1-.7.2-1%20.3-.9-.8-2.2-1-3.3-.4-.3.2-.5.5-.5.8v1.5c-1%20.9-1.8%201.9-2.3%203.1-1.2%200-2.1%201-2.1%202.2v1.5c0%201.2%201%202.2%202.1%202.2.5%201.1%201.3%202.2%202.3%203.1v2c0%201.2%201%202.2%202.2%202.2h1.5c1.1%200%201.9-.7%202.2-1.7%201.3.2%202.5.1%203.8-.1.2%201%201.1%201.8%202.2%201.8h1.5c1.2%200%202.2-1%202.2-2.2v-2.4c1.5-1.4%202.4-3.2%202.5-5.1%201-.5%201.6-1.6%201.6-2.7%200-.7-.3-1.5-.8-2.1zM14.6%202C16.5%202%2018%203.6%2018%205.5S16.4%209%2014.5%209%2011%207.4%2011%205.5c.1-1.9%201.7-3.5%203.6-3.5zm6.2%2013.6c0%201.7-.8%203.3-2.2%204.5-.2.2-.3.4-.3.7v2.8c0%20.2-.1.3-.3.3h-1.5c-.2%200-.3-.1-.3-.3v-.7c0-.3-.1-.6-.4-.8-.2-.2-.5-.2-.8-.2-1.7.4-3.4.5-5.1.1-.3-.1-.6%200-.8.2-.2.2-.4.5-.4.7v.6c0%20.2-.1.3-.3.3H6.7c-.2%200-.3-.1-.3-.3v-2.4c0-.3-.1-.6-.4-.8-1.1-.9-1.9-1.9-2.3-3.1-.1-.4-.5-.6-.9-.6h-.6c-.2%200-.3-.1-.3-.3v-1.5c0-.2.1-.3.3-.3h.6c.4%200%20.8-.3.9-.6.4-1.2%201.2-2.2%202.3-3.1.2-.2.4-.5.4-.8V8.7c.3%200%20.7.2%201%20.5.3.3.7.4%201.1.3.5-.2%201-.3%201.6-.4-.3.2-.4.4-.4.7%200%20.5.5.9%201%20.9%202-.2%204.1.2%205.7%201.1.1.1.3.1.5.1.3%200%20.7-.2.8-.5.2-.3.1-.7%200-1%201.5%201%202.6%202.4%202.9%204%200%20.2.2.4.3.5-.1.3-.1.5-.1.7z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 24.2px;
  height: 25.9px;
}

.icon-school-sm.disabled:before,.icon-school-sm.disabled:hover:before,
.icon-school-sm-dis:before {
  content: '';
  display: block;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2217.2%22%20height%3D%2211.3%22%20viewBox%3D%220%200%2017.2%2011.3%22%3E%3Cpath%20fill%3D%22%23999%22%20d%3D%22M16.8%206.1V4c0-.1%200-.2-.1-.2-.1-.2-.2-.3-.4-.4L8.7.1c-.2-.1-.4-.1-.6%200L.4%203.4c-.2.1-.4.4-.4.7%200%20.3.2.5.4.6l1.6.7v3.4c0%20.2.1.4.3.6%201.9%201.3%204%201.9%206%201.9%202.1%200%204.2-.6%206-1.9.2-.1.3-.3.3-.6V5.4l1.4-.6v1.3c-.2.1-.3.3-.3.6v2.4c0%20.4.3.7.7.7.4%200%20.7-.3.7-.7V6.7c.1-.3-.1-.5-.3-.6zM8.4%201.4l6%202.6-6%202.6-6-2.6%206-2.6zm5%207.1c-3.1%201.9-6.8%201.9-9.9%200V6l4.7%202c.1%200%20.2.1.3.1.1%200%20.2%200%20.3-.1l4.7-2v2.5z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 17.2px;
  height: 11.3px;
}

.icon-school-sm:hover:before,
.icon-school-sm-hvr:before {
  content: '';
  display: block;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2217.2%22%20height%3D%2211.3%22%20viewBox%3D%220%200%2017.2%2011.3%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M16.8%206.1V4c0-.1%200-.2-.1-.2-.1-.2-.2-.3-.4-.4L8.7.1c-.2-.1-.4-.1-.6%200L.4%203.4c-.2.1-.4.4-.4.7%200%20.3.2.5.4.6l1.6.7v3.4c0%20.2.1.4.3.6%201.9%201.3%204%201.9%206%201.9%202.1%200%204.2-.6%206-1.9.2-.1.3-.3.3-.6V5.4l1.4-.6v1.3c-.2.1-.3.3-.3.6v2.4c0%20.4.3.7.7.7.4%200%20.7-.3.7-.7V6.7c.1-.3-.1-.5-.3-.6zM8.4%201.4l6%202.6-6%202.6-6-2.6%206-2.6zm5%207.1c-3.1%201.9-6.8%201.9-9.9%200V6l4.7%202c.1%200%20.2.1.3.1.1%200%20.2%200%20.3-.1l4.7-2v2.5z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 17.2px;
  height: 11.3px;
}


.icon-school-sm:before {
  content: '';
  display: block;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2217.2%22%20height%3D%2211.3%22%20viewBox%3D%220%200%2017.2%2011.3%22%3E%3Cpath%20fill%3D%22%235EA557%22%20d%3D%22M16.8%206.1V4c0-.1%200-.2-.1-.2-.1-.2-.2-.3-.4-.4L8.7.1c-.2-.1-.4-.1-.6%200L.4%203.4c-.2.1-.4.4-.4.7%200%20.3.2.5.4.6l1.6.7v3.4c0%20.2.1.4.3.6%201.9%201.3%204%201.9%206%201.9%202.1%200%204.2-.6%206-1.9.2-.1.3-.3.3-.6V5.4l1.4-.6v1.3c-.2.1-.3.3-.3.6v2.4c0%20.4.3.7.7.7.4%200%20.7-.3.7-.7V6.7c.1-.3-.1-.5-.3-.6zM8.4%201.4l6%202.6-6%202.6-6-2.6%206-2.6zm5%207.1c-3.1%201.9-6.8%201.9-9.9%200V6l4.7%202c.1%200%20.2.1.3.1.1%200%20.2%200%20.3-.1l4.7-2v2.5z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 17.2px;
  height: 11.3px;
}


.icon-school:before {
  content: '';
  display: block;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2225%22%20height%3D%2216.4%22%20viewBox%3D%220%200%2025%2016.4%22%3E%3Cpath%20fill%3D%22%236EAB55%22%20d%3D%22M24.5%208.8v-3c0-.1-.1-.2-.1-.3-.1-.2-.3-.4-.5-.5L12.6.1c-.3-.1-.5-.1-.8%200L.6%205c-.4.1-.6.5-.6.9s.2.8.6.9l2.4%201v5c0%20.3.2.6.4.8%202.7%201.8%205.7%202.7%208.8%202.7%203%200%206.1-.9%208.8-2.7.3-.2.4-.5.4-.8v-5l2-.9v1.9c-.2.2-.4.5-.4.9v3.5c0%20.6.4%201%201%201s1-.4%201-1V9.7c0-.4-.3-.7-.5-.9zM12.2%202.1l8.7%203.8-8.7%203.8-8.7-3.8%208.7-3.8zm7.2%2010.2c-4.5%202.8-9.9%202.8-14.4%200V8.7l6.8%203c.1.1.3.1.4.1.1%200%20.3%200%20.4-.1l6.8-3v3.6z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 25px;
  height: 16.4px;
}

.icon-search-list-sm.disabled:before,.icon-search-list-sm.disabled:hover:before,
.icon-search-list-sm-dis:before {
  content: '';
  display: block;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2214.9%22%20height%3D%2213.4%22%20viewBox%3D%220%200%2014.9%2013.4%22%3E%3Cg%20fill%3D%22%23999%22%3E%3Cpath%20d%3D%22M9.3%202.2c-.8%200-1.6.2-2.3.5H.6c-.3%200-.6.3-.6.6s.3.6.6.6h4.7c-.4.5-.8%201-1.1%201.6H.6c-.3-.1-.6.2-.6.5s.3.6.6.6h3.2c0%20.4-.1.8-.1%201.2v.4H.6c-.3-.1-.6.2-.6.5s.3.6.6.6h3.3c.2.5.4%201%20.7%201.5h-4c-.3%200-.6.3-.6.6s.3.6.6.6h5.1c1%20.8%202.2%201.3%203.6%201.3%203.1%200%205.6-2.5%205.6-5.6s-2.5-5.5-5.6-5.5zm0%2010c-2.4%200-4.4-2-4.4-4.4%200-2.4%202-4.4%204.4-4.4%202.4%200%204.4%202%204.4%204.4%200%202.4-2%204.4-4.4%204.4zM9.3%204.1c-2%200-3.7%201.6-3.7%203.7%200%202%201.6%203.7%203.7%203.7%202%200%203.7-1.6%203.7-3.7%200-2-1.7-3.7-3.7-3.7zm0%206.8c-1.7%200-3.1-1.4-3.1-3.1%200-1.7%201.4-3.1%203.1-3.1s3.1%201.4%203.1%203.1c0%201.7-1.4%203.1-3.1%203.1zM.6%201.2h8.2c.3%200%20.6-.3.6-.6.1-.3-.2-.6-.5-.6H.6C.3%200%200%20.3%200%20.6s.3.6.6.6z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 14.9px;
  height: 13.4px;
}

.icon-search-list-sm:hover:before,
.icon-search-list-sm-hvr:before {
  content: '';
  display: block;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2214.9%22%20height%3D%2213.4%22%20viewBox%3D%220%200%2014.9%2013.4%22%3E%3Cg%20fill%3D%22%23fff%22%3E%3Cpath%20d%3D%22M9.3%202.2c-.8%200-1.6.2-2.3.5H.6c-.3%200-.6.3-.6.6s.3.6.6.6h4.7c-.4.5-.8%201-1.1%201.6H.6c-.3-.1-.6.2-.6.5s.3.6.6.6h3.2c0%20.4-.1.8-.1%201.2v.4H.6c-.3-.1-.6.2-.6.5s.3.6.6.6h3.3c.2.5.4%201%20.7%201.5h-4c-.3%200-.6.3-.6.6s.3.6.6.6h5.1c1%20.8%202.2%201.3%203.6%201.3%203.1%200%205.6-2.5%205.6-5.6s-2.5-5.5-5.6-5.5zm0%2010c-2.4%200-4.4-2-4.4-4.4%200-2.4%202-4.4%204.4-4.4%202.4%200%204.4%202%204.4%204.4%200%202.4-2%204.4-4.4%204.4zM9.3%204.1c-2%200-3.7%201.6-3.7%203.7%200%202%201.6%203.7%203.7%203.7%202%200%203.7-1.6%203.7-3.7%200-2-1.7-3.7-3.7-3.7zm0%206.8c-1.7%200-3.1-1.4-3.1-3.1%200-1.7%201.4-3.1%203.1-3.1s3.1%201.4%203.1%203.1c0%201.7-1.4%203.1-3.1%203.1zM.6%201.2h8.2c.3%200%20.6-.3.6-.6.1-.3-.2-.6-.5-.6H.6C.3%200%200%20.3%200%20.6s.3.6.6.6z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 14.9px;
  height: 13.4px;
}


.icon-search-list-sm:before {
  content: '';
  display: block;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2214.9%22%20height%3D%2213.4%22%20viewBox%3D%220%200%2014.9%2013.4%22%3E%3Cg%20fill%3D%22%235EA557%22%3E%3Cpath%20d%3D%22M9.3%202.2c-.8%200-1.6.2-2.3.5H.6c-.3%200-.6.3-.6.6s.3.6.6.6h4.7c-.4.5-.8%201-1.1%201.6H.6c-.3-.1-.6.2-.6.5s.3.6.6.6h3.2c0%20.4-.1.8-.1%201.2v.4H.6c-.3-.1-.6.2-.6.5s.3.6.6.6h3.3c.2.5.4%201%20.7%201.5h-4c-.3%200-.6.3-.6.6s.3.6.6.6h5.1c1%20.8%202.2%201.3%203.6%201.3%203.1%200%205.6-2.5%205.6-5.6s-2.5-5.5-5.6-5.5zm0%2010c-2.4%200-4.4-2-4.4-4.4%200-2.4%202-4.4%204.4-4.4%202.4%200%204.4%202%204.4%204.4%200%202.4-2%204.4-4.4%204.4zM9.3%204.1c-2%200-3.7%201.6-3.7%203.7%200%202%201.6%203.7%203.7%203.7%202%200%203.7-1.6%203.7-3.7%200-2-1.7-3.7-3.7-3.7zm0%206.8c-1.7%200-3.1-1.4-3.1-3.1%200-1.7%201.4-3.1%203.1-3.1s3.1%201.4%203.1%203.1c0%201.7-1.4%203.1-3.1%203.1zM.6%201.2h8.2c.3%200%20.6-.3.6-.6.1-.3-.2-.6-.5-.6H.6C.3%200%200%20.3%200%20.6s.3.6.6.6z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 14.9px;
  height: 13.4px;
}

.icon-slick-left:hover:active:before,.slick-prev:hover:active:before,
.icon-slick-left-act:before {
  content: '';
  display: block;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2023.5%2023.6%22%20enable-background%3D%22new%200%200%2023.5%2023.6%22%3E%3Cpath%20fill%3D%22%2359ab00%22%20d%3D%22M11.8%2023.6c-3.1%200-6.1-1.2-8.3-3.5C-1.1%2015.5-1.1%208%203.4%203.4%205.7%201.2%208.6%200%2011.8%200c3.1%200%206.1%201.2%208.3%203.4%202.2%202.2%203.5%205.2%203.5%208.3%200%203.1-1.2%206.1-3.4%208.3-2.3%202.3-5.3%203.6-8.4%203.6zm0-21.6C9.2%202%206.7%203%204.9%204.9%201%208.7%201%2014.9%204.9%2018.7c1.8%201.8%204.3%202.9%206.9%202.9%202.6%200%205.1-1%206.9-2.9%201.8-1.8%202.9-4.3%202.9-6.9%200-2.6-1-5.1-2.9-6.9C16.8%203%2014.4%202%2011.8%202zM14.2%2017.6c-.3%200-.5-.1-.7-.3l-4.8-4.8c-.2-.2-.3-.4-.3-.7%200-.3.1-.5.3-.7l4.8-4.8c.4-.4%201-.4%201.4%200%20.4.4.4%201%200%201.4l-4.1%204.1%204.1%204.1c.4.4.4%201%200%201.4-.2.2-.5.3-.7.3z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}

.icon-slick-left:hover:before,.slick-prev:hover:before,
.icon-slick-left-hvr:before {
  content: '';
  display: block;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2023.5%2023.6%22%20enable-background%3D%22new%200%200%2023.5%2023.6%22%3E%3Cpath%20fill%3D%22%236F7070%22%20d%3D%22M11.8%2023.6c-3.1%200-6.1-1.2-8.3-3.5C-1.1%2015.5-1.1%208%203.4%203.4%205.7%201.2%208.6%200%2011.8%200c3.1%200%206.1%201.2%208.3%203.4%202.2%202.2%203.5%205.2%203.5%208.3%200%203.1-1.2%206.1-3.4%208.3-2.3%202.3-5.3%203.6-8.4%203.6zm0-21.6C9.2%202%206.7%203%204.9%204.9%201%208.7%201%2014.9%204.9%2018.7c1.8%201.8%204.3%202.9%206.9%202.9%202.6%200%205.1-1%206.9-2.9%201.8-1.8%202.9-4.3%202.9-6.9%200-2.6-1-5.1-2.9-6.9C16.8%203%2014.4%202%2011.8%202zM14.2%2017.6c-.3%200-.5-.1-.7-.3l-4.8-4.8c-.2-.2-.3-.4-.3-.7%200-.3.1-.5.3-.7l4.8-4.8c.4-.4%201-.4%201.4%200%20.4.4.4%201%200%201.4l-4.1%204.1%204.1%204.1c.4.4.4%201%200%201.4-.2.2-.5.3-.7.3z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}

.slick-prev:before,
.icon-slick-left:before {
  content: '';
  display: block;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2023.5%2023.6%22%20enable-background%3D%22new%200%200%2023.5%2023.6%22%3E%3Cpath%20fill%3D%22%23989999%22%20d%3D%22M11.8%2023.6c-3.1%200-6.1-1.2-8.3-3.5C-1.1%2015.5-1.1%208%203.4%203.4%205.7%201.2%208.6%200%2011.8%200c3.1%200%206.1%201.2%208.3%203.4%202.2%202.2%203.5%205.2%203.5%208.3%200%203.1-1.2%206.1-3.4%208.3-2.3%202.3-5.3%203.6-8.4%203.6zm0-21.6C9.2%202%206.7%203%204.9%204.9%201%208.7%201%2014.9%204.9%2018.7c1.8%201.8%204.3%202.9%206.9%202.9%202.6%200%205.1-1%206.9-2.9%201.8-1.8%202.9-4.3%202.9-6.9%200-2.6-1-5.1-2.9-6.9C16.8%203%2014.4%202%2011.8%202zM14.2%2017.6c-.3%200-.5-.1-.7-.3l-4.8-4.8c-.2-.2-.3-.4-.3-.7%200-.3.1-.5.3-.7l4.8-4.8c.4-.4%201-.4%201.4%200%20.4.4.4%201%200%201.4l-4.1%204.1%204.1%204.1c.4.4.4%201%200%201.4-.2.2-.5.3-.7.3z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}

.icon-slick-right:hover:active:before,.slick-next:hover:active:before,
.icon-slick-right-act:before {
  content: '';
  display: block;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2023.5%2023.6%22%20enable-background%3D%22new%200%200%2023.5%2023.6%22%3E%3Cpath%20fill%3D%22%2359ab00%22%20d%3D%22M11.8%200c3.1%200%206.1%201.2%208.3%203.5%204.6%204.6%204.6%2012.1%200%2016.7-2.2%202.2-5.2%203.4-8.3%203.4-3.1%200-6.1-1.2-8.3-3.4C1.2%2017.9%200%2014.9%200%2011.8c0-3.1%201.2-6.1%203.4-8.3C5.7%201.2%208.6%200%2011.8%200zm0%2021.6c2.6%200%205.1-1%206.9-2.9%203.8-3.8%203.8-10%200-13.8C16.8%203%2014.4%202%2011.8%202%209.2%202%206.7%203%204.9%204.9%203%206.7%202%209.2%202%2011.8c0%202.6%201%205.1%202.9%206.9%201.8%201.8%204.3%202.9%206.9%202.9zM9.4%205.9c.3%200%20.5.1.7.3l4.8%204.8c.2.2.3.4.3.7%200%20.3-.1.5-.3.7l-4.8%204.8c-.4.4-1%20.4-1.4%200-.4-.4-.4-1%200-1.4l4.1-4.1-4.2-4.1c-.4-.4-.4-1%200-1.4.2-.2.5-.3.8-.3z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}

.icon-slick-right:hover:before,.slick-next:hover:before,
.icon-slick-right-hvr:before {
  content: '';
  display: block;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2023.5%2023.6%22%20enable-background%3D%22new%200%200%2023.5%2023.6%22%3E%3Cpath%20fill%3D%22%236F7070%22%20d%3D%22M11.8%200c3.1%200%206.1%201.2%208.3%203.5%204.6%204.6%204.6%2012.1%200%2016.7-2.2%202.2-5.2%203.4-8.3%203.4-3.1%200-6.1-1.2-8.3-3.4C1.2%2017.9%200%2014.9%200%2011.8c0-3.1%201.2-6.1%203.4-8.3C5.7%201.2%208.6%200%2011.8%200zm0%2021.6c2.6%200%205.1-1%206.9-2.9%203.8-3.8%203.8-10%200-13.8C16.8%203%2014.4%202%2011.8%202%209.2%202%206.7%203%204.9%204.9%203%206.7%202%209.2%202%2011.8c0%202.6%201%205.1%202.9%206.9%201.8%201.8%204.3%202.9%206.9%202.9zM9.4%205.9c.3%200%20.5.1.7.3l4.8%204.8c.2.2.3.4.3.7%200%20.3-.1.5-.3.7l-4.8%204.8c-.4.4-1%20.4-1.4%200-.4-.4-.4-1%200-1.4l4.1-4.1-4.2-4.1c-.4-.4-.4-1%200-1.4.2-.2.5-.3.8-.3z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}

.slick-next:before,
.icon-slick-right:before {
  content: '';
  display: block;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2023.5%2023.6%22%20enable-background%3D%22new%200%200%2023.5%2023.6%22%3E%3Cpath%20fill%3D%22%23989999%22%20d%3D%22M11.8%200c3.1%200%206.1%201.2%208.3%203.5%204.6%204.6%204.6%2012.1%200%2016.7-2.2%202.2-5.2%203.4-8.3%203.4-3.1%200-6.1-1.2-8.3-3.4C1.2%2017.9%200%2014.9%200%2011.8c0-3.1%201.2-6.1%203.4-8.3C5.7%201.2%208.6%200%2011.8%200zm0%2021.6c2.6%200%205.1-1%206.9-2.9%203.8-3.8%203.8-10%200-13.8C16.8%203%2014.4%202%2011.8%202%209.2%202%206.7%203%204.9%204.9%203%206.7%202%209.2%202%2011.8c0%202.6%201%205.1%202.9%206.9%201.8%201.8%204.3%202.9%206.9%202.9zM9.4%205.9c.3%200%20.5.1.7.3l4.8%204.8c.2.2.3.4.3.7%200%20.3-.1.5-.3.7l-4.8%204.8c-.4.4-1%20.4-1.4%200-.4-.4-.4-1%200-1.4l4.1-4.1-4.2-4.1c-.4-.4-.4-1%200-1.4.2-.2.5-.3.8-.3z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}


.icon-speaker:before {
  content: '';
  display: block;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2223.4%22%20height%3D%2224.1%22%20viewBox%3D%220%200%2023.4%2024.1%22%3E%3Cpath%20fill%3D%22%235EA557%22%20d%3D%22M23.2%2013.2c-3.4-5.2-7.8-9.6-13-13-.3-.2-.6-.2-.9-.2-.4.1-.6.3-.8.6L3.6%2010.9c-.2.4-.1.8.1%201.1l-2.1%202.1C.6%2015.1%200%2016.5%200%2018s.6%202.8%201.6%203.9c1%201%202.4%201.6%203.9%201.6%201%200%202-.3%202.8-.8%201%20.9%202.2%201.5%203.3%201.5.9%200%201.7-.3%202.3-.9.4-.4.4-1.2%200-1.6-.4-.4-1.2-.4-1.6%200-.4.4-1.4.3-2.4-.4l1.4-1.4c.2.1.4.2.6.2.2%200%20.3%200%20.5-.1l10.2-4.9c.3-.1.5-.4.6-.7.3-.6.2-.9%200-1.2zm-20%207c-.6-.6-.9-1.4-.9-2.3%200-.9.3-1.7.9-2.3l2.3-2.3c1.7%201.3%203.2%202.8%204.6%204.6l-2.3%202.3c-1.3%201.2-3.4%201.2-4.6%200zm9.2-2.9c-1.8-2.5-3.9-4.6-6.4-6.4l4-8.1c4.1%202.9%207.7%206.5%2010.6%2010.6l-8.2%203.9z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 23.4px;
  height: 24.1px;
}

.icon-star.active:before,
.icon-star-act:before {
  content: '';
  display: block;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2225.3%22%20height%3D%2224.1%22%20viewBox%3D%220%200%2025.3%2024.1%22%3E%3Cpath%20fill%3D%22%235EA557%22%20d%3D%22M19.8%2024.1c-.2%200-.4-.1-.6-.2l-6.6-4.8L6%2023.9c-.4.3-.8.3-1.2%200-.3-.3-.5-.7-.4-1.1L7%2015.1.4%2010.3C.1%2010-.1%209.6%200%209.1c.1-.4.5-.7%201-.7h8.2L11.7.6c.1-.4.5-.7%201-.7.4%200%20.8.3%201%20.7l2.5%207.8h8.2c.4%200%20.8.3%201%20.7.1.4%200%20.9-.4%201.1L18.4%2015l2.5%207.8c.1.4%200%20.9-.4%201.1-.3.2-.5.2-.7.2zm-7.2-7.2c.2%200%20.4.1.6.2l4.7%203.4-1.8-5.5c-.1-.4%200-.9.4-1.1l4.7-3.4h-5.8c-.4%200-.8-.3-1-.7l-1.8-5.5-1.8%205.5c-.1.4-.5.7-1%20.7H4.1l4.7%203.4c.4.3.5.7.4%201.1l-1.8%205.5%204.7-3.4c.1-.1.3-.2.5-.2z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 25.3px;
  height: 24.1px;
}


.icon-star-flag:before {
  content: '';
  display: block;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2227.7%22%20height%3D%2226.3%22%20viewBox%3D%220%200%2027.7%2026.3%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M27.7%2010.1l-3%202.1h-9.3l-1.6-4.9-1.5%204.9H3l3.3%202.4h5.2l-1.8%205.6%204.1-3%204.2%203-1.8-5.6h5.2l-2.3%201.7%203.3%2010-3.3-10%208.6-6.2z%22%2F%3E%3Cpath%20fill%3D%22%23E8270B%22%20d%3D%22M13.8%207.3l1.6%204.9h9.3l3-2.1H17.1L13.8%200l-3.2%2010.1H0l3%202.1h9.3z%22%2F%3E%3Cpath%20fill%3D%22%23116DBB%22%20d%3D%22M21.4%2014.6h-5.2l1.8%205.6-4.2-3-4.1%203%201.8-5.6H6.3l2.3%201.7-3.3%2010%208.5-6.2%208.6%206.2-3.3-10z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 27.7px;
  height: 26.3px;
}

.icon-star:hover:before,.icon-star:active:before,
.icon-star-hvr:before {
  content: '';
  display: block;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2225.3%22%20height%3D%2224.1%22%20viewBox%3D%220%200%2025.3%2024.1%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M19.8%2024.1c-.2%200-.4-.1-.6-.2l-6.6-4.8L6%2023.9c-.4.3-.8.3-1.2%200-.3-.3-.5-.7-.4-1.1L7%2015.1.4%2010.3C.1%2010-.1%209.6%200%209.1c.1-.4.5-.7%201-.7h8.2L11.7.6c.1-.4.5-.7%201-.7.4%200%20.8.3%201%20.7l2.5%207.8h8.2c.4%200%20.8.3%201%20.7.1.4%200%20.9-.4%201.1L18.4%2015l2.5%207.8c.1.4%200%20.9-.4%201.1-.3.2-.5.2-.7.2zm-7.2-7.2c.2%200%20.4.1.6.2l4.7%203.4-1.8-5.5c-.1-.4%200-.9.4-1.1l4.7-3.4h-5.8c-.4%200-.8-.3-1-.7l-1.8-5.5-1.8%205.5c-.1.4-.5.7-1%20.7H4.1l4.7%203.4c.4.3.5.7.4%201.1l-1.8%205.5%204.7-3.4c.1-.1.3-.2.5-.2z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 25.3px;
  height: 24.1px;
}


.icon-star:before {
  content: '';
  display: block;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2225.3%22%20height%3D%2224.1%22%20viewBox%3D%220%200%2025.3%2024.1%22%3E%3Cpath%20fill%3D%22%23ccc%22%20d%3D%22M19.8%2024.1c-.2%200-.4-.1-.6-.2l-6.6-4.8L6%2023.9c-.4.3-.8.3-1.2%200-.3-.3-.5-.7-.4-1.1L7%2015.1.4%2010.3C.1%2010-.1%209.6%200%209.1c.1-.4.5-.7%201-.7h8.2L11.7.6c.1-.4.5-.7%201-.7.4%200%20.8.3%201%20.7l2.5%207.8h8.2c.4%200%20.8.3%201%20.7.1.4%200%20.9-.4%201.1L18.4%2015l2.5%207.8c.1.4%200%20.9-.4%201.1-.3.2-.5.2-.7.2zm-7.2-7.2c.2%200%20.4.1.6.2l4.7%203.4-1.8-5.5c-.1-.4%200-.9.4-1.1l4.7-3.4h-5.8c-.4%200-.8-.3-1-.7l-1.8-5.5-1.8%205.5c-.1.4-.5.7-1%20.7H4.1l4.7%203.4c.4.3.5.7.4%201.1l-1.8%205.5%204.7-3.4c.1-.1.3-.2.5-.2z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 25.3px;
  height: 24.1px;
}

.icon-arrow-rounded-down:before,
.icon-text-preview-down:before {
  content: '';
  display: block;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2217%22%20height%3D%2217%22%20viewBox%3D%220%200%2016.5%2016.5%22%20enable-background%3D%22new%200%200%2016.5%2016.5%22%3E%3Cpath%20fill%3D%22%235EA557%22%20d%3D%22M8.2%2016.5c-2.2%200-4.3-.9-5.8-2.4-3.2-3.2-3.2-8.4%200-11.7C4%20.9%206%200%208.2%200c2.2%200%204.3.9%205.8%202.4%203.2%203.2%203.2%208.4%200%2011.7-1.5%201.5-3.6%202.4-5.8%202.4zm0-15.1c-1.8%200-3.5.7-4.8%202-2.7%202.7-2.7%207%200%209.7%201.3%201.3%203%202%204.8%202%201.8%200%203.5-.7%204.8-2%202.7-2.7%202.7-7%200-9.7-1.2-1.3-2.9-2-4.8-2zM8.2%2010.6c-.2%200-.4-.1-.5-.2L4.4%207c-.3-.3-.3-.7%200-1%20.3-.3.7-.3%201%200l2.9%202.9L11.2%206c.3-.3.7-.3%201%200%20.3.3.3.7%200%201l-3.4%203.4c-.2.2-.4.2-.6.2z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 17px;
  height: 17px;
}

.icon-arrow-rounded-up:before,
.icon-text-preview-up:before {
  content: '';
  display: block;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2217%22%20height%3D%2217%22%20viewBox%3D%220%200%2016.5%2016.5%22%20enable-background%3D%22new%200%200%2016.5%2016.5%22%3E%3Cpath%20fill%3D%22%235EA557%22%20d%3D%22M8.2%200c2.2%200%204.3.9%205.8%202.4%203.2%203.2%203.2%208.4%200%2011.7-1.6%201.6-3.6%202.4-5.8%202.4-2.2%200-4.3-.9-5.8-2.4-3.2-3.2-3.2-8.4%200-11.7C4%20.9%206%200%208.2%200zm0%2015.1c1.8%200%203.5-.7%204.8-2%202.7-2.7%202.7-7%200-9.7-1.3-1.3-3-2-4.8-2-1.8%200-3.5.7-4.8%202-2.7%202.7-2.7%207%200%209.7%201.3%201.3%203%202%204.8%202zM8.2%205.8c.2%200%20.4.1.5.2l3.4%203.4c.3.3.3.7%200%201-.3.3-.7.3-1%200L8.2%207.5l-2.9%202.9c-.3.3-.7.3-1%200-.3-.3-.3-.7%200-1L7.7%206c.2-.1.4-.2.5-.2z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 17px;
  height: 17px;
}


.icon-thumb:before {
  content: '';
  display: block;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2215.3%22%20height%3D%2212.9%22%20viewBox%3D%220%200%2015.3%2012.9%22%3E%3Cg%20fill%3D%22%23fff%22%3E%3Cpath%20d%3D%22M14.6%200H.6C.3%200%200%20.3%200%20.6v11.6c0%20.4.3.6.6.6h14c.4%200%20.6-.3.6-.6V.6c.1-.3-.2-.6-.6-.6zM14%201.3v7.6l-2.7-2.3-3.1%202.1-4.3-4.6-2.6%202.7V1.3H14zM1.3%2011.6v-3L3.9%206%208%2010.4l3.2-2.1%202.6%202.2c.1.1.1.1.2.1v1.1H1.3zM8.4%206.4c1.3%200%202.3-1%202.3-2.3%200-1.3-1-2.3-2.3-2.3s-2.3%201-2.3%202.3c0%201.3%201%202.3%202.3%202.3zm0-3.3c.6%200%201%20.5%201%201s-.5%201-1%201-1-.5-1-1%20.4-1%201-1z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 15.3px;
  height: 12.9px;
}


.icon-timeline1:before {
  content: '';
  display: block;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2236.2%22%20height%3D%2238%22%20viewBox%3D%220%200%2036.2%2037.5%22%20enable-background%3D%22new%200%200%2036.2%2037.5%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20fill%3D%22%23fff%22%20stroke%3D%22%23EE943E%22%20stroke-width%3D%222%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M18.7%203.6c9.1%200%2016.5%207.4%2016.5%2016.5s-7.4%2016.5-16.5%2016.5S2.2%2029.2%202.2%2020c0-9.1%207.4-16.4%2016.5-16.4z%22%2F%3E%3Cpath%20fill%3D%22%23EE943E%22%20d%3D%22M24.9%2021.4c-.2-.3-.6-.3-.8-.1l-4.8%203.5V13.3c0-.3-.3-.6-.6-.6s-.6.3-.6.6v11.5l-4.8-3.5c-.3-.2-.6-.1-.8.1-.2.3-.1.6.1.8l5.7%204.2h.8l5.7-4.2c.2-.2.3-.5.1-.8z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 36.2px;
  height: 38px;
}


.icon-timeline2:before {
  content: '';
  display: block;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2236.2%22%20height%3D%2238%22%20viewBox%3D%220%200%2036.2%2037.5%22%20enable-background%3D%22new%200%200%2036.2%2037.5%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20fill%3D%22%23fff%22%20stroke%3D%22%235EA557%22%20stroke-width%3D%222%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M18.7%203.6c9.1%200%2016.5%207.4%2016.5%2016.5s-7.4%2016.5-16.5%2016.5S2.2%2029.2%202.2%2020c0-9.1%207.4-16.4%2016.5-16.4z%22%2F%3E%3Cpath%20fill%3D%22%235EA557%22%20d%3D%22M16.3%2027.2c-.2%200-.4-.1-.5-.2L11%2022c-.3-.3-.3-.7%200-1%20.3-.3.7-.3%201%200l4.2%204.4%2010-12.2c.3-.3.7-.4%201-.1.3.3.4.7.1%201L16.9%2026.9c-.1.1-.3.2-.6.3.1%200%20.1%200%200%200z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 36.2px;
  height: 38px;
}


.icon-timeline3:before {
  content: '';
  display: block;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2236.2%22%20height%3D%2238%22%20viewBox%3D%220%200%2036.2%2037.5%22%20enable-background%3D%22new%200%200%2036.2%2037.5%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20fill%3D%22%23fff%22%20stroke%3D%22%235EA557%22%20stroke-width%3D%222%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M18.7%203.6c9.1%200%2016.5%207.4%2016.5%2016.5s-7.4%2016.5-16.5%2016.5S2.2%2029.2%202.2%2020c0-9.1%207.4-16.4%2016.5-16.4z%22%2F%3E%3Cpath%20fill%3D%22%235EA557%22%20d%3D%22M16.3%2027.2c-.2%200-.4-.1-.5-.2L11%2022c-.3-.3-.3-.7%200-1%20.3-.3.7-.3%201%200l4.2%204.4%2010-12.2c.3-.3.7-.4%201-.1.3.3.4.7.1%201L16.9%2026.9c-.1.1-.3.2-.6.3.1%200%20.1%200%200%200z%22%2F%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20fill%3D%22%23fff%22%20d%3D%22M8%201c4.5%200%208.1%203.6%208.1%208.1s-3.6%208.1-8.1%208.1-8.1-3.6-8.1-8.1S3.6%201%208%201z%22%2F%3E%3Cpath%20fill%3D%22%23DD4E4E%22%20d%3D%22M8%2015.4c-3.4%200-6.2-2.8-6.2-6.2C1.8%205.8%204.6%203%208%203c3.4%200%206.2%202.8%206.2%206.2%200%203.4-2.8%206.2-6.2%206.2zM8%204.1c-2.8%200-5.1%202.3-5.1%205.1s2.3%205.1%205.1%205.1%205.1-2.3%205.1-5.1S10.8%204.1%208%204.1zM8%209.8c-.3%200-.5-.2-.5-.5V5.4c0-.3.2-.5.5-.5s.5.2.5.5v3.8c0%20.3-.2.6-.5.6zM6.4%2011.4c-.1%200-.3-.1-.4-.2-.2-.2-.2-.5%200-.7L7.5%209c.2-.2.5-.2.7%200%20.2.2.2.5%200%20.7l-1.5%201.5c0%20.1-.2.2-.3.2z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 36.2px;
  height: 38px;
}


.icon-timeline4:before {
  content: '';
  display: block;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2236.2%22%20height%3D%2238%22%20viewBox%3D%220%200%2036.2%2037.5%22%20enable-background%3D%22new%200%200%2036.2%2037.5%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20fill%3D%22%23fff%22%20stroke%3D%22%232C9AD7%22%20stroke-width%3D%222%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M18.7%203.6c9.1%200%2016.5%207.4%2016.5%2016.5s-7.4%2016.5-16.5%2016.5S2.2%2029.2%202.2%2020c0-9.1%207.4-16.4%2016.5-16.4z%22%2F%3E%3Cg%20fill%3D%22%232C9AD7%22%3E%3Cpath%20d%3D%22M27.2%2018.9c-.2-.3-.6-.3-.9%200l-.8.7c-.3-3.5-3.2-6.2-6.8-6.2-2.4%200-4.5%201.2-5.8%203.2-.2.3-.1.7.2.9.3.2.7.1.9-.2%201-1.6%202.8-2.6%204.7-2.6%202.9%200%205.3%202.2%205.5%205.1l-.9-.9c-.3-.2-.7-.2-.9%200-.2.3-.2.7%200%20.9l1.9%201.7c.1.1.3.2.4.2.2%200%20.3-.1.4-.2l1.9-1.7c.4-.3.4-.7.2-.9zM24.3%2023.1c-.3-.2-.7-.1-.9.2-1%201.6-2.8%202.6-4.7%202.6-2.9%200-5.2-2.2-5.5-5l.9.8c.1.1.3.2.4.2.2%200%20.4-.1.5-.2.2-.3.2-.7%200-.9l-2-1.9c-.2-.2-.6-.2-.9%200l-1.9%201.7c-.3.2-.3.6%200%20.9.2.3.6.3.9%200l.9-.8c.3%203.5%203.2%206.3%206.8%206.3%202.4%200%204.5-1.2%205.8-3.2.1-.1%200-.5-.3-.7z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 36.2px;
  height: 38px;
}


.icon-timeline5:before {
  content: '';
  display: block;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2236.2%22%20height%3D%2238%22%20viewBox%3D%220%200%2036.2%2037.5%22%20enable-background%3D%22new%200%200%2036.2%2037.5%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20fill%3D%22%23fff%22%20stroke%3D%22%232C9AD7%22%20stroke-width%3D%222%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M18.7%203.6c9.1%200%2016.5%207.4%2016.5%2016.5s-7.4%2016.5-16.5%2016.5S2.2%2029.2%202.2%2020c0-9.1%207.4-16.4%2016.5-16.4z%22%2F%3E%3Cg%20fill%3D%22%232C9AD7%22%3E%3Cpath%20d%3D%22M27.2%2018.9c-.2-.3-.6-.3-.9%200l-.8.7c-.3-3.5-3.2-6.2-6.8-6.2-2.4%200-4.5%201.2-5.8%203.2-.2.3-.1.7.2.9.3.2.7.1.9-.2%201-1.6%202.8-2.6%204.7-2.6%202.9%200%205.3%202.2%205.5%205.1l-.9-.9c-.3-.2-.7-.2-.9%200-.2.3-.2.7%200%20.9l1.9%201.7c.1.1.3.2.4.2.2%200%20.3-.1.4-.2l1.9-1.7c.4-.3.4-.7.2-.9zM24.3%2023.1c-.3-.2-.7-.1-.9.2-1%201.6-2.8%202.6-4.7%202.6-2.9%200-5.2-2.2-5.5-5l.9.8c.1.1.3.2.4.2.2%200%20.4-.1.5-.2.2-.3.2-.7%200-.9l-2-1.9c-.2-.2-.6-.2-.9%200l-1.9%201.7c-.3.2-.3.6%200%20.9.2.3.6.3.9%200l.9-.8c.3%203.5%203.2%206.3%206.8%206.3%202.4%200%204.5-1.2%205.8-3.2.1-.1%200-.5-.3-.7z%22%2F%3E%3C%2Fg%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20fill%3D%22%23fff%22%20d%3D%22M8.1%200c4.5%200%208.1%203.6%208.1%208.1s-3.6%208.1-8.1%208.1S0%2012.6%200%208.1%203.6%200%208.1%200z%22%2F%3E%3Cpath%20fill%3D%22%23DD4E4E%22%20d%3D%22M8%2014.4c-3.4%200-6.2-2.8-6.2-6.2C1.8%204.8%204.6%202%208%202c3.4%200%206.2%202.8%206.2%206.2%200%203.4-2.8%206.2-6.2%206.2zM8%203.1c-2.8%200-5.1%202.3-5.1%205.1s2.3%205.1%205.1%205.1%205.1-2.3%205.1-5.1c.1-2.8-2.2-5.1-5.1-5.1zM8%203.9c-.3%200-.5.2-.5.5V8L6.1%209.5c-.2.2-.2.5%200%20.7.1.1.2.2.4.2s.3-.1.4-.2l1.5-1.5c.1-.1.2-.2.2-.4V4.4c0-.3-.3-.5-.6-.5z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 36.2px;
  height: 38px;
}


.icon-timeline6:before {
  content: '';
  display: block;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2236.2%22%20height%3D%2238%22%20viewBox%3D%220%200%2036.2%2037.5%22%20enable-background%3D%22new%200%200%2036.2%2037.5%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20fill%3D%22%23fff%22%20stroke%3D%22%23ccc%22%20stroke-width%3D%222%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M18.7%203.6c9.1%200%2016.5%207.4%2016.5%2016.5s-7.4%2016.5-16.5%2016.5S2.2%2029.2%202.2%2020c0-9.1%207.4-16.4%2016.5-16.4z%22%2F%3E%3Cpath%20fill%3D%22%23ccc%22%20d%3D%22M27.5%2017.1l-6.7-6.7c-.1-.1-.3-.2-.5-.2s-.3.1-.5.2l-8.3%208.3c-.1.1-.2.3-.2.5l.2%206.4c0%20.3.3.6.6.6l6.4.2c.2%200%20.3-.1.5-.2l8.3-8.3c.1-.1.2-.3.2-.5.1%200%20.1-.2%200-.3zm-7.7%206.6c-.5-.4-1.1-.6-1.7-.6l5.2-5.2%201.1%201.1-4.6%204.7zm-2.1-1.1c0-.7-.3-1.3-.7-1.8-.6-.6-1.3-.8-2.1-.7l5.3-5.3%202.7%202.7-5.2%205.1zm-3-3.2c0-.5-.2-1-.6-1.4l4.7-4.7%201%201-5.1%205.1zM12.9%2025l-.1-2.1c1.1.2%202%201.1%202.1%202.2l-2-.1zm5.5.2l-2.8-.1c-.1-1.5-1.3-2.7-2.8-2.9l-.1-2.7%201-1c.4.6.5%201.4.2%202-.1.1%200%20.3.1.4.1.1.3.1.4.1.8-.4%201.7-.3%202.3.3.6.6.7%201.5.3%202.3-.1.1%200%20.3.1.4.1.1.3.1.4.1.7-.4%201.5-.3%202%20.2l-1.1.9zm6.6-6.6l-5.7-5.7%201.1-1.1%205.7%205.7-1.1%201.1z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 36.2px;
  height: 38px;
}

.icon-wand-sm.disabled:before,.icon-wand-sm.disabled:hover:before,
.icon-wand-sm-dis:before {
  content: '';
  display: block;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2214.1%22%20height%3D%2214.1%22%20viewBox%3D%220%200%2014.1%2014.1%22%3E%3Cpath%20fill%3D%22%23999%22%20d%3D%22M14%206.8l-1.7-2.3.9-2.8c.1-.2%200-.5-.1-.6-.2-.2-.4-.2-.6-.1l-2.9.9L7.3.1c-.2-.1-.4-.1-.7%200-.2.1-.3.3-.3.5v2.9L4%205.2c-.2.2-.3.4-.3.6%200%20.2.2.4.4.5l2.2.7-6.1%206.1c-.2.2-.2.6%200%20.9.1.1.3.2.4.2s.3-.1.4-.2l6.1-6.1.7%202.1c.1.2.3.4.5.4h.1c.2%200%20.4-.1.5-.3l1.7-2.4h2.9c.2%200%20.5-.1.6-.3%200-.1%200-.4-.1-.6zm-3.7-.3c-.2%200-.4.1-.5.3L8.6%208.4%208%206.5c-.1-.2-.2-.3-.4-.4l-1.9-.6%201.6-1.2c.2-.1.3-.3.3-.5v-2L9.2%203c.2.1.4.2.6.1l1.9-.6-.7%201.9c-.1.2%200%20.4.1.6l1.2%201.6-2-.1z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 14.1px;
  height: 14.1px;
}

.icon-wand-sm:hover:before,
.icon-wand-sm-hvr:before {
  content: '';
  display: block;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2214.1%22%20height%3D%2214.1%22%20viewBox%3D%220%200%2014.1%2014.1%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M14%206.8l-1.7-2.3.9-2.8c.1-.2%200-.5-.1-.6-.2-.2-.4-.2-.6-.1l-2.9.9L7.3.1c-.2-.1-.4-.1-.7%200-.2.1-.3.3-.3.5v2.9L4%205.2c-.2.2-.3.4-.3.6%200%20.2.2.4.4.5l2.2.7-6.1%206.1c-.2.2-.2.6%200%20.9.1.1.3.2.4.2s.3-.1.4-.2l6.1-6.1.7%202.1c.1.2.3.4.5.4h.1c.2%200%20.4-.1.5-.3l1.7-2.4h2.9c.2%200%20.5-.1.6-.3%200-.1%200-.4-.1-.6zm-3.7-.3c-.2%200-.4.1-.5.3L8.6%208.4%208%206.5c-.1-.2-.2-.3-.4-.4l-1.9-.6%201.6-1.2c.2-.1.3-.3.3-.5v-2L9.2%203c.2.1.4.2.6.1l1.9-.6-.7%201.9c-.1.2%200%20.4.1.6l1.2%201.6-2-.1z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 14.1px;
  height: 14.1px;
}


.icon-wand-sm:before {
  content: '';
  display: block;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2214.1%22%20height%3D%2214.1%22%20viewBox%3D%220%200%2014.1%2014.1%22%3E%3Cpath%20fill%3D%22%235EA557%22%20d%3D%22M14%206.8l-1.7-2.3.9-2.8c.1-.2%200-.5-.1-.6-.2-.2-.4-.2-.6-.1l-2.9.9L7.3.1c-.2-.1-.4-.1-.7%200-.2.1-.3.3-.3.5v2.9L4%205.2c-.2.2-.3.4-.3.6%200%20.2.2.4.4.5l2.2.7-6.1%206.1c-.2.2-.2.6%200%20.9.1.1.3.2.4.2s.3-.1.4-.2l6.1-6.1.7%202.1c.1.2.3.4.5.4h.1c.2%200%20.4-.1.5-.3l1.7-2.4h2.9c.2%200%20.5-.1.6-.3%200-.1%200-.4-.1-.6zm-3.7-.3c-.2%200-.4.1-.5.3L8.6%208.4%208%206.5c-.1-.2-.2-.3-.4-.4l-1.9-.6%201.6-1.2c.2-.1.3-.3.3-.5v-2L9.2%203c.2.1.4.2.6.1l1.9-.6-.7%201.9c-.1.2%200%20.4.1.6l1.2%201.6-2-.1z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 14.1px;
  height: 14.1px;
}


.icon-wave:before {
  content: '';
  display: block;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%229.5%22%20height%3D%223.1%22%20viewBox%3D%220%200%209.5%203.1%22%3E%3Cpath%20fill%3D%22%235EA557%22%20d%3D%22M9.5%202.6s-.8.6-2.6.6c-1.7%200-2.6-1.4-4.3-1.4-1.7-.1-2.6.8-2.6.8V.8S.9%200%202.7%200c1.8%200%202.4%201.4%204.2%201.4%201.8%200%202.6-.6%202.6-.6v1.8z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 9.5px;
  height: 3.1px;
}

