.old-ie .main-logo {
  background-image: url("../img/main-logo.png");
}
.old-ie .video-wrap {
  background: #f5f5f5 url("../img/video-texture.jpg") 0 0 repeat;
}
.old-ie .leave-comment__input.error,
.old-ie .leave-comment__textarea.error,
.old-ie .leave-comment__input.error:focus,
.old-ie .leave-comment__textarea.error:focus {
  outline: 3px solid #f00;
}
