<aside class="aside">
  <div class="aside__box">
    <a href="http://yandex.ru" target="_blank" class="btype1">
      <img src="img/temp/banners/ban-w300-1.png" width="300">
      <span class="btype1__u1">
        Новый жилой комплекс в девяткино
      </span>
      <span class="btype1__u2">
        Новый жилой комплекс в девяткино только для вас
      </span>
    </a>
  </div>
  <div class="aside__box">
    <a href="http://yandex.ru" target="_blank" class="btype1">
      <img src="img/temp/banners/ban-w300-1.png" width="300">
      <span class="btype1__u1">
        Новый жилой комплекс в девяткино
      </span>
      <span class="btype1__u2">
        Новый жилой комплекс в девяткино только для вас
      </span>
    </a>
  </div>
  <div class="aside__box">
    <a href="http://yandex.ru" target="_blank" class="btype1">
      <img src="img/temp/banners/ban-w300-1.png" width="300">
      <span class="btype1__u1">
        Новый жилой комплекс в девяткино
      </span>
      <span class="btype1__u2">
        Новый жилой комплекс в девяткино только для вас
      </span>
    </a>
  </div>
</aside>