<div class="city-select" id="js-city-select">
  <div class="container container--relative">
    <a href="#" class="city-select__close icon-close js-city-close">&times;</a>
    <div class="row">
      <div class="col3">
        <p class="city-select__title">Россия:</p>
        <ul class="city-select__list">
          <li class="city-select__item active">
            <a href="city-select.html" class="city-select__link icon-next">Санкт-Петербург</a>
          </li>
          <li class="city-select__item">
            <a href="city-select.html" class="city-select__link icon-next">Москва</a>
          </li>
          <li class="city-select__item">
            <a href="city-select.html" class="city-select__link icon-next">Новосибирск</a>
          </li>
          <li class="city-select__item">
            <a href="city-select.html" class="city-select__link icon-next">Екатеринбург</a>
          </li>
          <li class="city-select__item">
            <a href="city-select.html" class="city-select__link icon-next">Челябинск</a>
          </li>
          <li class="city-select__item">
            <a href="city-select.html" class="city-select__link icon-next">Ижевск</a>
          </li>
          <li class="city-select__item">
            <a href="city-select.html" class="city-select__link icon-next">Краснодар</a>
          </li>
          <li class="city-select__item">
            <a href="city-select.html" class="city-select__link icon-next">Краснояск</a>
          </li>
          <li class="city-select__item">
            <a href="city-select.html" class="city-select__link icon-next">Малага</a>
          </li>
          <li class="city-select__item">
            <a href="city-select.html" class="city-select__link icon-next">Нижний Новгород</a>
          </li>
          <li class="city-select__item">
            <a href="city-select.html" class="city-select__link icon-next">Новосибирск</a>
          </li>
          <li class="city-select__item">
            <a href="city-select.html" class="city-select__link icon-next">Омск</a>
          </li>
          <li class="city-select__item">
            <a href="city-select.html" class="city-select__link icon-next">Пермь</a>
          </li>
        </ul>
      </div>
      <div class="col3">
        <ul class="city-select__list">
          <li class="city-select__item">
            <a href="city-select.html" class="city-select__link icon-next">Ростов</a>
          </li>
          <li class="city-select__item">
            <a href="city-select.html" class="city-select__link icon-next">Самара</a>
          </li>
          <li class="city-select__item">
            <a href="city-select.html" class="city-select__link icon-next">Саратов</a>
          </li>
          <li class="city-select__item">
            <a href="city-select.html" class="city-select__link icon-next">Тольяти</a>
          </li>
          <li class="city-select__item">
            <a href="city-select.html" class="city-select__link icon-next">Тюмень</a>
          </li>
          <li class="city-select__item">
            <a href="city-select.html" class="city-select__link icon-next">Уфа</a>
          </li>
          <li class="city-select__item">
            <a href="city-select.html" class="city-select__link icon-next">Волгоград</a>
          </li>
          <li class="city-select__item">
            <a href="city-select.html" class="city-select__link icon-next">Воронеж</a>
          </li>
          <li class="city-select__item">
            <a href="city-select.html" class="city-select__link icon-next">Севастополь</a>
          </li>
          <li class="city-select__item">
            <a href="city-select.html" class="city-select__link icon-next">Барнаул</a>
          </li>
          <li class="city-select__item">
            <a href="city-select.html" class="city-select__link icon-next">Ульяновск</a>
          </li>
          <li class="city-select__item">
            <a href="city-select.html" class="city-select__link icon-next">Иркутск</a>
          </li>
          <li class="city-select__item">
            <a href="city-select.html" class="city-select__link icon-next">Владивосток</a>
          </li>
          <li class="city-select__item">
            <a href="city-select.html" class="city-select__link icon-next">Ярославль</a>
          </li>
        </ul>
      </div>
      <div class="col3">
        <p class="city-select__title">Украина:</p>
        <ul class="city-select__list">
          <li class="city-select__item">
            <a href="city-select.html" class="city-select__link icon-next">Киев</a>
          </li>
        </ul>
        <p class="city-select__title">Беларусь:</p>
        <ul class="city-select__list">
          <li class="city-select__item">
            <a href="city-select.html" class="city-select__link icon-next">Минск</a>
          </li>
        </ul>
        <p class="city-select__title">Казахстан:</p>
        <ul class="city-select__list">
          <li class="city-select__item">
            <a href="city-select.html" class="city-select__link icon-next">Астана</a>
          </li>
        </ul>
        <p class="city-select__title">Тайланд:</p>
        <ul class="city-select__list">
          <li class="city-select__item">
            <a href="city-select.html" class="city-select__link icon-next">Патайя</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>