<div class="search-slider__slide">
	<a href="#" class="company-thumb" title="@@name">
	  <span class="company-thumb__img-wrap">
	    <img src="@@img" alt="@@name" class="company-thumb__img"></span>
	  <span class="company-thumb__title">@@name</span>
	</a>
</div>