<li class="newsline__item newsline__item--without-dot newsline__item50 newsline__item--pull-left">
  <a href="#" class="newsline__link newsline__link--bold">Колебания курса и кредиты</a>
  <time class="newsline__time" datetime="2014-11-30T15:50">Сегодня в 15:50</time>
</li>
<li class="newsline__item newsline__item--without-dot newsline__item50 newsline__item--pull-left">
  <a href="#" class="newsline__link newsline__link--bold">В 2014 году 34,5 тысяч молодых семей улучшат жилищные условия</a>
  <time class="newsline__time" datetime="2014-10-21T13:54">21 окт. в 13:54</time>
</li>