<article class="news-card__item">
  <div class="news-card__preview">
    <a href="#" class="news-card__img-wrapper"><img src="http://placehold.it/196x130" width="196" height="130" alt="До конца 2015 года расселят 12 аварийных домов"></a>
    <h3 class="news-card__title"><a href="#">До конца 2015 года расселят 12 аварийных домов</a></h3>
    <time class="news-card__date">Сегодня в 15:50</time>
  </div>
</article>