<article class="news-realty__item">
  <a href="#" class="news-realty__img-wrapper">
    <img src="http://placehold.it/140x90" width="140" height="90" alt="Отозвано разрешение на строительство ЖК «Гроссмейстер»">
  </a>
  <div class="news-realty__preview">
    <h3 class="news-realty__topic"><a href="#">Отозвано разрешение на строительство ЖК «Гроссмейстер»</a></h3>
    <time class="news-realty__date">Сегодня в 15:50</time>
    <p class="news-realty__text">Городской суд Санкт-Петербурга признал незаконным разрешение на строительство элитного жилого комплекса на Шпалерной, 51, известное под названием «Гроссмейстер».</p>
  </div>
</article>