<article class="nvs-pop">
  <div class="nvs-pop__preview">
    <a href="#" class="nvs-pop__img-wrapper">
      <img src="http://placehold.it/200x160" width="200" height="160" alt="ЖК Smart Дальневосточный (Смарт Дальневосточный)">
      <div class="nvs-pop__inform">
        <div class="nvs-pop__action"></div>
        <div class="nvs-pop__photo icon-thumb">15 фотографий</div>
      </div>
    </a>
    <h3 class="nvs-pop__title"><a href="#">ЖК Smart Дальневосточный (Смарт Дальневосточный)</a></h3>
      <span class="nvs-pop__dev-text">Застройщик: </span>
    <a href="#" class="nvs-pop__dev">
      <p class="nvs-pop__dev-title">Балтийская инвестиционно-строительная компания</p>
    </a>
  </div>
</article>
<article class="nvs-pop">
  <div class="nvs-pop__preview">
    <a href="#" class="nvs-pop__img-wrapper">
      <img src="http://placehold.it/200x160" width="200" height="160" alt="ЖК Smart Дальневосточный (Смарт Дальневосточный)">
      <div class="nvs-pop__inform">
        <div class="nvs-pop__photo icon-thumb">15 фотографий</div>
      </div>
    </a>
    <h3 class="nvs-pop__title"><a href="#">ЖК Smart Дальневосточный (Смарт Дальневосточный)</a></h3>
      <span class="nvs-pop__dev-text">Застройщик: </span>
    <a href="#" class="nvs-pop__dev">
      <p class="nvs-pop__dev-title">Балтийская инвестиционно-строительная компания</p>
    </a>
  </div>
</article>
<article class="nvs-pop">
  <div class="nvs-pop__preview">
    <a href="#" class="nvs-pop__img-wrapper">
      <img src="http://placehold.it/200x160" width="200" height="160" alt="ЖК Smart Дальневосточный (Смарт Дальневосточный)">
      <div class="nvs-pop__inform">
        <div class="nvs-pop__photo icon-thumb">15 фотографий</div>
      </div>
    </a>
    <h3 class="nvs-pop__title"><a href="#">ЖК Smart Дальневосточный (Смарт Дальневосточный)</a></h3>
      <span class="nvs-pop__dev-text">Застройщик: </span>
    <a href="#" class="nvs-pop__dev">
      <p class="nvs-pop__dev-title">Балтийская инвестиционно-строительная компания</p>
    </a>
  </div>
</article>