<div class="row">
  <div class="col6">
    <article class="nvs-pop nvs-pop--table nvs-pop--left">
      <a href="#" class="nvs-pop__img-wrapper nvs-pop__img-wrapper--table-cell">
        <img src="http://placehold.it/110x80" width="110" height="80" alt="ЖК Smart Дальневосточный (Смарт Дальневосточный)">
      </a>
      <div class="nvs-pop__preview nvs-pop__preview--left nvs-pop__preview--table-cell">
      <h3 class="nvs-pop__title"><a href="#">ЖК Smart Дальневосточный (Смарт Дальневосточный)</a></h3>
        <span class="nvs-pop__dev-text">Застройщик: </span>
        <a href="#" class="nvs-pop__dev">
          <p class="nvs-pop__dev-title">Балтийская инвестиционно-строительная компания</p>
        </a>
      </div>
    </article>
  </div>
  <div class="col6">
    <article class="nvs-pop nvs-pop--table nvs-pop--left">
      <a href="#" class="nvs-pop__img-wrapper nvs-pop__img-wrapper--table-cell">
        <img src="http://placehold.it/110x80" width="110" height="80" alt="ЖК Smart Дальневосточный (Смарт Дальневосточный)">
      </a>
      <div class="nvs-pop__preview nvs-pop__preview--left nvs-pop__preview--table-cell">
      <h3 class="nvs-pop__title"><a href="#">ЖК Smart Дальневосточный (Смарт Дальневосточный)</a></h3>
        <span class="nvs-pop__dev-text">Застройщик: </span>
        <a href="#" class="nvs-pop__dev">
          <p class="nvs-pop__dev-title">Балтийская инвестиционно-строительная компания</p>
        </a>
      </div>
    </article>
  </div>
</div>