<footer class="page-footer footer">
  <div class="footer-nav">
    <div class="container">
      <div class="row">
        <div class="col3">
          <p class="footer-nav__hdr">Новостройки</p>
          <ul class="footer-nav__list">
            <li class="footer-nav__item">
              <a href="#" class="footer-nav__link">Все новостройки</a>
            </li>
            <li class="footer-nav__item">
              <a href="#" class="footer-nav__link">Новостройки по районам</a>
            </li>
            <li class="footer-nav__item">
              <a href="#" class="footer-nav__link">Квартиры в новостройках у метро</a>
            </li>
            <li class="footer-nav__item">
              <a href="#" class="footer-nav__link">Новостройки Лен. Области</a>
            </li>
            <li class="footer-nav__item">
              <a href="#" class="footer-nav__link">Новостройки на севере</a>
            </li>
            <li class="footer-nav__item">
              <a href="#" class="footer-nav__link">Новостройки на востоке</a>
            </li>
            <li class="footer-nav__item">
              <a href="#" class="footer-nav__link">Новостройки на юге</a>
            </li>
          </ul>
        </div>
        <div class="col3">
          <p class="footer-nav__hdr">Квартиры в новостройках:</p>
          <ul class="footer-nav__list">
            <li class="footer-nav__item">
              <a href="#" class="footer-nav__link">Студии</a>
            </li>
            <li class="footer-nav__item">
              <a href="#" class="footer-nav__link">Однокомнатные квартиры</a>
            </li>
            <li class="footer-nav__item">
              <a href="#" class="footer-nav__link">Евродвушки</a>
            </li>
            <li class="footer-nav__item">
              <a href="#" class="footer-nav__link">Двухкомнатные квартиры</a>
            </li>
            <li class="footer-nav__item">
              <a href="#" class="footer-nav__link">Трехкомнатные квартиры</a>
            </li>
          </ul>
        </div>
        <div class="col3">
          <p class="footer-nav__hdr">Компании</p>
          <ul class="footer-nav__list">
            <li class="footer-nav__item">
              <a href="#" class="footer-nav__link">Застройщики</a>
            </li>
            <li class="footer-nav__item">
              <a href="#" class="footer-nav__link">Агентства недвижимости</a>
            </li>
            <li class="footer-nav__item">
              <a href="#" class="footer-nav__link">Инфраструктурные объект</a>
            </li>
          </ul>
        </div>
        <div class="col3">
          <p class="footer-nav__hdr">Информационный раздел</p>
          <ul class="footer-nav__list">
            <li class="footer-nav__item">
              <a href="#" class="footer-nav__link">Новости недвижимости</a>
            </li>
            <li class="footer-nav__item">
              <a href="#" class="footer-nav__link">Полезные статьи</a>
            </li>
            <li class="footer-nav__item">
              <a href="#" class="footer-nav__link">Вопросы и ответы</a>
            </li>
          </ul>
          <p class="footer-nav__hdr">Ипотека</p>
          <ul class="footer-nav__list">
            <li class="footer-nav__item">
              <a href="#" class="footer-nav__link">Калькулятор ипотеки</a>
            </li>
            <li class="footer-nav__item">
              <a href="#" class="footer-nav__link">Ипотечные банки</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-middle">
    <ul class="footer-middle__list">
      <li class="footer-middle__item">
        <a href="#" class="footer-middle__link">О проекте</a>
      </li>
      <li class="footer-middle__item">
        <a href="#" class="footer-middle__link">Рекламы</a>
      </li>
      <li class="footer-middle__item">
        <a href="#" class="footer-middle__link">Добавить/изменить информацию</a>
      </li>
      <li class="footer-middle__item">
        <a href="#" class="footer-middle__link">Блог</a>
      </li>
    </ul>
  </div>
  <div class="footer-bottom">
    <p class="footer-bottom__contacts">
      <a href="tel:+78123857558" class="footer-bottom__contacts-link">+7 (812) 385-75-58</a>
      <a href="mailto:info@vnovostroike.ru" class="footer-bottom__contacts-link">info@vnovostroike.ru</a>
    </p>
    <p class="footer-bottom__address">
      ООО "ВНовостройке.ру" | 199105, Россия, 10 линия В.О., д.59 (БЦ "Маркус"), офис 327
    </p>
    <span class="footer-bottom__age">0+</span>
    <a href="#" class="footer-bottom__public-offer">публичная оферта</a>
  </div>
</footer>