<header class="page-header header">
  <div class="header__top">
    <div class="header__top-left">
      <a href="index.html" class="header__logo main-logo">ВНовостройке</a>
      <a href="#" class="header__current-city js-city-toggle">Санкт-петербург</a>
    </div>
    <nav class="header__top-right nav">
      <ul class="nav__list">
        <li class="nav__item active">
          <a href="#" class="nav__link">Новостройки (322)</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">Застройщики (322)</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="container">
    <nav class="subnav">
      <ul class="subnav__list">
        <li class="subnav__item"><a href="#" class="subnav__link">Квартиры до 2 мил.</a></li>
        <li class="subnav__item active"><a href="#" class="subnav__link">Скидки и акции</a></li>
        <li class="subnav__item"><a href="#" class="subnav__link">Таунхаусы</a></li>
        <li class="subnav__item"><a href="#" class="subnav__link">Элитные жк</a></li>
        <li class="subnav__item"><a href="#" class="subnav__link">Апарт-отели</a></li>
      </ul>
      <a href="#" class="subnav__standalone">Спецпредложения</a>
    </nav>
  </div>
</header>