<div class="search-slider js-search-slider">
  <p class="search-slider__title">Популярные застройщики:</p>
  <div class="search-slider__slides js-search-slider-slides">

      @@include('../_components/company-thumb.html', {"name": "ЮИТ дом", "img": "img/temp/company-thumb-1.png" })
      @@include('../_components/company-thumb.html', {"name": "Ленстройтрест", "img": "img/temp/company-thumb-2.png" })
      @@include('../_components/company-thumb.html', {"name": "Л1", "img": "img/temp/company-thumb-3.png" })
      @@include('../_components/company-thumb.html', {"name": "О2 Девелопмент", "img": "img/temp/company-thumb-4.png" })
      @@include('../_components/company-thumb.html', {"name": "Арсенал", "img": "img/temp/company-thumb-5.png" })
      @@include('../_components/company-thumb.html', {"name": "Северный город", "img": "img/temp/company-thumb-6.png" })
      @@include('../_components/company-thumb.html', {"name": "RBi", "img": "img/temp/company-thumb-7.png" })
      @@include('../_components/company-thumb.html', {"name": "SetlCity", "img": "img/temp/company-thumb-8.png" })
      @@include('../_components/company-thumb.html', {"name": "ЮИТ дом", "img": "img/temp/company-thumb-1.png" })
      @@include('../_components/company-thumb.html', {"name": "Ленстройтрест", "img": "img/temp/company-thumb-2.png" })
      @@include('../_components/company-thumb.html', {"name": "Л1", "img": "img/temp/company-thumb-3.png" })
      @@include('../_components/company-thumb.html', {"name": "О2 Девелопмент", "img": "img/temp/company-thumb-4.png" })
      @@include('../_components/company-thumb.html', {"name": "Арсенал", "img": "img/temp/company-thumb-5.png" })
      @@include('../_components/company-thumb.html', {"name": "Северный город", "img": "img/temp/company-thumb-6.png" })
      @@include('../_components/company-thumb.html', {"name": "RBi", "img": "img/temp/company-thumb-7.png" })
      @@include('../_components/company-thumb.html', {"name": "SetlCity", "img": "img/temp/company-thumb-8.png" })

   </div>
</div>