<div class="search-tabs js-tabs">
  <div class="search-tabs__header">
    <ul class="search-tabs__nav-list">
      <li class="search-tabs__nav-item js-tabsNavItem">
        <a href="#" class="search-tabs__nav-link">Весь город</a>
      </li>
      <li class="search-tabs__nav-item js-tabsNavItem active">
        <a href="#searchTab1" data-toggle=".searchTabs-tab1" class="search-tabs__nav-link js-tabsNavLink active">Район</a>
      </li>
      <li class="search-tabs__nav-item js-tabsNavItem">
        <a href="#searchTab2" data-toggle=".searchTabs-tab2" class="search-tabs__nav-link js-tabsNavLink">Населенные пункты области</a>
      </li>
    </ul>
    <div class="checkbox checkbox--big checkbox--dropdown-header js-tabsItem active searchTabs-tab1">
      <input type="checkbox" name="all-city-msk" id="all-city-msk" data-master="msk-all" class="checkbox__input js-checkbox">
      <label for="all-city-msk" class="checkbox__label checkbox__label--big checkbox__label--dropdown-header">Весь город</label>
    </div>
    <div class="checkbox checkbox--big checkbox--dropdown-header js-tabsItem searchTabs-tab2">
      <input type="checkbox" name="all-obl" id="all-obl" data-master="obl" class="checkbox__input js-checkbox">
      <label for="all-obl" class="checkbox__label checkbox__label--big checkbox__label--dropdown-header">Вся область</label>
    </div>
  </div>
  <div class="search-tabs__tab searchTabs-tab1 js-tabsItem active" id="searchTab1">
    <div class="search-tabs__tab-header-row search-tabs__tab-header-row--gray-column">
      <div class="checkbox checkbox--big checkbox--inline-block">
        <input type="checkbox" name="msk-all-1" id="msk-all-1" data-master="msk-city" class="checkbox__input js-checkbox js-checkbox-slave js-checkbox-slave-msk-all">
        <label for="msk-all-1" class="checkbox__label checkbox__label--big">Москва</label>
      </div>
      <div class="checkbox checkbox--big checkbox--inline-block">
        <input type="checkbox" name="msk-all-2" id="msk-all-2" data-master="msk-new" class="checkbox__input js-checkbox js-checkbox-slave js-checkbox-slave-msk-all">
        <label for="msk-all-2" class="checkbox__label checkbox__label--big">Новая Москва</label>
      </div>
    </div>
    <div class="search-tabs__table">
      <div class="search-tabs__table-col9">
        <div class="row">
          <div class="col4">
            <div class="checkbox checkbox--big">
              <input type="checkbox" name="msk-reg-1" id="msk-reg-1" data-master="msk1" class="checkbox__input js-checkbox js-checkbox-slave js-checkbox-slave-msk-city js-checkbox-slave-msk-all">
              <label for="msk-reg-1" class="checkbox__label checkbox__label--big">ЦАО</label>
            </div>
            <div class="checkbox checkbox--small">
              <input type="checkbox" name="msk1-1" id="msk1-1" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-msk1 js-checkbox-slave-msk-city js-checkbox-slave-msk-all">
              <label for="msk1-1" class="checkbox__label checkbox__label--small">Арбат</label>
            </div>
            <div class="checkbox checkbox--small">
              <input type="checkbox" name="msk1-2" id="msk1-2" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-msk1 js-checkbox-slave-msk-city js-checkbox-slave-msk-all">
              <label for="msk1-2" class="checkbox__label checkbox__label--small">Басманный</label>
            </div>
            <div class="checkbox checkbox--small">
              <input type="checkbox" name="msk1-3" id="msk1-3" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-msk1 js-checkbox-slave-msk-city js-checkbox-slave-msk-all">
              <label for="msk1-3" class="checkbox__label checkbox__label--small">Замоскворечье</label>
            </div>
            <div class="checkbox checkbox--small">
              <input type="checkbox" name="msk1-4" id="msk1-4" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-msk1 js-checkbox-slave-msk-city js-checkbox-slave-msk-all">
              <label for="msk1-4" class="checkbox__label checkbox__label--small">Красносельский</label>
            </div>
            <div class="checkbox checkbox--small">
              <input type="checkbox" name="msk1-5" id="msk1-5" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-msk1 js-checkbox-slave-msk-city js-checkbox-slave-msk-all">
              <label for="msk1-5" class="checkbox__label checkbox__label--small">Мещанский</label>
            </div>
            <div class="checkbox checkbox--small">
              <input type="checkbox" name="msk1-6" id="msk1-6" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-msk1 js-checkbox-slave-msk-city js-checkbox-slave-msk-all">
              <label for="msk1-6" class="checkbox__label checkbox__label--small">Пресненский</label>
            </div>
            <div class="checkbox checkbox--small">
              <input type="checkbox" name="msk1-7" id="msk1-7" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-msk1 js-checkbox-slave-msk-city js-checkbox-slave-msk-all">
              <label for="msk1-7" class="checkbox__label checkbox__label--small">Таганский</label>
            </div>
            <div class="checkbox checkbox--small">
              <input type="checkbox" name="msk1-8" id="msk1-8" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-msk1 js-checkbox-slave-msk-city js-checkbox-slave-msk-all">
              <label for="msk1-8" class="checkbox__label checkbox__label--small">Тверской</label>
            </div>
            <div class="checkbox checkbox--small">
              <input type="checkbox" name="msk1-9" id="msk1-9" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-msk1 js-checkbox-slave-msk-city js-checkbox-slave-msk-all">
              <label for="msk1-9" class="checkbox__label checkbox__label--small">Хамовники</label>
            </div>
            <div class="checkbox checkbox--small">
              <input type="checkbox" name="msk1-10" id="msk1-10 data-item=" районов "" class="checkbox__input js-checkbox-slave js-checkbox-slave-msk1 js-checkbox-slave-msk-city js-checkbox-slave-msk-all">
              <label for="msk1-10" class="checkbox__label checkbox__label--small">Якиманка</label>
            </div>
          </div>
          <div class="col4">
            <div class="checkbox checkbox--big">
              <input type="checkbox" name="msk-reg-2" id="msk-reg-2" data-master="msk2" class="checkbox__input js-checkbox js-checkbox-slave js-checkbox-slave-msk-city js-checkbox-slave-msk-all">
              <label for="msk-reg-2" class="checkbox__label checkbox__label--big">ЮЗАО</label>
            </div>
            <div class="checkbox checkbox--small">
              <input type="checkbox" name="msk2-1" id="msk2-1" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-msk2 js-checkbox-slave-msk-city js-checkbox-slave-msk-all">
              <label for="msk2-1" class="checkbox__label checkbox__label--small">Академический</label>
            </div>
            <div class="checkbox checkbox--small">
              <input type="checkbox" name="msk2-2" id="msk2-2" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-msk2 js-checkbox-slave-msk-city js-checkbox-slave-msk-all">
              <label for="msk2-2" class="checkbox__label checkbox__label--small">Гагаринский</label>
            </div>
            <div class="checkbox checkbox--small">
              <input type="checkbox" name="msk2-3" id="msk2-3" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-msk2 js-checkbox-slave-msk-city js-checkbox-slave-msk-all">
              <label for="msk2-3" class="checkbox__label checkbox__label--small">Зюзино</label>
            </div>
            <div class="checkbox checkbox--small">
              <input type="checkbox" name="msk2-4" id="msk2-4" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-msk2 js-checkbox-slave-msk-city js-checkbox-slave-msk-all">
              <label for="msk2-4" class="checkbox__label checkbox__label--small">Коньково</label>
            </div>
            <div class="checkbox checkbox--small">
              <input type="checkbox" name="msk2-5" id="msk2-5" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-msk2 js-checkbox-slave-msk-city js-checkbox-slave-msk-all">
              <label for="msk2-5" class="checkbox__label checkbox__label--small">Котловка</label>
            </div>
            <div class="checkbox checkbox--small">
              <input type="checkbox" name="msk2-6" id="msk2-6" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-msk2 js-checkbox-slave-msk-city js-checkbox-slave-msk-all">
              <label for="msk2-6" class="checkbox__label checkbox__label--small">Ломоносовский</label>
            </div>
            <div class="checkbox checkbox--small">
              <input type="checkbox" name="msk2-7" id="msk2-7" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-msk2 js-checkbox-slave-msk-city js-checkbox-slave-msk-all">
              <label for="msk2-7" class="checkbox__label checkbox__label--small">Обручевский</label>
            </div>
            <div class="checkbox checkbox--small">
              <input type="checkbox" name="msk2-8" id="msk2-8" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-msk2 js-checkbox-slave-msk-city js-checkbox-slave-msk-all">
              <label for="msk2-8" class="checkbox__label checkbox__label--small">Северное Бутово</label>
            </div>
            <div class="checkbox checkbox--small">
              <input type="checkbox" name="msk2-9" id="msk2-9" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-msk2 js-checkbox-slave-msk-city js-checkbox-slave-msk-all">
              <label for="msk2-9" class="checkbox__label checkbox__label--small">Теплый Стан</label>
            </div>
            <div class="checkbox checkbox--small">
              <input type="checkbox" name="msk2-10" id="msk2-10" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-msk2 js-checkbox-slave-msk-city js-checkbox-slave-msk-all">
              <label for="msk2-10" class="checkbox__label checkbox__label--small">Черемушки</label>
            </div>
            <div class="checkbox checkbox--small">
              <input type="checkbox" name="msk2-11" id="msk2-11" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-msk2 js-checkbox-slave-msk-city js-checkbox-slave-msk-all">
              <label for="msk2-11" class="checkbox__label checkbox__label--small">Южное Бутово</label>
            </div>
            <div class="checkbox checkbox--small">
              <input type="checkbox" name="msk2-12" id="msk2-12" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-msk2 js-checkbox-slave-msk-city js-checkbox-slave-msk-all">
              <label for="msk2-12" class="checkbox__label checkbox__label--small">Ясенево</label>
            </div>
          </div>
          <div class="col4">
            <div class="checkbox checkbox--big">
              <input type="checkbox" name="msk-reg-3" id="msk-reg-3" data-master="msk3" class="checkbox__input js-checkbox js-checkbox-slave js-checkbox-slave-msk-city js-checkbox-slave-msk-all">
              <label for="msk-reg-3" class="checkbox__label checkbox__label--big">ЗАО</label>
            </div>
            <div class="checkbox checkbox--small">
              <input type="checkbox" name="msk3-1" id="msk3-1" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-msk3 js-checkbox-slave-msk-city js-checkbox-slave-msk-all">
              <label for="msk3-1" class="checkbox__label checkbox__label--small">Внуково</label>
            </div>
            <div class="checkbox checkbox--small">
              <input type="checkbox" name="msk3-2" id="msk3-2" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-msk3 js-checkbox-slave-msk-city js-checkbox-slave-msk-all">
              <label for="msk3-2" class="checkbox__label checkbox__label--small">Дорогомилово</label>
            </div>
            <div class="checkbox checkbox--small">
              <input type="checkbox" name="msk3-3" id="msk3-3" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-msk3 js-checkbox-slave-msk-city js-checkbox-slave-msk-all">
              <label for="msk3-3" class="checkbox__label checkbox__label--small">Крылатское</label>
            </div>
            <div class="checkbox checkbox--small">
              <input type="checkbox" name="msk3-4" id="msk3-4" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-msk3 js-checkbox-slave-msk-city js-checkbox-slave-msk-all">
              <label for="msk3-4" class="checkbox__label checkbox__label--small">Кунцево</label>
            </div>
            <div class="checkbox checkbox--small">
              <input type="checkbox" name="msk3-5" id="msk3-5" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-msk3 js-checkbox-slave-msk-city js-checkbox-slave-msk-all">
              <label for="msk3-5" class="checkbox__label checkbox__label--small">Можайский</label>
            </div>
            <div class="checkbox checkbox--small">
              <input type="checkbox" name="msk3-6" id="msk3-6" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-msk3 js-checkbox-slave-msk-city js-checkbox-slave-msk-all">
              <label for="msk3-6" class="checkbox__label checkbox__label--small">Ново-Переделкино</label>
            </div>
            <div class="checkbox checkbox--small">
              <input type="checkbox" name="msk3-7" id="msk3-7" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-msk3 js-checkbox-slave-msk-city js-checkbox-slave-msk-all">
              <label for="msk3-7" class="checkbox__label checkbox__label--small">Очаково-Матвеевское</label>
            </div>
            <div class="checkbox checkbox--small">
              <input type="checkbox" name="msk3-8" id="msk3-8" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-msk3 js-checkbox-slave-msk-city js-checkbox-slave-msk-all">
              <label for="msk3-8" class="checkbox__label checkbox__label--small">Проспект Вернадского</label>
            </div>
            <div class="checkbox checkbox--small">
              <input type="checkbox" name="msk3-9" id="msk3-9" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-msk3 js-checkbox-slave-msk-city js-checkbox-slave-msk-all">
              <label for="msk3-9" class="checkbox__label checkbox__label--small">Раменки</label>
            </div>
            <div class="checkbox checkbox--small">
              <input type="checkbox" name="msk3-10" id="msk3-10" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-msk3 js-checkbox-slave-msk-city js-checkbox-slave-msk-all">
              <label for="msk3-10" class="checkbox__label checkbox__label--small">Солнцево</label>
            </div>
            <div class="checkbox checkbox--small">
              <input type="checkbox" name="msk3-11" id="msk3-11" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-msk3 js-checkbox-slave-msk-city js-checkbox-slave-msk-all">
              <label for="msk3-11" class="checkbox__label checkbox__label--small">Тропарево-Никулино</label>
            </div>
            <div class="checkbox checkbox--small">
              <input type="checkbox" name="msk3-12" id="msk3-12" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-msk3 js-checkbox-slave-msk-city js-checkbox-slave-msk-all">
              <label for="msk3-12" class="checkbox__label checkbox__label--small">Филевский Парк</label>
            </div>
            <div class="checkbox checkbox--small">
              <input type="checkbox" name="msk3-13" id="msk3-13" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-msk3 js-checkbox-slave-msk-city js-checkbox-slave-msk-all">
              <label for="msk3-13" class="checkbox__label checkbox__label--small">Фили-Давыдково</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col4">
            <div class="checkbox checkbox--big">
              <input type="checkbox" name="msk-reg-4" id="msk-reg-4" data-master="msk4" class="checkbox__input js-checkbox js-checkbox-slave js-checkbox-slave-msk-city js-checkbox-slave-msk-all">
              <label for="msk-reg-4" class="checkbox__label checkbox__label--big">СЗАО</label>
            </div>
            <div class="checkbox checkbox--small">
              <input type="checkbox" name="msk4-1" id="msk4-1" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-msk4 js-checkbox-slave-msk-city js-checkbox-slave-msk-all">
              <label for="msk4-1" class="checkbox__label checkbox__label--small">Куркино</label>
            </div>
            <div class="checkbox checkbox--small">
              <input type="checkbox" name="msk4-2" id="msk4-2" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-msk4 js-checkbox-slave-msk-city js-checkbox-slave-msk-all">
              <label for="msk4-2" class="checkbox__label checkbox__label--small">Митино</label>
            </div>
            <div class="checkbox checkbox--small">
              <input type="checkbox" name="msk4-3" id="msk4-3" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-msk4 js-checkbox-slave-msk-city js-checkbox-slave-msk-all">
              <label for="msk4-3" class="checkbox__label checkbox__label--small">Покровское-Стрешнево</label>
            </div>
            <div class="checkbox checkbox--small">
              <input type="checkbox" name="msk4-4" id="msk4-4" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-msk4 js-checkbox-slave-msk-city js-checkbox-slave-msk-all">
              <label for="msk4-4" class="checkbox__label checkbox__label--small">Северное Тушино</label>
            </div>
            <div class="checkbox checkbox--small">
              <input type="checkbox" name="msk4-5" id="msk4-5" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-msk4 js-checkbox-slave-msk-city js-checkbox-slave-msk-all">
              <label for="msk4-5" class="checkbox__label checkbox__label--small">Строгино</label>
            </div>
            <div class="checkbox checkbox--small">
              <input type="checkbox" name="msk4-6" id="msk4-6" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-msk4 js-checkbox-slave-msk-city js-checkbox-slave-msk-all">
              <label for="msk4-6" class="checkbox__label checkbox__label--small">Хорошево-Мневники</label>
            </div>
            <div class="checkbox checkbox--small">
              <input type="checkbox" name="msk4-7" id="msk4-7" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-msk4 js-checkbox-slave-msk-city js-checkbox-slave-msk-all">
              <label for="msk4-7" class="checkbox__label checkbox__label--small">Щукино</label>
            </div>
            <div class="checkbox checkbox--small">
              <input type="checkbox" name="msk4-8" id="msk4-8" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-msk4 js-checkbox-slave-msk-city js-checkbox-slave-msk-all">
              <label for="msk4-8" class="checkbox__label checkbox__label--small">Южное Тушино</label>
            </div>
          </div>
          <div class="col4">
            <div class="checkbox checkbox--big">
              <input type="checkbox" name="msk-reg-5" id="msk-reg-5" data-master="msk5" class="checkbox__input js-checkbox js-checkbox-slave js-checkbox-slave-msk-city js-checkbox-slave-msk-all">
              <label for="msk-reg-5" class="checkbox__label checkbox__label--big">САО</label>
            </div>
            <div class="checkbox checkbox--small">
              <input type="checkbox" name="msk5-1" id="msk5-1" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-msk5 js-checkbox-slave-msk-city js-checkbox-slave-msk-all">
              <label for="msk5-1" class="checkbox__label checkbox__label--small">Аэропорт</label>
            </div>
            <div class="checkbox checkbox--small">
              <input type="checkbox" name="msk5-2" id="msk5-2" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-msk5 js-checkbox-slave-msk-city js-checkbox-slave-msk-all">
              <label for="msk5-2" class="checkbox__label checkbox__label--small">Беговой</label>
            </div>
            <div class="checkbox checkbox--small">
              <input type="checkbox" name="msk5-3" id="msk5-3" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-msk5 js-checkbox-slave-msk-city js-checkbox-slave-msk-all">
              <label for="msk5-3" class="checkbox__label checkbox__label--small">Бескудниковский</label>
            </div>
            <div class="checkbox checkbox--small">
              <input type="checkbox" name="msk5-4" id="msk5-4" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-msk5 js-checkbox-slave-msk-city js-checkbox-slave-msk-all">
              <label for="msk5-4" class="checkbox__label checkbox__label--small">Войковский</label>
            </div>
            <div class="checkbox checkbox--small">
              <input type="checkbox" name="msk5-5" id="msk5-5" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-msk5 js-checkbox-slave-msk-city js-checkbox-slave-msk-all">
              <label for="msk5-5" class="checkbox__label checkbox__label--small">Восточное Дегунино</label>
            </div>
            <div class="checkbox checkbox--small">
              <input type="checkbox" name="msk5-6" id="msk5-6" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-msk5 js-checkbox-slave-msk-city js-checkbox-slave-msk-all">
              <label for="msk5-6" class="checkbox__label checkbox__label--small">Головинский</label>
            </div>
            <div class="checkbox checkbox--small">
              <input type="checkbox" name="msk5-7" id="msk5-7" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-msk5 js-checkbox-slave-msk-city js-checkbox-slave-msk-all">
              <label for="msk5-7" class="checkbox__label checkbox__label--small">Дмитровский</label>
            </div>
            <div class="checkbox checkbox--small">
              <input type="checkbox" name="msk5-8" id="msk5-8" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-msk5 js-checkbox-slave-msk-city js-checkbox-slave-msk-all">
              <label for="msk5-8" class="checkbox__label checkbox__label--small">Западное Дегунино</label>
            </div>
            <div class="checkbox checkbox--small">
              <input type="checkbox" name="msk5-9" id="msk5-9" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-msk5 js-checkbox-slave-msk-city js-checkbox-slave-msk-all">
              <label for="msk5-9" class="checkbox__label checkbox__label--small">Коптево</label>
            </div>
            <div class="checkbox checkbox--small">
              <input type="checkbox" name="msk5-10" id="msk5-10" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-msk5 js-checkbox-slave-msk-city js-checkbox-slave-msk-all">
              <label for="msk5-10" class="checkbox__label checkbox__label--small">Левобережный</label>
            </div>
            <div class="checkbox checkbox--small">
              <input type="checkbox" name="msk5-11" id="msk5-11" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-msk5 js-checkbox-slave-msk-city js-checkbox-slave-msk-all">
              <label for="msk5-11" class="checkbox__label checkbox__label--small">Молжаниновский</label>
            </div>
            <div class="checkbox checkbox--small">
              <input type="checkbox" name="msk5-12" id="msk5-12" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-msk5 js-checkbox-slave-msk-city js-checkbox-slave-msk-all">
              <label for="msk5-12" class="checkbox__label checkbox__label--small">Савеловский</label>
            </div>
          </div>
          <div class="col4">
            <div class="checkbox checkbox--big">
              <input type="checkbox" name="msk-reg-6" id="msk-reg-6" data-master="msk6" class="checkbox__input js-checkbox js-checkbox-slave js-checkbox-slave-msk-city js-checkbox-slave-msk-all">
              <label for="msk-reg-6" class="checkbox__label checkbox__label--big">СВАО</label>
            </div>
            <div class="checkbox checkbox--small">
              <input type="checkbox" name="msk6-1" id="msk6-1" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-msk6 js-checkbox-slave-msk-city js-checkbox-slave-msk-all">
              <label for="msk6-1" class="checkbox__label checkbox__label--small">Алексеевский</label>
            </div>
            <div class="checkbox checkbox--small">
              <input type="checkbox" name="msk6-2" id="msk6-2" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-msk6 js-checkbox-slave-msk-city js-checkbox-slave-msk-all">
              <label for="msk6-2" class="checkbox__label checkbox__label--small">Алтуфьевский</label>
            </div>
            <div class="checkbox checkbox--small">
              <input type="checkbox" name="msk6-3" id="msk6-3" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-msk6 js-checkbox-slave-msk-city js-checkbox-slave-msk-all">
              <label for="msk6-3" class="checkbox__label checkbox__label--small">Бабушкинский</label>
            </div>
            <div class="checkbox checkbox--small">
              <input type="checkbox" name="msk6-4" id="msk6-4" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-msk6 js-checkbox-slave-msk-city js-checkbox-slave-msk-all">
              <label for="msk6-4" class="checkbox__label checkbox__label--small">Бибирево</label>
            </div>
            <div class="checkbox checkbox--small">
              <input type="checkbox" name="msk6-5" id="msk6-5" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-msk6 js-checkbox-slave-msk-city js-checkbox-slave-msk-all">
              <label for="msk6-5" class="checkbox__label checkbox__label--small">Бутырский</label>
            </div>
            <div class="checkbox checkbox--small">
              <input type="checkbox" name="msk6-6" id="msk6-6" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-msk6 js-checkbox-slave-msk-city js-checkbox-slave-msk-all">
              <label for="msk6-6" class="checkbox__label checkbox__label--small">Лианозово</label>
            </div>
            <div class="checkbox checkbox--small">
              <input type="checkbox" name="msk6-7" id="msk6-7" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-msk6 js-checkbox-slave-msk-city js-checkbox-slave-msk-all">
              <label for="msk6-7" class="checkbox__label checkbox__label--small">Лосиноостровский</label>
            </div>
            <div class="checkbox checkbox--small">
              <input type="checkbox" name="msk6-8" id="msk6-8" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-msk6 js-checkbox-slave-msk-city js-checkbox-slave-msk-all">
              <label for="msk6-8" class="checkbox__label checkbox__label--small">Марфино</label>
            </div>
            <div class="checkbox checkbox--small">
              <input type="checkbox" name="msk6-9" id="msk6-9" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-msk6 js-checkbox-slave-msk-city js-checkbox-slave-msk-all">
              <label for="msk6-9" class="checkbox__label checkbox__label--small">Марьина Роща</label>
            </div>
            <div class="checkbox checkbox--small">
              <input type="checkbox" name="msk6-10" id="msk6-10 data-item=" районов "" class="checkbox__input js-checkbox-slave js-checkbox-slave-msk6 js-checkbox-slave-msk-city js-checkbox-slave-msk-all">
              <label for="msk6-10" class="checkbox__label checkbox__label--small">Останкинский</label>
            </div>
            <div class="checkbox checkbox--small">
              <input type="checkbox" name="msk6-11" id="msk6-11 data-item=" районов "" class="checkbox__input js-checkbox-slave js-checkbox-slave-msk6 js-checkbox-slave-msk-city js-checkbox-slave-msk-all">
              <label for="msk6-11" class="checkbox__label checkbox__label--small">Отрадное</label>
            </div>
            <div class="checkbox checkbox--small">
              <input type="checkbox" name="msk6-12" id="msk6-12 data-item=" районов "" class="checkbox__input js-checkbox-slave js-checkbox-slave-msk6 js-checkbox-slave-msk-city js-checkbox-slave-msk-all">
              <label for="msk6-12" class="checkbox__label checkbox__label--small">Ростокино</label>
            </div>
          </div>
        </div>
      </div>
      <div class="search-tabs__table-col3 search-tabs__table-col3--gray">
        <div class="checkbox checkbox--big">
          <input type="checkbox" name="msk-reg-7" id="msk-reg-7" data-master="msk7" class="checkbox__input js-checkbox js-checkbox-slave js-checkbox-slave-msk-new js-checkbox-slave-msk-all">
          <label for="msk-reg-7" class="checkbox__label checkbox__label--big">НАО (Новая Москва)</label>
        </div>
        <div class="checkbox checkbox--small">
          <input type="checkbox" name="msk7-1" id="msk7-1" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-msk7 js-checkbox-slave-msk-new js-checkbox-slave-msk-all">
          <label for="msk7-1" class="checkbox__label checkbox__label--small">Внуковское</label>
        </div>
        <div class="checkbox checkbox--small">
          <input type="checkbox" name="msk7-2" id="msk7-2" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-msk7 js-checkbox-slave-msk-new js-checkbox-slave-msk-all">
          <label for="msk7-2" class="checkbox__label checkbox__label--small">Воскресенское</label>
        </div>
        <div class="checkbox checkbox--small">
          <input type="checkbox" name="msk7-3" id="msk7-3" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-msk7 js-checkbox-slave-msk-new js-checkbox-slave-msk-all">
          <label for="msk7-3" class="checkbox__label checkbox__label--small">Десеновское</label>
        </div>
        <div class="checkbox checkbox--small">
          <input type="checkbox" name="msk7-4" id="msk7-4" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-msk7 js-checkbox-slave-msk-new js-checkbox-slave-msk-all">
          <label for="msk7-4" class="checkbox__label checkbox__label--small">Кокошкино</label>
        </div>
        <div class="checkbox checkbox--small">
          <input type="checkbox" name="msk7-5" id="msk7-5" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-msk7 js-checkbox-slave-msk-new js-checkbox-slave-msk-all">
          <label for="msk7-5" class="checkbox__label checkbox__label--small">Марушкинское</label>
        </div>
        <div class="checkbox checkbox--small">
          <input type="checkbox" name="msk7-6" id="msk7-6" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-msk7 js-checkbox-slave-msk-new js-checkbox-slave-msk-all">
          <label for="msk7-6" class="checkbox__label checkbox__label--small">Московский</label>
        </div>
        <div class="checkbox checkbox--small">
          <input type="checkbox" name="msk7-7" id="msk7-7" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-msk7 js-checkbox-slave-msk-new js-checkbox-slave-msk-all">
          <label for="msk7-7" class="checkbox__label checkbox__label--small">Мосрентген</label>
        </div>
        <div class="checkbox checkbox--small">
          <input type="checkbox" name="msk7-8" id="msk7-8" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-msk7 js-checkbox-slave-msk-new js-checkbox-slave-msk-all">
          <label for="msk7-8" class="checkbox__label checkbox__label--small">Рязановское</label>
        </div>
        <div class="checkbox checkbox--small">
          <input type="checkbox" name="msk7-9" id="msk7-9" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-msk7 js-checkbox-slave-msk-new js-checkbox-slave-msk-all">
          <label for="msk7-9" class="checkbox__label checkbox__label--small">Сосенское</label>
        </div>
        <div class="checkbox checkbox--small">
          <input type="checkbox" name="msk7-10" id="msk7-10" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-msk7 js-checkbox-slave-msk-new js-checkbox-slave-msk-all">
          <label for="msk7-10" class="checkbox__label checkbox__label--small">Филимонковское</label>
        </div>
        <div class="checkbox checkbox--small">
          <input type="checkbox" name="msk7-11" id="msk7-11" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-msk7 js-checkbox-slave-msk-new js-checkbox-slave-msk-all">
          <label for="msk7-11" class="checkbox__label checkbox__label--small">Щербинка</label>
        </div>
        <div class="checkbox checkbox--big checkbox--top-margin">
          <input type="checkbox" name="msk-reg-8" id="msk-reg-8" data-master="msk8" class="checkbox__input js-checkbox js-checkbox-slave js-checkbox-slave-msk-new js-checkbox-slave-msk-all">
          <label for="msk-reg-8" class="checkbox__label checkbox__label--big">ЮЗАО (Новая Москва)</label>
        </div>
        <div class="checkbox checkbox--small">
          <input type="checkbox" name="msk8-1" id="msk8-1" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-msk8 js-checkbox-slave-msk-new js-checkbox-slave-msk-all">
          <label for="msk8-1" class="checkbox__label checkbox__label--small">Вороновское</label>
        </div>
        <div class="checkbox checkbox--small">
          <input type="checkbox" name="msk8-2" id="msk8-2" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-msk8 js-checkbox-slave-msk-new js-checkbox-slave-msk-all">
          <label for="msk8-2" class="checkbox__label checkbox__label--small">Киевский</label>
        </div>
        <div class="checkbox checkbox--small">
          <input type="checkbox" name="msk8-3" id="msk8-3" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-msk8 js-checkbox-slave-msk-new js-checkbox-slave-msk-all">
          <label for="msk8-3" class="checkbox__label checkbox__label--small">Кленовское</label>
        </div>
        <div class="checkbox checkbox--small">
          <input type="checkbox" name="msk8-4" id="msk8-4" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-msk8 js-checkbox-slave-msk-new js-checkbox-slave-msk-all">
          <label for="msk8-4" class="checkbox__label checkbox__label--small">Краснопахорское</label>
        </div>
        <div class="checkbox checkbox--small">
          <input type="checkbox" name="msk8-5" id="msk8-5" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-msk8 js-checkbox-slave-msk-new js-checkbox-slave-msk-all">
          <label for="msk8-5" class="checkbox__label checkbox__label--small">Михайлово-Ярцевское</label>
        </div>
        <div class="checkbox checkbox--small">
          <input type="checkbox" name="msk8-6" id="msk8-6" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-msk8 js-checkbox-slave-msk-new js-checkbox-slave-msk-all">
          <label for="msk8-6" class="checkbox__label checkbox__label--small">Новофедоровское</label>
        </div>
        <div class="checkbox checkbox--small">
          <input type="checkbox" name="msk8-7" id="msk8-7" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-msk8 js-checkbox-slave-msk-new js-checkbox-slave-msk-all">
          <label for="msk8-7" class="checkbox__label checkbox__label--small">Первомайское</label>
        </div>
        <div class="checkbox checkbox--small">
          <input type="checkbox" name="msk8-8" id="msk8-8" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-msk8 js-checkbox-slave-msk-new js-checkbox-slave-msk-all">
          <label for="msk8-8" class="checkbox__label checkbox__label--small">Роговское</label>
        </div>
        <div class="checkbox checkbox--small">
          <input type="checkbox" name="msk8-9" id="msk8-9" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-msk8 js-checkbox-slave-msk-new js-checkbox-slave-msk-all">
          <label for="msk8-9" class="checkbox__label checkbox__label--small">Троицк</label>
        </div>
        <div class="checkbox checkbox--small">
          <input type="checkbox" name="msk8-10" id="msk8-10" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-msk8 js-checkbox-slave-msk-new js-checkbox-slave-msk-all">
          <label for="msk8-10" class="checkbox__label checkbox__label--small">Щаповское</label>
        </div>
      </div>
    </div>
  </div>
  <div class="search-tabs__tab js-tabsItem searchTabs-tab2" id="searchTab2">
    <div class="search-tabs__tab-content">
      <div class="row">
        <div class="col4">
          <div class="checkbox checkbox--big">
            <input type="checkbox" name="obl-cat-1" id="obl-cat-1" data-master="obl-cat-1" class="checkbox__input js-checkbox js-checkbox-slave js-checkbox-slave-obl">
            <label for="obl-cat-1" class="checkbox__label checkbox__label--big">Там</label>
          </div>
          <div class="checkbox checkbox--small">
            <input type="checkbox" name="obl-1" id="obl-1" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-obl js-checkbox-slave-obl-cat-1">
            <label for="obl-1" class="checkbox__label checkbox__label--small">Волоколамский район</label>
          </div>
          <div class="checkbox checkbox--small">
            <input type="checkbox" name="obl-2" id="obl-2" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-obl js-checkbox-slave-obl-cat-1">
            <label for="obl-2" class="checkbox__label checkbox__label--small">Воскресенский район</label>
          </div>
          <div class="checkbox checkbox--small">
            <input type="checkbox" name="obl-3" id="obl-3" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-obl js-checkbox-slave-obl-cat-1">
            <label for="obl-3" class="checkbox__label checkbox__label--small">Дмитровский район</label>
          </div>
          <div class="checkbox checkbox--small">
            <input type="checkbox" name="obl-4" id="obl-4" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-obl js-checkbox-slave-obl-cat-1">
            <label for="obl-4" class="checkbox__label checkbox__label--small">Егорьевский район</label>
          </div>
          <div class="checkbox checkbox--small">
            <input type="checkbox" name="obl-5" id="obl-5" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-obl js-checkbox-slave-obl-cat-1">
            <label for="obl-5" class="checkbox__label checkbox__label--small">Зарайский район</label>
          </div>
          <div class="checkbox checkbox--small">
            <input type="checkbox" name="obl-6" id="obl-6" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-obl js-checkbox-slave-obl-cat-1">
            <label for="obl-6" class="checkbox__label checkbox__label--small">Истринский район</label>
          </div>
          <div class="checkbox checkbox--small">
            <input type="checkbox" name="obl-7" id="obl-7" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-obl js-checkbox-slave-obl-cat-1">
            <label for="obl-7" class="checkbox__label checkbox__label--small">Каширский район</label>
          </div>
          <div class="checkbox checkbox--small">
            <input type="checkbox" name="obl-8" id="obl-8" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-obl js-checkbox-slave-obl-cat-1">
            <label for="obl-8" class="checkbox__label checkbox__label--small">Клинский район</label>
          </div>
          <div class="checkbox checkbox--small">
            <input type="checkbox" name="obl-9" id="obl-9" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-obl js-checkbox-slave-obl-cat-1">
            <label for="obl-9" class="checkbox__label checkbox__label--small">Коломенский район</label>
          </div>
          <div class="checkbox checkbox--small">
            <input type="checkbox" name="obl-10" id="obl-10" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-obl js-checkbox-slave-obl-cat-1">
            <label for="obl-10" class="checkbox__label checkbox__label--small">Красногорский район</label>
          </div>
          <div class="checkbox checkbox--small">
            <input type="checkbox" name="obl-11" id="obl-11" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-obl js-checkbox-slave-obl-cat-1">
            <label for="obl-11" class="checkbox__label checkbox__label--small">Ленинский район</label>
          </div>
          <div class="checkbox checkbox--small">
            <input type="checkbox" name="obl-12" id="obl-12" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-obl js-checkbox-slave-obl-cat-1">
            <label for="obl-12" class="checkbox__label checkbox__label--small">Лотошинский район</label>
          </div>
        </div>
        <div class="col4">
          <div class="checkbox checkbox--big">
            <input type="checkbox" name="obl-cat-2" id="obl-cat-2" data-master="obl-cat-2" class="checkbox__input js-checkbox js-checkbox-slave js-checkbox-slave-obl">
            <label for="obl-cat-2" class="checkbox__label checkbox__label--big">Сям</label>
          </div>
          <div class="checkbox checkbox--small">
            <input type="checkbox" name="obl-13" id="obl-13" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-obl js-checkbox-slave-obl-cat-2">
            <label for="obl-13" class="checkbox__label checkbox__label--small">Луховицкий район</label>
          </div>
          <div class="checkbox checkbox--small">
            <input type="checkbox" name="obl-14" id="obl-14" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-obl js-checkbox-slave-obl-cat-2">
            <label for="obl-14" class="checkbox__label checkbox__label--small">Люберецкий район</label>
          </div>
          <div class="checkbox checkbox--small">
            <input type="checkbox" name="obl-15" id="obl-15" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-obl js-checkbox-slave-obl-cat-2">
            <label for="obl-15" class="checkbox__label checkbox__label--small">Можайский район</label>
          </div>
          <div class="checkbox checkbox--small">
            <input type="checkbox" name="obl-16" id="obl-16" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-obl js-checkbox-slave-obl-cat-2">
            <label for="obl-16" class="checkbox__label checkbox__label--small">Мытищинский район</label>
          </div>
          <div class="checkbox checkbox--small">
            <input type="checkbox" name="obl-17" id="obl-17" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-obl js-checkbox-slave-obl-cat-2">
            <label for="obl-17" class="checkbox__label checkbox__label--small">Наро-Фоминский район</label>
          </div>
          <div class="checkbox checkbox--small">
            <input type="checkbox" name="obl-18" id="obl-18" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-obl js-checkbox-slave-obl-cat-2">
            <label for="obl-18" class="checkbox__label checkbox__label--small">Ногинский район</label>
          </div>
          <div class="checkbox checkbox--small">
            <input type="checkbox" name="obl-19" id="obl-19" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-obl js-checkbox-slave-obl-cat-2">
            <label for="obl-19" class="checkbox__label checkbox__label--small">Одинцовский район</label>
          </div>
          <div class="checkbox checkbox--small">
            <input type="checkbox" name="obl-20" id="obl-20" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-obl js-checkbox-slave-obl-cat-2">
            <label for="obl-20" class="checkbox__label checkbox__label--small">Озёрский район</label>
          </div>
          <div class="checkbox checkbox--small">
            <input type="checkbox" name="obl-21" id="obl-21" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-obl js-checkbox-slave-obl-cat-2">
            <label for="obl-21" class="checkbox__label checkbox__label--small">Орехово-Зуевский район</label>
          </div>
          <div class="checkbox checkbox--small">
            <input type="checkbox" name="obl-22" id="obl-22" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-obl js-checkbox-slave-obl-cat-2">
            <label for="obl-22" class="checkbox__label checkbox__label--small">Павлово-Посадский район</label>
          </div>
          <div class="checkbox checkbox--small">
            <input type="checkbox" name="obl-23" id="obl-23" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-obl js-checkbox-slave-obl-cat-2">
            <label for="obl-23" class="checkbox__label checkbox__label--small">Подольский район</label>
          </div>
          <div class="checkbox checkbox--small">
            <input type="checkbox" name="obl-24" id="obl-24" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-obl js-checkbox-slave-obl-cat-2">
            <label for="obl-24" class="checkbox__label checkbox__label--small">Пушкинский район</label>
          </div>
        </div>
        <div class="col4">
          <div class="checkbox checkbox--big">
            <input type="checkbox" name="obl-cat-3" id="obl-cat-3" data-master="obl-cat-3" class="checkbox__input js-checkbox js-checkbox-slave js-checkbox-slave-obl">
            <label for="obl-cat-3" class="checkbox__label checkbox__label--big">Куда-то там</label>
          </div>
          <div class="checkbox checkbox--small">
            <input type="checkbox" name="obl-25" id="obl-25" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-obl js-checkbox-slave-obl-cat-3">
            <label for="obl-25" class="checkbox__label checkbox__label--small">Раменский район</label>
          </div>
          <div class="checkbox checkbox--small">
            <input type="checkbox" name="obl-26" id="obl-26" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-obl js-checkbox-slave-obl-cat-3">
            <label for="obl-26" class="checkbox__label checkbox__label--small">Рузский район</label>
          </div>
          <div class="checkbox checkbox--small">
            <input type="checkbox" name="obl-27" id="obl-27" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-obl js-checkbox-slave-obl-cat-3">
            <label for="obl-27" class="checkbox__label checkbox__label--small">Серебряно-Прудский район</label>
          </div>
          <div class="checkbox checkbox--small">
            <input type="checkbox" name="obl-28" id="obl-28" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-obl js-checkbox-slave-obl-cat-3">
            <label for="obl-28" class="checkbox__label checkbox__label--small">Сергиево-Посадский район</label>
          </div>
          <div class="checkbox checkbox--small">
            <input type="checkbox" name="obl-29" id="obl-29" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-obl js-checkbox-slave-obl-cat-3">
            <label for="obl-29" class="checkbox__label checkbox__label--small">Серпуховский район</label>
          </div>
          <div class="checkbox checkbox--small">
            <input type="checkbox" name="obl-30" id="obl-30" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-obl js-checkbox-slave-obl-cat-3">
            <label for="obl-30" class="checkbox__label checkbox__label--small">Солнечногорский район</label>
          </div>
          <div class="checkbox checkbox--small">
            <input type="checkbox" name="obl-31" id="obl-31" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-obl js-checkbox-slave-obl-cat-3">
            <label for="obl-31" class="checkbox__label checkbox__label--small">Ступинский район</label>
          </div>
          <div class="checkbox checkbox--small">
            <input type="checkbox" name="obl-32" id="obl-32" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-obl js-checkbox-slave-obl-cat-3">
            <label for="obl-32" class="checkbox__label checkbox__label--small">Талдомский район</label>
          </div>
          <div class="checkbox checkbox--small">
            <input type="checkbox" name="obl-33" id="obl-33" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-obl js-checkbox-slave-obl-cat-3">
            <label for="obl-33" class="checkbox__label checkbox__label--small">Чеховский район</label>
          </div>
          <div class="checkbox checkbox--small">
            <input type="checkbox" name="obl-34" id="obl-34" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-obl js-checkbox-slave-obl-cat-3">
            <label for="obl-34" class="checkbox__label checkbox__label--small">Шатурский район</label>
          </div>
          <div class="checkbox checkbox--small">
            <input type="checkbox" name="obl-35" id="obl-35" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-obl js-checkbox-slave-obl-cat-3">
            <label for="obl-35" class="checkbox__label checkbox__label--small">Шаховской район</label>
          </div>
          <div class="checkbox checkbox--small">
            <input type="checkbox" name="obl-36" id="obl-36" data-item="районов" class="checkbox__input js-checkbox-slave js-checkbox-slave-obl js-checkbox-slave-obl-cat-3">
            <label for="obl-36" class="checkbox__label checkbox__label--small">Щёлковский район</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<button type="submit" class="search__submit icon-magnifier">Поиск</button>