<div class="search-tabs">
  <div class="search-tabs__tab-header-row">
    <div class="checkbox checkbox--big">
      <input type="checkbox" name="all-city-metro" id="all-city-metro" data-master="metro" class="checkbox__input js-checkbox">
      <label for="all-city-metro" class="checkbox__label checkbox__label--big checkbox__label--dropdown-header">Весь город</label>
    </div>
  </div>
  <div class="search-tabs__tab-content">
    <div class="row">
      <div class="col3">
        <div class="checkbox checkbox--hidden checkbox--metro-header">
          <input type="checkbox" name="m1" id="m1" data-master="metro-m1" class="checkbox__input js-checkbox js-checkbox-slave js-checkbox-slave-metro">
          <label for="m1" class="checkbox__label checkbox__label--hidden">
            <span class="metro metro-spb-1 js-checkbox" data-master="metro-m1">
              <svg xmlns="http://www.w3.org/2000/svg" width="14.2" height="12" viewBox="0 0 14.2 11.5" enable-background="new 0 0 14.2 11.5">
                <path fill="#333" d="M13 2.7C11.5.4 9.5 0 9.5 0L7.1 8.1 4.7 0s-2 .4-3.5 2.7C-.3 5.1-.1 7.9.8 9.7c.9 1.8 1.2 1.8 1.2 1.8h3s-2.4-1.4-3.2-3.3c-.7-1.9-.5-3.6 0-4.6.5-1.1 1.4-1.8 1.9-1.7.5 0 .6.5.6.8.1.3 2.7 8.2 2.8 8.5.1-.3 2.6-8.2 2.7-8.6.1-.4.1-.8.6-.8s1.4.7 1.9 1.7c.5 1.1.7 2.7 0 4.6-.7 1.9-3.2 3.3-3.2 3.3h3s.4 0 1.3-1.7c1-1.7 1.2-4.6-.4-7z" />
              </svg> <i class="icon-metro">1</i>
            </span>
          </label>
        </div>
        <div class="checkbox checkbox--small">
          <input type="checkbox" name="m1-1" id="m1-1" data-item="станций" class="checkbox__input js-checkbox-slave js-checkbox-slave-metro js-checkbox-slave-metro-m1">
          <label for="m1-1" class="checkbox__label checkbox__label--small">Девяткино</label>
        </div>
        <div class="checkbox checkbox--small">
          <input type="checkbox" name="m1-2" id="m1-2" data-item="станций" class="checkbox__input js-checkbox-slave js-checkbox-slave-metro js-checkbox-slave-metro-m1">
          <label for="m1-2" class="checkbox__label checkbox__label--small">Гражданский проспект</label>
        </div>
        <div class="checkbox checkbox--small">
          <input type="checkbox" name="m1-3" id="m1-3" data-item="станций" class="checkbox__input js-checkbox-slave js-checkbox-slave-metro js-checkbox-slave-metro-m1">
          <label for="m1-3" class="checkbox__label checkbox__label--small">Академическая</label>
        </div>
        <div class="checkbox checkbox--small">
          <input type="checkbox" name="m1-4" id="m1-4" data-item="станций" class="checkbox__input js-checkbox-slave js-checkbox-slave-metro js-checkbox-slave-metro-m1">
          <label for="m1-4" class="checkbox__label checkbox__label--small">Политехническая</label>
        </div>
        <div class="checkbox checkbox--small">
          <input type="checkbox" name="m1-5" id="m1-5" data-item="станций" class="checkbox__input js-checkbox-slave js-checkbox-slave-metro js-checkbox-slave-metro-m1">
          <label for="m1-5" class="checkbox__label checkbox__label--small">Площадь Мужества</label>
        </div>
        <div class="checkbox checkbox--small">
          <input type="checkbox" name="m1-6" id="m1-6" data-item="станций" class="checkbox__input js-checkbox-slave js-checkbox-slave-metro js-checkbox-slave-metro-m1">
          <label for="m1-6" class="checkbox__label checkbox__label--small">Лесная</label>
        </div>
        <div class="checkbox checkbox--small">
          <input type="checkbox" name="m1-7" id="m1-7" data-item="станций" class="checkbox__input js-checkbox-slave js-checkbox-slave-metro js-checkbox-slave-metro-m1">
          <label for="m1-7" class="checkbox__label checkbox__label--small">Выборгская</label>
        </div>
        <div class="checkbox checkbox--small">
          <input type="checkbox" name="m1-8" id="m1-8" data-item="станций" class="checkbox__input js-checkbox-slave js-checkbox-slave-metro js-checkbox-slave-metro-m1">
          <label for="m1-8" class="checkbox__label checkbox__label--small">Площадь Ленина</label>
        </div>
        <div class="checkbox checkbox--small">
          <input type="checkbox" name="m1-9" id="m1-9" data-item="станций" class="checkbox__input js-checkbox-slave js-checkbox-slave-metro js-checkbox-slave-metro-m1">
          <label for="m1-9" class="checkbox__label checkbox__label--small">Чернышевская</label>
        </div>
        <div class="checkbox checkbox--small">
          <input type="checkbox" name="m1-10" id="m1-10" data-item="станций" class="checkbox__input js-checkbox-slave js-checkbox-slave-metro js-checkbox-slave-metro-m1">
          <label for="m1-10" class="checkbox__label checkbox__label--small">Площадь Восстания</label>
        </div>
        <div class="checkbox checkbox--small">
          <input type="checkbox" name="m1-11" id="m1-11" data-item="станций" class="checkbox__input js-checkbox-slave js-checkbox-slave-metro js-checkbox-slave-metro-m1">
          <label for="m1-11" class="checkbox__label checkbox__label--small">Владимирская</label>
        </div>
        <div class="checkbox checkbox--small">
          <input type="checkbox" name="m1-12" id="m1-12" data-item="станций" class="checkbox__input js-checkbox-slave js-checkbox-slave-metro js-checkbox-slave-metro-m1">
          <label for="m1-12" class="checkbox__label checkbox__label--small">Пушкинская</label>
        </div>
        <div class="checkbox checkbox--small">
          <input type="checkbox" name="m1-13" id="m1-13" data-item="станций" class="checkbox__input js-checkbox-slave js-checkbox-slave-metro js-checkbox-slave-metro-m1">
          <label for="m1-13" class="checkbox__label checkbox__label--small">Технологический институт</label>
        </div>
        <div class="checkbox checkbox--small">
          <input type="checkbox" name="m1-14" id="m1-14" data-item="станций" class="checkbox__input js-checkbox-slave js-checkbox-slave-metro js-checkbox-slave-metro-m1">
          <label for="m1-14" class="checkbox__label checkbox__label--small">Балтийская</label>
        </div>
        <div class="checkbox checkbox--small">
          <input type="checkbox" name="m1-15" id="m1-15" data-item="станций" class="checkbox__input js-checkbox-slave js-checkbox-slave-metro js-checkbox-slave-metro-m1">
          <label for="m1-15" class="checkbox__label checkbox__label--small">Нарвская</label>
        </div>
        <div class="checkbox checkbox--small">
          <input type="checkbox" name="m1-16" id="m1-16" data-item="станций" class="checkbox__input js-checkbox-slave js-checkbox-slave-metro js-checkbox-slave-metro-m1">
          <label for="m1-16" class="checkbox__label checkbox__label--small">Кировский завод</label>
        </div>
        <div class="checkbox checkbox--small">
          <input type="checkbox" name="m1-17" id="m1-17" data-item="станций" class="checkbox__input js-checkbox-slave js-checkbox-slave-metro js-checkbox-slave-metro-m1">
          <label for="m1-17" class="checkbox__label checkbox__label--small">Автово</label>
        </div>
        <div class="checkbox checkbox--small">
          <input type="checkbox" name="m1-18" id="m1-18" data-item="станций" class="checkbox__input js-checkbox-slave js-checkbox-slave-metro js-checkbox-slave-metro-m1">
          <label for="m1-18" class="checkbox__label checkbox__label--small">Ленинский проспект</label>
        </div>
        <div class="checkbox checkbox--small">
          <input type="checkbox" name="m1-19" id="m1-19" data-item="станций" class="checkbox__input js-checkbox-slave js-checkbox-slave-metro js-checkbox-slave-metro-m1">
          <label for="m1-19" class="checkbox__label checkbox__label--small">Проспект Ветеранов</label>
        </div>
      </div>
      <div class="col3">
        <div class="checkbox checkbox--hidden checkbox--metro-header">
          <input type="checkbox" name="m2" id="m2" data-master="metro-m2" class="checkbox__input js-checkbox js-checkbox-slave js-checkbox-slave-metro">
          <label for="m2" class="checkbox__label checkbox__label--hidden">
            <span class="metro metro-spb-2 js-checkbox" data-master="metro-m2">
              <svg xmlns="http://www.w3.org/2000/svg" width="14.2" height="12" viewBox="0 0 14.2 11.5" enable-background="new 0 0 14.2 11.5">
                <path fill="#333" d="M13 2.7C11.5.4 9.5 0 9.5 0L7.1 8.1 4.7 0s-2 .4-3.5 2.7C-.3 5.1-.1 7.9.8 9.7c.9 1.8 1.2 1.8 1.2 1.8h3s-2.4-1.4-3.2-3.3c-.7-1.9-.5-3.6 0-4.6.5-1.1 1.4-1.8 1.9-1.7.5 0 .6.5.6.8.1.3 2.7 8.2 2.8 8.5.1-.3 2.6-8.2 2.7-8.6.1-.4.1-.8.6-.8s1.4.7 1.9 1.7c.5 1.1.7 2.7 0 4.6-.7 1.9-3.2 3.3-3.2 3.3h3s.4 0 1.3-1.7c1-1.7 1.2-4.6-.4-7z" />
              </svg> <i class="icon-metro">2</i>
            </span>
          </label>
        </div>
        <div class="checkbox checkbox--small">
          <input type="checkbox" name="m2-1" id="m2-1" data-item="станций" class="checkbox__input js-checkbox-slave js-checkbox-slave-metro js-checkbox-slave-metro-m2">
          <label for="m2-1" class="checkbox__label checkbox__label--small">Парнас</label>
        </div>
        <div class="checkbox checkbox--small">
          <input type="checkbox" name="m2-2" id="m2-2" data-item="станций" class="checkbox__input js-checkbox-slave js-checkbox-slave-metro js-checkbox-slave-metro-m2">
          <label for="m2-2" class="checkbox__label checkbox__label--small">Пр. Просвещения</label>
        </div>
        <div class="checkbox checkbox--small">
          <input type="checkbox" name="m2-3" id="m2-3" data-item="станций" class="checkbox__input js-checkbox-slave js-checkbox-slave-metro js-checkbox-slave-metro-m2">
          <label for="m2-3" class="checkbox__label checkbox__label--small">Озерки</label>
        </div>
        <div class="checkbox checkbox--small">
          <input type="checkbox" name="m2-4" id="m2-4" data-item="станций" class="checkbox__input js-checkbox-slave js-checkbox-slave-metro js-checkbox-slave-metro-m2">
          <label for="m2-4" class="checkbox__label checkbox__label--small">Удельная</label>
        </div>
        <div class="checkbox checkbox--small">
          <input type="checkbox" name="m2-5" id="m2-5" data-item="станций" class="checkbox__input js-checkbox-slave js-checkbox-slave-metro js-checkbox-slave-metro-m2">
          <label for="m2-5" class="checkbox__label checkbox__label--small">Пионерская</label>
        </div>
        <div class="checkbox checkbox--small">
          <input type="checkbox" name="m2-6" id="m2-6" data-item="станций" class="checkbox__input js-checkbox-slave js-checkbox-slave-metro js-checkbox-slave-metro-m2">
          <label for="m2-6" class="checkbox__label checkbox__label--small">Черная речка</label>
        </div>
        <div class="checkbox checkbox--small">
          <input type="checkbox" name="m2-7" id="m2-7" data-item="станций" class="checkbox__input js-checkbox-slave js-checkbox-slave-metro js-checkbox-slave-metro-m2">
          <label for="m2-7" class="checkbox__label checkbox__label--small">Петроградская</label>
        </div>
        <div class="checkbox checkbox--small">
          <input type="checkbox" name="m2-8" id="m2-8" data-item="станций" class="checkbox__input js-checkbox-slave js-checkbox-slave-metro js-checkbox-slave-metro-m2">
          <label for="m2-8" class="checkbox__label checkbox__label--small">Горьковская</label>
        </div>
        <div class="checkbox checkbox--small">
          <input type="checkbox" name="m2-9" id="m2-9" data-item="станций" class="checkbox__input js-checkbox-slave js-checkbox-slave-metro js-checkbox-slave-metro-m2">
          <label for="m2-9" class="checkbox__label checkbox__label--small">Невский проспект</label>
        </div>
        <div class="checkbox checkbox--small">
          <input type="checkbox" name="m2-10" id="m2-10" data-item="станций" class="checkbox__input js-checkbox-slave js-checkbox-slave-metro js-checkbox-slave-metro-m2">
          <label for="m2-10" class="checkbox__label checkbox__label--small">Сенная площадь</label>
        </div>
        <div class="checkbox checkbox--small">
          <input type="checkbox" name="m2-11" id="m2-11" data-item="станций" class="checkbox__input js-checkbox-slave js-checkbox-slave-metro js-checkbox-slave-metro-m2">
          <label for="m2-11" class="checkbox__label checkbox__label--small">Технологический институт</label>
        </div>
        <div class="checkbox checkbox--small">
          <input type="checkbox" name="m2-12" id="m2-12" data-item="станций" class="checkbox__input js-checkbox-slave js-checkbox-slave-metro js-checkbox-slave-metro-m2">
          <label for="m2-12" class="checkbox__label checkbox__label--small">Фрунзенская</label>
        </div>
        <div class="checkbox checkbox--small">
          <input type="checkbox" name="m2-13" id="m2-13" data-item="станций" class="checkbox__input js-checkbox-slave js-checkbox-slave-metro js-checkbox-slave-metro-m2">
          <label for="m2-13" class="checkbox__label checkbox__label--small">Московские ворота</label>
        </div>
        <div class="checkbox checkbox--small">
          <input type="checkbox" name="m2-14" id="m2-14" data-item="станций" class="checkbox__input js-checkbox-slave js-checkbox-slave-metro js-checkbox-slave-metro-m2">
          <label for="m2-14" class="checkbox__label checkbox__label--small">Электросила</label>
        </div>
        <div class="checkbox checkbox--small">
          <input type="checkbox" name="m2-15" id="m2-15" data-item="станций" class="checkbox__input js-checkbox-slave js-checkbox-slave-metro js-checkbox-slave-metro-m2">
          <label for="m2-15" class="checkbox__label checkbox__label--small">Парк Победы</label>
        </div>
        <div class="checkbox checkbox--small">
          <input type="checkbox" name="m2-16" id="m2-16" data-item="станций" class="checkbox__input js-checkbox-slave js-checkbox-slave-metro js-checkbox-slave-metro-m2">
          <label for="m2-16" class="checkbox__label checkbox__label--small">Московская</label>
        </div>
        <div class="checkbox checkbox--small">
          <input type="checkbox" name="m2-17" id="m2-17" data-item="станций" class="checkbox__input js-checkbox-slave js-checkbox-slave-metro js-checkbox-slave-metro-m2">
          <label for="m2-17" class="checkbox__label checkbox__label--small">Звездная</label>
        </div>
        <div class="checkbox checkbox--small">
          <input type="checkbox" name="m2-18" id="m2-18" data-item="станций" class="checkbox__input js-checkbox-slave js-checkbox-slave-metro js-checkbox-slave-metro-m2">
          <label for="m2-18" class="checkbox__label checkbox__label--small">Купчино</label>
        </div>
      </div>
      <div class="col3">
        <div class="checkbox checkbox--hidden checkbox--metro-header">
          <input type="checkbox" name="m3" id="m3" data-master="metro-m3" class="checkbox__input js-checkbox js-checkbox-slave js-checkbox-slave-metro">
          <label for="m3" class="checkbox__label checkbox__label--hidden">
            <span class="metro metro-spb-3 js-checkbox" data-master="metro-m3">
              <svg xmlns="http://www.w3.org/2000/svg" width="14.2" height="12" viewBox="0 0 14.2 11.5" enable-background="new 0 0 14.2 11.5">
                <path fill="#333" d="M13 2.7C11.5.4 9.5 0 9.5 0L7.1 8.1 4.7 0s-2 .4-3.5 2.7C-.3 5.1-.1 7.9.8 9.7c.9 1.8 1.2 1.8 1.2 1.8h3s-2.4-1.4-3.2-3.3c-.7-1.9-.5-3.6 0-4.6.5-1.1 1.4-1.8 1.9-1.7.5 0 .6.5.6.8.1.3 2.7 8.2 2.8 8.5.1-.3 2.6-8.2 2.7-8.6.1-.4.1-.8.6-.8s1.4.7 1.9 1.7c.5 1.1.7 2.7 0 4.6-.7 1.9-3.2 3.3-3.2 3.3h3s.4 0 1.3-1.7c1-1.7 1.2-4.6-.4-7z" />
              </svg>
              <i class="icon-metro">3</i>
            </span>
          </label>
        </div>
        <div class="checkbox checkbox--small">
          <input type="checkbox" name="m3-1" id="m3-1" data-item="станций" class="checkbox__input js-checkbox-slave js-checkbox-slave-metro js-checkbox-slave-metro-m3">
          <label for="m3-1" class="checkbox__label checkbox__label--small">Приморская</label>
        </div>
        <div class="checkbox checkbox--small">
          <input type="checkbox" name="m3-2" id="m3-2" data-item="станций" class="checkbox__input js-checkbox-slave js-checkbox-slave-metro js-checkbox-slave-metro-m3">
          <label for="m3-2" class="checkbox__label checkbox__label--small">Василеостровская</label>
        </div>
        <div class="checkbox checkbox--small">
          <input type="checkbox" name="m3-3" id="m3-3" data-item="станций" class="checkbox__input js-checkbox-slave js-checkbox-slave-metro js-checkbox-slave-metro-m3">
          <label for="m3-3" class="checkbox__label checkbox__label--small">Гостиный двор</label>
        </div>
        <div class="checkbox checkbox--small">
          <input type="checkbox" name="m3-4" id="m3-4" data-item="станций" class="checkbox__input js-checkbox-slave js-checkbox-slave-metro js-checkbox-slave-metro-m3">
          <label for="m3-4" class="checkbox__label checkbox__label--small">Маяковская</label>
        </div>
        <div class="checkbox checkbox--small">
          <input type="checkbox" name="m3-5" id="m3-5" data-item="станций" class="checkbox__input js-checkbox-slave js-checkbox-slave-metro js-checkbox-slave-metro-m3">
          <label for="m3-5" class="checkbox__label checkbox__label--small">Пл. А. Невского</label>
        </div>
        <div class="checkbox checkbox--small">
          <input type="checkbox" name="m3-6" id="m3-6" data-item="станций" class="checkbox__input js-checkbox-slave js-checkbox-slave-metro js-checkbox-slave-metro-m3">
          <label for="m3-6" class="checkbox__label checkbox__label--small">Елизаровская</label>
        </div>
        <div class="checkbox checkbox--small">
          <input type="checkbox" name="m3-7" id="m3-7" data-item="станций" class="checkbox__input js-checkbox-slave js-checkbox-slave-metro js-checkbox-slave-metro-m3">
          <label for="m3-7" class="checkbox__label checkbox__label--small">Ломоносовская</label>
        </div>
        <div class="checkbox checkbox--small">
          <input type="checkbox" name="m3-8" id="m3-8" data-item="станций" class="checkbox__input js-checkbox-slave js-checkbox-slave-metro js-checkbox-slave-metro-m3">
          <label for="m3-8" class="checkbox__label checkbox__label--small">Пролетарская</label>
        </div>
        <div class="checkbox checkbox--small">
          <input type="checkbox" name="m3-9" id="m3-9" data-item="станций" class="checkbox__input js-checkbox-slave js-checkbox-slave-metro js-checkbox-slave-metro-m3">
          <label for="m3-9" class="checkbox__label checkbox__label--small">Обухово</label>
        </div>
        <div class="checkbox checkbox--small">
          <input type="checkbox" name="m3-10" id="m3-10" data-item="станций" class="checkbox__input js-checkbox-slave js-checkbox-slave-metro js-checkbox-slave-metro-m3">
          <label for="m3-10" class="checkbox__label checkbox__label--small">Рыбацкое</label>
        </div>
        <div class="checkbox checkbox--hidden checkbox--metro-header">
          <input type="checkbox" name="m4" id="m4" data-master="metro-m4" class="checkbox__input js-checkbox js-checkbox-slave js-checkbox-slave-metro">
          <label for="m4" class="checkbox__label checkbox__label--hidden">
            <span class="metro metro-spb-4 js-checkbox" data-master="metro-m4">
              <svg xmlns="http://www.w3.org/2000/svg" width="14.2" height="12" viewBox="0 0 14.2 11.5" enable-background="new 0 0 14.2 11.5">
                <path fill="#333" d="M13 2.7C11.5.4 9.5 0 9.5 0L7.1 8.1 4.7 0s-2 .4-3.5 2.7C-.3 5.1-.1 7.9.8 9.7c.9 1.8 1.2 1.8 1.2 1.8h3s-2.4-1.4-3.2-3.3c-.7-1.9-.5-3.6 0-4.6.5-1.1 1.4-1.8 1.9-1.7.5 0 .6.5.6.8.1.3 2.7 8.2 2.8 8.5.1-.3 2.6-8.2 2.7-8.6.1-.4.1-.8.6-.8s1.4.7 1.9 1.7c.5 1.1.7 2.7 0 4.6-.7 1.9-3.2 3.3-3.2 3.3h3s.4 0 1.3-1.7c1-1.7 1.2-4.6-.4-7z" />
              </svg>
              <i class="icon-metro">4</i>
            </span>
          </label>
        </div>
        <div class="checkbox checkbox--small">
          <input type="checkbox" name="m4-1" id="m4-1" data-item="станций" class="checkbox__input js-checkbox-slave js-checkbox-slave-metro js-checkbox-slave-metro-m4">
          <label for="m4-1" class="checkbox__label checkbox__label--small">Спасская</label>
        </div>
        <div class="checkbox checkbox--small">
          <input type="checkbox" name="m4-2" id="m4-2" data-item="станций" class="checkbox__input js-checkbox-slave js-checkbox-slave-metro js-checkbox-slave-metro-m4">
          <label for="m4-2" class="checkbox__label checkbox__label--small">Достоевская</label>
        </div>
        <div class="checkbox checkbox--small">
          <input type="checkbox" name="m4-3" id="m4-3" data-item="станций" class="checkbox__input js-checkbox-slave js-checkbox-slave-metro js-checkbox-slave-metro-m4">
          <label for="m4-3" class="checkbox__label checkbox__label--small">Лиговский пр.</label>
        </div>
        <div class="checkbox checkbox--small">
          <input type="checkbox" name="m4-4" id="m4-4" data-item="станций" class="checkbox__input js-checkbox-slave js-checkbox-slave-metro js-checkbox-slave-metro-m4">
          <label for="m4-4" class="checkbox__label checkbox__label--small">Пл. А. Невского-2</label>
        </div>
        <div class="checkbox checkbox--small">
          <input type="checkbox" name="m4-5" id="m4-5" data-item="станций" class="checkbox__input js-checkbox-slave js-checkbox-slave-metro js-checkbox-slave-metro-m4">
          <label for="m4-5" class="checkbox__label checkbox__label--small">Новочеркасская</label>
        </div>
        <div class="checkbox checkbox--small">
          <input type="checkbox" name="m4-6" id="m4-6" data-item="станций" class="checkbox__input js-checkbox-slave js-checkbox-slave-metro js-checkbox-slave-metro-m4">
          <label for="m4-6" class="checkbox__label checkbox__label--small">Ладожская</label>
        </div>
        <div class="checkbox checkbox--small">
          <input type="checkbox" name="m4-7" id="m4-7" data-item="станций" class="checkbox__input js-checkbox-slave js-checkbox-slave-metro js-checkbox-slave-metro-m4">
          <label for="m4-7" class="checkbox__label checkbox__label--small">пр. Большевиков</label>
        </div>
        <div class="checkbox checkbox--small">
          <input type="checkbox" name="m4-8" id="m4-8" data-item="станций" class="checkbox__input js-checkbox-slave js-checkbox-slave-metro js-checkbox-slave-metro-m4">
          <label for="m4-8" class="checkbox__label checkbox__label--small">Улица Дыбенко</label>
        </div>
      </div>
      <div class="col3">
        <div class="checkbox checkbox--hidden checkbox--metro-header">
          <input type="checkbox" name="m5" id="m5" data-master="metro-m5" class="checkbox__input js-checkbox js-checkbox-slave js-checkbox-slave-metro">
          <label for="m5" class="checkbox__label checkbox__label--hidden">
            <span class="metro metro-spb-5 js-checkbox" data-master="metro-m5">
              <svg xmlns="http://www.w3.org/2000/svg" width="14.2" height="12" viewBox="0 0 14.2 11.5" enable-background="new 0 0 14.2 11.5">
                <path fill="#333" d="M13 2.7C11.5.4 9.5 0 9.5 0L7.1 8.1 4.7 0s-2 .4-3.5 2.7C-.3 5.1-.1 7.9.8 9.7c.9 1.8 1.2 1.8 1.2 1.8h3s-2.4-1.4-3.2-3.3c-.7-1.9-.5-3.6 0-4.6.5-1.1 1.4-1.8 1.9-1.7.5 0 .6.5.6.8.1.3 2.7 8.2 2.8 8.5.1-.3 2.6-8.2 2.7-8.6.1-.4.1-.8.6-.8s1.4.7 1.9 1.7c.5 1.1.7 2.7 0 4.6-.7 1.9-3.2 3.3-3.2 3.3h3s.4 0 1.3-1.7c1-1.7 1.2-4.6-.4-7z" />
              </svg>
              <i class="icon-metro">5</i>
            </span>
          </label>
        </div>
        <div class="checkbox checkbox--small">
          <input type="checkbox" name="m5-1" id="m5-1" data-item="станций" class="checkbox__input js-checkbox-slave js-checkbox-slave-metro js-checkbox-slave-metro-m5">
          <label for="m5-1" class="checkbox__label checkbox__label--small">Комендантский пр.</label>
        </div>
        <div class="checkbox checkbox--small">
          <input type="checkbox" name="m5-2" id="m5-2" data-item="станций" class="checkbox__input js-checkbox-slave js-checkbox-slave-metro js-checkbox-slave-metro-m5">
          <label for="m5-2" class="checkbox__label checkbox__label--small">Старая Деревня</label>
        </div>
        <div class="checkbox checkbox--small">
          <input type="checkbox" name="m5-3" id="m5-3" data-item="станций" class="checkbox__input js-checkbox-slave js-checkbox-slave-metro js-checkbox-slave-metro-m5">
          <label for="m5-3" class="checkbox__label checkbox__label--small">Крестовский остров</label>
        </div>
        <div class="checkbox checkbox--small">
          <input type="checkbox" name="m5-4" id="m5-4" data-item="станций" class="checkbox__input js-checkbox-slave js-checkbox-slave-metro js-checkbox-slave-metro-m5">
          <label for="m5-4" class="checkbox__label checkbox__label--small">Чкаловская</label>
        </div>
        <div class="checkbox checkbox--small">
          <input type="checkbox" name="m5-5" id="m5-5" data-item="станций" class="checkbox__input js-checkbox-slave js-checkbox-slave-metro js-checkbox-slave-metro-m5">
          <label for="m5-5" class="checkbox__label checkbox__label--small">Спортивная</label>
        </div>
        <div class="checkbox checkbox--small">
          <input type="checkbox" name="m5-6" id="m5-6" data-item="станций" class="checkbox__input js-checkbox-slave js-checkbox-slave-metro js-checkbox-slave-metro-m5">
          <label for="m5-6" class="checkbox__label checkbox__label--small">Адмиралтейская</label>
        </div>
        <div class="checkbox checkbox--small">
          <input type="checkbox" name="m5-7" id="m5-7" data-item="станций" class="checkbox__input js-checkbox-slave js-checkbox-slave-metro js-checkbox-slave-metro-m5">
          <label for="m5-7" class="checkbox__label checkbox__label--small">Садовая</label>
        </div>
        <div class="checkbox checkbox--small">
          <input type="checkbox" name="m5-8" id="m5-8" data-item="станций" class="checkbox__input js-checkbox-slave js-checkbox-slave-metro js-checkbox-slave-metro-m5">
          <label for="m5-8" class="checkbox__label checkbox__label--small">Звенигородская</label>
        </div>
        <div class="checkbox checkbox--small">
          <input type="checkbox" name="m5-9" id="m5-9" data-item="станций" class="checkbox__input js-checkbox-slave js-checkbox-slave-metro js-checkbox-slave-metro-m5">
          <label for="m5-9" class="checkbox__label checkbox__label--small">Обводный канал</label>
        </div>
        <div class="checkbox checkbox--small">
          <input type="checkbox" name="m5-10" id="m5-10" data-item="станций" class="checkbox__input js-checkbox-slave js-checkbox-slave-metro js-checkbox-slave-metro-m5">
          <label for="m5-10" class="checkbox__label checkbox__label--small">Волковская</label>
        </div>
        <div class="checkbox checkbox--small">
          <input type="checkbox" name="m5-11" id="m5-11" data-item="станций" class="checkbox__input js-checkbox-slave js-checkbox-slave-metro js-checkbox-slave-metro-m5">
          <label for="m5-11" class="checkbox__label checkbox__label--small">Бухарестская</label>
        </div>
        <div class="checkbox checkbox--small">
          <input type="checkbox" name="m5-12" id="m5-12" data-item="станций" class="checkbox__input js-checkbox-slave js-checkbox-slave-metro js-checkbox-slave-metro-m5">
          <label for="m5-12" class="checkbox__label checkbox__label--small">Международная</label>
        </div>
      </div>
    </div>
    <button type="submit" class="search__submit icon-magnifier">Поиск</button>
  </div>
</div>