<div class="search-alphabet">
  <p class="search-alphabet__title">Укажите первую букву в названии ЖК:</p>
  <div class="search-alphabet__desc">
    <div class="search-alphabet__main">
      <div class="alphabet">
        <a href="http://vnovostroike.ru/spb/company/get-by-letter/А" class="alphabet__letter js-search-letter">А</a>
        <a href="http://vnovostroike.ru/spb/company/get-by-letter/Б" class="alphabet__letter js-search-letter">Б</a>
        <a href="http://vnovostroike.ru/spb/company/get-by-letter/В" class="alphabet__letter js-search-letter">В</a>
        <a href="http://vnovostroike.ru/spb/company/get-by-letter/Г" class="alphabet__letter js-search-letter">Г</a>
        <a href="http://vnovostroike.ru/spb/company/get-by-letter/Д" class="alphabet__letter js-search-letter">Д</a>
        <a href="http://vnovostroike.ru/spb/company/get-by-letter/Е" class="alphabet__letter js-search-letter">Е</a>
        <a href="http://vnovostroike.ru/spb/company/get-by-letter/Ж" class="alphabet__letter js-search-letter">Ж</a>
        <a href="http://vnovostroike.ru/spb/company/get-by-letter/З" class="alphabet__letter js-search-letter">З</a>
        <a href="http://vnovostroike.ru/spb/company/get-by-letter/И" class="alphabet__letter js-search-letter">И</a>
        <a href="http://vnovostroike.ru/spb/company/get-by-letter/Й" class="alphabet__letter js-search-letter">Й</a>
        <a href="http://vnovostroike.ru/spb/company/get-by-letter/К" class="alphabet__letter js-search-letter">К</a>
        <a href="http://vnovostroike.ru/spb/company/get-by-letter/Л" class="alphabet__letter js-search-letter">Л</a>
        <a href="http://vnovostroike.ru/spb/company/get-by-letter/М" class="alphabet__letter js-search-letter">М</a>
        <a href="http://vnovostroike.ru/spb/company/get-by-letter/Н" class="alphabet__letter js-search-letter">Н</a>
        <a href="http://vnovostroike.ru/spb/company/get-by-letter/О" class="alphabet__letter js-search-letter">О</a>
        <a href="http://vnovostroike.ru/spb/company/get-by-letter/П" class="alphabet__letter js-search-letter">П</a>
        <a href="http://vnovostroike.ru/spb/company/get-by-letter/Р" class="alphabet__letter js-search-letter">Р</a>
        <a href="http://vnovostroike.ru/spb/company/get-by-letter/С" class="alphabet__letter js-search-letter">С</a>
        <a href="http://vnovostroike.ru/spb/company/get-by-letter/Т" class="alphabet__letter js-search-letter">Т</a>
        <a href="http://vnovostroike.ru/spb/company/get-by-letter/У" class="alphabet__letter js-search-letter">У</a>
        <a href="http://vnovostroike.ru/spb/company/get-by-letter/Ф" class="alphabet__letter js-search-letter">Ф</a>
        <a href="http://vnovostroike.ru/spb/company/get-by-letter/Х" class="alphabet__letter js-search-letter">Х</a>
        <a href="http://vnovostroike.ru/spb/company/get-by-letter/Ц" class="alphabet__letter js-search-letter">Ц</a>
        <a href="http://vnovostroike.ru/spb/company/get-by-letter/Ч" class="alphabet__letter js-search-letter">Ч</a>
        <a href="http://vnovostroike.ru/spb/company/get-by-letter/Ш" class="alphabet__letter js-search-letter">Ш</a>
        <a href="http://vnovostroike.ru/spb/company/get-by-letter/Щ" class="alphabet__letter js-search-letter">Щ</a>
        <a href="http://vnovostroike.ru/spb/company/get-by-letter/Ъ" class="alphabet__letter js-search-letter">Ъ</a>
        <a href="http://vnovostroike.ru/spb/company/get-by-letter/Ы" class="alphabet__letter js-search-letter">Ы</a>
        <a href="http://vnovostroike.ru/spb/company/get-by-letter/Ь" class="alphabet__letter js-search-letter">Ь</a>
        <a href="http://vnovostroike.ru/spb/company/get-by-letter/Э" class="alphabet__letter js-search-letter">Э</a>
        <a href="http://vnovostroike.ru/spb/company/get-by-letter/Ю" class="alphabet__letter js-search-letter">Ю</a>
        <a href="http://vnovostroike.ru/spb/company/get-by-letter/Я" class="alphabet__letter js-search-letter">Я</a>
      </div>
      <div class="alphabet">
        <a href="http://vnovostroike.ru/spb/company/get-by-letter/A" class="alphabet__letter js-search-letter">A</a>
        <a href="http://vnovostroike.ru/spb/company/get-by-letter/B" class="alphabet__letter js-search-letter">B</a>
        <a href="http://vnovostroike.ru/spb/company/get-by-letter/C" class="alphabet__letter js-search-letter">C</a>
        <a href="http://vnovostroike.ru/spb/company/get-by-letter/D" class="alphabet__letter js-search-letter">D</a>
        <a href="http://vnovostroike.ru/spb/company/get-by-letter/E" class="alphabet__letter js-search-letter">E</a>
        <a href="http://vnovostroike.ru/spb/company/get-by-letter/F" class="alphabet__letter js-search-letter">F</a>
        <a href="http://vnovostroike.ru/spb/company/get-by-letter/G" class="alphabet__letter js-search-letter">G</a>
        <a href="http://vnovostroike.ru/spb/company/get-by-letter/H" class="alphabet__letter js-search-letter">H</a>
        <a href="http://vnovostroike.ru/spb/company/get-by-letter/I" class="alphabet__letter js-search-letter">I</a>
        <a href="http://vnovostroike.ru/spb/company/get-by-letter/J" class="alphabet__letter js-search-letter">J</a>
        <a href="http://vnovostroike.ru/spb/company/get-by-letter/K" class="alphabet__letter js-search-letter">K</a>
        <a href="http://vnovostroike.ru/spb/company/get-by-letter/L" class="alphabet__letter js-search-letter">L</a>
        <a href="http://vnovostroike.ru/spb/company/get-by-letter/M" class="alphabet__letter js-search-letter">M</a>
        <a href="http://vnovostroike.ru/spb/company/get-by-letter/N" class="alphabet__letter js-search-letter">N</a>
        <a href="http://vnovostroike.ru/spb/company/get-by-letter/O" class="alphabet__letter js-search-letter">O</a>
        <a href="http://vnovostroike.ru/spb/company/get-by-letter/P" class="alphabet__letter js-search-letter">P</a>
        <a href="http://vnovostroike.ru/spb/company/get-by-letter/Q" class="alphabet__letter js-search-letter">Q</a>
        <a href="http://vnovostroike.ru/spb/company/get-by-letter/R" class="alphabet__letter js-search-letter">R</a>
        <a href="http://vnovostroike.ru/spb/company/get-by-letter/S" class="alphabet__letter js-search-letter">S</a>
        <a href="http://vnovostroike.ru/spb/company/get-by-letter/T" class="alphabet__letter js-search-letter">T</a>
        <a href="http://vnovostroike.ru/spb/company/get-by-letter/U" class="alphabet__letter js-search-letter">U</a>
        <a href="http://vnovostroike.ru/spb/company/get-by-letter/V" class="alphabet__letter js-search-letter">V</a>
        <a href="http://vnovostroike.ru/spb/company/get-by-letter/W" class="alphabet__letter js-search-letter">W</a>
        <a href="http://vnovostroike.ru/spb/company/get-by-letter/X" class="alphabet__letter js-search-letter">X</a>
        <a href="http://vnovostroike.ru/spb/company/get-by-letter/Y" class="alphabet__letter js-search-letter">Y</a>
        <a href="http://vnovostroike.ru/spb/company/get-by-letter/Z" class="alphabet__letter js-search-letter">Z</a>
      </div>
    </div>
    <div class="search-alphabet__divider">или</div>
    <div class="search-alphabet__input-wrap">
      <input type="text" class="search-alphabet__input" placeholder="Введите название застройщика" name=""></div>
  </div>
</div>