<div class="search js-search">
  <script id="search-slider-template" type="x-tmpl-mustache">
    <div class="search-slider__slides js-search-slider-slides">
      {{#.}}
        <div class="search-slider__slide">
          <a href="{{url}}" class="company-thumb" title="{{title}}">
            <span class="company-thumb__img-wrap">
              <img src="{{logo}}" alt="{{title}}" class="company-thumb__img"></span>
            <span class="company-thumb__title">{{title}}</span>
          </a>
        </div>
      {{/.}}
    </div>
  </script>
  <div class="tabs tabs--search js-tabs js-tabs-search">
    <div class="tabs__nav-wrap">
      <ul class="tabs__nav">
        <li class="tabs__nav-item js-tabsNavItem">
          <a href="#mainSearchTab1" class="tabs__nav-link js-tabsNavLink">Район</a>
        </li>
        <li class="tabs__nav-item js-tabsNavItem">
          <a href="#mainSearchTab2" class="tabs__nav-link js-tabsNavLink">Метро</a>
        </li>
        <li class="tabs__nav-item js-tabsNavItem">
          <a href="#mainSearchTab3" class="tabs__nav-link js-tabsNavLink">Застройщик</a>
        </li>
        <li class="tabs__nav-item js-tabsNavItem">
          <a href="#mainSearchTab4" class="tabs__nav-link js-tabsNavLink">Жилой комплекс</a>
        </li>
      </ul>
    </div>
    <div class="tabs__item-wrap">
      <form action="/" class="tabs__item js-tabsItem" id="mainSearchTab1">
        @@include('../_components/search-tabs.html')
      </form>
      <form action="/" class="tabs__item js-tabsItem" id="mainSearchTab2">
        @@include('../_components/search-metro.html')
      </form>
      <div class="tabs__item js-tabsItem js-search-tab" id="mainSearchTab3">
        @@include('../_components/search-alphabet.html')
        @@include('../_components/search-slider.html')
      </div>
      <div class="tabs__item js-tabsItem js-search-tab" id="mainSearchTab4">
        @@include('../_components/search-alphabet.html')
        @@include('../_components/search-slider.html')
      </div>
    </div>
  </div>
</div>