<div class="small-search">
  <div class="container">
    <div class="row">
      <div class="col7">
        <h2 class="small-search__header small-search__header--main">Квартиры в новостройках Петербурга</h2>
      </div>
      <div class="col5">
        <form action="#" class="small-search__form">
          <input type="text" class="small-search__input" name="ask-google" placeholder="Поиск по названию ЖК или застройщика">
          <button type="submit" class="small-search__submit icon-magnifier">Отправить</button>
        </form>
      </div>
    </div>
  </div>
</div>
