<table class="table-params">
  <tr>
    <th rowspan="2" class="table-params__header-first">Параметр</th>
    <th colspan="3" class="table-params__header-group">Класс жилого комплекса</th>
  </tr>
  <tr>
    <th>Эконом</th>
    <th>Cредний</th>
    <th>Элитный</th>
  </tr>
  <tr>
    <td>
      <span class="table-params__param-title">Квадратный метр:</span>
    </td>
    <td>
      <span class="table-params__price icon-wave">54 000 р.</span>
    </td>
    <td>
      <span class="table-params__price icon-wave">74 000 р.</span>
    </td>
    <td>
      <span class="table-params__price icon-wave">120 000 р.</span>
    </td>
  </tr>
  <tr>
    <td>
      <span class="table-params__param-title">Студия:</span>
    </td>
    <td>
      <span class="table-params__price icon-wave">1,5 млн</span>
    </td>
    <td>
      <span class="table-params__price icon-wave">2,5 млн</span>
    </td>
    <td>
      <span class="table-params__price icon-wave">4,5 млн</span>
    </td>
  </tr>
  <tr>
    <td>
      <span class="table-params__param-title">Однокомнатная квартира:</span>
    </td>
    <td>
      <span class="table-params__price icon-wave">1,3 млн</span>
    </td>
    <td>
      <span class="table-params__price icon-wave">3,2 млн</span>
    </td>
    <td>
      <span class="table-params__price icon-wave">6,3 млн</span>
    </td>
  </tr>
  <tr>
    <td>
      <span class="table-params__param-title">Двухкомнатная квартира:</span>
    </td>
    <td>
      <span class="table-params__price icon-wave">2,7 млн</span>
    </td>
    <td>
      <span class="table-params__price icon-wave">5,7 млн</span>
    </td>
    <td>
      <span class="table-params__price icon-wave">8,7 млн</span>
    </td>
  </tr>
  <tr>
    <td>
      <span class="table-params__param-title">Трехкомнатная квартира:</span>
    </td>
    <td>
      <span class="table-params__price icon-wave">5 млн</span>
    </td>
    <td>
      <span class="table-params__price icon-wave">9 млн</span>
    </td>
    <td>
      <span class="table-params__price icon-wave">12 млн</span>
    </td>
  </tr>
</table>