.alphabet
  font 400 14px / 21px ff_base
  white-space nowrap
  cursor default

  &__letter
    color #a3a3a3
    opacity 1
    transition color time
    text-decoration none

    &:hover
      color #000
      text-decoration none

    &:focus
      color #999
      color rgba(0, 0, 0, .6)
      text-decoration none

    &.active
      &
      &:hover
      &:focus
        color #000