.article-section
  margin 30px 0
  padding 20px 60px 34px
  background-color bg_gray
  position relative


  &__number-wrap
    overflow hidden
    margin 0 -30px
    position relative


  &__number
    display block
    margin 0 auto 16px
    width 34px
    height 34px
    border 2px solid c_green
    background-color #fff
    border-radius 17px
    text-align center
    font-size 18px
    line-height 30px

    &:after
    &:before
      content ''
      position absolute
      height 2px
      background-color c_green
      width 50%
      top 16px

    &:before
      margin-left 40px
      left 50%

    &:after
      margin-right 40px
      right 50%


  h3
    text-align center
    margin 0 0 24px

  p
    font-size fz_small
    line-height 20px
    margin 0
    text-align justify
