.article-slider
  display table
  width 100%
  table-layout: fixed;


  &__title
    display block
    @extends .h1


  &__slider
    .slick-next,
    .slick-prev
      width 24px
      height 24px
      margin 0
      top 75px // 174-24/2


  &__wrap
    background #fff url64('../../img/article-slider-bg.png') top center repeat-x


  &__slide
    display block
    float left
    @extends .td-alt
    position relative

    &.slick-active + &.slick-active:after
      content ''
      position absolute
      left -3px
      top 84px // 174 - 6 = 168 / 2 = 84
      width 6px
      height 6px
      border-radius 3px
      background-color c_muted


  &__slide-img
    display block
    margin 0 auto 16px
    height 174px
    min-width 140px
    max-width 300px
    position relative
    background-color bg_gray
    background-repeat no-repeat
    background-position 50% 50%
    background-size 100%

    &:after
      content ''
      position absolute
      top 0
      right 0
      bottom 0
      left 0
      background url('../img/mask.png') 50% 50% no-repeat


  &__slide-title
    display block
    text-align center
    font-size fz_base
    line-height lh_middle
    font-weight 600