.aside
  position relative

  &__box
    margin 0 0 20px
    border-radius 4px

    &--bordered
      border 1px solid c_gray_border
      border-radius bdrs_base
      overflow hidden

  &__fixed
    position relative
    width 300px

    &.fixed
      position fixed
      top 0

    &.bottom
      position absolute



  // &__banner
  //   display block
  //   width 100%
  //   min-height 350px
  //   background-color #ccc