.bank-item
  margin 0 0 10px
  border 1px solid c_gray_border_lighttest
  border-radius bdrs_base
  @extends .cf

  &__logo-wrap
    float left
    width 70px
    height 38px
    position relative

  &__logo
    zeroCentering()

  &__name
    // margin 8px 80px 0 78px
    margin 8px 0px 8px 78px
    display block
    font-weight 600

  &__percent
    width 79px
    float right
    font-weight 700
    margin 8px 0 0

  &__link-calc
    display block
    margin 0 0 10px
    padding 9px 0 10px
    background-color c_gray_lightest

    &:hover
    &:active
      background-color darken(c_gray_lightest, 10%)

    &.icon-calc
      icon(52px,20px,9px)
