.bnr-fullwidth
  display block
  width 100%
  margin 0 0 20px
  min-height 220px
  background-color c_gray_light

  @extends .small

.bnr-news
  display block
  margin 0 0 20px
  width 100%
  height 220px
  border-radius bdrs_base
  background-color c_gray_light


/*===============================
=            BANNERS            =
===============================*/

banners()
  @extends .cf
  margin 0
  padding 0
  background-color c_gray_lightest
  text-align center
  color c_base
  transition all .2s
  cursor pointer
  text-decoration none

  overflow hidden
  border-radius bdrs_base

  &:hover
  &:active
    background-color c_green
    color #fff

  &:focus
    outline none

  &:hover
    box-shadow 0 5px 15px rgba(0, 0, 1, 0.25)

  &:active
    box-shadow 0 0px 0px rgba(0, 0, 1, 0.25)

  img
    display block
    max-width 100%
    height auto
    margin 0 auto


/*==========  SIDEBAR  ==========*/

.btype1-wrap
  width 300px
  display inline-block
  vertical-align top
  margin 0 10px 20px

.btype1
  banners()
  width 300px
  display block
  margin 0 0 20px

  box-shadow 0 0px 0px rgba(0, 0, 1, 0.25)

  & &__u1
    display block
    margin 7px 0
    padding 0 10px
    font-size 14px
    line-height 18px
    font-weight 600
    text-decoration underline

  & &__u2
    display block
    position relative
    bottom 3px
    margin 7px 0
    padding 0 10px
    font-size 12px
    line-height 16px
    font-weight 400

  .cont-through &
    display inline-block
    vertical-align top
    margin 0 10px 20px



/*==========  CONTENT  ==========*/

.btype2
  banners()
  width 200px
  display inline-block
  vertical-align top
  margin 0 10px 10px 0

  & &__u1
    display block
    min-height (200px - 128 - 10 - 4)
    margin 10px 0 4px
    padding 0 10px
    font-size 12px
    line-height 16px
    font-weight 400

  &:hover
    .btype2__u1
      text-decoration underline


/*==========  CONTENT-TOP  ==========*/

.btype3
  banners()
  width 100%
  min-width 220px
  padding 10px
  display block
  margin 0 auto

  img
    max-width 200px

  & &__u1
    display block
    width 200px
    margin 8px auto 4px
    font-size 13px
    line-height 20px
    font-weight 400

  &:hover
    .btype3__u1
      text-decoration underline



/*==========  CONTENT-TEXT  ==========*/

.btype4
  display table
  width 100%
  background-color c_gray_lightest
  color c_base

  &.btype4--type2
    background-color #fff
    border 1px solid c_gray_lightest

    .btype4__link span
      transition none

    &:hover
      background-color #fff
      border 1px solid c_green
      color c_base

      .btype4__link span
        border-color c_gray_lightest
        color c_muted
        background-color: rgba(255, 255, 255, 0.2);

  & &__img
  & &__u1
  & &__link
    display table-cell
    vertical-align middle
    padding 6px

  & &__img img
    height 41px
    width auto
    display block

  & &__u1
    font-size 12px
    line-height 20px
    width 100%
    text-align left

  & &__link
    width 143px

    span
      display block
      width 131px
      height 40px
      padding 0 5px
      border 1px solid c_gray_lightest
      border-radius bdrs_base
      background-color transparent
      line-height 38px
      text-align center
      white-space nowrap
      font-size 12px
      color c_muted
      transition all .2s
      cursor pointer

      &:hover
        background-color: rgba(255, 255, 255, 0.1);

      &:active
        background-color transparent

  &:hover
    background-color c_green
    color #fff
    text-decoration underline

    .btype4__link span
      border-color #fff
      color #fff

  &:focus
    outline none


/*==========  Banner in main  ==========*/

.btype5
  position absolute
  z-index z_search - 1
  left 0
  right 0
  top 490px
  text-align center
  max-height 150px
  overflow hidden

  > a
    display inline-block
    vertical-align top

/*-----  End of BANNERS  ------*/


/*===================================
=            banner wrap            =
===================================*/

.bwrap
  display inline-block
  vertical-align top
  width 300px
  margin 0 10px 20px

  .btype1
  .btype2
    margin-bottom 0

  .aside__box &
    width auto
    margin 0 auto 20px

/*-----  End of banner wrap  ------*/





