.bottom-panel-wrap
  display block
  height 46px

  @media screen and (max-width: (container_total - 1 ))
    display none

.bottom-panel
  position fixed
  bottom 0
  left 0
  right 0
  min-height 46px
  background-color bg_gray
  box-shadow 0 -2px 3px rgba(#000, .25)

  &__brand
    @extends .text-overflow
    float left
    width 32%
    margin 12px 0 0
    line-height 25px


  &__brand-logo
    width 25px
    height 25px
    margin 0 10px 0 0
  // &__brand-title


  &__brand-phone
    float left
    margin 13px 0 0
    width 17%
    font-size fz_huge
    font-weight 600

  &__consult-link
    float left
    width 17%
    margin 13px 0 0
    padding 0 0 0 20px
    font-size fz_small
    color c_muted

    &.icon-headphones
      position relative

      &:before
        position absolute
        left 0
        top 4px

  &__consult
    width 34%
    position relative
    height 46px
    float left