// универсальный контейнер для контента
project_width = 140px // это на странице новостроек такой необычный блок с авкой компании

.box
  // margin 0 0 36px
  margin 0 0 20px
  // @extends .cf

  + .box
    margin-top 30px

  &--small-offset
    margin 0 0 14px

  &--bordered
    padding 0 0 9px
    border-bottom 1px solid c_gray_border

  &__table
    display table
    margin 0 0 27px

  &__table-cell
    display table-cell
    vertical-align top

    &--main
      width 100%

    &--right
      width 140px

  &__header
    @extends .cf
    border-bottom 1px solid c_gray_border
    padding 0 0 7px
    margin 0 0 18px

    &--larger
      padding 0 0 12px
      margin 0 0 16px

    &--noborder
      border-bottom none
      padding 0
      margin 0 0 4px

    &--noborder-big-offset
      border-bottom none
      padding 0
      margin 0 0 16px

    &--mainpage
      border-bottom none
      padding 5px 0 0
      margin 0 0 6px

      .box__title
        line-height 28px


  &__main
    &--project
      margin-right project_width
  &__rightcol
    float right
    &--project
      width project_width

  &__title
    @extends .h2
    line-height 24px
    margin 0 0 10px
    float left

    &-small
      color c_muted
      font-size 16px

    &--noheader
      float none

  &__header-message
    float right
    padding 4px 0 0
    line-height 24px
    font-size fz_small
    font-weight 300
    font-style italic
    color c_muted

  // &__header
    // &--noborder
  // &__title
    // &--left
  // &__header-message