.btn
  // default Bootstrap
  display inline-block
  margin 0 0 10px
  text-align center
  vertical-align top
  cursor pointer
  background-image none // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  // border 1px solid transparent
  white-space nowrap
  user-select none

  // [AA]
  height 40px
  // padding 7px 20px
  padding 7px 10px
  line-height 20px
  border 1px solid c_gray_input-border
  border-radius bdrs_base
  box-shadow none

  // &,
  // &:active,
  // &.active
  //   &:focus
  //     tab-focus

  &:active
  &.active
    outline 0
    background-image none

  &:focus
    outline none

  // &.disabled,
  // &[disabled],
  // fieldset[disabled]

.btn-green
  display inline-block
  background-color c_green
  color #fff
  border-color c_green_border
  box-shadow inset 0 -1px 1px c_green_border
  bg-hvr(c_green)
  &.disabled
  &[disabled]
    background-color c_green_disabled
    border-color c_green_border_disabled

.btn-orange
  display inline-block
  background-color c_orange_btn
  color #fff
  border-color c_submit_border
  box-shadow 0 1px 0 c_submit_shadow
  bg-hvr(c_orange_btn)

  &:hover
  &:focus
  &:active
    color #fff

  position relative
  top 0
  @extends .trz

  &:active
    top 1px
    box-shadow 0 0px 0 c_submit_shadow

