html:not(#checkedSupportId)
// #qwe
  .checkbox
    display block
    position relative
    // &--block
    &--big
      margin 0 0 5px

    &--small
      margin 0 0 3px

    &--dropdown-header
      float left
      margin 10px 0 0 26px

    &--top-margin
      margin-top 23px

    &--inline-block
      margin-right 20px
      display inline-block
      vertical-align top

    &--leave-comment
      display block
      margin 11px 0 0

    &--metro-header
      display block
      margin 0 0 6px

    & + .checkbox--metro-header
      margin-top 15px


    &__input
      position absolute
      left 0
      top 0
      opacity 0
      visibility hidden
    &__label
      display block
      margin 0
      padding-left 26px
      position relative
      font-size fz_small
      line-height 16px
      color #000
      cursor pointer

      &:hover
        color c_green
      &:active
        color darken(c_green,10%)


      &--hidden
        padding-left 0


      &--small
        line-height 12px
        &:before
          content ''
          position absolute
          left 0
          top 1px
          width 12px
          height 12px
          background-size 12px 12px

      &--big
        line-height 16px
        &:before
          content ''
          position absolute
          left 0
          top 0
          width 16px
          height 16px
          background-size 16px 16px

      &--dropdown-header
        font-size fz_base

    .checkbox__input + .checkbox__label--small:before
    .checkbox__input:checked + .checkbox__label--small:active:before
      background-image url64('../../img/checkbox_small@2x.png')
    .checkbox__input:checked + .checkbox__label--small:before
    .checkbox__input + .checkbox__label--small:active:before
      background-image url64('../../img/checkbox_small_checked@2x.png')

    .checkbox__input + .checkbox__label--big:before
    .checkbox__input:checked + .checkbox__label--big:active:before
      background-image url64('../../img/checkbox_big@2x.png')
    .checkbox__input:checked + .checkbox__label--big:before
    .checkbox__input + .checkbox__label--big:active:before
      background-image url64('../../img/checkbox_big_checked@2x.png')