.city-select
  background-color bg_city_select
  padding 16px 0 4px
  display none
  background bg_city_select url64('../img/bg_city-select.png') center bottom repeat-x

  &__title
    display block
    font-size fz_base
    line-height lh_base
    font-weight 700
    color c_muted
    margin 0 0 8px

  &__list
    @extends .list-clear
    display block
    margin 5px 0 18px

  &__item
    display block
    padding 0 0 0 11px
    margin 0 0 2px

  &__link
    display inline-block
    font-size fz_small
    @extends .tdn
    border-radius bdrs_base * 2
    padding 0 11px 0 23px
    position relative
    right 23px
    color #fff
    background-color transparent
    @extends .trz

    &:hover,
    &:focus
    .city-select__item.active &
      outline: none;
      background-color c_city_select
      color c_green
    &:active
      background-color darken(c_city_select, 10%)
      color darken(c_green, 10%)

    .city-select__item.active &
      pointer-events none

    &.icon-next:before
      position absolute
      left 11px
      top 7px

  &__close
    position absolute
    right 40px
    top 6px
    @extends .text-hide