.comment
  margin 0 0 16px
  padding 0 0 21px
  border-bottom 1px solid c_gray_border
  min-width 540px
  @extends .cf
  
  &:last-child 
    border none
  
  &--nested
    margin 0
    padding 20px 0 0
    border-bottom none
    position relative
    z-index 10
    
    .comment__avatar
      position relative
      z-index 20
      background-color #fff
    
    &:before
      content ''
      display block
      position absolute
      z-index 0
      top 0
      bottom 0
      left 28px
      width 5px
      background-color bg_gray
    
    &.comment--nested-last:before
      height 30px
      bottom auto

  &__avatar
    margin 5px 0 0 0
    width 60px
    float left
    
  &__main
    display block
    margin-left 80px

  &__header
    margin 0 0 8px
  
  &__body
    margin 0 0 12px
    
  &__footer
    background-color bg_gray
    min-height 30px
    @extends .cf
    
    &-left
      float left
      padding 5px 0 0 11px
      max-width 180px

    &-right
      float right
      font-size 0
      max-width 280px

  &__name
    display inline
    @extends .h3
    font-weight 600
  
  &__badge
    display inline-block
    vertical-align top
    margin 6px 0 0 6px
    padding 0px 4px
    border-radius 6px
    background-color c_green
    font-size 8px
    line-height 12px
    text-transform uppercase
    color #fff
    font-weight 600
    
  &__popup
    margin-left 4px
  
  &__phone
    margin 4px 0 1px
    display block
    
  &__job
    font-size 12px
    color c_muted
  
  &__date
  &__reply
  &__vote-text
    font-size fz_small
    color c_muted
    // display inline-block
    // vertical-align top
    display block
    float left
    
  &__vote-text
    padding 6px 0
    width 122px

    
  &__reply
  &__company-link
    color c_muted
    
    &:hover
      color c_green
      text-decoration underline
      
    &:active
      color darken(c_green, 10%)
    
  &__date
    position relative
    margin-right 17px
    
    &:after
      content ''
      position absolute
      right -9px
      width 1px
      background-color c_gray_border
      top 1px
      bottom 0
      

  
  &__like
  &__dislike
    display block
    float left
    width 40px
    height 30px
    border-left 1px solid c_gray_border
    position relative
    
    &:before
      position absolute
      opacity 1
      trz(opacity, .2s)

    &:after
      position absolute
      display none
      opacity 0
      // top -20px
      trz(all, .3s)
    
    &.active
      background-color transparent
      &:hover
        background-color transparent

      &:before
        opacity 0
        
      &:after
        display block
        top 0
        opacity 1

  &__like
    padding 6px 0 0 10px
    &:after
      top -20px
    &:hover
      background-color c_green
    &.active:after
      top 6px
  
  &__dislike
    padding 9px 0 0 10px
    &:after
      top 37px

    &:hover
      background-color c_red_dislike
    &.active:after
      top 9px
  
  &__vote-result
    display block
    float left
    min-width 61px
    max-width 78px // 78+40+40+122 = 280 - max
    height 30px
    border-left 1px solid c_gray_border
    font-size fz_base
    color c_muted
    text-align center
    padding 5px 7px 0
    text-overflow()
    
    &.positive
      color c_green
      &:before
        content "+"

    &.negative
      color c_red_dislike