.company-card
  width 100%
  padding 5px 0 0

  &__img-wrap
    display block
    width 140px
    height 140px
    border 1px solid c_gray_border
    border-radius bdrs_base
    position relative
    margin 0 0 7px
    
  &__img
    max-width 100%
    max-height 100%
    display block
    margin 0 auto
    
    position absolute
    left 0
    right 0
    top 0
    bottom 0
    margin auto
  
  &__rating
    margin 0 0 5px
    white-space nowrap

    &-label
      display block
      font-size fz_small 
      margin 0 0 2px

  &__desc
    line-height 12px