.company-thumbs
  // padding 20px 0 0
  position relative
.company-thumb
  thumb_size = 140px

  @extends .td-alt
  display block
  text-align center
  margin 0 auto 16px


  &__img-wrap
    display block
    margin 0 auto 13px
    width thumb_size
    height thumb_size
    position relative
    border 1px solid c_gray_border
    border-radius bdrs_base
    overflow hidden
    @extends .nvs-img-hover


  &__img
    position absolute
    top 0
    right 0
    bottom 0
    left 0
    max-width (thumb_size - 2px )
    max-height (thumb_size - 2px )
    margin auto


  &__title
    max-width thumb_size
    display block
    margin 0 auto
    text-align center
