.consult
  display block
  position absolute
  bottom 0
  left 0
  right 0
  padding 7px 100px 7px 9px
  border-top-left-radius bdrs_base
  border-top-left-radius bdrs_base
  box-shadow 0 -2px 3px rgba(#000, .25)
  background-color c_green
  background c_green url('../img/bg_consult.png') right bottom no-repeat
  color #fff
  trz(all, .3s)

  &.closed
    padding-top 3px
    background-position 200% 0

    .consult__submit
      border-color c_gren_border_consult
      background-color c_gren_border_consult
      box-shadow none
      pointer-events none

      &:hover
      &:active
        border-color c_gren_border_consult
        background-color c_gren_border_consult
        bottom 7px


    .consult__title
      display block
    .consult__label
    .consult__name
      display none
      opacity 0


  &__title
    display none
    margin 0 0 4px
    white-space nowrap
    em
      font-size fz_small
  &__label
    margin 0 0 7px 1px
    display block
    font-size fz_small
    line-height 16px

  &__name
  &__question
    display block
    width 100%
    margin 0 0 3px
    padding 3px 8px 4px
    border-radius bdrs_base
    border 1px solid c_gren_border_consult
    box-shadow inset 0 1px 3px rgba(#000, .25)
    color c_base
    font-size fz_small
    line-height 16px

    &:focus
      outline none

  &__question
    margin 0
    resize none

  &__submit
    @extends .text-overflow
    @extends .trz
    position absolute
    right 10px
    bottom 7px
    display block
    width 80px
    padding 6px 0 5px
    text-align center
    background-image none
    background-color c_orange_btn
    border 1px solid c_submit_border
    border-radius bdrs_base
    font-size fz_small
    color #fff
    font-weight 600
    box-shadow 0 1px 0 c_submit_shadow

    &.disabled
      border-color c_gren_border_consult
      background-color c_gren_border_consult
      box-shadow none
      pointer-events none

      &:hover
      &:active
        border-color c_gren_border_consult
        background-color c_gren_border_consult
        bottom 7px

    &:hover
      background-color lighten(c_orange_btn, 10%)

    &:active
      bottom 6px
      background-color darken(c_orange_btn, 10%)
      box-shadow 0 0 0 c_submit_shadow

    &:focus
      outline none
