.content-banner
  display block
  margin 0 0 10px
  background-color c_gray_border
  @extend .cf
  padding 5px 5px 3px // 12px text renders with min 17px height
  border-radius bdrs_base
  min-height 30px
  
  &__img
    margin 0 10px 0 0
    max-width 20px
    max-height 20px
    float left
  
  &__link
    margin 0
    font-size fz_small
    line-height lh_base
    @extends .color-hvr
    
    position relative
    bottom 2px