.content-links
  padding 21px 0 15px
  margin 0 0 20px
  background-color bg_gray

  &--main-content
    position relative

    &:before
      content ''
      position absolute
      width ( 2 * column_offset)
      left -( 2 * column_offset)
      top 0
      bottom 0
      background-color bg_gray



  &__title
    @extends .h2
    margin 0 0 8px


  &__list
    @extends ul.green-ul

    li + li
      margin-top 9px