.document
  display table
  position relative
  margin 0 0 10px
  min-width 420px
  width 100%
  min-height 50px
  background-color bg_gray

  @extends .tdn

  &:hover
  &:active
    background-color darken(bg_gray, 10%)

  &__file-ext
    @extends .text-hide
    display table-cell
    position relative
    width 60px

    &--doc
      background-color c_blue

      &.icon-file-doc:before
        margin-top -10px
        margin-left -9px

    &--jpg
      background-color c_orange

      &.icon-file-jpg:before
        margin-top -12px
        margin-left -10px
    &--xls
      background-color c_green_lighter

      &.icon-file-xls:before
        margin-top -12px
        margin-left -10px

    &--pdf
      background-color c_red_warning

      &.icon-file-pdf:before
        margin-top -12px
        margin-left -10px

    &--error
      background-color c_gray_file-error

      &.icon-file-error:before
        margin-top -12px
        margin-left -9px

    &:before
      position absolute
      left 50%
      top 50%

  &__text
    display table-cell
    vertical-align middle
    padding 4px 20px
    line-height 16px
    &-small
      display block
      color c_muted

  &__download
    display table-cell
    vertical-align top
    position relative
    width 140px
    padding 14px 0 0 24px
    font-size fz_small
    color c_muted
    @extends .td-normal

    &:hover
    &:active
      color c_base


    &.icon-file-detail:before
      position absolute
      left 1px
      top 18px