.favorits-btn
  display block
  display inline-block
  text-align left
  width 150px
  padding 8px 0 11px 43px
  border-radius bdrs_base
  position relative
  @extends .tdn
  @extends .trz

  &:before 
    position absolute
    top 6px
    left 12px
    
  &:hover
    background-color c_green
    color #fff
    
  &:active
    background-color darken(c_green, 15%)
    color #fff
    
  &.active
    &:hover
      background-color c_red
    
    &:active
      background-color darken(c_red, 15%)
      
    .favorits-btn__text
      &--add
        display none
      &--added
        display inline

  &__text
    &--add
      display inline
      
    &--added
      display none