.feat-panel
  padding 8px 96px 3px 0
  background-color bg_gray
  @extends .cf
  position relative

  &__item
    display block
    float left
    position relative
    width 24px
    height 24px
    background-color #fff
    border-radius bdrs_base
    margin-left 10px
    margin-bottom 5px

    &:hover
    &:active
      background-color c_green

    &.disabled
    &.disabled:hover
    &.disabled:active
      background-color #fff

    &.icon-law-sm
      padding 5px 0 0 0

      .feat-panel__item-text--special-size
        min-width 56px
        margin-left -28px

    &.icon-house-sm
      padding 5px 0 0 5px

      .feat-panel__item-text--special-size
        min-width 104px
        margin-left -52px

    &.icon-search-list-sm
      padding 6px 0 0 7px

      .feat-panel__item-text--special-size
        min-width 116px
        margin-left -58px

    &.icon-wand-sm
      padding 5px 0 0 6px

      .feat-panel__item-text--special-size
        min-width 120px
        margin-left -60px

    &.icon-school-sm
      padding 6px 0 0 4px

      .feat-panel__item-text--special-size
        min-width 96px
        margin-left -48px

    &.icon-children-sm
      padding 5px 0 0 6px

      .feat-panel__item-text--special-size
        min-width 80px
        margin-left -40px



  &__item-text
    position absolute
    display none
    opacity 0
    @extends .trz
    min-width 120px
    margin-left -60px
    padding 2px 0
    border-radius bdrs_base
    background-color c_gray_feat-panel
    text-align center
    font-size fz_smallest
    line-height lh_small
    color #fff
    left 50%
    bottom 29px

    &:before
      content ''
      position absolute
      top 100%
      left 50%
      margin-left -3px
      border-left   3px solid transparent
      border-right  3px solid transparent
      border-bottom 5px solid transparent
      border-top    5px solid c_gray_feat-panel

    .feat-panel__item:hover &
      display block
      opacity 1
    // .feat-panel__item.disabled:hover &
    //   display none
    //   opacity 1



  &__resume
    display block
    text-align right
    min-width 85px
    white-space nowrap
    position absolute
    right 10px
    top 12px

@media screen and (min-width: 1140px)
  .feat-panel
    padding 10px 10px 4px 2px

    &__item
      margin 0 0 8px 8px

    &__resume
      position static
      clear both
      text-align center
      position relative
      top 0
      right 0
      left 4px