.footer-nav
  background-color c_gray_lightest
  padding 19px 0 11px
  // min-height 214px
  
  &__hdr
    margin 0 0 5px
    font-size fz_small
    font-weight bold
    
  &__list
    @extends .list-clear
    margin 0 0 11px
  
  &__item
    display block
    margin 0
  
  &__link
    font-size 11px
    line-height 1.2
    color-hvr(c_blue)
    @extends .td-alt