.footer-bottom
  background-color c_gray
  text-align center
  width 100%
  overflow hidden
  padding 0 0 16px
  
  &__contacts
    padding 25px 0 0
    margin 0 0 8px
    position relative
    left 12px

    &-link
      font-size 18px
      line-height 1
      font-weight 600
      color-hvr(c_green)
      @extends .td-alt
      margin 0 8px
      position relative
      
      &:before
        content ''
        position absolute
        top 4px
        bottom 2px
        left -11px
        width 2px
        background-color c_green
        
      
      &:first-child
        &:before
          display none

  &__address
    color #fff
    font-weight 600
    margin 0 0 6px
    
  &__age
    display inline-block
    vertical-align top
    color #adadad
    border 2px solid #adadad
    width 26px
    height 26px
    border-radius 15px
    font-weight 600
    margin 0 20px 0 63px
    
  &__public-offer
    font-size fz_small
    font-weight bold
    color-hvr(#adadad)