.footer-middle
  background-color c_green
  padding 0 0 3px

  &__list
    @extends .list-clear
    display block
    text-align center

  &__item
    display inline
    padding 0 16px 0 18px
    line-height 32px
    position relative
    right 10px
    
    &:before 
      content ''
      position absolute
      width 2px
      left 0
      top 4px
      bottom 1px
      background-color #fff
      
    &:first-child
      &:before 
        display none

  &__link
    color-hvr(#fff)
    font-weight 600