.gallery
  width 100%
  // width 620px
  position relative
  padding-right 155px
  min-height 313px
  @extends .cf
  position relative

  &__main
    // float left
    // width 75%
    // width 465px
    // padding 3px 0 0

    margin 3px auto 0
    background-color bg_gray

  &__aside
    position absolute
    top 0
    right 0
    width 155px
    padding-left 19px

  &__slider
    width 465px
    min-height 300px

  &__slide
    width 100%
    height 300px
    background-color bg_gray
    background-size 100%
    background-size contain
    background-position center center
    background-repeat no-repeat
    cursor pointer

  &__nav
    width 100%

  &__nav-slide
    @extends .cf-justify
    line-height 0

  &__nav-item
    // display block
    // float left
    width 60px
    height 60px
    margin-bottom 4px
    display inline-block
    vertical-align top
    border 3px solid #fff
    border-radius (2 * bdrs_base)
    background-size 100%
    background-size cover
    background-position center center

    &.active
      border-color c_green


  &__controls
    position relative
    margin 0
    padding 0 35px
    min-height 25px
    position relative
    text-align center

  &__counter
    font-weight 600
    color c_muted
    line-height 22px
    white-space nowrap

  &__arrow
    font-size 0
    position absolute
    width 25px
    height 25px
    top 0

    &--left
      left 10px

    &--right
      right 10px

  /*=========================================
  =            OVERFLOWING SLICK            =
  =========================================*/
  .slick-slider
    margin 0

    &.gallery__slider
      margin 0 auto





  &__nav .slick-dots
    position static
    line-height 19px
    text-align center
    li
      display inline-block
      vertical-align top
      margin 0 4px
      width 16px
      height 16px
      button
        width 16px
        height 16px
        padding 0
        // background-color #fee
        position relative
        text-align center

        &:before
          font-size 0
          position absolute
          width 6px
          height 6px
          top 5px
          left 5px
          border-radius 10px
          border 1px solid c_muted
          background-color c_muted

      &.slick-active button:before
        width 8px
        height 8px
        top 4px
        left 4px
        // border-color c_green
        // background-color c_green
        border-width 1px
        background-color transparent

/*-----  End of OVERFLOWING SLICK  ------*/