.header
  margin 0 0 14px

  &__top
    @extends .cf
    background c_green
    min-height 65px
    border-bottom 5px solid c_green_darker

  &__top-left
    float left
    width 30%
    padding 12px 0 0 (container_offset + 3)
    position relative

  &__top-right
    float right
    width 70%

  &__logo
    display block

  &__current-city
    position absolute
    top 32px
    left (32px + container_offset)
    display block
    padding 5px
    border-radius 5px
    font 600 12px / 1 ff_base
    text-shadow 0 1px 0 rgba(0, 0, 1, 0.25)
    cursor pointer
    color #fff

    transition opacity time
    opacity 1
    text-decoration none !important

    &:hover
    &:focus
      color #fff
      opacity .8

    &:active
      color #fff
      opacity .6


    &:before
      content ''
      position absolute
      bottom 2px
      left 5px
      right 5px
      height 0
      border-top 1px dashed #fff