.hire-purchase

  &__header
    position relative
    padding 2px 0 6px

    border-top-right-radius bdrs_base
    border-bottom-right-radius bdrs_base
    background-color bg_gray

    .hire-purchase__col
      padding-right 5px

    &:before
      content ''
      position absolute
      top 0
      bottom 0
      left -20px
      width 20px

      border-top-left-radius bdrs_base
      border-bottom-left-radius bdrs_base
      background-color bg_gray

  &__item
    border-bottom 1px solid c_gray_border
    padding 0 0 9px
    margin 0

    &+&
      margin-top 4px

  &__row
    display table
    width 100%
    margin 0 0 4px

  &__col
    display table-cell
    vertical-align middle
    min-width 160px
    width 25.8% // 160/620*100 = 25.806451612903224
    padding 9px 0 0

    &.icon-next
      position relative

      &:before
        position absolute
        top 50%
        left 50%
        margin-left 23px - 3px // num = (33+12)/2 = 23
        margin-top 1px

    &--last
      min-width 140px
      width 22.58% // 140/620*100 = 22.58064516129032


  &__title
    font-size fz_small
    line-height 15px
    font-weight 600

  &__step-num
    // position absolute
    // top 9px
    // left 0
    margin 0 0 0 12px
    padding 0 0 0 1px
    display block
    font-size 18px
    line-height 28px
    width 33px
    height 33px
    border-radius 16px
    text-align center
    border 2px solid c_green

  &__muted-text
    display block
    margin 0 0 7px
    color c_muted
    font-size fz_small
    line-height lh_small