// ICONS
.icon-law-sm

  &.disabled:before
  &.disabled:hover:before
  &.disabled:active:before
    color #999


  &:hover:before
  &:active:before
    color #fff

  &:before
    content 'ФЗ'
    width 24px
    color c_green
    text-align center
    display block
    font-size 12px
    font-weight 400
    line-height 1
    user-select: none;