.infocard
  margin 0 0 20px
  padding 7px 0 0


  &__main
    display block
    @extends .cf
    margin 0 0 10px


  &__img-wrap
    margin 1px 0 0
    float left
    width 140px
    border 1px solid c_gray_border
    border-radius bdrs_base


  &__img
    @extends .img-responsive
    margin 0 auto


  &__data
    margin-left (140px + 2*column_offset)

  &__info
    margin 0 0 10px
    font-size fz_base
    line-height lh_middle

    dt
      display block
      min-width 162px
      float left
      font-weight 600
      color c_muted

      &.icon-next
        position relative
        padding-right 30px

        &:before
          position absolute
          top 7px
          right 20px

    dd
      display block
      margin-left 162px
      margin-bottom 12px


  &__desc
    position relative

    .text-preview
      margin 0 0 26px


  &__warning
    @extends .h3