.input-range
  @extends .cf
  text-align center
  white-space nowrap
  // font-size 0
  text-align justify
  &:after
    content ' '
    display inline-block
    height 1px
    text-align justify

  &__right
  &__left
    width 95px
    display inline-block
    vertical-align top
    white-space nowrap
  &__left
    // float left
  &__right
    // float right
  &__input
    @extends .input
    display inline-block
    vertical-align top
    width 60px
    padding 4px
    line-height 20px
    text-align center
    font-size fz_base
  &__label
    display inline-block
    vertical-align top
    position relative
    line-height 40px
    font-size fz_base