.intro
  height 530px
  background #fff url('../img/main-bg-1-default.jpg') 50% 50% no-repeat
  background-size cover

  &--linklike
    cursor pointer

    .small-search
    .search
      cursor default

  &--alt
    background-image url('../img/main-bg-2-1.jpg')

  @media screen and (min-width: 1550px)
    background-image url('../img/main-bg-1-1550.jpg')

    &--alt
      background-image url('../img/main-bg-2-1.jpg')