.label
  display block
  width 100%
  position relative
  min-height 50px


// =========================
.label-green
  @extends .label
  background-color c_green
  color: #fff
  padding 13px 180px 12px 27px
  font-size fz_big
  font-weight 700
  font-style italic
  text-decoration none

  .label-green__link
      text-decoration underline

  &:hover
  &:active
    background-color lighten(c_green,10%)
    color #fff

    .label-green__link
      text-decoration none


  &__link
    display block
    position absolute
    top 11px
    right 0
    width 180px
    padding-left 40px
    font-size fz_base
    font-weight 400
    // color-hvr(#fff)


    .icon-list
      position absolute
      top 0
      left 3px
// =========================

// =========================
.label-gray
  @extends .label
  padding 15px 0 14px 58px
  background-color bg_gray

  &--onelink
    color c_base
    text-decoration underline

    &:hover
    &:active
      color c_base
      background-color darken(bg_gray, 10%)
      text-decoration none

  &--several-links
    a
      white-space nowrap

    a + a
      margin-left 30px

  &--spacing
    margin 20px 0

  &__icon
    position absolute
    left 17px
    top 14px

    &.icon-piggy-bank
      left 17px
      // top 12px
      top 50%
      margin-top -13px

    &.icon-speaker
      left 17px
      // top 14px
      top 50%
      margin-top -12px
// =========================

// =========================
.label-mother
  @extends .label
  @extends .color-hvr
  margin 0 0 10px
  padding 10px 0
  border-radius bdrs_base
  background #f9f9f9 url('../img/label-mother.jpg') right center no-repeat
  font-style italic
  line-height 30px

  &.icon-baby
    padding-left 58px

    &:before
      position absolute
      left 14px
      top 12px
// =========================

// =========================
.label-military
  @extends .label
  margin 0 0 10px
  padding 10px 0
  border-radius bdrs_base
  background #414527 url('../img/label-military.jpg') right center no-repeat
  font-style italic
  line-height 30px
  color-hvr(#fff)

  &.icon-star-flag
    padding-left 58px

    &:before
      position absolute
      left 16px
      top 10px
// =========================