.leave-comment
  display block
  width 100%
  padding 10px
  margin 0 0 20px
  background-color c_gray_border
  border-radius bdrs_base

  &--nested
    margin 20px 0 0

  &.closed
    .leave-comment__header
    .leave-comment__footer
      display none

    .leave-comment__textarea
      height 40px !important
      margin 0

  &__header
    display block
    @extends .cf

    &-text
      display block
      float left
      padding 11px 19px 0
      min-height 40px
      font-size fz_small

  &__footer
    display block
    @extends .cf

  &__input
  &__textarea
    @extends .input

    &.error
    &.error:focus
      outline none
      box-shadow 0 0 3px red



  &__input
    &--login
      float left
      width 210px

  &__textarea
    resize vertical
    height 80px
    trz(height, .2s)

    &:focus
      tab-focus()

  &__login-btn
    @extends .btn
    bg-hvr-2(c_gray_border, 10%)
    display block
    float left
    width 120px
    text-decoration underline

  &__submit
    @extends .btn
    @extends .btn-green
    margin-bottom 0

