.main-navigate
  padding 4px 0 30px
  // &__title
  //   @extends .h2
  //   margin 0 0 22px
  &__list
    @extends .list-clear
    font-size fz_small
    line-height lh_small

    li
      display block
      margin 0

    a
      display block
      @extends .td-alt