.main-logo
  display block
  width 175px
  height 37px
  background #fff url64('../../img/main-logo@2x.png') 0 0 no-repeat
  background-size 175px 37px
  background-repeat no-repeat
  text-hide()
  opacity-hvr()
  transition opacity time