.main-about
  > p
    margin 0 0 24px

  > h3
    margin 0 0 24px

  &__list
    position relative
    &.green-ul
      margin 0 0 37px

      li + li
        margin-top 19px

  &__title
    font-size 18px
    padding-top 22px
    margin 0 0 10px
    min-height 67px
    position relative

    &:before
      content ''
      absolute top left
      size 60px 7px
      background-color c_green
