.map // novostroiki-infrastruktura.html [AA] 2014/11/23
  display block
  width 100%
  height 330px
  margin 0 0 23px
  background-color bg_gray_light

  &--in-wrapper
    margin 0

  &--lower-height
    height 260px

.map-wrap
  padding 0 0 19px
  border-bottom 1px solid c_gray_border
  margin 0 0 20px
  display none

.map-link
  display block
  float left
  margin 0 0 0 18px
  min-height 30px
  icon(30px, 0, 5px)
  padding 5px 10px 0 30px
  font-size fz_small

  @extends .trz
  color-hvr(c_muted)

  &__hidden
    display inline

    .map-link.active &
      display none

  &__shown
    display none

    .map-link.active &
      display inline