.metro
  color #333
  line-height lh_base
  // font-size fz_base
  white-space nowrap
  margin-right 6px

  svg path
    fill #333

  .icon-metro
    font-style normal
    display inline-block
    font-weight 700
    font-size fz_base

    &:before
      content ''
      float left
      margin 4px 2px 0 0

  svg + .icon-metro:before
    display none


// Importing metro

@import('../metro-variables.styl')

for region, region_value in metro
  for name, name_value in region_value
    .metro.metro-{region}-{name}
      svg path
        fill unquote(name_value)
      svg + .icon-metro
        color unquote(name_value)