.remodal-overlay
  background: rgba(0, 0, 0, .3);

.modal
  width 480px
  padding 0
  box-shadow 0 0 0 3px rgba(#000, .1)

  &--big
    width container_inner
    max-width container_inner

    .modal
      &__content
        width container_inner

  &--medium
    width 700px
    max-width 700px

    .modal
      &__content
        width 700px


  &__content
    min-width 480px
    padding 29px 15px 20px
    position relative
    text-align center

  &__header
    display block
    @extends .h2
    font-weight 600
    margin 0 0 9px

  &__message
    font-size fz_small
    line-height 17px
    color c_muted
    margin 0 0 21px

  &__body
    padding 12px 0 0

  &__form
    width 320px
    margin 0 auto

  &__input
    @extends .input

    &.error
    &.error:focus
      outline none
      box-shadow 0 0 3px red

  &__submit
    @extends .btn
    @extends .btn-green
    margin-top 20px

.remodal-close
  position absolute
  top 14px
  right 15px
  width 20px
  height 20px
  background-image none
  @extends .text-hide

  &:hover:before
    color darken(c_muted, 10%)

  &:before
    content '×'
    position absolute
    left 0
    top 0
    width 20px
    height 20px
    font-size 16px
    font-weight 700
    text-align center
    line-height 20px
    color c_muted