.nav
  @extends .cf

  &__list
    @extends .list-clear
    @extends .cf
    float right

  &__item
    float left

    &.active
      .nav__link,
      .nav__link:hover
        color #fff
        background darken(c_green, 10%)


  &__link
    @extends .trz
    display block
    padding 21px 22px 20px
    font 600 19px / 19px ff_base
    text-shadow 0 1px 0 rgba(0, 0, 1, 0.25)
    text-decoration none !important
    color #fff
    background c_green
    transition background time
    white-space nowrap

    &:hover
    &:focus
      color #fff
      background lighten(c_green, 10%)

    &:active
      color #fff
      background darken(c_green, 10%)



    // &--notrz
    //   transition none !important