.news-related
  padding 8px 0 30px
  border-bottom 1px solid c_gray_border
  &__header
    display block
    @extends .h3
    margin 0 0 19px
    font-weight 600
  &__item
    display block
    // min-height 140px
    background-color c_gray_lightest
    border-radius bdrs_base
    padding 13px 0 0
  &__img-wrap
    display block
    width 100px
    height 60px
    overflow hidden
    margin 0 auto
    border-radius bdrs_base
  &__img
    // width 100%
    // height auto
    display block
    max-width 100%
    max-height 100%
    width auto
    height auto
    margin 0 auto
  &__content-middle
    display table
    width 100%
    // min-height 67px
    height 67px
    text-decoration inherit
  &__text-middle
    display table-cell
    vertical-align middle
    padding 0 10pxx
    font-size fz_small
    line-height lh_small
    text-align center
    text-decoration inherit