.news-tabs
  border 1px solid c_gray_border
  border-radius bdrs_base
  margin 0 0 20px

  &__header
    padding 2px 0 3px
    background-color c_gray_border

  &__nav-list
    @extends .list-clear
    display table
    width 100%
  &__nav-item
    display table-cell

    &.active .news-tabs__nav-link
      background-color c_green
      color #fff
      &:before
        display block

  &__nav-link
    display block
    padding 6px 0 7px
    border-radius bdrs_base
    @extends .tdn
    text-align center
    font-weight 600
    line-height 20px
    position relative

    &:before
      content ''
      position absolute
      border 6px solid transparent
      border-top-color c_green
      width 0
      height 0
      left 50%
      margin-left -5px
      bottom -11px
      display none

    &:hover
      outline: none;
      color c_green

    &:active
      color darken(c_green, 10%)


  &__body
    height 420px
    position relative

    &:before
      content ''
      position absolute
      left 0
      right 0
      bottom 0
      height 40px
      @extends $hidden-stripe
  &__tab
    height 100%
    overflow auto
  &__tab-content
    display block

  &__tab-controls
    position relative
    min-height 60px
    text-align center

  &__btn
    display inline-block
    margin 0 6px
    width 50px
    height 32px
    border-radius bdrs_base
    background-color c_green
    border-bottom 3px solid c_green_border
    position relative
    top 0
    @extends .trz

    &:active
      top 1px
      border-bottom-width 2px

    @extends .text-hide
    &:before
      content ''
      margin 5px auto 0