.newsline
  padding 5px 0 0

  &__title
    @extends .h1
    // margin 0 0 13px
    margin 11px 0 24px // fix http://mywebjotter.com/issues/146 [AA] 2015/03/26

  &__list-title
    @extends .h3
    margin 0 0 17px

    &--small-list
      margin 0 0 11px

  &__list
    @extends .clear-list
    margin 0 0 19px
    cf()

    &--main
      margin 0

  &__item
    display block
    margin 0 0 7px
    padding-left 18px
    font-size fz_base
    line-height 18px
    position relative

    &--small
      margin 0 0 8px
      font-size fz_small
      line-height 14px

    &:before
      content ''
      position absolute
      top 7px
      left 4px
      width 5px
      height 5px
      border-radius 5px
      background-color c_green

    &--pull-left
      float left

    &--without-dot
      padding 0
      position static

  &__item50

      width 50%

  &__link
    display block
    @extends .td-alt

    &:hover
    &:focus
    &:active
      .newsline__time
        text-decoration none

    &--bold

      font-weight 600

  &__time
    display block
    margin 1px 0 0
    font-size fz_smallest
    color c_muted