.news-realty

  margin-bottom 33px

  cf()

  &__intro

    margin-bottom 30px
    width 100%

    .news-realty__title

      font-size fz_huge
      color color_title
      display inline-block
      margin-bottom 0

    .news-realty__all

      float right
      font-size fz_base
      color c_base
      display inline-block

  &__item

    width 100%
    display table
    margin-bottom 22px

  &__img-wrapper

    display table-cell
    width 140px
    height 90px

  &__preview

    display table-cell
    width 84%
    vertical-align top
    padding-left 20px

  &__topic

    font-size fz_base
    color c_base
    display block
    font-weight 700
    line-height 14px
    margin-bottom 0

    a
      tdn()

  &__date

    font-size fz_smallest
    color c_muted

  &__text

    color c_base
    font-size fz_small
    margin-bottom 0
    line-height 14px