.news-thumb
  display block
  width 300px
  margin 0 auto
  background-color c_gray_lightest
  text-align center
  @extends .tdn
  padding 0 0 49px
  margin 0 0 30px
  position relative

  &:hover &__comment
    text-decoration underline

  &__img-wrap
    width 300px
    max-height 200px
    overflow hidden
    margin 0 0 14px

  &__img
    display block
    width 100%
    height auto

  &__title
    display block
    @extends .h2
    margin 0
    line-height lh_def

  &__comment
    display inline-block
    white-space nowrap
    position absolute
    bottom 14px
    left 0
    right 0
    text-align center

    &.icon-chat:before
      display inline-block
      vertical-align middle
      margin-right 8px