.news-item
  display block

  &__content
    font-size fz_base
    line-height 20px

    h2
    .h2
      margin 16px 0 20px

    h3
    .h3
      margin 18px 0 12px

    p
      margin 0 0 16px

    ul
      margin 21px 0 26px

  &__footer
    margin 32px 0 10px
    padding 7px 0 9px 10px
    border-top 1px solid c_gray_border
    border-bottom 1px solid c_gray_border
    @extends .cf

  &__copyright
    float left
    font-size fz_small
    color c_muted

  &__author
    margin-left 30px
    font-size fz_base
    color c_base
    font-style normal
    font-weight 600

  &__source
    padding 2px 0 0
    float right
    font-size fz_smallest
    color c_muted

    &-link
      color c_muted