.news-intro
  background-color c_gray_lightest
  margin 0 0 21px
  padding 20px
  text-align center
  border-radius bdrs_base*2
  font-size fz_base
  line-height lh_base

  &__hashtag
    display inline-block
    vertical-align top
    margin 0 4px 10px
    padding 5px 12px
    border 2px solid c_base
    border-radius 16px
    @extends .tdn
    white-space nowrap
    font-weight bold

    &:before
      content '#'

  &__title
    @extends .h2
    line-height lh_def
    padding 0 40px
    margin 2px 0 19px

  &__img-wrap
    padding 0 60px
    margin 0 0 20px

  &__img
    display block
    margin 0 auto
    max-width 100%
    height auto

  &__text
    margin 0 0 21px
    padding 0 60px
    font-weight 600
    line-height lh_def

  &__footer
    margin 0 0 10px
    padding 0 36px 0 0

  &__time
    display inline-block
    vertical-align top
    margin-right 10px

  &__comment
    display inline-block
    vertical-align top

    &.icon-chat:before
      display inline-block
      vertical-align middle
      margin-right 8px