.news-list
  @extends .list-clear

  &__item
    display block
    @extends .cf
    border-top 1px solid c_gray_border
    padding 9px 0

    &:first-child
        border-top none

  &__link
  &__text
    margin 0
    display block
    // margin-left 80px
    margin-left 100px

  &__link
    @extends .td-alt

  &__time
    display block
    float left
    padding-top 1px
    // width 70px
    width 90px
    font-size fz_small
    font-weight 700

    &--warning
      color c_red_small-text
