.news-feed
  padding 6px 0 0
  margin 0 0 20px

  &--embedded
    padding 16px 0 18px
    border-bottom 1px solid c_gray_border
    margin 0 0 24px

  &--border-top
    border-top 1px solid c_gray_border
    padding-top 26px

  &__header
    @extends .h1
    margin 0 0 25px

    &--embedded
      @extends .h2

  &__item
    display block
    width 220px
    margin 0 auto 28px
    @extends .tdn

    &--embedded
      width 140px
      margin 0 auto 10px
      text-decoration underline

      .news-feed__img-wrap
        width 140px
        height 92px
        margin 0 0 9px

      .news-feed__title
        font-size fz_small
        line-height lh_small

    &:hover
      &.news-feed__item--embedded
        .news-feed__title
          text-decoration none
      .news-feed__title
        text-decoration underline

  &__img-wrap
    margin 0 0 10px
    width 220px
    height 146px
    overflow hidden
  &__img
    width 100%
    height auto
  &__title
    display block
    font-weight 600
    font-size fz_base
    line-height 17px
  &__time
    display block
    font-size fz_smallest
    color c_muted