.news-card

  font-size 0
  text-align center
  margin-bottom 5px

  &__img-wrapper

    display inline-block
    vertical-align top
    margin-bottom 12px

  &__title

    font-size fz_base
    color c_base
    display block
    font-weight bold
    line-height 14px
    margin-bottom 5px

    a
      tdn()

  &__date

    display block
    font-size fz_smallest
    color c_muted

  &__item

    width 33.3334%
    display inline-block
    vertical-align top
    margin-bottom 25px

  &__preview

    width 196px
    display block
    margin 0 auto