.nvs-fixed-nav
  display none
  position fixed
  left 0
  right 0
  top 0
  background-color c_base
  background-color rgba(c_base, .9)
  padding 8px 0 10px
  border-bottom 1px solid c_gray_input-border
  box-shadow 0 5px 5px rgba(0,0,0,.14)
  z-index z_fixed-nav

  &__list
    @extends .clear-list
    @extends .cf
  &__item
    float left
    margin-left 20px
    position relative

    &:before
      content ''
      position absolute
      top 9px
      bottom 8px
      width 2px
      left -11px
      background-color c_muted

    &:first-child
      margin-left 0

      &:before
        display none

  &__link
    display block
    @extends .trz
    padding 4px 0 6px
    position relative
    color c_muted
    font-weight 600
    text-decoration none

    &:after
      content ''
      position absolute
      left 0
      right 0
      bottom 0
      height 2px
      background-color c_green
      @extends .trz
      visibility hidden
      opacity 0

    &:hover
      color #fff

    &:active
      color #fff
      color rgba(#fff, .6)

    .nvs-fixed-nav__item.active &
      color #fff

      &:after
        visibility visible
        opacity 1

  &__btn
    @extends .trz
    opacity 1
    position absolute
    left container_offset
    bottom -53px // 36 height + 10padding + 7design
    display block
    width 104px
    height 36px
    padding 0px 0 0px 34px
    border-radius bdrs_base
    background-color c_base
    background-color rgba(c_base, .9)
    background-image url64('../img/arrow-nvs-fixed.png')
    background-repeat no-repeat
    background-position 10px 5px
    box-shadow 0 5px 5px rgba(0,0,0,.14)

    font-size fz_small
    line-height 36px
    font-weight 700
    text-transform uppercase
    color #fff
    text-decoration none

    &.hidden
      opacity 0
      display none

    &:hover
    &:active
      color #fff
      text-decoration none



