.nvs-collapse
  padding 10px 0 0


  &__item
    margin 0 0 3px


  // &__header
  //   background-color #eee


  &__title
    @extends .h3


  &__title-link
    @extends .td-alt
    display block
    min-height 20px
    padding 5px 0 6px

    &.icon-collapse
      position relative
      padding-left 32px

      &:before
        position absolute
        left 0
        top 10px

      &.collapsed:before
        top 6px



  &__body
    &--left-spacing.collapsing
      box-sizing content-box
      width 100%
      padding-left ( 2 * column_offset)
      position relative
      right ( 2 * column_offset)


  &__content
    box-sizing border-box
    position relative
    padding 0 0 10px