.nvs-location
  width 100%
  
  tr
    margin 0 0 10px
    
    &:first-child
      td
        padding-top 0
  
  td
    vertical-align middle
    padding 20px 0 0 18px
    
    p
      margin 0
  
  td:first-child
    padding 20px 0 0 0
    width 140px

  &__icon-wrap
    display block
    height 60px
    padding-right 10px
    padding-left 62px
    padding 17px 0 0 74px
    border 1px solid c_gray_border
    border-right-color transparent
    // border-right-color #fff
    border-radius bdrs_base
    position relative
    font-weight 600
    
    min-width 129px
    white-space nowrap
    
    
    
    &.icon-location-wrap
      margin-right 13px
      &:before 
        position absolute
        top -1px
        bottom -1px
        right -13px
    
  &__icon
    position absolute
    left 0
    top 0
    
    &.icon-location-map
      left 18px
      top 8px
    
    &.icon-location-transport
      left 22px
      top 7px
    
    &.icon-location-avto
      left 16px
      top 12px