.nvs-scheme
  width 100%
  border-collapse separate
  border-spacing 0 10px
  margin 0 0 10px

  tr.nvs-scheme__row-disabled
    opacity .6

    td.nvs-scheme__cell-button
      background-color c_red


  th
    font-size 10px
    line-height 16px
    padding 5px 0
    font-weight 400
    border-left 1px solid c_gray_border_light

    &.nvs-scheme__cell-image
      width 80px

    &.nvs-scheme__cell-button
      width 112px

  td
    background-color bg_gray
    min-width 54px
    text-align center
    vertical-align middle

    &.nvs-scheme__cell-image
      width 80px
      vertical-align top

    &.nvs-scheme__cell-button
      width 112px
      background-color c_green
      text-align center

  &__img-wrap
    display block
    width 80px

  &__img
    display block
    max-width 100%
    height auto
    margin 0 auto

  &__price
    display inline-block
    padding 8px 0 4px
    color #fff
    font-weight 600
    line-height 14px
    text-align left

  &__price-link
    display block
    font-size 10px
    font-weight 300
    font-style italic
    color-hvr(#fff)