.nvs-characteristics
  width 100%
  margin 0 0 17px

  &__td-gray
    background-color bg_gray

  td
    padding 5px 20px
    vertical-align top

    &:first-child
      padding-left 0
      width 300px
      position relative
      font-weight 300

      &.icon-next:before
        position absolute
        right 5px
        top 12px

  // divider between first cells
  tr + tr > td:first-child:after
    content ''
    position absolute
    top -1px
    left 0
    right 20px
    height 1px
    background-color c_gray_border
