.nvs-company-info
  td
  & &__label
    padding 18px 28px 0 0
    
  td
    vertical-align top
    
  tr:first-child td
    padding 0
    
    &.icon-next:before
      top 9px

  &__label
    min-width 159px 
    position relative
    font-weight 600
  
    &.icon-next:before
      position absolute
      right 19px
      top 27px // 9+18
      
    small
      display block