.nvs-nav
  clear both
  border-top 1px solid c_gray_border
  padding 10px 0 0
  margin 0 0 20px

  &--with-title
    @extends .cf

    .nvs-nav__list
      float left

  &--small
    padding 6px 0 0
    margin 0 0 10px

  &__title
    float left
    margin-right 20px
    padding 4px 0 6px
    font-size fz_huge
    font-weight 600

  &__list
    @extends .list-clear
    white-space nowrap
    font-size 0

    &--bordered
      .nvs-nav__item
        position relative

        &:before
          content ''
          position absolute
          top 9px
          bottom 8px
          left -10px
          width 1px
          background-color c_muted

        &:first-child:before
          display none



  &__item
    display inline-block
    vertical-align top
    font-size fz_base
    margin 0 0 0 20px

    &:first-child
      margin-left 0

    &.active
      .nvs-nav__link
        color c_base
        &:after
          visibility visible
          opacity 1


  &__link
    display block
    @extends .tdn
    @extends .trz
    font-weight 600
    padding 4px 0 6px
    position relative
    color c_blue

    &:after
      content ''
      position absolute
      left 0
      right 0
      bottom 0
      height 2px
      background-color c_green
      @extends .trz
      visibility hidden
      opacity 0

    &:hover
      color c_green
      &:after
        visibility visible
        opacity 1

    &:active
      color darken(c_green, 10%)
      &:after
        visibility visible
        opacity 1