.nvs-complex
  margin 0 0 28px
  &__img-wrap
    display block
    width 100%
    margin 0 0 5px
    border-radius bdrs_base
    overflow hidden
    @extends .nvs-img-hover


  &__img
    @extends .img-responsive
    margin 0 auto

  &__title
    display block
    text-align center
    font-weight 600
    margin 0 0 2px

  &__subtitle
    display block
    text-align center
    font-size fz_small