// .search-result
.nvs-card
  @extends .cf
  position relative
  font-size fz_small
  line-height lh_small
  margin 0 0 20px
  // padding 10px 0 0
  padding 6px 0 0

  & + &
    border-top 1px solid c_gray_border
    padding 26px 0 0

  &__preview
    margin 4px 0 0
    display block
    float left
    width 140px
    max-height 170px
    background-color c_gray_thumb
    color #fff
    border-radius bdrs_base

    &:hover
      text-decoration none
      color #fff

    &:active
      text-decoration none

  &__thumb
    display block
    margin 0 auto
    max-width 100%
    height auto
    max-height 150px
    border-top-left-radius bdrs_base
    border-top-right-radius bdrs_base

  &__preview-text
    display block
    padding 5px 0 7px
    background-color c_gray_thumb
    text-align center
    border-bottom-left-radius bdrs_base
    border-bottom-right-radius bdrs_base

    // .search-result__preview:active &
    .nvs-card__preview:active &
      opacity .6

    &.icon-thumb:before
        content ''
        display inline-block
        vertical-align middle
  &__main
    display block
    margin-left 160px
  &__header
    position relative
    min-height 24px
    padding 0 30px 0 0
    margin 0 0 5px
  &__title
    @extends .h3
    line-height lh_base
    margin 0
  &__subtitle
    font-size fz_base
    font-weight 400
  &__fav-star
    @extends .text-hide
    position absolute
    right 0
    top -3px
  &__info
    margin 0 0 12px
    dt
      display block
      min-width 88px
      float left
      font-weight 600
      color c_muted

    dd
      display block
      margin-left 88px
      margin-bottom 7px

      .icon-metro
        vertical-align baseline
    em
      font-size fz_smallest
  &__table
    width auto
    max-width 100%
    font-size fz_small
    margin 0 0 19px

    th
      min-width 70px
      padding 7px 5px 6px
      border 1px solid c_gray_border
      border-bottom none
      background-color c_gray_lightest
      font-weight 600
    td
      min-width 70px
      padding 3px 5px 5px
      border 1px solid c_gray_lightest
      border-top none
      font-weight 400
      text-align center
      font-size fz_smallest

      strong
        font-size fz_small
        display block
        font-weight 600

  &__footer
    @extends .cf

  &__panel
    float left
    // width 300px
    max-width 300px
  &__btn
    @extends .tdn
    @extends .btn
    @extends .btn-orange
    float right
    margin 0
    min-width 140px
    font-size fz_huge
    font-weight 600

@media screen and (min-width: 1140px)
  // .search-result
  .nvs-card
    &__table
      margin 0
    &__main
      @extends .cf
    &__body
      float left
      max-width 460px
    &__footer
      float right
      width 140px

    &__panel
    &__btn
      width 100%
      float none

    &__panel
      margin 0 0 6px
