.nvs-pop

  display inline-block
  vertical-align top
  width 33.3334%
  margin-bottom 20px

  &--table

    width 100%
    display table
    margin-bottom 20px

  &--left

    text-align left


  &__img-wrapper

    position relative
    margin-bottom 19px
    display inline-block
    vertical-align top

    img

      width 200px
      height 160px

    &:hover, &:hover .nvs-pop__photo

      text-decoration none

    &--table-cell

      display table-cell
      width 110px
      padding-right 8px

      img

        width 110px
        height 80px

  &__inform

    cf()
    background rgba(54,51,56,0.5)
    position absolute
    bottom 0
    width 200px
    height 24px
    left 50%
    margin-left -100px


  &__action

    float left
    position relative
    width 57px
    height 19px
    margin-right 15px

    &:before

      content ''
      width 57px
      height 19px
      background-image url('../img/ribbon-promo.png')
      left -4px
      top 3px
      position absolute

  &__photo

    float left
    color c_white
    margin-left 8px
    text-decoration underline
    font-size fz_small


  .icon-thumb:before

    display inline-block
    margin-right 8px
    vertical-align middle

  &__preview

    display block
    margin 0 auto
    width 201px // Д.22.07 Да-да, по дизайну именно 201 px

    &--table-cell

      display table-cell
      width 72%

    &--left

      text-align left

  &__title

    display block
    margin-bottom 9px
    font-size fz_base
    line-height 16px
    font-weight bold

    a
      tdn()

  &__dev

    tdn()

  &__dev-text

    font-size fz_small
    line-height 14px
    display block

  &__dev-title

    font-size fz_small
    line-height 15px
    margin-bottom 0