.nvs-prices
  width 100%
  margin 0 0 18px
  th
    padding 4px 0
    font-size fz_small
    line-height 15px
    text-align left
    font-weight 600
    background-color bg_gray

    &:first-child
      position relative

      &:before
        content ''
        position absolute
        top 0
        bottom 0
        left -20px
        width 20px
        background-color bg_gray
        border-top-left-radius bdrs_base
        border-bottom-left-radius bdrs_base

    &:last-child
      border-top-right-radius bdrs_base
      border-bottom-right-radius bdrs_base

    &.nvs-prices__cell-price
      padding-left 20px

  td
    vertical-align top
    padding 9px 0

    min-width 140px
    width 24%

    &.nvs-prices__cell-first
      min-width 240px
      width 38%
      color c_muted


      &.icon-next
        padding-right 27px
        position relative

        &:before
          position absolute
          right 18px
          top 18px

    &.nvs-prices__cell-price
      min-width 240px
      width 38%
      padding-left 20px

      &.icon-wave
        position relative
        &:before
          position absolute
          left 5px
          top 19px