.nvs-header
  @extends .cf

  &--large
    padding-top 5px

  &__leftcol
    float left
    width 75%
    @extends .cf

  &__rightcol
    float right
    width 25%
    text-align right

    &--onelink
      padding-top 6px

  &__img-wrap
    float left
    width 60px
    margin 0 20px 10px 0
    border 1px solid c_gray_border
    border-radius bdrs_base

  &__img
    width 100%
    height auto

  &__hdr
    margin 0 0 12px

    &--standalone
      margin 0 0 24px

  &__links-list
    clear both
    @extends .list-clear
    margin 0 0 19px

  &__links-item
    display inline
    margin 0 0 0 8px
    position relative
    line-height 18px

    &:before
      content ''
      position absolute
      left -6px
      top 5px
      bottom 2px
      width 1px
      background-color c_base

    &:first-child
      margin-left 0
      &:before
        display none

  &__links-link
    font-size fz_small
    color-hvr(c_base)

  &__favorits
      margin 0 0 3px