.popover
  position relative

  &__body
    display none
    opacity 0
    trz(opacity, .2s)
    position absolute
    margin-top 11px
    width 140px
    padding 11px 16px 9px
    background-color #fff
    border 1px solid c_gray_light
    z-index z_search

    .popover--shown &
      display block
      opacity 1

    &:before
      content ''
      position absolute
      border 7px solid transparent
      border-bottom-color c_gray_light
      top -15px
      left 50%
      margin-left -7px
      z-index z_search+1

    &:after
      content ''
      position absolute
      border 6px solid transparent
      border-bottom-color #fff
      top -12px
      left 50%
      margin-left -6px
      z-index z_search+2


  &__strong
    display block
    font-weight 400
    color c_blue