.popup-wrap
  position relative


.popup
  display inline
  display inline-block
  position relative


  &__title
    min-height 20px
    font-size 10px
    line-height 12px
    font-weight 600
    display inline-block
    vertical-align top
    padding 2px 0 7px
    position relative
    color c_green

    &:before
      content ''
      position absolute
      left 0
      right 0
      bottom 4px
      height 0
      border-bottom 1px dashed c_green

    &:after
      content ''
      position absolute
      left 50%
      top 13px
      margin-left -1px
      border 7px solid transparent
      border-bottom-color c_green
      border-bottom-color rgba(89,171,0,.9);
      visibility hidden
      opacity 0
      trz(opacity, .3s)

  &__body
    position absolute
    // left 0
    // right 0
    margin -20px 0 0
    padding 25px 0 10px
    width 400px
    left 50%
    margin-left -200px

    visibility hidden
    opacity 0
    trz(opacity, .3s)

  &__content
    background-color c_green
    background-color rgba(89,171,0,.9);
    border-radius bdrs_base
    @extends .cf
    // padding 5px 10px
    padding 8px 10px
    color #fff
    font-size fz_small
    line-height lh_small
    font-style italic

  &:hover
  &.hover
    .popup__title
      color c_muted

      &:before
        border-color c_muted

      &:after
        visibility visible
        opacity 1

    .popup__body
      visibility visible
      opacity 1