.promo
  min-height 460px
  background #fff url('../img/main-promo-bg.jpg') top center no-repeat
  background-size cover
  padding 30px 0
  margin 0 0 20px


  &__inner
    @extends .page-content
    border-collapse separate
    border-spacing 20px 0


  &__item
    display table-cell
    vertical-align top
    width 33.33%
    padding 22px 0 65px
    position relative
    border-radius bdrs_base
    background-color #fff
    background-color rgba(#fff, .88)
    text-align center
    box-shadow 0 2px 10px rgba(#000, .55)


  &__title
    display block
    margin 0 0 10px
    padding 0 10px
    min-height 71px
    font-size 20px
    line-height 24px
    font-weight 700


  &__vector-img
    display block
    width 100%
    height 140px
    margin 0 0 13px
    background-position center center
    background-repeat no-repeat

    &--keys
      img-retina('../img/main-img-keys.png','../img/main-img-keys@2x.png', 220px, 140px)
    &--plus
      img-retina('../img/main-img-plus.png','../img/main-img-plus@2x.png', 220px, 140px)
    &--calc
      img-retina('../img/main-img-calc.png','../img/main-img-calc@2x.png', 220px, 140px)

  &__desc
    display block
    min-height 63px
    padding 0 20px
    margin 0 0 16px

  &__btn
    position relative
    @extends .btn
    @extends .btn-orange
    text-decoration none
    position absolute
    top auto
    bottom 25px
    left 0
    right 0
    margin 0 auto
    width 180px
    padding 10px 0 0
    font-weight 700
    font-size 18px

    &:active
      top auto
      bottom 24px

    &.disabled
      pointer-events none
      background-color c_gray_border
      cursor default
      border-color c_gray_border
      box-shadow none

      &:hover
      &:focus
        background-color c_gray_border
        border-color c_gray_border

      &:active
        background-color c_gray_border
        border-color c_gray_border
        bottom 25px


