.rating-label
  display table
  margin 0 0 18px
  width 100%
  font-size fz_base
  line-height lh_middle

  &__num
    display block
    display table-cell
    vertical-align top
    padding 12px 7px 19px
    font-size 18px
    font-weight bold

    &.icon-laurel
      position relative
      width 60px
      height 49px
      white-space nowrap
      text-align center
      &:before
        position absolute
        left 0
        top 0
  &__desc
    display table-cell
    padding 0 0 0 20px
    vertical-align middle