.rating-like
  display inline-block
  vertical-align top
  width 25px
  height 25px
  position relative
  
  &:after
  &:before
    position absolute
    left 0
    top 0
    trz(all, .4s)
  
  &:after
    opacity 0
    visibility hidden
    top -25px
    
  &:before
    opacity 1
    
  &.active
    &:after
      opacity 1
      visibility visible
      top 0
    &:before
      opacity 0
      
  &.disabled
    pointer-events none
    cursor default