.ribbon-prm
  position relative

  &:before
    content ''
    position absolute
    left -4px
    top 5px
    width 57px
    height 19px
    img-retina('../img/ribbon-promo.png','../img/ribbon-promo@2x.png', 57px, 19px)