.search-alphabet
  padding 13px 20px 15px
  border-bottom 1px solid bd_search

  &__title
    color #a1a1a1
    margin 0 0 15px

  &__desc
    display table
    width 100%


  &__main
    display table-cell
    vertical-align top
    width 450px


  &__divider
    display table-cell
    vertical-align middle
    min-width 100px
    padding 0 30px
    text-align center
    font-weight 600
    color #bebebe
    position relative
    bottom 3px


  &__input-wrap
    display table-cell
    vertical-align top
    position relative
    bottom 1px

  &__input
    @extends .input
    min-width 365px
    margin 0
    padding-top 5px
    box-shadow none
