.search-tabs
  &__header
    display block
    padding 6px (20px - 12px) 9px // 12px - nav-link padding
    @extends .cf
    border-bottom 1px solid #e9e9e9


  &__nav-list
    @extends .clear-list
    @extends .cf
    float left

  &__nav-item
    display block
    float left
    margin 0 0 0 13px
    position relative

    &:before
      content ''
      position absolute
      top 12px
      bottom 10px
      left -2px
      width 2px
      background-color c_muted

    &:first-child
      margin 0
      &:before
        display none

  &__nav-link
    display block
    padding 7px 12px
    @extends .tdn
    color c_muted
    position relative

    &:before
      content ''
      display none
      position absolute
      bottom 0
      left 14px
      right 14px
      height 2px
      background-color c_green

    &:hover
      color #000

    &:active
    .search-tabs__nav-item.active &
      color #000
      &:before
        display block
  &__tab
    padding 0

  &__tab-header-row
    margin 0 0 7px
    padding 16px 20px 11px // +5 checkbox margin
    border-bottom 1px solid c_gray_border

  &__tab-content
    margin 20px 0 20px
    padding 0 20px

  &__table
    margin 10px 0 20px
    padding-left 10px
    display table
    width 100%


    &-col9
    &-col3
      padding 10px column_offset 4px
      display table-cell
      vertical-align top
    &-col9
      width 75%

      .row + .row
        margin-top 31px
    &-col3
      width 25%
      &--gray
        background-color c_gray_lightest
        border-radius bdrs_base