.search

  display block
  width 100%
  margin 0 auto 20px
  padding 0
  position relative
  z-index z_search

  &__submit
    @extends .trz
    display block
    width 710px
    height 40px
    margin 20px auto
    border-radius bdrs_base
    background-color c_orange_btn
    border 1px solid c_submit_border
    box-shadow 0 1px 0 c_submit_shadow
    color #fff
    text-transform uppercase
    font-size fz_huge
    font-weight 600
    text-align center
    position relative
    top 0


    &.icon-magnifier
      position relative

      &:before
        position relative
        bottom 2px
        margin-right 5px
        display inline-block
        vertical-align middle


    &:hover
      background-color lighten(c_orange_btn, 10%)


    &:active
      top 1px
      background-color darken(c_orange_btn, 10%)
      box-shadow 0 0 0 c_submit_shadow


    &:focus
      outline: none;



  // &__form
  //   position relative
  //   z-index z_search

  // &--outer-shadow
  //   box-shadow 0 0 0 5px rgba(0, 0, 0, .15)

  //   &:before
  //     content ''
  //     position absolute
  //     height 9px
  //     width control_width + 4
  //     margin-left (- control_width / 2 - 2)
  //     left 50%
  //     bottom -34px
  //     z-index -
  //     background  url('../img//main-btn-shadow-3.png') 0 0 no-repeat
  //     background-size 100% 9px
