.search-dropdown
  display block
  float left
  width 220px
  position relative

  &__field
    @extends .input
    @extends .tdn
    @extends .text-overflow
    display block
    width 100%
    height 40px
    padding 8px 4px 4px 10px
    color #000

    &.icon-dropdown-control
      position relative
      padding-right 18px
      &:before
        position absolute
        top 16px
        right 3px


  &__body
    position absolute
    top 10px
    left 10px
    right auto
    background-color #fff
    z-index z_search_dropdown
    width 780px
    border 1px solid c_gray_border
    box-shadow 0 2px 5px rgba(#000, .05)

    &--right-aligned
      left auto
      right 10px

    &--center-aligned
      left 50%
      right auto
      margin-left (- 780 / 2)px

    &--notabs
      padding 10px

  &__close
    position absolute
    top 0px
    right 0px
    @extends .tdn
    font-size 24px
    line-height 24px
    width 24px
    height 24px
    text-align center
    color-hvr(c_muted)