.search-results

  &--padding-top
    padding-top 16px

  &__title
    display block
    font-size 32px
    line-height 1.2
    margin 0 0 9px

  &__subtitle
    display block
    @extends .h3
    margin 0 0 16px

  &__map
    width 100%
    height 260px
    background-color #eee
    position relative
    margin 0 0 10px

    &--mb20
      margin-bottom 20px

  &__content
    margin 0 0 28px
    p
      font-size fz_small
      line-height 1.5

  &__label
    margin 30px 0 20px
    padding 9px 0 5px
    background-color bg_gray
    text-align center
    line-height 18px

    &-title
      display block
      font-size fz_base
    &-subtitle
      display block
      font-size fz_small
      font-style italic
      opacity .5

  &__more-results
    border-top 1px solid c_gray_border
    // padding 20px 0 0
    padding 26px 0 0