.search-slider
  padding 13px 20px 10px

  &.loading
    position relative
    .search-slider__slide
      visibility hidden

    &:after
      content ''
      position absolute
      top 0
      right 0
      left 0
      bottom 0
      width 32px
      height 32px
      margin auto
      background #fff url('../img/ajax-loader.gif') center center no-repeat;

  &__title
    color #a1a1a1
    margin 0 0 15px

  &__slides
    @extends .clearlist
    padding 0 40px
    height 410px
    overflow hidden


    .slick-prev
    .slick-prev:before
    .slick-next
    .slick-next:before
      width 36px !important
      height 36px !important
      background-size 36px 36px !important

    .slick-prev
      left 0
      margin-top -47px

    .slick-next
      right 0
      margin-top -47px

  &__slide
    position relative
    display inline-block
    vertical-align top
    width 140px
    height 200px
    margin-bottom 10px
    overflow hidden
