.similar-objects
  padding 9px 15px 7px


  &__title
    font-weight 600


  &__list
    @extends ul.ul-next
    font-size fz_small
    line-height lh_small
    font-weight 600

    li
      margin-bottom 13px

      &:before
        top 6px