.simple-slider
  width 100%
  margin 0 0 20px

  &__controls
    position relative
    margin 20px 0 0
    padding 0 35px
    min-height 25px
    position relative
    text-align center

  &__counter
    margin 0 5px
    display inline-block
    vertical-align top
    min-width 53px
    font-weight 600
    color c_muted
    line-height 23px
    white-space nowrap

  &__arrow
    font-size 0
    display inline-block
    vertical-align top
    width 25px
    height 25px