.small-search
  margin 0 0 18px
  position relative
  z-index z_search


  &__header
    display block
    @extends .h2
    margin 17px 0 0
    font-weight 600

    &--main
      margin 6px 0 0
      text-shadow 1px 1px 0px rgba(#fff, .75)

  &__form
    position relative
    height 40px
    width 100%
    border 2px solid #d8d8d8
    border-radius 3px
    overflow hidden


  &__input
    display block
    border none
    box-shadow none !important // ios fix
    width 100%
    height 36px
    padding 0 10px
    padding-right 50px
    font 600 14px / 36px ff_base

    &:focus
      outline none

    &::placeholder
      font 600 14px / 36px ff_base


  &__submit
    @extends .text-hide
    position absolute
    top 0
    right 0
    width 36px
    height 36px
    bg-hvr(c_green, 10%)

    &:before
      position absolute
      top 9px
      left 9px

    &:focus
      outline none