.stats
  padding 6px 0 7px

  .row + .row
    margin-top 20px


  &__item
    @extends .cf
    position relative
    min-width 140px
    margin 0 0 17px
    white-space nowrap
    font-size 0


  &__label
    display block
    margin 4px 0 0
    size 140px 38px
    border-bottom 6px solid c_orange_btn
    font-size 15px
    font-weight 600


  &__num
    display block
    vertical-align top
    color c_green
    font-size 48px
    font-weight 700
    line-height 48px


  // rewriting
  // [AA] 2015/04/07

  // &__item
  //   position relative
  //   @extends .cf
  //   white-space nowrap
  //   font-size 0
  //   margin 0 0 17px


  // &__label
  //   display inline-block
  //   vertical-align top
  //   margin 8px 0 0
  //   size 140px 33px
  //   border-bottom 6px solid c_orange_btn
  //   font-size 15px
  //   font-weight 600


  // &__num
  //   display inline-block
  //   vertical-align top
  //   padding 0 0 0 18px
  //   color c_green
  //   font-size 48px
  //   font-weight 700
  //   line-height 48px