.striped-list
  @extends .cf
  margin 0 0 20px
  
  &__header
    @extends .h3
    display block
    min-height 36px
    padding-top 7px
    line-height 20px
    margin 0 0 10px
  
  &__header-icon
    display block
    float left
    width 40px
    height 27px
    
    &.icon-school
      icon(40px, 7px, 3px)
    &.icon-children
      icon(40px, 9px, -1px)
    &.icon-park
      icon(40px, 8px, -2px)
    &.icon-bag
      icon(40px, 9px, -5px)
    &.icon-cart
      icon(40px, 7px, -1px)
    &.icon-cross
      icon(40px, 10px, 0px)

  &__list
    clear both
    @extends .list-clear
    counter-reset list

  &__item
    display block
    margin 0
    padding 5px 0 4px
    border-radius bdrs_base
    @extends .cf
    
    &:before
      counter-increment list
      content counter(list)"."
      display block
      float left
      width 40px
      padding 0 0 0 16px
      font-size fz_base
      line-height lh_base
    
    &--gray
      background-color bg_gray
      
    &--no-counter
      padding-left 14px
      &:before
        display none

  &__text
    display block
    padding-left 40px
    padding-right 200px
    
  &__distance
    float right
    width 200px
    font-weight bold
    
    &.icon-next
      position relative
      padding-left 61px
      
      &:before
        position absolute
        left 7px
        top 8px