.subnav
  @extends .cf
  margin 6px 0 0
  font 600 14px / 1 ff_base

  &__list
    @extends .clearlist
    float left
    width 75%

  &__item
    float left

    & + &
      margin-left 32px

    &.active
      .subnav__link
        text-decoration underline

  &__link
    text-decoration none

  &__link
  &__standalone
    display block
    padding 10px 0
    white-space nowrap
    color c_base
    transition color time

    &:hover
    &:focus
      color #000
      text-decoration underline

    &:active
      color rgba(0, 0, 0, .6)
      text-decoration underline



  &__standalone
    float right
    width 25%
    text-align right
