.subscribe
  border 1px solid c_gray_border
  border-radius bdrs_base
  min-height 152px
  trz(height, .2s)
  position relative
  z-index 10

  &.success
    .subscribe__form
      opacity 0
      position relative

    .subscribe__success
      visibility visible
      opacity 1
      z-index 15

  &__form
    width 100%
    padding 9px 21px 9px 79px
    img-retina('../img/subscribe-email.png','../img/subscribe-email@2x.png', 99px, 73px)
    background-position -40px 11px
    background-repeat no-repeat
    @extends .cf
    trz(opacity, .6s)
    z-index 12

  &__form-title
    @extends .h3
    margin 0 0 10px

  &__checkboxes
    margin 0 0 10px

  // &__label
  //   display block
  //   font-size fz_small
  //   color #000
  //   margin 0

  &__input-wrap
    margin 0 160px 0 0

  &__email
    @extends .input

  &__submit
    float right
    margin 0
    @extends .btn
    @extends .btn-orange
    padding-left 10px
    padding-right 10px
    min-width 140px
    font-size fz_huge

  &__success
    visibility hidden
    position absolute
    left 0
    right 0
    top 0
    bottom 0
    background #fdf9d6 url('../img/subscribe-bg2.jpg') center center no-repeat
    background-size cover
    text-align center
    color #fff
    opacity 0
    trz(opacity, .6s)
    z-index 9

  &__success-inner
    position absolute
    left 0
    right 0
    top 0
    bottom 0
    margin auto
    max-height 100px

  &__icon.icon-like-big
    width 37.5px
    margin 0 auto 3px

  &__success-title
    color #fff
    font-size 28px
    margin 0 0 5px

  &__text
    font-weight 600



