.table-striped
  width 100%
  margin 10px 0 30px

  &.table-striped--small
    th
    td
      padding 5px 0


  &--3cells-equal
    tr
    td
      width 33.33%

  &--underline-first-cell
    td:first-child
      text-decoration underline

  &--no-margin
    margin 0

  &.table-striped--companies
    th
      padding 10px 0 9px

    td
    th
      min-width 83px
      text-align center

      &:first-child
        width 100%
        text-align left

      &:nth-child(even)
        background-color rgba( bg_gray , .4)

    td:first-child
      color c_base

    tr.table-striped__head th:nth-child(even)
      background-color darken(bg_gray, 3%)



  tr.table-striped__row-gray
  tr.table-striped__head
    background-color bg_gray

    td:first-child
    th:first-child
      position relative
      &:after
        content ''
        position absolute
        width ( 2 * column_offset)
        left -( 2 * column_offset)
        top 0
        bottom 0
        background-color bg_gray



  th
    text-align left
    // padding 16px 0 15px
    padding 19px 0 18px
    font-size fz_small
    line-height lh_small
    font-weight 600


  td
    padding 9px 0 10px

    &:first-child
      font-weight 600
      color c_muted

    &.table-striped__cell-head:first-child
      color c_base

    a
      color: inherit



