.table-params
  margin 20px 0

  th
    font-size 12px
    font-weight 600
    background-color bg_gray
    padding-bottom 7px
    text-align left
    padding-left 20px

    &:first-child
      position relative

      &:before
        content ''
        position absolute
        top 0
        bottom 0
        left -20px
        width 20px
        background-color bg_gray
        border-top-left-radius bdrs_base
        border-bottom-left-radius bdrs_base

  tr:first-child
    th:last-child
      border-top-right-radius bdrs_base

  tr:nth-child(2)
    th:last-child
      border-bottom-right-radius bdrs_base

  th&__header-group
    color #a9a9a9
    padding 4px 0 0
    text-align center

  th&__header-first
    text-align left
    padding 2px 0 0

  td
    padding 10px 20px 9px

    &:first-child
      padding-left 0


  &__price
    position relative

    &.icon-wave:before
      content ''
      position absolute
      left -17px
      top 8px

  &__param-title
    color c_muted



