.tabs

  &--search
    position relative

    .tabs
      &__nav-wrap
        border-bottom 1px solid bd_search

      &__nav
        display table
        table-layout fixed
        min-width container_total
        max-width container_total_max
        width 100%
        margin 0 auto
        padding 0 column_offset


      &__nav-item
        display table-cell
        vertical-align top
        width 100%
        margin 0
        padding 0 column_offset
        float none

        &:before
          content ''
          display none

        &.active
          .tabs__nav-link
            &
            &:hover
            // &:focus
              color #fff
              background-color c_green
              border-bottom none


      &__nav-link
        display block
        width 100%
        height 50px
        margin 0
        padding 1px 20px 0
        border-bottom none
        border-top-left-radius 5px
        border-top-right-radius 5px
        color #333
        background-color #eaeaea
        font 600 17px / 50px ff_base
        white-space nowrap
        text-align center
        pointer-events all

        &:hover
        // &:focus
          color #333
          background-color darken(#eaeaea, 20%)

        &:active
          color #fff
          background-color c_green
          border-bottom none


      &__item
        border 1px solid bd_search
        border-top none
        box-shadow 0 12px 25px rgba(0, 0, 1, 0.15)
        border-bottom-left-radius bdrs_base
        border-bottom-left-radius bdrs_base
        background-color #fff

      &__item-wrap
        position absolute
        min-width container_total
        max-width container_total_max
        width 100%
        margin 0 auto
        padding 0 (2*column_offset)





  &__pre-nav
    float left
    font-weight 600
    color c_muted
    margin-right 20px

    &--black
      color c_base

  &__nav
    @extends .list-clear
    @extends .cf
    margin 0 0 10px

    &--larger
      margin 0 0 16px

    &--largest
      margin 0 0 20px

    &--floated
      float left

    &--big-centered
      border-top 1px solid c_gray_border
      padding 15px 0 0
      margin 0 0 30px
      text-align center
      font-size 18px

      .tabs__nav-item
        float none
        display inline-block
        vertical-align top
        margin 0 30px
        white-space nowrap

        &:before
          content ''
          display none

        &:first-child
          margin 0 20px

      .tabs__nav-link
        padding 0 0 2px

    &--blue
      .tabs__nav-link
        color c_blue
        border-bottom 2px solid transparent

        &:hover
          border-bottom 2px solid transparent



  &__nav-item
    float left
    margin-left 29px
    position relative

    &:before
      content ''
      position absolute
      left -15px
      top 5px
      bottom 8px
      width 1px
      background-color c_base

    &:first-child
      margin-left 0

      &:before
        display none

    &--noborder
      margin-left 20px
      &:before
        display none

    &--left-border
      &:before
        content: '';
        position: absolute;
        top: 5px;
        bottom: 5px;
        left: -12px;
        width: 1px;
        background-color: #000;

      &:first-child:before
        display: none;


  &__nav-link
    @extends .tdn
    display block
    font-weight 600
    white-space nowrap
    padding 0 0 4px 0
    border-bottom 2px dotted c_base
    transition all time

    &:hover
      color c_green
      border-color c_green

    &:active
      color darken(c_green, 10%)
      border-color darken(c_green, 10%)

    &--metro
      padding 4px 4px 3px 8px
      border-radius bdrs_base

    &--metro-red
      border-color c_metro_red
    &--metro-blue
      border-color c_metro_blue
    &--metro-green
      border-color c_metro_green
    &--metro-orange
      border-color c_metro_orange
    &--metro-purple
      border-color c_metro_purple



    /*==========  ACTIVE  ==========*/
    .tabs__nav-item.active &
      color c_green
      border-bottom 2px dotted c_green

      &--metro
        .metro-header
          color #fff

      &--metro-red
        background-color c_metro_red
        border-color c_metro_red
      &--metro-blue
        background-color c_metro_blue
        border-color c_metro_blue
      &--metro-green
        background-color c_metro_green
        border-color c_metro_green
      &--metro-orange
        background-color c_metro_orange
        border-color c_metro_orange
      &--metro-purple
        background-color c_metro_purple
        border-color c_metro_purple

  &__item
    clear both

    &--padding
      padding 20px 0 0

  &__wrapper
    cf()
    margin-bottom 24px

    .tabs__nav
      margin-bottom 0

    &--big-font
      font-size fz_huge

