.tabs-vertical
  display block
  @extends .cf
  margin 0 (- column_offset) 10px

  &__nav-list
    @extends .clear-list
    float left
    width 33.33%
    padding 0 (column_offset+12px) 0 column_offset


  &__nav-item
    display block
    margin 0

  &__nav-link
    display block
    padding 9px 0 10px 24px
    position relative
    background-color bg_gray
    white-space nowrap
    height 40px
    text-decoration none

    &:before
      content ''
      position absolute
      width 7px
      height 7 px
      left 8px
      top 50%
      margin-top -3px
      background-color c_green
      border-radius 4px

    &:after
      content ''
      position absolute
      top 50%
      margin-top -20px
      border 20px solid transparent
      border-left-color transparent
      border-left-width 12px
      border-right-width @border-left-width
      right (- @border-left-width*2)

    &:hover
      background-color c_gray_border

    &:active
    .tabs-vertical__nav-item.active &
      background-color c_green
      color #fff

      &:before
        background-color #fff

      &:after
        border-left-color c_green



  &__tabs
    float left
    width 66.66%
    padding 0 column_offset

  &__tab
    .row
      padding 9px 0 10px

    &--rows-bordered
      .row
        position relative

        &:before
          display block
          position absolute
          left column_offset
          right column_offset
          bottom 0
          height 1px
          background-color c_gray_border