.text-preview
  trz(height, .6s)
  min-height 40px
  position relative
  margin 0 0 12px
  overflow hidden
  padding 0

  h2
    @extends .h3


  &.closed
    height 190px !important // important because js dynamically calculates height of this block

    .text-preview__control
      position absolute

    .text-preview__closed
      display block

    .text-preview__opened
      display none

  &__control
    position relative
    bottom 0
    left 0
    right 0
    display block
    height 40px
    @extends $hidden-stripe
    @extends .td-normal

  &__closed
  &__opened
    position absolute
    padding 0 0 0 30px
    bottom 0
    color c_muted
    text-decoration inherit
    font-size fz_small

    &:before
      position absolute
      left 0
      bottom 1px

  &__closed
    display none

  &__opened
    display block