.timeline
  width 100%
  position relative
  
  &:before
    content ''
    position absolute
    top 20px
    bottom 25px
    left 12px
    width 6px
    background-color c_gray_border
    z-index -1
  
  &__item
    td
      padding-bottom 4px
      vertical-align top
      
      &:first-child
        width 48px
    
  &__icon
    position relative
    right 3px
    
  &__status
    padding-top 11px
    width 111px
    line-height 15px

    &--twolines
      padding-top 5px
    
  &__text
    padding-top 11px
    line-height 17px
    
    &-warning
      display block
      font-size 11px
      color c_red_warning
      font-weight 300
