.userpanel
  @extends .cf
  padding 17px 0 0
  font-weight 600
  line-height 16px

  &__header
    margin 0 19px 13px

  &__img-wrap
    display block
    margin 2px 0 0
    width 40px
    height 40px
    border-radius bdrs_base
    overflow hidden
    float left

  &__img
    width 100%
    height 100%

  &__name
    display block
    @extends .td-alt
    margin 0 0 7px 50px

  &__karma
    @extends .cf
    display block
    margin-left 50px

    &.icon-karma-aside:before
      float left
      margin-right 6px

  &__karma-small
    font-size 10px
    color c_muted
    position relative
    bottom 1px
    margin-left 1px

  &__nav
    margin 0 19px 8px

  &__nav-item
    font-size fz_small
    color-hvr(c_muted, 0)

    & + &
      margin-left 23px

  &__stats
    @extends .list-clear
    display table
    font-style fz_small
    width 100%

  &__stats-item
    display table-row
    position relative

  &__stats-link
    display table-cell
    border-top 1px solid c_gray_border
    padding 7px 0 6px 20px


    position relative
    @extends .td-alt

  &__stats-count
    display table-cell
    border-top 1px solid c_gray_border
    padding 7px 0 6px 17px
    width 60px
    position relative
    white-space nowrap
    @extends .td-alt

    &.icon-next:before
      position absolute
      left 3px
      top 50%
      margin-top -3px
  &__stats-badge
    position relative
    bottom 1px
    left 1px
    display inline-block
    padding 2px 3px 1px
    border-radius bdrs_base
    background-color c_orange_btn
    font-size fz_smallest
    line-height 1
    color #fff
