.user-avatar
  width 60px
  @extends .cf

  &__img-wrap
    width 60px
    height 60px
    margin 0 0 5px
    border-radius bdrs_base
    overflow hidden
  
  &__img
    width 100%
    height 100%
    
  &__karma-icon
    width 24px
    float left
    padding 1px 0 0 2px

  &__karma-count
    display block
    margin-left 24px
    font-weight 600
    line-height 12px
    
  &__karma-small
    display block
    font-size 10px
    color c_muted
    position relative
    bottom 3px